<p-growl [(value)]="msgs"></p-growl>
<section class="myaccount bglgrey settingpage fullcontent" style="min-height: 996px;">

	<div class="container">

		<div class="buttonset">
			<a  class="btn btn-warning   addbtn">Subscriptions</a>
			<a href="" routerLink="/my-project/plans/{{projectId}}" class="btn btn-warning   addbtn">Plans</a>
			<a href="javascript:void(0);" data-val="addbillingaddress"  class="btn btn-success btngrey openaddcontact">Billing details</a>
			<a href="" routerLink="/my-project/project-details/{{projectId}}" class="btn btn-success   btngrey ">Billing history</a>
			<select class="form-control" [(ngModel)]="projectId" (change)="Projects($event)">
				<option *ngFor="let val of myProjects" value="{{val.id}}">{{val.title}}</option>
			</select>

		</div>

		<h1 class="subcrTitle">My Current Subscription </h1>

		<div class="subscriptiondb clearfix">
			<div class="leftbxs">
				<h4 class="titleser">Active Plan&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;Leadview 360 basic</h4>
				<div class="tabenrm tblsmall">
					<table class="table">
						<tbody>
							<tr>
								<td><span class="tbTitle">Next billing date</span></td>
								<!-- <td>{{convert_billingDate(currentSubscriptionPlan?.current_plan?.start_date) * 1000 | date}}</td> -->
								<td>{{currentSubscriptionPlan?.current_plan?.start_date * 1000 | date}}</td>
							</tr>
							<tr>
								<td><span class="tbTitle">Free period</span></td>
								<td>{{currentSubscriptionPlan?.no_of_days ? currentSubscriptionPlan?.no_of_days : 'NA'}} / {{currentSubscriptionPlan?.current_plan?.package?.free_period ? currentSubscriptionPlan?.current_plan?.package?.free_period : 'NA'}} days</td>
							</tr>
							<tr>
								<td><span class="tbTitle">Users</span></td>
								<td>{{currentSubscriptionPlan?.no_of_user}} / {{currentSubscriptionPlan?.current_plan?.package?.nof_users ? currentSubscriptionPlan?.current_plan?.package?.nof_users : 'NA'}}</td>
							</tr>
							<tr>
									<td><span class="tbTitle">Users</span></td>
								<td>{{currentSubscriptionPlan?.no_of_contact}} / {{currentSubscriptionPlan?.current_plan?.package?.free_contacts ? currentSubscriptionPlan?.current_plan?.package?.free_contacts : 'NA'}}</td>
							</tr>
							<tr>
								<td><span class="tbTitle">Total webspace</span></td>
								<td>NA /  {{currentSubscriptionPlan?.current_plan?.package?.project_webspace}}  GB</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="tabenrm withtblbrd tblsmall">
					<table class="table">
						<tbody>
							<tr>
								<td><span class="mnthsubs">Monthly subscription fee</span></td>
								<td>$ {{currentSubscriptionPlan?.current_plan?.package?.fixed_monthly_cost ? currentSubscriptionPlan?.current_plan?.package?.fixed_monthly_cost : 'NA'}}</td>
								<td></td>
							</tr>

							<tr>
								<td><span class="tbTitle">Additional user</span></td>
								<td>$ {{currentSubscriptionPlan?.current_plan?.package?.user_monthly_cost ? currentSubscriptionPlan?.current_plan?.package?.user_monthly_cost : 'NA'}}</td>
								<!-- <td><a href="#" class="btn btn-success btn-sm">Add a User</a> <a href="#"
										class="btn cancelbutton btn-sm">Remove a User</a></td> -->
							</tr>

							<tr>
								<td><span class="tbTitle">Additional 1000 contacts</span></td>
								<td>$ {{currentSubscriptionPlan?.current_plan?.package?.ccontact_monthly_cost ? currentSubscriptionPlan?.current_plan?.package?.ccontact_monthly_cost : 'NA'}}</td>
								<!-- <td><a href="#" class="btn btn-success btn-sm "> Add 1000 contacts</a> <a href="#"
										class="btn cancelbutton btn-sm "> Remove 1000 contacts</a></td> -->
							</tr>

						</tbody>
						<!-- 
						<tfoot>
							<tr>
								<td>Total price</td>
								<td>$ 220</td>
								<td></td>
							</tr>
						</tfoot> -->
					</table>
				</div>

				<div class="addonpackages">
					<h3 *ngIf="addonPackage.length != 0">Add On Packages </h3>
					<div class="addonpackageseach" *ngFor="let package of addonPackage">

						<h6>{{package?.title}}</h6>

						<p><span>${{package?.onboard_cost}} setup fee & monthly ${{package?.fixed_monthly_cost}}</span>
						</p>

						<input type="button" value="REMOVE"
							*ngIf="package?.subscription && package?.subscription == '1'"
							(click)="RemoveAddonpackage(package?.id)" class="btn cancelbutton btn-sm" name="" />

						<input type="button" value="ADD" *ngIf="!package?.subscription || package?.subscription == '0'"
							(click)="subscribeAddonpackage(package?.short_code)" class="btn btn-success btn-sm" name="">
						<div class="leadview360_tooltip">
							<span class="tooltip-container"><a class="tooltipb viewfeatures">View Features</a><span
									class="tooltip left">
									<div class="infofeature">
										<ul class="list-unstyled" *ngFor="let feature of package.features">
											<li>{{feature?.name}}</li>
										</ul>
									</div>

								</span>
							</span>

						</div>
					</div>
				</div>

			</div>
			<div class="righttbxs">
				<h4 class="titleser">Features current subscription</h4>
				<div class="infofeature">
					<ul class="list-unstyled" *ngFor="let item of currentSubscriptionPlan?.current_plan?.package?.features; let i=index;">
						<li>{{item?.name}}</li>
					</ul>
				</div>
				<div class="infofeature" *ngIf="currentSubscriptionPlan?.current_plan?.package?.features.length == 0">No features found
					</div>
			</div>
		</div>
	</div>
</section>
