<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet timelinepage">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">

    <div class="panel panel-default cspanel">
      <div class="panel-heading text-right">
        <a href="javascript:;" routerLink="/user/emails" class="btn rad20 btn-default sucbtn">Back to Email list</a>
      </div>
    </div>


    <div class="panel panel-default cspanel rccsec">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">Related Contact Managers <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform list2">
          <li *ngFor="let pst of mailThread?.user_email_posts">
            <a href="contact_timeline.html" data-toggle="tooltip" data-placement="top" title="Visit Contact Timeline">
              <figure class="smallavatar">
                <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+pst?.user?.profile_picture}}" class="img-responsive">
              </figure>
              <strong>{{pst?.user.first_name}} {{pst?.user.last_name}}</strong>
            </a>

          </li>
        </ul>
        <!--  <div class="text-center bordertptime"><a href="javascript:void(0);" class="seemore">MORE</a></div> -->
      </div>
    </div>

    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title clearfix">Opportunities</h2>
      </div>
      <div class="panel-body collapseBody">
        <ul class="list-unstyled leftform list2 infoOprutunity">

          <li *ngFor="let oppt of mail_opportunities">
            <div class="details">
              <span class="tm btn-block clearfix">{{oppt?.title}} - Budget ${{oppt?.budget}}

                <!--<ng-container [innerHtml]="checkOpptStatus(oppt.expected_closer_date)"></ng-container>-->
                {{checkOpptStatus(oppt.expected_closer_date)}}
              </span>
              <div class="clearfix mrgt7">
                <span class="uStatus pull-left">Created on {{oppt?.created_at | date:'m.d.y'}}</span>

              </div>
            </div>
          </li>

          <!--<li>

            <div class="details">
              <span class="tm btn-block clearfix">Ipsum Opportunities - Budget $30 <span class="badge bagsucces pull-right">Open</span></span>
              <div class="clearfix mrgt7">
                <span class="uStatus pull-left">Created on 09.24.2018</span>

                <a class="todell pull-right" href="javascript:void(0);"></a>
              </div>
            </div>
          </li>-->



        </ul>

      </div>
    </div>


    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title clearfix">FILES <a class="sinktxt pull-right">Sync with web drive</a> <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
      </div>
      <div class="panel-body collapseBody">
        <ul class="attachmentList">
          <ng-container *ngIf="mailThread.mail_attachments">
            <li *ngFor="let fl of mailThread.mail_attachments">
              <ng-container *ngIf="checkIsRemoved(fl.removers)">
                <div class="bx">
                  <div class="imgBx">
                    <img src="assets/images/file-icon.png" alt="">
                  </div>
                  <div class="details">
                    <span class="tm">Uploaded on - {{fl.created_at | date:'medium'}}</span>
                    <span class="uStatus pull-left"><a target="_blank" href="{{appConfig.publicUrl+'uploads/mail/'+fl.file_name}}">{{fl.original_file_name}}</a></span>
                    <div class="fileDown pull-right">
                      <a class="todell pull-right" href="javascript:void(0);" (click)="removeFileAttachment(fl.id)"></a>
                    </div>
                    <div class="spacer"></div>
                  </div>
                  <div class="spacer"></div>
                </div>
              </ng-container>
            </li>

          </ng-container>


        </ul>

      </div>
    </div>




  </div>

  <div class="col-lg-9 col-md-9 col-sm-12 trightpanel">
    <div class="white_bg">
      <div class="timeltitle panel-body">
        <p>EMAIL TIMELINE</p>
      </div>
      <div class="clearfix bggreytwo timeltitle">
        <div class="form-inline srchform col-lg-7 col-md-12 col-sm-12">
          <div class="form-group">
            <input type="text" id="startdate" placeholder="Start Date" class="form-control dtfild" name="">
          </div>
          <div class="form-group">
            <input type="text" id="enddatedate" placeholder="End Date" class="form-control dtfild" name="">
          </div>
          <div class="form-group serchinput">
            <input type="text" placeholder="Keywords" class="form-control" name="">
            <input type="button" class="srchbtn" name="">
          </div>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 timelbtncol text-right">
          <div class="btntimelist clearfix"><!--
            <button class="btn rad20 btn-default btngrey btn-sm openaddcontact" data-val="addnotee">Add Note</button> -->

            <!--<button class="btn rad20 btn-default sucbtn btn-sm btnrply" data-toggle="modal" data-target="#emailmerge">Merge</button>-->
            <button *ngIf="(mailThread.sender_type ==1 && mailThread.sender != authUser.id) || mailThread.sender_type !=1" class="btn rad20 btn-default addbtn btn-sm btnrply" data-toggle="modal" data-target="#newmessage2" data-backdrop="static" data-keyboard="false" (click)="setReply(mailThread,mailThread?.user?.email)">Reply</button>


          </div>
          <div class="clearfix"></div>
        </div>

      </div>

      <div class="bggreytwo panel-body tabnemenu tabgroup">
        <div class="tabmenuwrap clearfix">
          <ul class="nav nav-tabs pull-left" role="tablist">
            <li  role="presentation" class="dropdown">
              <a class="dropdown-toggle" href="javascript:;" aria-controls="tab5" role="tab" data-toggle="tab">Label <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="">
                  <a class="dropdown-toggle" href="#tablabel" aria-controls="tab5" role="tab" data-toggle="tab" (click)="getFilterData('')">All</a>
                </li>
                <li class="dropdown tabdrop" *ngIf="mylabels.length == 0 ">
                  <a class="dropdown-toggle opennewdrop" href="javascript:;" >Create New Label</a>
                  <div class="settignmenu shownewdrop whitearrow forlabel">
                    <div class="openlabelbx1 panel-body adDlpDsgn1" style="display:block;">
                      <form (ngSubmit)="f.form.valid && createLabel(f,0)" #f="ngForm" novalidate>
                        <div class="form-group">
                          <label>Label name</label>
                          <input type="text" class="form-control" name="title" [(ngModel)]="labelModel.title">
                          <input type="hidden" class="" value="0" name="post_type_id" [(ngModel)]="labelModel.post_type_id">
                        </div>
                        <div class="text-center">
                          <input type="submit" value="Save" class="btn rad20 btn-default sucbtn ">
                        </div>
                      </form>
                    </div>
                  </div>
                </li>

                <li class="" *ngFor="let val of mylabels">
                  <a class="dropdown-toggle" href="#tablabel" aria-controls="tab5" role="tab" data-toggle="tab" (click)="getFilterData(val.id)">{{val.title}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel-body white_bg">
        <div class="remindertxt" *ngFor="let reminder of mail_reminders">
          <p>A new reminder has come  <a href="javascript:;" class="closeremonder"></a><a class="text-orange" href="javascript:void(0);" data-toggle="modal" data-target="#showreminderemail" (click)="showReminderPopup(reminder)">View →</a></p>
        </div>

        <ul class="timelinelist list-unstyled">
          <li *ngIf="show_main">
            <span class="timelinebar">
                <span class="circlet round"></span>
            </span>
            <div class="cmbx bggreytwo">
              <figure class="round pull-left" *ngIf="!mailThread?.user">
                <img src="assets/images/avatar.png" class="img-responsive">
              </figure>
              <figure class="round pull-left" *ngIf="mailThread?.user">
                <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+mailThread?.user?.profile_picture}}" class="img-responsive">
              </figure>

              <div class="row">
                <div class="col-sm-6 colwav">
                  <h3 class="avnamcbx">
                    <strong>{{mailThread?.user?.first_name}} {{mailThread?.user?.last_name}}</strong> send an
                    <strong>email</strong>
                  </h3>
                  <div class="emailto avnamcbx">
                    <p>to
                      <ng-container *ngFor="let mpost of mailThread?.mail_posts">
                        <ng-container *ngIf="mpost?.owner_type==1 && mpost?.user?.first_name !=null">{{(mpost?.user?.first_name)+','}}</ng-container>
                        <ng-container *ngIf="mpost?.owner_type==2 && mpost?.contact?.email !=null">{{cutStr(mpost?.contact?.email)+','}}</ng-container>
                      </ng-container>
                    </p>


                  </div>

                </div>

                <div class="col-sm-6 colbwtn clearfix">

                  <div class="archivNprivate pull-right clearfix">
                    <div class="budylistradio pull-left">
                      <div class="form-group">
                        <!-- <input type="hidden" name="" value="0"> -->
                        <input type="checkbox" id="" class="lcs_check" name="" value="1" checked="">
                        <span class="swipeChk">
                            <span class="on">Private</span>
                            <span class="off">Public</span>
                        </span>
                      </div>
                    </div>
                    <label title="Archive" class="btnofarchive pull-right">
                      <input type="checkbox" class="hidden" [checked]="is_archive" value="{{mailThread.id}}" (change)="archiveToggel($event)">
                      <div class="imgcheck">
                        <i class="material-icons on">archive</i>
                        <i class="material-icons off">unarchive</i>
                      </div>
                    </label>
                  </div>

                  <div class="dropdown pull-right">
                    <a class="txtbtn pull-right opennewdrop"><img src="assets/images/tag.png" class="img-responsive inline_block">
                      Label&nbsp;<i class="fa fa-angle-down"></i></a>
                    <div class="settignmenu shownewdrop whitearrow forlabel" style="display: none;">
                      <div class="offforcreatelabel">
                        <ul class="list-unstyled itemlist">
                          <li *ngFor="let lbl of mylabels">
                            <label>
                              <input type="checkbox" class="hidden" value="{{lbl.id}}" (change)="addToLabel($event,mailThread.id)" [checked]="checkIsChecked(mailThread?.labels,lbl.id)">
                              <div class="checkico"> <i class="fa fa-check-square" aria-hidden="true"></i> <i class="fa fa-square-o" aria-hidden="true"></i> </div>
                              {{lbl.title}}
                            </label>
                          </li>
                        </ul>
                        <div class=" text-center bordertop btnwrp">
                          <input type="button" value="Create New Label" class="openlabelcreat btn btntxt" name="">
                        </div>
                      </div>
                      <div class="openlabelbx panel-body adDlpDsgn" style="display:none;">
                        <form (ngSubmit)="f.form.valid && createLabel(f,mailThread.id)" #f="ngForm" novalidate>
                          <div class="form-group">
                            <label>Label name</label>
                            <input type="text" class="form-control" name="title" [(ngModel)]="labelModel.title">
                          </div>
                          <div class="text-center">
                            <input type="submit" value="Save" class="btn rad20 btn-default sucbtn ">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="dropdown pull-right">
                    <a class="txtbtn pull-right opennewdrop" (click)="openReminder($event,mailThread.id)"><img src="assets/images/clock-o.png" class="img-responsive inline_block">Add Reminder&nbsp;<i class="fa fa-angle-down"></i></a>

                    <div class="whitdrop setreminder shownewdrop" style="display:none;">
                      <form (ngSubmit)="f.form.valid && saveReminder(f)" #f="ngForm" novalidate>
                        <div class="row panel-body">
                          <div class="col-sm-6">
                            <ul class="list-unstyled itemlist">
                              <li>
                                <label>
                                  <input type="checkbox" checked="" class="hidden" value="{{authUser?.id}}" (change)="selctNotifyUsr($event)">
                                  <div class="checkico">
                                    <i class="fa fa-check-square" aria-hidden="true"></i>
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                  </div>You
                                </label>
                              </li>

                              <ng-container *ngFor="let pst of mailThread?.mail_posts">
                                <li *ngIf="pst?.owner_type == 1 && pst?.user?.id != authUser.id">
                                  <label>
                                    <input type="checkbox" class="hidden" name="" value="{{pst?.user?.id}}" (change)="selctNotifyUsr($event)">
                                    <div class="checkico">
                                      <i class="fa fa-check-square" aria-hidden="true"></i>
                                      <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </div>{{pst?.user?.name}}
                                  </label>
                                </li>
                              </ng-container>

                            </ul>
                          </div>


                          <div class="col-sm-6 leftbrder">

                            <div class="form-group wdtwoinput">
                              <label>Remind Upto</label>
                              <div class="clearfix">
                                <input type="text" value="1" class="form-control pull-left" name="upto_val" [(ngModel)]="reminderModel.upto_val">
                                <div class="selct pull-left">
                                  <select class="form-control sumoselect" name="upto_dur" [(ngModel)]="reminderModel.upto_dur">
                                    <option value="w">Week</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="form-group wdtwoinput">
                              <label>Repeat</label>
                              <div class="clearfix">
                                <input type="text" value="1" class="form-control pull-left" name="repeat_val" [(ngModel)]="reminderModel.repeat_val">
                                <div class="selct pull-left">
                                  <select class="form-control sumoselect">
                                    <option>Days</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="text-center">
                          <input type="submit" value="Set Reminder" class="btn btn-success btn-sm csbtn" name="">
                        </div>
                      </form>
                    </div>
                  </div>

                </div>

              </div>
              <ul class="list-inline cmbxinfo mr0">
                <li>
                  <a href="javascript:void(0);">{{  mailThread?.created_at | amTimeAgo }}</a>
                </li>
              </ul>
              <h4 class="msgtitle">{{mailThread.subject}} </h4>

              <div class="panel panel-default withbrderp msgtbx">
                <div class="panel-body msgdata" [innerHtml]="mailThread.content"></div>
              </div>

              <div class="replybx" *ngIf="(mailThread.sender_type ==1 && mailThread.sender != authUser.id) || mailThread.sender_type !=1">
                <p>Click here to <a href="javascript:void(0);" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#newmessage2" data-val="" (click)="setReply(mailThread,mailThread?.user?.email)">Reply</a>
                  <!--or <a href="javascript:void(0);" data-toggle="modal" data-target="#newmessage3" data-val="addoportunity">Forward</a></p>-->
              </div>

              <div class="form-group">
                <label>Comment</label>
                <div class="withfileup text-right">
                  <form (keydown)="keyDownFunction($event,mailThread?.id)" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                    <textarea class="form-control commntarea" placeholder="Enter comment here" rows="2" name="content" (keyup)="setComment($event)" ></textarea>
                    <label class="upfiletimel">
                      <input type="file" class="hidden" (change)="onFileChange($event,'cmnt',mailThread.id)">
                      <span><img src="assets/images/attach_ico.png" class="img-responsive"></span>
                    </label>
                    <input type="hidden" name="type" [(ngModel)]="postCommentModel.type" value="M">
                    <input type="hidden" name="post_id" [(ngModel)]="postCommentModel.post_id" value="{{mailThread?.id}}">
                    <input type="hidden" name="content" [(ngModel)]="postCommentModel.content" value="">
                  </form>
                  <ng-container *ngIf="postCommentFile.length > 0"><span class="text-orange">{{shwCntFile(mailThread?.id)}}</span></ng-container>
                </div>
              </div>
              <ul class="commntList list-unstyled">
                <li *ngFor="let cmnt of mailThread?.comments">
                  <figure class="round pull-left">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+cmnt?.user?.profile_picture}}" class="img-responsive">
                  </figure>
                  <h3 class="avnamcbx"><strong>{{cmnt.user.firstName}} {{cmnt.user.lastName}}</strong> {{cmnt.content}} </h3>
                  <span class="timdesk" *ngIf="cmnt?.attachment">
                    <a download="" target="_blank" href="{{appConfig.publicUrl+'/uploads/comment_attachment/'+cmnt?.attachment}}">Download attachment</a>
                  </span>
                </li>
              </ul>
              <div class="text-center" *ngIf="mailThread?.comments?.length >2 ">
                <a href="javascript:void(0);" class="ldmore text-orange">View more</a>
              </div>

            </div>
          </li>

          <li *ngFor="let rpl of replys">
            <span class="timelinebar">
                <span class="circlet round"></span>
            </span>
            <div class="cmbx bggreytwo">
              <figure class="round pull-left">
                <img src="{{showPp(rpl)}}" class="img-responsive">
              </figure>
              <!--<figure class="round pull-left" *ngIf="rpl?.user">
                <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+rpl?.user?.profile_picture}}" class="img-responsive">
              </figure>-->
              <div class="row">
                <div class="col-sm-6 colwav">
                  <h3 class="avnamcbx">
                    <strong *ngIf="rpl?.sender_type==1">{{rpl?.user?.first_name}} {{rpl?.user?.last_name}}</strong>
                    <strong *ngIf="rpl?.sender_type==2">{{cutStr(rpl?.contact?.email)}}</strong>
                    <strong *ngIf="rpl?.sender_type==3">{{rpl?.mail_posts[0]?.email}} </strong>

                    reply one a
                    <strong>email</strong>
                  </h3>
                  <div class="emailto avnamcbx">
                    <p>to
                      <ng-container *ngFor="let mpost of rpl?.mail_posts">
                        <ng-container *ngIf="mpost?.owner_type==1 && mpost?.user?.first_name !=null">{{(mpost?.user?.first_name)+','}}</ng-container>
                        <ng-container *ngIf="mpost?.owner_type==2 && mpost?.contact?.email !=null">{{cutStr(mpost?.contact?.email)+','}}</ng-container>
                      </ng-container>
                    </p>


                  </div>

                </div>

                <div class="col-sm-6 colbwtn clearfix">
                  <div class="archivNprivate pull-right clearfix">
                    <div class="budylistradio pull-left">
                      <div class="form-group">
                        <!-- <input type="hidden" name="" value="0"> -->
                        <input type="checkbox" class="lcs_check" name="" value="1" checked="">
                        <span class="swipeChk">
                            <span class="on">Private</span>
                            <span class="off">Public</span>
                        </span>
                      </div>
                    </div>
                    <label title="Archive" class="btnofarchive pull-right">
                      <input type="checkbox" class="hidden" [checked]="is_archive" [value]="rpl.id" (change)="archiveToggel($event)">
                      <div class="imgcheck">
                        <i class="material-icons on">archive</i>
                        <i class="material-icons off">unarchive</i>
                      </div>
                    </label>
                  </div>

                  <div class="dropdown pull-right">
                    <a class="txtbtn pull-right opennewdrop"><img src="assets/images/tag.png" class="img-responsive inline_block">
                      Label&nbsp;<i class="fa fa-angle-down"></i></a>
                    <div class="settignmenu shownewdrop whitearrow forlabel" style="display: none;">
                      <div class="offforcreatelabel">
                        <ul class="list-unstyled itemlist">
                          <li *ngFor="let lbl of mylabels">
                            <label>
                              <input type="checkbox" class="hidden" value="{{lbl.id}}" (change)="addToLabel($event,rpl.id)" [checked]="checkIsChecked(rpl?.labels,lbl.id)">
                              <div class="checkico"> <i class="fa fa-check-square" aria-hidden="true"></i> <i class="fa fa-square-o" aria-hidden="true"></i> </div>
                              {{lbl.title}}
                            </label>
                          </li>
                        </ul>
                        <div class=" text-center bordertop btnwrp">
                          <input type="button" value="Create New Label" class="openlabelcreat btn btntxt" name="">
                        </div>
                      </div>
                      <div class="openlabelbx panel-body adDlpDsgn" style="display:none;">
                        <form (ngSubmit)="f.form.valid && createLabel(f,rpl.id)" #f="ngForm" novalidate>
                          <div class="form-group">
                            <label>Label name</label>
                            <input type="text" class="form-control" name="title" [(ngModel)]="labelModel.title">
                          </div>
                          <div class="text-center">
                            <input type="submit" value="Save" class="btn rad20 btn-default sucbtn ">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="dropdown pull-right">
                    <a class="txtbtn pull-right opennewdrop" (click)="openReminder($event,rpl.id)"><img src="assets/images/clock-o.png" class="img-responsive inline_block">Add Reminder&nbsp;<i class="fa fa-angle-down"></i></a>

                    <div class="whitdrop setreminder shownewdrop" style="display:none;">
                      <form (ngSubmit)="f.form.valid && saveReminder(f)" #f="ngForm" novalidate>
                        <div class="row panel-body">
                          <div class="col-sm-6">
                            <ul class="list-unstyled itemlist">
                              <li>
                                <label>
                                  <input type="checkbox" checked="" class="hidden" value="{{authUser?.id}}" (change)="selctNotifyUsr($event)">
                                  <div class="checkico">
                                    <i class="fa fa-check-square" aria-hidden="true"></i>
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                  </div>You
                                </label>
                              </li>

                              <ng-container *ngFor="let pst of rpl?.mail_posts">
                                <li *ngIf="pst?.owner_type == 1 && pst?.user?.id != authUser.id">
                                  <label>
                                    <input type="checkbox" class="hidden" name="" value="{{pst?.user?.id}}" (change)="selctNotifyUsr($event)">
                                    <div class="checkico">
                                      <i class="fa fa-check-square" aria-hidden="true"></i>
                                      <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </div>{{pst?.user?.name}}
                                  </label>
                                </li>
                              </ng-container>

                            </ul>
                          </div>


                          <div class="col-sm-6 leftbrder">

                            <div class="form-group wdtwoinput">
                              <label>Remind Upto</label>
                              <div class="clearfix">
                                <input type="text" value="1" class="form-control pull-left" name="upto_val" [(ngModel)]="reminderModel.upto_val">
                                <div class="selct pull-left">
                                  <select class="form-control sumoselect" name="upto_dur" [(ngModel)]="reminderModel.upto_dur">
                                    <option value="w">Week</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="form-group wdtwoinput">
                              <label>Repeat</label>
                              <div class="clearfix">
                                <input type="text" value="1" class="form-control pull-left" name="repeat_val" [(ngModel)]="reminderModel.repeat_val">
                                <div class="selct pull-left">
                                  <select class="form-control sumoselect">
                                    <option>Days</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="text-center">
                          <input type="submit" value="Set Reminder" class="btn btn-success btn-sm csbtn">
                        </div>
                      </form>
                    </div>
                  </div>

                </div>

              </div>
              <ul class="list-inline cmbxinfo mr0">
                <li>
                  <a href="javascript:void(0);">{{  rpl?.created_at | amTimeAgo }}</a>
                </li>
              </ul>
              <h4 class="msgtitle">{{rpl.subject}} </h4>

              <div class="panel panel-default withbrderp msgtbx">
                <div class="panel-body msgdata" [innerHtml]="rpl.content"></div>
              </div>
              <div class="replybx" *ngIf="(rpl.sender_type==1 && rpl.sender != authUser.id) || rpl.sender_type !=1">
                <p>Click here to <a href="javascript:void(0);" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#newmessage2" data-val="" (click)="setReply(mailThread,rpl?.mail_posts[0]?.email)" >Reply</a>
                  <!--or <a href="javascript:void(0);" data-toggle="modal" data-target="#newmessage3" data-val="addoportunity">Forward</a></p>-->
              </div>

              <div class="form-group">
                <label>Comment</label>
                <div class="withfileup text-right">
                  <form (keydown)="keyDownFunction($event,rpl?.id)" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                    <textarea class="form-control commntarea" placeholder="Enter comment here" rows="2" name="content" (keyup)="setComment($event)" ></textarea>
                    <label class="upfiletimel">
                      <input type="file" class="hidden" (change)="onFileChange($event,'cmnt',rpl.id)">
                      <span><img src="assets/images/attach_ico.png" class="img-responsive"></span>
                    </label>
                    <input type="hidden" name="type" [(ngModel)]="postCommentModel.type" value="M">
                    <input type="hidden" name="post_id" [(ngModel)]="postCommentModel.post_id" value="{{rpl?.id}}">
                    <input type="hidden" name="content" [(ngModel)]="postCommentModel.content" value="">
                  </form>
                  <ng-container *ngIf="postCommentFile.length > 0"><span class="text-orange">{{shwCntFile(rpl?.id)}}</span></ng-container>
                </div>
              </div>
              <ul class="commntList list-unstyled">
                <li *ngFor="let cmnt of rpl?.comments">
                  <figure class="round pull-left">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+cmnt?.user?.profile_picture}}" class="img-responsive">
                  </figure>
                  <h3 class="avnamcbx"><strong>{{cmnt.user.firstName}} {{cmnt.user.lastName}}</strong> {{cmnt.content}} </h3>
                  <span class="timdesk" *ngIf="cmnt?.attachment">
                    <a download="" target="_blank" href="{{appConfig.publicUrl+'/uploads/comment_attachment/'+cmnt?.attachment}}">Download attachment</a>
                  </span>
                </li>
              </ul>
              <div class="text-center" *ngIf="rpl?.comments?.length >2 ">
                <a href="javascript:void(0);" class="ldmore text-orange">View more</a>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>


<ng-container>
  <div class="modal fade modalprofile" id="newmessage2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" (click)="setdef()">&times;</span></button>
          <h4 class="modal-title replyhead" id="myModalLabel1">
            Reply:<span><strong>Make sure this you trust. </strong> Lorem ipsum is a dummy text</span>
            <a href="javascript:void(0);" class="editsub opensubjet"></a>
          </h4>
        </div>
        <form (ngSubmit)="f.form.valid && mailSend(f)" #f="ngForm" novalidate>
          <div class="modal-body formstyle">

            <div class="form-group">
              <label>Select a Template</label>
              <select class="form-control sumoselect" name="template" [(ngModel)]="postEmailModel.template" (change)="setTemplate()">
                <option selected="" value="">Choose Template</option>
                <option *ngFor="let etemp of templateList" value="{{etemp.id}}">{{etemp.title}}</option>
              </select>
            </div>
            <div class="form-group dropdown">
              <label>To</label>
              <input type="text" disabled class="form-control showccbcc" placeholder="Type contact or companies email address or any other email address" name="to_email" [(ngModel)]="postEmailModel.to_email">
              <div class="withmsgact">
                <a href="javascript:void(0);" class="opencc">Cc</a>
                <a href="javascript:void(0);" class="openbcc">Bcc</a>
              </div>
            </div>

            <div class="showCc">
              <div class="form-group dropdown">
                <label>Add Cc</label> <a href="javascript:void(0);" class="dltthis pull-right offccbcc"></a>
                <div class="clearfix"></div>
                <input type="text" class="form-control"  name="cc_email" [(ngModel)]="postEmailModel.cc_email">
              </div>
            </div>

            <div class="showBcc">
              <div class="form-group dropdown">
                <label>Add Bcc</label> <a href="javascript:void(0);" class="dltthis pull-right offccbcc"></a>
                <div class="clearfix"></div>
                <input type="text" class="form-control" name="bcc_email" [(ngModel)]="postEmailModel.bcc_email">
              </div>
            </div>

            <div class="form-group subjett" style="display: none;">
              <label>Subject</label>
              <input type="text" class="form-control" name="subject" [(ngModel)]="postEmailModel.subject">
            </div>

            <div class="form-group">
              <label>Message</label>
              <p-editor [(ngModel)]="postEmailModel.content" name="content" (onTextChange)="checkDraft($event)"  [style]="{'height':'220px'}"></p-editor>
            </div>

            <div class="row">
              <div class="form-group col-sm-6">
                <label>Related contact managers</label>
                <p-multiSelect [options]="managerList" name="managers" [(ngModel)]="postEmailModel.managers" [defaultLabel]="'Select managers'" [styleClass]="'form-control'"></p-multiSelect>
              </div>
              <div class="form-group col-sm-6">
                <label>Related  opportunities</label>
                <p-multiSelect [options]="opportunityRel" name="opportunitys" [(ngModel)]="postEmailModel.opportunitys" [defaultLabel]="'Type opportunities name'" [styleClass]="'form-control'"></p-multiSelect>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 form-group">
                <label class="addfile" for="addfilem">
                  <input class="hidden" type="file" id="addfilem" (change)="onFileChange($event,'m','')">
                  <span class="icof">+</span>Add File
                </label>
                <span class="fnm">{{postEmailModel?.attachment?.name}}</span>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button *ngIf="draftStop" type="button" class="btn btn-primary draft" (click)="saveToDraft()">Draft</button>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>


<ng-container>
  <div class="modal fade modalprofile" id="showreminderemail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title replyhead" id="myModalLabel">Reminder email</h4>
        </div>
        <div class="cmbx bggreytwo">
          <figure class="round pull-left">
            <img src="assets/images/avatar.png" class="img-responsive">
          </figure>
          <h3 class="avnamcbx">
            <strong>{{selcted_reminder?.mail_message?.user?.first_name}} {{selcted_reminder?.mail_message?.user?.last_name}}</strong> send an
            <strong>email</strong>
          </h3>
          <div class="emailto avnamcbx">
            <p>to
              <ng-container *ngFor="let mpost of selcted_reminder?.mail_message?.mail_posts">
                <ng-container *ngIf="mpost?.owner_type==1 && mpost?.user?.first_name !=null">{{(mpost?.user?.first_name)+','}}</ng-container>
                <ng-container *ngIf="mpost?.owner_type==2 && mpost?.contact?.email !=null">{{cutStr(mpost?.contact?.email)+','}}</ng-container>
              </ng-container>
            </p>
          </div>

          <ul class="list-inline cmbxinfo mr0">
            <li>
              <a href="javascript:void(0);">{{selcted_reminder?.mail_message?.created_at | amTimeAgo }}</a>
            </li>
          </ul>
          <h4 class="msgtitle">{{selcted_reminder?.mail_message?.subject}} </h4>
          <div class="panel panel-default withbrderp msgtbx">
            <div class="panel-body msgdata" [innerHtml]="selcted_reminder?.mail_message?.content"></div>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary">Send</button>
        </div> -->
      </div>
    </div>
  </div>

</ng-container>


