<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <label>Search by Keyword</label>
            <input type="text" class="form-control" placeholder="Search type"  [(ngModel)]="searchText">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left text-orange">OPPORTUNITY TYPES</h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <button class="btn btn-warning addbtn openaddcontact btn-lgcs" (click)="openCreatePop('addModal')">Add Opportunity Type</button>
          </li>

          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:;" (click)="delAll()">Delete</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop">
              <img src="assets/images/cog.png" class="img-responsive"/>
            </button>
            <div class="settignmenu shownewdrop" style="display:none;">
              <h4>Table menu item</h4>
              <form (ngSubmit)="saveDisplay(f)" #f="ngForm" novalidate>
                <ul class="list-unstyled itemlist">
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showName" name="itemName" [(ngModel)]="displayColFrm.itemName">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Name
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showDesc" name="itemDesc" [(ngModel)]="displayColFrm.itemDesc">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Description
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showMargin" name="itemMargin" [(ngModel)]="displayColFrm.itemMargin">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Margin
                    </label>
                  </li>
                </ul>

                <div class=" text-center bordertop btnwrp">
                  <input type="submit" value="Save" class="btn btn-success csbtn" name="">
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default newtbl">
        <table class="table" id=""><!--sortingTable-->
          <thead>
          <tr>
            <th class="prnametb">
              <label>
                <!--<input class="hidden" type="checkbox" name="">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>-->
              </label>
            </th>
            <th *ngIf="showName">Opportunity Name</th>
            <th *ngIf="showDesc">Description</th>
            <th *ngIf="showMargin">Default Profit Margin</th>
            <th class="opstaction">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let val of myList | filter:{ name: searchText }">
            <td>
              <label>
                <input class="hidden" value="{{val.id}}" type="checkbox" (change)="selctToList($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>
            </td>
            <td data-th="Opportunity Name" *ngIf="showName">{{val.name}}</td>
            <td data-th="Description" *ngIf="showDesc">{{val.description}}</td>
            <td data-th="Default Profit Margin" *ngIf="showMargin">{{val.profit_margin}}%</td>
            <td data-th="Action" class="oppoacxtion">
              <a href="javascript:void(0);"(click)="openEditModal('addModal',val)">
                <img src="assets/images/pencil.png" class="img-responsive">
              </a>
              <a href="javascript:void(0);" (click)="delType(val.id)">
                <img src="assets/images/trash.png" class="img-responsive">
              </a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- <nav aria-label="..." class="paginationew text-right">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        </ul>
    </nav> -->

  </div>
</div>
<div class="formwrap addModal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      {{model.type}} Opportunity Type
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <form (ngSubmit)="f.form.valid && addSaveType(f)" #f="ngForm" novalidate>
      <div class="panel-body paddt30">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Type Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name">
        </div>

        <div class="col-xs-12 form-group withico">
          <label>Description</label>
          <textarea class="form-control" rows="5" cols="" name="description" [(ngModel)]="model.description"></textarea>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Success Rate Assumption</label>
          <div id="slider" class="assslider"></div>
          <input type="hidden" id="amount"  name="profit_margin" [(ngModel)]="model.profit_margin"/>
        </div>

        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="submit" value="{{model.type}} Opportunity Type" class="btn btn-success csbtn" name="">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="ovelay hidden"></div>