<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">
  <form (ngSubmit)="f.form.valid && savePackage(f)" #f="ngForm" novalidate>
      <h2 class="dbtitle">CREATE PACKAGE</h2>
      <div class="mrb20"></div>
      <div class="dbtitlewrp bgformcolr clearfix forbiling">
        <h2 class="dbtitle text-orange pull-left col-sm-3 text-right">PACKAGE NAME</h2>
        <div class="form-group mr0 col-sm-7">
          <input type="text" class="form-control dbinput" name="title" [(ngModel)]="model.title">
        </div>
      </div>

      <div class="white_bg panel-body mrb20">
        <div class="col-sm-3 hidden-xs"></div>

        <ul class="list-unstyled packegelistform col-sm-7">
          <li>
            <div class="row" *ngIf="packageType ==1">
              <label class="col-sm-6">Select Platform</label>
              <div class="form-group col-sm-6">
                <select class="form-control" name="platform_id" [(ngModel)]="model.platform_id">
                  <option value="">Select Platform</option>
                  <option *ngFor="let val of platforms" value="{{val.id}}">{{val.title}}</option>
                </select>
              </div>
            </div>

            <div class="row" *ngIf="packageType ==2">
              <label class="col-sm-6">Select Package</label>
              <div class="form-group col-sm-6">
                <select class="form-control" name="package_id" [(ngModel)]="model.package_id">
                  <option value="">Select Package</option>
                  <option *ngFor="let item of packages" value="{{item.id}}">{{item.title}}</option>
                </select>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">Free period</label>
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" placeholder="0" name="free_period" [(ngModel)]="model.free_period">
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">Free contacts</label>
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" placeholder="200" name="free_contacts" [(ngModel)]="model.free_contacts">
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">N° users</label>
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" placeholder="2" name="nof_users" [(ngModel)]="model.nof_users">
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">Project webspace</label>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="200" name="project_webspace" [(ngModel)]="model.project_webspace">
                  <div class="input-group-addon">Mb</div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">Additional project webspace per paid user</label>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="500" name="webspace_per_user" [(ngModel)]="model.webspace_per_user">
                  <div class="input-group-addon">Mb</div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">Onboarding cost</label>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">€</div>
                  <input type="text" class="form-control" placeholder="-" name="onboard_cost" [(ngModel)]="model.onboard_cost">
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">Fixed monthly cost</label>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">€</div>
                  <input type="text" class="form-control" placeholder="-" name="fixed_monthly_cost" [(ngModel)]="model.fixed_monthly_cost">
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">Monthly cost / 1000 contacts</label>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">€</div>
                  <input type="text" class="form-control" placeholder="20.00" name="ccontact_monthly_cost" [(ngModel)]="model.ccontact_monthly_cost">
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <label class="col-sm-6">Monthly cost / user</label>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">€</div>
                  <input type="text" class="form-control" placeholder="17.50" name="user_monthly_cost" [(ngModel)]="model.user_monthly_cost">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- *ngIf="packageType ==1" -->
      <h4 class="dbtitle no_border  bgformcolr text-orange text-center" >FEATURES</h4>
      <div class="white_bg panel-body newchecklist mrb20" >
        <div class="col-sm-3 hidden-xs"></div>
        <div class="col-sm-7 row">

          <label class="col-sm-6" *ngFor="let feature of features; let itr = index">

            <input type="checkbox" [checked]="selected_features.includes(feature.id)" class="hidden" name="features{{itr}}" value="{{feature.id}}" (change)="changeFrature($event)" >

            <div class="checkico2">
              <i class="fa fa-square-o on" aria-hidden="true"></i>
              <i class="fa fa-check-square-o off" aria-hidden="true"></i>
            </div>
            {{feature.name}}
          </label>

        </div>
      </div>

      <div class="text-center pael-body">
        <div class="col-sm-3 center-block">
            <!-- <input _ngcontent-c1="" class="btn btn-default csbtn popClose" name="" type="button" value="Cancel"> -->
          <input value="Save" type="submit" data-val="copyscript" class="openaddcontact btn btn-success csbtn">
        </div>
        <!-- <div _ngcontent-c1="" class="col-xs-12 text-center bordertop paddt20">
          <input _ngcontent-c1="" class="btn btn-default csbtn popClose" name="" type="button" value="Cancel">
          <input _ngcontent-c1="" class="btn btn-success csbtn" name="" type="submit" value="Save">
        </div> -->
      </div>
    <!-- <input type="hidden" name="package_id" [(ngModel)]="model.package_id" *ngIf="model.package_id != null"> -->
  </form>
</div>

<div class="formwrap copyscript" style="top:-10000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Successfully added!
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <div class="panel-body paddt30">
      <div class="col-xs-12 form-group">
        <label><span class="shortcodeIco">&lt;/&gt; </span>Short Code</label>
        <div class="fieldNote">Copy and paste this snippet to your code and put your form on your website. It's that simple.</div>
        <div class="copyClipboard">
          <input type="text" value="" class="form-control">
          <a href="" class="btn btn-success sucbtn rad100">&lt;/&gt; Copy Code</a>
        </div>
      </div>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Close" class="btn btn-default csbtn popupClose" name="">
      </div>
    </div>

  </div>
</div>

<div class="ovelay hidden"></div>
