<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform withnobrder">

          <li class="withicon">
            <input type="text" class="form-control" placeholder="Search file"  (change)="kywordFilter($event)" >
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>

          <li class="">
            <label>Created By</label>
            <select class="form-control" (change)="createByFilter($event)">
              <option value="">Select</option>
              <ng-container *ngFor="let val of owner_list">
                <option value="{{val.owner_id}}" *ngIf="authUser.id != val.owner_id">{{val.owner.first_name}} {{val.owner.last_name}}</option>
                <option value="{{val.owner_id}}" *ngIf="authUser.id == val.owner_id">Me</option>
              </ng-container>
            </select>
          </li>
          <li class="">
            <label>Files From</label>
            <!--<input type="text"  class="form-control date" placeholder="Select date" name="">-->
            <p-calendar name="due_date" ngClass="dateflt" [placeholder]="'Select date'" [(ngModel)]="fromDate" (onSelect)="fromDateFilter(fromDate)" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
          </li>

          <li class="">
            <label>To</label>
            <p-calendar name="due_date" ngClass="dateflt" [placeholder]="'Select date'" [(ngModel)]="dueDate" (onSelect)="ddFilter(dueDate)" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
          </li>
        </ul>

      </div>
    </div>


  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left text-uppercase">My files</h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">

          <li class="pull-left">
            <!--<button  data-fancybox data-src="#upfilesmodal" (click)="openModal('modaltoup')" class="btn btn-success sucbtn">Upload a File</button>-->
            <button type="button"  data-toggle="modal" data-target="#upfilesmodal"  class="btn btn-success sucbtn" (click)="addFile()">Upload a File</button>
          </li>
          <li class="pull-left">
            <button  data-fancybox data-src="#syncomodal" class="btn btn-warning addbtn actionbtn "><i class="fa fa-cloud-upload fa-lg"></i> &nbsp;Upload to Cloud</button>
          </li>
          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:;" (click)="delAll()">Delete</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
            <div class="settignmenu shownewdrop" style="display:none;">
              <h4>Table menu item</h4>
              <ul class="list-unstyled itemlist">
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>File Name
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Date Uploaded
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Owned by
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>File Size
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Public
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Action
                  </label>
                </li>
              </ul>

              <div class=" text-center bordertop btnwrp">
                <input type="button" value="Save" class="btn btn-success csbtn" name="">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default newtbl myfilestble">
        <table class="table" id="sortingTable">
          <thead>
          <tr>
            <th>
              <!--<label>
                <input class="hidden" type="checkbox" name="">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>-->
            </th>
            <th>File Name</th>
            <th>Date Uploaded</th>
            <th>Owned by</th>
            <th>File Size</th>
            <th>Public</th>
            <th class="tbaction">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let fl of dataList">
            <th scope="row">
              <label *ngIf="authUser.id == fl.owner_id">
                <input class="hidden" type="checkbox" value="{{fl.id}}" (change)="selctToList($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>
            </th>
            <td data-th="File Name"><a href="javascript:;" (click)="openFileTimeLine(fl.id)" ><i class="fa fa-image"></i>&nbsp;&nbsp;{{fl.file_title}}</a>
              <!--<br>
            {{fl.sub_files | json}}
              <br>
            {{fl.parent_file | json}}-->
            </td>
            <td data-th="Date Uploaded">
              <div class="tooltipuc">
                <p class="dtdv">{{fl.created_at | date:'dd MMM y'}}</p>

                <div class="tooltipcontuc" style="display:none;">
                  <div class="conttooltip">
                    Lorem ipsum is asimply dammy text
                  </div>
                </div>
              </div>
            </td>
            <td data-th="Owned By">
              <ng-container *ngIf="authUser.id != fl.owner_id">
                {{fl.owner.first_name}} {{fl.owner.last_name}}
              </ng-container>
              <ng-container *ngIf="authUser.id == fl.owner_id">Me</ng-container>
            </td>
            <td data-th="File Size">{{(fl.file_size / 1024) | number : '1.2-2'}} KB</td>
            <td data-th="Public">
              <div class="budylistradio mr0 ">
                <div class="form-group">
                  <!-- <input type="hidden" name="" value="0"> -->
                  <input type="checkbox" id="" class="lcs_check" name="" value="1" checked="">
                  <span class="swipeChk">
                    <span class="on">On</span>
                    <span class="off">Off</span>
                  </span>
                </div>
              </div>
            </td>
            <td data-th="Action" class="btnactionthree">
              <p class="actn">
              <a class="text-success icoimg" title="Download" target="_blank" [href]="getFileLink(fl)" download="" (click)="onOpenFile(fl)">&nbsp;<i class="fa fa-download fa-lg"></i>&nbsp;</a>

              <a class="icoimg" title="Edit" href="javascript:void(0);" data-toggle="modal" data-target="#upfilesmodal" (click)="editMyfile(fl)" >
                <img src="assets/images/editinfo.png" class="img-responsive">
              </a>
              <a data-fancybox data-src="#syncomodal" title="Sync" class="text-success icoimg" href="javascript:void(0);">&nbsp;<i class="fa fa-cloud-upload fa-2x"></i>&nbsp;</a>
              <a *ngIf="authUser.id == fl.owner_id" title="Delete" class="icoimg closmeone" href="javascript:void(0);" (click)="delObj(fl.id)">
                <img src="assets/images/trash.png" class="img-responsive">
              </a>
              </p>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<div class="ovelay hidden"></div>

<div class="modal fade upphotomodal" id="upfilesmodal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header noborder"  *ngIf="old_file == null">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="mdtitlenw" *ngIf="old_file != null">
        Edit File
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p class="para filenms" *ngIf="old_file != null">{{old_file}}</p>
          <label class="toupfiles">
            <!--<input type="file" class="hidden" (change)="onFileChange($event)">-->
            <p-fileUpload name="myfile[]" chooseLabel="Browse Files" customUpload="true" (uploadHandler)="onFileChange($event)" styleClass="upFile" maxFileSize="1000000" previewWidth="100">
              <ng-template pTemplate="content">
                <ng-container  *ngIf="is_browse == false">
                  <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                  <span class="btn-block">Or</span>
                  <span class="btn-block">Drag & Drop files here</span>
                </ng-container>
              </ng-template>
            </p-fileUpload>

            <!--<span class="btn btn-warning addbtn btn-lgcs">Browse Files</span>-->
          </label>
        <div class="text-center">
          <button data-dismiss="modal" aria-label="Close" class="btn btn-warning btncancel" title="Close">Cancel</button>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->