<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="Search for a note type"  [(ngModel)]="searchText">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left text-orange">Note Type</h2>

        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <button class="btn btn-warning addbtn openaddcontact btn-lgcs" (click)="openCreatePop('addModal')">Add Note Type</button>
          </li>

          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">

              <ul class="list-unstyled acmenu">
                <li><a href="javascript:;" (click)="delAll()">Delete</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>

            <div class="settignmenu shownewdrop" style="display: none;">
              <h4>Table menu item</h4>
              <form (ngSubmit)="saveDisplay(f)" #f="ngForm" novalidate>
                <ul class="list-unstyled itemlist">
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showName" name="itemName" [(ngModel)]="displayColFrm.itemName">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Note Type
                    </label>
                  </li>
                </ul>
                <div class=" text-center bordertop btnwrp">
                  <input type="submit" value="Save" class="btn btn-success csbtn" >
                </div>
              </form>
            </div>

          </li>
        </ul>
      </div>

      <div class="white_bg">

        <div class="table_default newtbl">
          <table class="table" id=""><!--sortingTable-->
            <thead>
            <tr>
              <th class="prnametb">
                <label>
                  <!--<input class="hidden" type="checkbox" name="">
                  <div class="checkico">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                  </div>-->
                </label>
              </th>
              <th *ngIf="showName">Note Type</th>

              <th class="opstaction onlytwbtn">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of myList | filter:{ name: searchText }">
                <td>
                  <label>
                    <input class="hidden" value="{{val.id}}" type="checkbox" (change)="selctToList($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                  </label>
                </td>
                <td data-th="Note Type" *ngIf="showName">{{val.name}}</td>

                <td data-th="Action" class="opstaction onlytwbtn">
                  <a href="javascript:void(0);" (click)="openEditModal('addModal',val)">
                    <img src="assets/images/pencil.png" class="img-responsive">
                  </a>
                  <a href="javascript:void(0);" (click)="delType(val.id)">
                    <img src="assets/images/trash.png" class="img-responsive">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="formwrap addModal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>

  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      {{model.type}}  Note Type
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && addSaveType(f)" #f="ngForm" novalidate>
        <div class="clearfix">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group center-block nofloat">
            <label>Note Type</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="model.name">
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group center-block nofloat">
            <label>Approved by</label>
            <div class="seltfull">
              <p-multiSelect [options]="allUsers" name="managers" [(ngModel)]="model.managers" [defaultLabel]="'Managers'" [styleClass]="'form-control '"></p-multiSelect>
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose">
          <input type="submit" value="{{model.type}} Note Type" class="btn btn-success csbtn " name="">
        </div>
      </form>
    </div>

  </div>

</div>
<div class="ovelay hidden"></div>
