<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="Search for a visitor" [(ngModel)]="searchText">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>

        </ul>

      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left">VISITORS</h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <!-- <li class="pull-left">
              <button class="btn btn-warning addbtn openaddcontact">Add Contact <i class="fa fa-angle-down" aria-hidden="true"></i></button>
          </li> -->
          <li class="pull-left">
            <button class="btn btn-default imbtn">Import contacts</button>
          </li>
          <li class="pull-left">
            <button class="btn btn-default expobtn">Export contacts</button>
          </li>
          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="#">Delete</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
            <div class="settignmenu shownewdrop" style="display:none;">
              <h4>Table menu item</h4>
              <ul class="list-unstyled itemlist">
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Name
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Emails
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div># of Visit
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div># of View
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Phone Number
                  </label>
                </li>
              </ul>

              <div class=" text-center bordertop btnwrp">
                <input type="button" value="Save" class="btn btn-success csbtn" name="">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default newtbl visitortbl">
        <table class="table" id="sortingTable">
          <thead>
          <tr>
            <th>

            </th>
            <th>Visitor IP</th>
            <th># of Visits</th>
            <th># of Views</th>
            <th>IP Country</th>
            <th>IP Region</th>
            <th>Browser Lnaguage</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let vistr of visitorList  | filter:{ ip_address: searchText } : false;">
            <th scope="row">
              <label>
                <input class="hidden" type="checkbox" name="">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>

            </th>
            <td data-th="Name">
              <a href="javascript:;" routerLink="/visitor/time-line/{{vistr.id}}"><strong>{{vistr.ip_address}}</strong></a>
            </td>
            <td data-th="# of Visits">{{vistr.activities.length}}</td>
            <td data-th="# of Views">{{totalViewCounts(vistr.activities)}}</td>
            <td data-th="IP Country">{{vistr.ip_country}}</td>
            <td data-th="IP Region">{{vistr.ip_region}}</td>
            <td data-th="Browser Lnaguage">English</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- <nav aria-label="..." class="paginationew text-right">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        </ul>
    </nav> -->

  </div>
</div>
<div class="formwrap" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Add Contact
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <figure class="round center-block ctavatar">
      <img src="assets/images/ctavatar_default.png" class="img-responsive">
    </figure>
    <div><label for="toupphoto" class="upphotoct btn">
      <input class="hidden" type="file" id="toupphoto" name="">
      Click to Browse
    </label>
    </div>
    <div><p>Or</p>
      <p>Drag & Drop to upload photo</p>
    </div>

    <div class="panel-body paddt30">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Title</label>
        <select class="form-control">
          <option>Mrs</option>
          <option>Mr</option>
        </select>
        <span class="icofr"><i class="fa fa-angle-down"></i></span>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
        <label>Email Address</label>
        <input type="email" class="form-control">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
        <label>First Name</label>
        <input type="text" class="form-control">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
        <label>Last Name</label>
        <input type="text" class="form-control">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
        <label>Phone Number</label>
        <input type="number" class="form-control">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
        <label>Mobile Phone Number</label>
        <input type="number" class="form-control">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Country</label>
        <select class="form-control">
          <option>India</option>
          <option>USA</option>
        </select>
        <span class="icofr"><i class="fa fa-angle-down"></i></span>
      </div>

      <div class="col-xs-12 form-group">
        <label class="addfile" for="addfile">
          <input class="hidden" type="file" id="addfile" name="">
          <span class="icof">+</span>Add File
        </label>
      </div>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Cancel" class="btn btn-default csbtn" name="">
        <input type="button" value="Create Contact" class="btn btn-success csbtn" name="">
      </div>
    </div>

  </div>
</div>
<div class="ovelay hidden"></div>
