<p-growl [(value)]="msgs"></p-growl>


<header>
  <div class="cscontainer">
    <a href="javascript:void(0);" class="beforeLogLogo">
      <img src="assets/images/logo-black.png" alt="" />
    </a>
  </div>
</header>
<div class="beforelogBody">
  <div class="cscontainer loginPgcont">
    <h2 class="regTl">Login</h2>

    <div class="regFormCont conbx">
      <div class="row">
        <form name="form" (ngSubmit)="f.form.valid && login(f)" #f="ngForm" novalidate>

        <div class="col-xs-12 form-group">
          <label>Email</label>
          <input type="text" [(ngModel)]="model.email" #email="ngModel" email required class="form-control {{(f.submitted && !email.valid) ?'frmerr':''}}" placeholder="" name="email">
          <div *ngIf="f.submitted && !email.valid" class="frmError">
            <div *ngIf="email.errors?.email">
              Valid email is required
            </div>
          </div>
        </div>

        <div class="col-xs-12 form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="model.password" #password="ngModel" required class="form-control {{(f.submitted && !password.valid) ?'frmerr':''}}" placeholder="" name="password">
          <div *ngIf="f.submitted && !password.valid" class="frmError">
            <div [hidden]="!password.errors.required">
              Password is required
            </div>
          </div>
        </div>

        <div class="col-xs-12 form-group">
          <div class="fieldNote text-right">
            <a href="javascript:void(0);" routerLink="/forgot-password">Forgot your password?</a>.</div>
        </div>
        <div class="col-xs-12 form-group">
          <input type="submit" value="Login" class="btn btn-orange btn-lg csbtn full">
        </div>
        </form>
        <div class="fieldNote text-center">Don't have an account
          <a href="javascript:;" routerLink="/signup">Help</a>
        </div>
      </div>
    </div>

  </div>
</div>
<footer>
  <div class="container-fluid">
    <p>Copyright @ 2017, Leadview360 - All Rights Reserved</p>
  </div>
</footer>