<p-growl [(value)]="msgs"></p-growl>


<div class="cscontainer midobjet">

  <button class="btn rad20 pull-right btn-default sucbtn btn-sm makesplit">Split Mode</button>
  <div class="clearfix form-group"></div>
  <div class="clearfix tomakeslipe">
    <div class="sliptleft clearfix">
      <div class="col-lg-3 col-md-3 col-sm-12 msgRightPanel">
        <div class="panel panel-default cspanel ">
          <!-- <div class="panel-heading collapseHead">
              <h2 class="panel-title text-orange">Users
                  <span class="clk">
                      <i class="fa fa-angle-down"></i>
                  </span>
              </h2>
          </div> -->
          <div class="panel-heading withTab withfilter">
            <div class="panelTab pull-left">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#users">Contacts & Visitors</a></li>
              </ul>
            </div>
            <div class="sortbycv pull-right">
              <span>Sort By</span>
              <select class="form-control">
                <option>Recent</option>
                <option>Tag Score</option>
              </select>
            </div>

            <div class="clearfix"></div>
          </div>
          <div class="tab-content">
            <div id="users2" class="tab-pane fade in active">

              <ul class="list-unstyled leftform list2  msgUsers">
                <ng-container *ngFor="let lvusr of live_user">
                  <li (click)="setUsertoChat(lvusr.usr,lvusr.visitor_id)">
                  <div class="avatarassign clearfix">
                    <figure class="round pull-left">
                      <img src="assets/images/ctavatar_default.png" class="img-responsive">
                    </figure>
                    <!-- <p class="pull-left"><strong>{{lvusr.socket_id}}</strong></p> -->                    
                    
                  </div>
                  <div class="ipnregion pull-left">
                      <p class="namecv"><strong>{{lvusr?.first_name}} {{lvusr?.last_name}}</strong></p>                      
                      <span class="ipcv"><strong>{{lvusr?.email}}</strong></span>
                      <!-- <span class="ipcv">IP: {{lvusr.usr}}</span> -->
                      <span class="ipcv">
                          <img src="{{appConfig.publicUrl+'flags/'+lvusr?.country_code?.toLocaleLowerCase()+'.png'}}"> 
                          {{lvusr?.country_code}}
                      </span>
                      <span class="ipcv">
                          <i class="fa fa-language" aria-hidden="true"></i> 
                          English
                      </span>
                      <span class="ipcv userstatus" *ngIf="lvusr.online == true">Online</span>
                      <span class="ipcv userstatus" *ngIf="lvusr.online == false" style="color:#000;">Offline</span>
                      <span class="ipcv userstatus" *ngIf="lvusr.typing">{{lvusr.usr}} is typing...</span>
                      <span class="ipcv userstatus" *ngIf="lvusr.unread > 0">({{lvusr.unread}}){{lvusr.usr}} is waiting for a reply</span>
                      <div class="tagslistSm">
                        <span class="tagname">Tag Score <span class="tgnumbrSm round">{{lvusr?.tag_score}}</span></span> 
                      </div>                    
                  </div>
                  <div class="clearfix"></div>                  
                </li>
                </ng-container>
                <ng-container *ngIf="live_user.length == 0">
                  <li>No live user</li>
                </ng-container>
              </ul>

            </div>

          </div>

          <!--<div class="panel-heading withTab">
            <div class="panelTab">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#users">Users</a></li>
                <li><a data-toggle="tab" href="#live_visitors">Live visitors</a></li>
              </ul>
            </div>
            <div class="panelSettings">
              <div class="form-group withico">
                <select class="form-control sumoselect">
                  <option selected="" >Settings</option>
                  <option>Settings1</option>
                  <option>Settings2</option>
                </select>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="tab-content">
            <div id="users" class="tab-pane fade in active">
              <ul class="list-unstyled leftform list2 nmndesi msgUsers">
                <li *ngFor="let usr of curr_project_users" (click)="setChatSession($event,usr.id)">
                  <div class="avatarassign clearfix">
                    <figure class="round pull-left">
                      &lt;!&ndash;<img src="assets/images/avatar3.png" class="img-responsive">&ndash;&gt;
                      <img *ngIf="usr.profile_picture != null" src="{{appConfig.publicUrl+'uploads/profile_picture/thumbs/'+usr.profile_picture}}" class="img-responsive">
                    </figure>
                    <p class="pull-left"><strong>{{usr.first_name+' '+usr.last_name}}</strong><small>Conatct Managers</small></p>
                    &lt;!&ndash; <div class="avtarbtn">
                        <button class="btn btn-success btn-sm csbtn smbtn">Create Task</button>
                        <button class="btn btn-success btn-sm csbtn smbtn relative black"><img src="assets/images/chat-w.png"> Chat <sup class="round chtnum">6</sup></button>
                    </div> &ndash;&gt;
                  </div>
                </li>
              </ul>
            </div>
            <div id="live_visitors" class="tab-pane fade">
              <ul class="list-unstyled leftform list2 nmndesi msgUsers">
                <ng-container *ngFor="let lvusr of live_user">
                  <li (click)="setUsertoChat(lvusr.socket_id,lvusr.visitor_id)">
                    <div class="avatarassign clearfix">
                      <figure class="round pull-left">
                        <img src="assets/images/avatar.png" class="img-responsive">
                      </figure>
                      <p class="pull-left"><strong>{{lvusr.socket_id}}</strong><br><samp>{{lvusr.usr}}</samp><small>{{lvusr.online?'Live':'Offline'}}</small></p><br>
                      <span *ngIf="lvusr.typing">typing..</span>
                       <div class="avtarbtn">
                          &lt;!&ndash;<button class="btn btn-success btn-sm csbtn smbtn">Create Task</button>&ndash;&gt;
                          <button class="btn btn-success btn-sm csbtn smbtn relative black"><img src="assets/images/chat-w.png"> Chat <sup class="round chtnum">{{lvusr.unread}}</sup></button>
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
-->
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 msgMiddlePanel">
        <div class="white_bg">
          <div class="timeltitle panel-body text-orange grey-border">
            <p class="pull-left">CHAT </p>
            <ul class="list-unstyled pull-right btnnewlist msgHeadbtns clearfix">
              <li class="pull-left settingli msgUsersLink">
                <button class="btn btn-default cogbtn">
                  <img src="assets/images/users2.png" class="img-responsive">
                </button>
              </li>
              <li class="pull-left settingli msgAttachedLink">
                <button class="btn btn-default cogbtn">
                  <img src="assets/images/msg-pin.png" class="img-responsive">
                </button>
              </li>
              <li class="pull-left settingli" *ngIf="msg_to_ip !=''">
                <button class="btn btn-default cogbtn" (click)="openModal(template)">
                  <img src="assets/images/msg-user-plus.png" class="img-responsive">
                </button>
              </li>
              <!-- <li class="pull-left settingli">
                  <button class="btn btn-default cogbtn">
                      <img src="assets/images/msg-cog.png" class="img-responsive">
                  </button>
              </li> -->
            </ul>
            <div class="btntimelist clearfix pull-right">
              <button class="btn rad20 btn-default btngrey btn-sm openaddcontact" data-val="addnotee">Add Note</button>
              <button class="btn rad20 btn-default sucbtn btn-sm openaddcontact" data-val="addoportunity">Add Opportunity</button>
              <button class="btn rad20 btn-default addbtn btn-sm openaddcontact" data-val="addtaskmodal">Add Task</button>
            </div>
          </div>
          <div class="messageListCont">
            <div class="messages"  #scrollMe [scrollTop]="scrollMe.scrollHeight">

              <div class="" *ngFor="let chat of chatMsg">
                  <div [innerHTML]="chat">&nbsp;</div>
              </div>
            </div>

            <div class="typemsgArea" *ngIf="to_chat_socket_id !=''">
              <div class="bx">
                <textarea placeholder="Type Your Text" id="inpMsg" #inpMsg [(ngModel)]="curr_msg" (keydown)="keyDownFunction($event,inpMsg.value)"></textarea>
                <div class="msgBtns">
                  <label class="msgAttach">
                    <input type="file" (change)="selectFile($event)"/>
                    <img src="assets/images/msg-pin.png" alt=""/>

                  </label>
                 <!-- <a href="javascript:void(0);" class="msgEmogi">
                    <img src="assets/images/msg-emoji.png" alt=""/>
                  </a>-->
                  <input type="button" (click)="nowSendMsg($event)" value="Send" class="btn btn-default btn-grey"/>
                </div>
              </div>
            </div>

          </div>
          <div *ngIf="blob_file_name !=''" class="alert alert-warning alert-dismissible fade in" role="alert">
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
            <samp class="attf">{{blob_file_name}}</samp>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 msgLeftPanel leftpanel">

        <div class="panel panel-default cspanel">
          <div class="panel-heading collapseHead">
            <h2 class="panel-title">Website activities <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
          </div>
          <div class="panerl-body collapseBody">
            <ul class="list-unstyled weblinks leftform list2">
              <li *ngFor="let actv of curr_activities">
                <p><strong>{{actv.activity.page_title}}</strong></p>
                <p class="text-orange"><a href="javascript:;" (click)="setLiveFrame(actv?.activity?.page_url)">{{actv?.activity?.page_url}}</a></p>
              </li>

            </ul>

          </div>
        </div>

        <div class="panel panel-default cspanel">
          <div class="panel-heading collapseHead">
            <h2 class="panel-title">FILES <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
          </div>
          <div class="panel-body collapseBody">

            <ul class="attachmentList">
              <li *ngFor="let attch of attachList">
                <ng-container>
                  <div class="bx">
                    <div class="imgBx">
                      <img src="assets/images/file-icon.png" alt="">
                    </div>
                    <div class="details">
                      <span class="tm"> Uploaded by {{myIp == attch.sender_ip ? 'me': attch.sender_ip}} - {{attch.created_at | amCalendar}}</span>
                      <span class="uStatus pull-left">{{attch.name}}</span>
                      <div class="fileDown pull-right">

                        <a class="text-success icoimg" target="_blank" href="{{appConfig.publicUrl+'uploads/message_attachment/'+attch.file}}">&nbsp;<i class="fa fa-eye fa-lg"></i>&nbsp;</a>

                        <a class="text-success icoimg" download="" target="_blank" href="{{appConfig.publicUrl+'uploads/message_attachment/'+attch.file}}">&nbsp;<i class="fa fa-download fa-lg"></i>&nbsp;</a>
                      </div>
                      <div class="spacer"></div>
                    </div>
                    <div class="spacer"></div>
                  </div>
                </ng-container>
              </li>
            </ul>

          </div>
        </div>
        <!--{{selected_contact | json}}-->
        <div class="panel panel-default cspanel" *ngIf="selected_contact !== null">
          <div class="panel-heading collapseHead">
            <h2 class="panel-title">ABOUT CONTACT <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
          </div>
          <div class="panerl-body collapseBody">
            <ul class="list-unstyled leftform list2">
              <li>First Name: <span class="text-orange">{{selected_contact.first_name}}</span></li>
              <li>Last Name: <span class="text-orange">{{selected_contact.last_name}}</span></li>
              <li>State: <span class="text-orange">{{selected_contact.region}}</span></li>
              <li>Country: <span class="text-orange">{{selected_contact.country}}</span></li>
              <li>Address: <span class="text-orange"></span>{{selected_contact.city}}</li><!--Plot No. E2-4, Block-GP Sector-V, Salt Lake City Kolkata-700 091-->
              <li>Lifecycle Stage: <span class="text-orange">Lorem Ipsum</span></li>
            </ul>
            <!--<div class="text-center bordertptime"><a href="javascript:void(0);" data-val="emailadd" class="seemore openaddcontact">MORE</a></div>-->
          </div>
        </div>
        <div class="panel panel-default cspanel" *ngIf="selected_contact !== null">
          <div class="panel-heading collapseHead">
            <h2 class="panel-title">PHONE NUMBER <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
          </div>
          <div class="panerl-body collapseBody">
            <ul class="list-unstyled leftform list2">
              <li>{{selected_contact.phone}}</li>
              <li>{{selected_contact.mobile}}</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default cspanel" *ngIf="selected_contact !== null">
          <div class="panel-heading collapseHead">
            <h2 class="panel-title">EMAIL <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
          </div>
          <div class="panerl-body collapseBody">
            <ul class="list-unstyled leftform list2">
              <li>{{selected_contact.email}}</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default cspanel" *ngIf="selected_contact !== null">
          <div class="panel-heading collapseHead">
            <h2 class="panel-title">COMPANIES <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
          </div>
          <div class="panerl-body collapseBody">
            <ul class="list-unstyled leftform list2">
              <li>Technoexponent</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default cspanel" *ngIf="selected_contact !== null">
          <div class="panel-heading collapseHead">
            <h2 class="panel-title">IP LOCATION/LANGUAGE <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
          </div>
          <div class="panerl-body collapseBody">
            <ul class="list-unstyled leftform list2">
              <li>IP Region: <span class="text-orange">{{selected_contact.state}}</span></li>
              <li>IP Country: <span class="text-orange">{{selected_contact.city}}</span></li>
              <li>Browser language: <span class="text-orange">English UK</span></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="ovelay hidden"></div>
<div class="msgOvrlay"></div>

<ng-template #template>
  <div class="adduserModal ">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Add User</h4>
    </div>
    <div class="modal-body">
      <ul class="listUser list-unstyled">
        <ng-container *ngFor="let projectUser of curr_project_users">
          <li *ngIf="projectUser.id != authUser.id && projectUser.id != operator_chat_setting.user_id">
            <label>
              <input class="hideit" (click)="selctUsr($event)" [checked]="group_members.includes(projectUser.id)" type="checkbox" value="{{projectUser.id}}">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>
              <div class="avatarassign clearfix">
                <figure class="round pull-left">
                  <img *ngIf="!projectUser.profile_picture || projectUser.profile_picture =='undefined'" src="assets/images/ctavatar_default2.png" class="img-responsive">
                  <img *ngIf="projectUser.profile_picture" src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+projectUser.profile_picture}}" class="img-responsive">
                </figure>
                {{projectUser.first_name+' '+projectUser.last_name}}
              </div>

            </label>
          </li>
        </ng-container>

      </ul>
    </div>
    <div class="modal-footer text-center"><!--
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      <button type="button" class="btn btn-success csbtn" (click)="addToGroup(template)">Add User</button>
    </div>

  </div>
</ng-template>