<p-growl [(value)]="msgs"></p-growl>
<h3 class="d_active tab_drawer_heading" rel="tab1">Profile</h3>
<div id="tab1" class="tab_content">
  <!-- <h3 class="nocontent">no content</h3> -->

  <div class="conbx center-block">
    <figure class="round center-block myacavatar" >
     <!-- <img src="assets/images/avatar2.png" class="img-responsive" *ngIf="model.profile_picture == null;">-->
      <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+model.profile_picture}}" class="img-responsive" *ngIf="model.profile_picture != null && blob_picture == null;">
      <img src="{{blob_picture}}" *ngIf="blob_picture != null"/>
    </figure>
    <label class="mcupfile round" for="mcupfile">

      <input type="file" accept="image/*" class="hidden" id="mcupfile" name="profile_picture" (change)="selectFile($event)">
      <i class="fa fa-camera"></i>
    </label>
    <h1 class="adcttitle text-center">{{model?.first_name}} {{model?.last_name}}</h1>
    <form (ngSubmit)="f.form.valid && updateProfile(f)" #f="ngForm" novalidate>
      <div class="panel-body">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Title</label>
          <select name="gender" class="form-control slectBox" placeholder="Show Contacts" [(ngModel)]="model.gender" #gender="ngModel">
            <option value="F" >Mrs</option>
            <option value="M" >Mr</option>
          </select>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>Email Address</label>
          <input name="email" type="email " class="form-control" [(ngModel)]="model.email" >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>First Name</label>
          <input name="first_name" type="text " class="form-control" [(ngModel)]="model.first_name" >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>Last Name</label>
          <input name="last_name" type="text " class="form-control" [(ngModel)]="model.last_name" >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>Phone Number</label>
          <input name="phone_number" type="number " class="form-control " [(ngModel)]="model.phone_number">
        </div>
        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>Company</label>
          <input name="company_name" type="text " class="form-control " [(ngModel)]="model.company_name">
        </div>-->

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>Position</label>
          <input name="designation" type="text " class="form-control " [(ngModel)]="model.designation">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>language</label>
          <select name="language" class="form-control slectBox" placeholder="Show Contacts" [(ngModel)]="model.language" #gender="ngModel">
            <option value="{{lang.id}}" *ngFor="let lang of languages">{{lang.name}}</option>
          </select>
        </div>
        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
            <label>Language</label>
            <input type="text " class="form-control " [(ngModel)]="model.last_name">
        </div>-->
        <div class="col-xs-12 text-center bordertop paddt20 ">
          <input type="submit" value="Update " class="btn btn-success csbtn ">
        </div>
      </div>
    </form>
  </div>

</div>