<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">

  <div class="white_bg1">
    <h2 class="dbtitle">TAX TYPE LIST</h2>
    <div class="dbserform panel-body">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control dbinput" placeholder="Tax Name" [(ngModel)]="searchText">
        </div>
        <div class="form-group">
          <input type="text" class="form-control dbinput" placeholder="Percentage of Tax" [(ngModel)]="searchPrcnt">
        </div>
        <!--<button class="btn btn-warning addbtn btndb"><i class="sico fa fa-search"></i>Search</button>-->

        <div class="dropdown pull-right">
          <button class="btn btn-default addbtn btndb openaddcontact" data-val="addtax" (click)="openTaxmodal('addtax')">+ Add Tax</button>

          <button class="btn btn-success sucbtn btndb actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
          <div class="settignmenu shownewdrop actionpop" style="display:none;">
            <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
            <button class="btn btn-success  sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
            <ul class="list-unstyled acmenu">
              <li><a href="javascript:;" (click)="delAll()">Delete</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="table_default newtbl grptable dbsmtable  two_tr_xs_lg scrollipad">
      <table class="table white_bg">
        <thead>
        <tr>
          <th class="prnametb">
            <label>
              <!--<input class="hidden" type="checkbox" name="">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>-->
            </label>
          </th>
          <th>Tax Name</th>
          <th>Tax Description</th>
          <th>Tax (%)</th>
          <th class="twobtn">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let tax of taxList | filter:{ name: searchText }| filter:{ percentage: searchPrcnt }">
          <th>
            <label>
              <input class="hidden" value="{{tax.id}}" type="checkbox" (change)="selctToList($event)">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>
            </label>
          </th>
          <td data-th="Tax Name">{{tax.name}}</td>
          <td data-th="Tax Description">{{tax.description}}</td>
          <td data-th="Tax (%)">{{tax.percentage}}%</td>
          <td data-th="Action" class="twobtn">
            <a href="javascript:void(0);" (click)="delTax(tax.id)"><img src="assets/images/trash.png" class="img-responsive"></a>
            <a href="javascript:void(0);" data-val="addtax" (click)="openEditTaxmodal('addtax',tax)"><img src="assets/images/pencil.png" class="img-responsive"></a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="formwrap addtax" style="top:-20000px;">
  <div class="formwrapOvrly"></div>

  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose mb0">
      {{model.type}} Tax
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>


    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && addSaveTax(f)" #f="ngForm" novalidate>
        <div class="col-xs-12 form-group">
          <label>Tax Name</label>
          <input class="form-control" placeholder="" name="name" [(ngModel)]="model.name">
        </div>

        <div class="col-xs-12 form-group withico">
          <label>Tax Description</label>
          <textarea class="form-control" rows="5" cols="" name="description" [(ngModel)]="model.description"></textarea>
        </div>

        <div class="col-xs-12 col-sm-6 form-group">
          <label>Tax Percentage</label>
          <div class="input-group">
            <input class="form-control" placeholder="30" name="percentage" [(ngModel)]="model.percentage">
            <div class="input-group-addon">%</div>
          </div>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose">
          <input type="submit" value="Add Tax" class="btn btn-success csbtn" name="">
        </div>
      </form>
    </div>

  </div>

</div>

<div class="ovelay hidden"></div>