<div class="popup-option {{pop_style}}">
    <section class="Leadviewpop ">
        <div class="Ledvpophead" id="navigation" style="{{header_color}}">

            <ul class="chatheadermenu clearfixlv" id="chatboxmenu">
                <li id="chatTab" style="{{hide_ct}}">
                    <a title="Chat" onclick="openChatTab();" href="javscript:void(0);">
                        <span><img src="{{public_url}}assets/images/chaticon.png"></span>
					<span class="chat-msg">
                        Chat is currently offline, but you can leave us a message.
                    </span>
                    </a>
                </li>
                <li id="directoryTab" style="{{hide_directory}}"><a title="Directory" onclick="showusersFunction()" href="javscript:void(0);"><span><img src="{{public_url}}assets/images/users.png"></span></a></li>
                <li id="tlTab" style="{{hide_tl}}"><a title="Timeline" onclick="showtiemlineFunction()" href="javscript:void(0);"><span><img src="{{public_url}}assets/images/timeline.png"></span></a></li>
                <li id="socialTab" style="{{hide_social}}"><a title="Share" onclick="showsharewidgetFunction()" href="javscript:void(0);"><span><img src="{{public_url}}assets/remote-work/image/share.png" style="width: 24px;"></span></a></li>
                <li id="prefTab" style="{{hide_pref}}"><a title="My preference" onclick="showmypreferenceFunction()" href="javscript:void(0);"><span><img src="{{public_url}}assets/images/settings.png"></span></a></li>

                <li id="proTab" style="{{hide_pro}}"><a title="Profile" onclick="showprofilewidgetFunction()" href="javscript:void(0);"><span><img src="{{public_url}}assets/images/my_profile.png"></span></a></li>

            </ul>
        </div>

        <div class="Ledviconsec" id="lidviewlinkdesk" >
            <div class="LeadcontDesk">
                <div id="defChatBox"  >
                    <div class="chatroomsec " id="chatoshow" style="display:none;">
                        <div class="chatform" id="chatform">
                            <h3 class="secTitleLeadview" style="{{header_color}}">{{chat_intro_text}}</h3>

                            <div class="formsupportlv popupheight">
                                <form method="post" id="visitorInfo" name="visitorInf">
                                    <div class="formgrouplv">
                                        <select name="salute" class="lgview_twenty">
                                            <!-- <option value="M">Mr.</option>
                                            <option value="F">Mrs.</option> -->
                                            <option value="Mr">Mr.</option>
                                            <option value="Mrs">Mrs.</option>
                                            <option value="Sir">Sir</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Dr">Dr</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Lady">Lady</option>
                                            <option value="Lord">Lord</option>
                                        </select>
                                        <input type="text" class="inputslv lgview_forty" name="first_name" placeholder="{{first_name_text}}">
                                        <input type="text" class="inputslv lgview_forty" name="last_name" placeholder="{{last_name_text}}">
                                    </div>

                                    <div class="formgrouplv" style="{{hide_company}}">
                                        <input type="text" class="inputslv" name="company"  placeholder="{{company_text}}" >
                                    </div>
                                    <div class="formgrouplv" style="{{hide_role}}">
                                        <input type="text" class="inputslv" name="role"  placeholder="{{role_text}}" >
                                    </div>
                                    <div class="formgrouplv" style="{{hide_phone}}">
                                        <input type="text" class="inputslv" name="phone"  placeholder="{{phone_text}}" >
                                    </div>
                                    <div class="formgrouplv">
                                        <input type="email" class="inputslv" name="email"  placeholder="{{email_text}}" >
                                    </div>
                                    <div class="formgrouplv" style="{{hide_language}}">
                                        <select name="language" class="inputslv">
                                            <option value="">{{language_text}}</option>
                                            {{set_languages}}
                                            
                                        </select>
                                        <!-- <input type="text" class="inputslv" name=""  placeholder="Email address" > -->
                                    </div>
                                    <div class="formgrouplv">
                                        <label class="gdpr-msg"><input type="checkbox" name="terms_condition"><span>{{gdpr_text}} <a href="javascript:;" class="more" onclick="leadvioewopenpopup('showcoockeditModal')">More</a> <br>.</span></label>
                                    </div>
                                    <input type="button" class="btnsubmitmsg" value="{{start_chat_text}}" onclick="saveVisitorInfo()" >

                                    <div class="formgrouplv"> <span id="errorMasg">&nbsp;</span></div>
                                </form>

                            </div>
                            <span class="poweredBy bg-form">MessageBox by Leadview360.com</span>
                        </div>
                        <div class="chatlist" id="chatlist">
                            <div class="chatmessage popupheightchat mCustomScrollbar1" id="chatmessage" style="{{backgound_color}}">
                                <ul class="list-unstyled chatArea" id="chatArea"></ul>
                            </div>
                            <div class="chtroom">
                                <div id="errDv"></div>
                                <textarea id="inputArea" placeholder="write your query.." class="chtinput" name="" onkeydown="typeMessage(event,this.value)"></textarea>

                                <label class="attf"><input type="file" id="fileAttach" onchange="selectFile(event)"></label>
                                <a href="javascript:void(0);" class="msgEmogi">
                                    <img src="{{public_url}}assets/images/msg-emoji.png" alt="">
                                </a>
                                <button class="msgbtn"></button>
                            </div>
                            <span class="poweredBy">MessageBox by Leadview360.com</span>
                        </div>
                    </div>
                </div>
                <!-- style="{{hide_ct}}" -->
                <div class="Leadvuser " id="usertoshow" style="{{hide_directory}}" style="display:none;">
                    <div class="chatform" id="leavemessagebox" style="display: none;">
                        <h3 class="secTitleLeadview" style="{{header_color}}">{{dir_intro_text}}</h3>
                        <div class="formsupportlv popupheight">
                            <form method="post" id="cmVisitorInfo" name="cmVisitorInf">
                                <div class="formgrouplv">
                                    <select name="salute" class="lgview_twenty">
                                        <!-- <option value="M">Mr.</option>
                                        <option value="F">Mrs.</option> -->
                                        <option value="Mr">Mr.</option>
                                        <option value="Mrs">Mrs.</option>
                                        <option value="Sir">Sir</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Dr">Dr</option>
                                        <option value="Ms">Ms</option>
                                        <option value="Lady">Lady</option>
                                        <option value="Lord">Lord</option>
                                    </select>
                                    <input type="text" class="inputslv lgview_forty" name="first_name" placeholder="{{first_name_dir}}">
                                    <input type="text" class="inputslv lgview_forty" name="last_name" placeholder="{{last_name_dir}}">
                                </div>

                                <div class="formgrouplv" style="{{hide_company_dir}}">
                                    <input type="text" class="inputslv" name="company"  placeholder="{{company_dir}}" >
                                </div>
                                <div class="formgrouplv" style="{{hide_role_dir}}">
                                    <input type="text" class="inputslv" name="role"  placeholder="{{role_dir}}" >
                                </div>
                                <div class="formgrouplv" style="{{hide_phone_dir}}">
                                    <input type="text" class="inputslv" name="phone"  placeholder="{{phone_dir}}" >
                                </div>
                                <div class="formgrouplv">
                                    <input type="email" class="inputslv" name="email"  placeholder="{{email_dir}}" >
                                </div>
                                <div class="formgrouplv" style="{{hide_message_dir}}">
                                    <textarea class="inputslv" cols="" rows="5" name="message" placeholder="{{message_dir}}"></textarea>
                                </div>
                                <input type="button" class="btnsubmitmsg" value="{{start_chat_dir}}"  onclick="saveCmVisitorInfo()">
                                <div class="formgrouplv"> <span id="errorMasg2">&nbsp;</span></div>
                            </form>
                        </div>
                        <span class="poweredBy bg-form">MessageBox by Leadview360.com</span>
                    </div>
                    <div class="search-main" id="searchmain" style="{{backgound_color}}">
                        <div class="serchdesk">
                            <div class="userserchwrp">
                                <input type="" placeholder="Search Users" class="searchusers">
                            </div>
                        </div>
                        <ul id="managerList" class="leadvuserlist popupheight directory">
                            <!--<li>
                                <a href="">
                                    <figure>
                                        <img src="{{public_url}}assets/images/avatar2.png" class="img-responsive">
                                    </figure>
                                    <h4><i class="online"></i>Alisa Cha<small>Marketing Manager</small></h4>
                                    <span class="lastchat">Last chatted</span>
                                </a>

                                <div class="userlistbuttons">
                                    <span class="userbutton"><a href class="schedulemetting">Schedule a Meeting</a></span>
                                    <span class="userbutton"><a href="javascript:;" class="leavemessage" onclick="leavemessage()">Leave a Message</a></span>
                                </div>
                            </li>-->


                        </ul>
                        <span class="poweredBy">MessageBox by Leadview360.com</span>
                    </div>
                </div>

                <div class="Leadvtimeline" id="Leadvtimeline" style="{{hide_tl}}" style="display:none;">
                    <h3 class="secTitleLeadview" style="{{header_color}}">
                        Timeline
                        <ul class="timeline-filter">
                            <li>
                                <a style="{{header_color}}" href="javascript:;" onclick="getTlData();">Notification </a>
                                <!-- <ul class="timeline-sub-filter">
                                    <li><a href="javascript:;" onclick="getTlData();">All note type</a></li>
                                    <li><a href="javascript:;">Lorem Ipsum </a></li>
                                </ul> -->
                            </li>
                            <li><a style="{{header_color}}" href="javascript:;" onclick="checkBookmarks()">Bookmarks</a></li>
                        </ul>
                    </h3>
                    <ul id="tlPost" class="leadvuserlist popupheight cmntlist" style="{{backgound_color}}">


                    </ul>
                    <span class="poweredBy">MessageBox by Leadview360.com</span>
                </div>

                <div class="Leadvmypreference" id="Leadvmypreference" style="{{hide_pref}}" style="display:none;">
                    <h3 class="secTitleLeadview" style="{{header_color}}">My Preference</h3>
                    <div class="popupheight padding5" style="{{backgound_color}}">
                        <h4>Interest</h4>
                        <ul class="toclearflot" id="tagList"><li></li></ul>
                        <label class="itemchecklv" style="{{show_email_me}}">
                            <input onchange="notifyIfUnreadFunction(this.id)" type="checkbox" class="hideitt" name="notifyIfUnread" id="notifyIfUnread">
                            <div class="radiiconlv"></div>
                            {{email_me_text}}
                            <div id="notifyMeEmail">
                                <label class="itemchecksublv"><input  type="radio" class="hideitt" name="notifyIfUnreademail" ><div class="radiiconlroundv"></div>avoy.php@gmail.com</label>
                                <label class="itemchecksublv"><input  type="radio" class="hideitt" name="notifyIfUnreademail" ><div class="radiiconlroundv"></div>avoy.php08@gmail.com</label>
                            </div>
                        </label>
                        <label class="itemchecklv" style="{{show_marketing}}">
                            <input onchange="openmarkingFunction(this.id)"  type="checkbox" class="hideitt" name="lvinteresttype" id="lvinteresttype2">
                            <div class="radiiconlv"></div>
                            {{marketing_text}}

                            <div class="frequencyset" id="frequencyset">
                                <label>Email Address</label>
                                <label class="itemchecksublv"><input  type="radio" class="hideitt" name="markettingemail" ><div class="radiiconlroundv"></div>avoy.php@gmail.com</label>
                                <label class="itemchecksublv"><input  type="radio" class="hideitt" name="markettingemail" ><div class="radiiconlroundv"></div>avoy.php08@gmail.com</label>
                            </div>
                        </label>

                        <label class="itemchecklv" style="{{show_pref_gdpr}}">
                            <input type="checkbox" class="hideitt" name="lvinteresttype" id="lvinteresttype">
                            <div class="radiiconlv"></div>
                            {{gdpr_pref}} <a href="javascript:;" style="{{show_more}}" class="more" onclick="opencoocke()">{{more_text}}</a>

                        </label>
                    </div>
                    <span class="poweredBy">MessageBox by Leadview360.com</span>
                </div>

                <div class="leadvprofileWidget" id="leadvprofileWidget" style="{{hide_pro}}" style="display:none;">

                    <h3 class="secTitleLeadview" style="{{header_color}}">Profile</h3>
                    <div class="popupheight padding5" style="{{backgound_color}}">
                        <div id="contactProfile">&nbsp;</div>
                        <div id="noProfile" style="display: none;"><h3>No Information</h3></div>
                    </div>

                    <span class="poweredBy">MessageBox by Leadview360.com</span>
                </div>

                <div class="Leadvtimeline" id="leadvsharewidget" style="{{hide_social}}" style="display:none;">

                    <h3 class="secTitleLeadview" style="{{header_color}}">Share On</h3>
                    <div class="popupheight" style="{{backgound_color}}">
                        <ul class="social-sharing">
                            <li style="{{hide_facebook}}"><a href="javascript:;" class="facebook"><img src="{{public_url}}assets/remote-work/image/facebook.png" alt=""> Facebook</a></li>
                            <li style="{{hide_twitter}}"><a href="javascript:;" class="twitter"><img src="{{public_url}}assets/remote-work/image/twitter-share.png" alt=""> Twitter</a></li>
                            <li style="{{hide_pinterest}}"><a href="javascript:;" class="pinterest"><img src="{{public_url}}assets/remote-work/image/pinterest-share.png" alt=""> Pinterest</a></li>
                            <li style="{{hide_linkedin}}"><a href="javascript:;" class="linkedin"><img src="{{public_url}}assets/remote-work/image/linkedin-share.png" alt=""> Linkedin</a></li>
                        </ul>
                        <div class="bookmark-block" style="{{hide_bookmark}}">
                            <button class="btn-bookmark" onclick="saveAsBookmark();" type="button">{{bookmark_text}}</button>
                            <br><div id="bookMarkMsg">&nbsp;</div>
                        </div>
                    </div>
                    <span class="poweredBy">MessageBox by Leadview360.com</span>
                </div>

                <section class="lvModal editcoocke">
                    <div class="lvModalcont">
                        <div class="lvmheader">
                            <h4 class="lvmdalTitle">Cookies</h4>
                            <a href="javascript:void(0);" class="tocloselvmodal" onclick="lvclosemodalFunction()"></a>
                        </div>
                        <form method="post" id="cookieInfo2" name="cookieInf">
                            <div class="lvmdalCont">
                                <p>Allow also to define a second cookie consent tekst which needs to appear in a popup and saying "This website uses functional and analytical cookies for improving your user experience. We do not store personal data with these cookies. Below you can define your consent for other cookie types." </p>
                                <label class="custom-fluid-checkbox swipe-checkbox">
                                    <input type="checkbox" name="functional_coockie" {{functional_coockie_checked}}>
                                    <span>Functional cookies</span>
                                </label>
                                <label class="custom-fluid-checkbox swipe-checkbox">
                                    <input type="checkbox" name="analytical_coockie" {{analytical_coockie_checked}}>
                                    <span>Analytical cookies</span>
                                </label>
                                <label class="custom-fluid-checkbox swipe-checkbox">
                                    <input type="checkbox" name="marketing_coockie" {{marketing_coockie_checked}}>
                                    <span>Marketing cookies</span>
                                </label>
                                <br>
                                <label class="custom-fluid-checkbox swipe-checkbox">
                                    <button class="btnsubmitmsg" type="button" onclick="saveCookieInfo()">Accept</button>
                                </label>
                            </div>
                        </form>
                    </div>
                </section>

            </div>
        </div>
    </section>

    <button class="btn-close-popup" style="{{header_color}}" type="button" onclick="closeChat();" id="closeChat">
        <img src="{{public_url}}assets/images/close.svg" alt="Close" height="12">
    </button>
    <button class="btn-close-popup" style="{{header_color}}" type="button" onclick="openChat();" id="openChat">
        <img src="{{public_url}}assets/remote-work/image/chat.svg" alt="Close" height="20">
        <span class="chat-msg">
            Chat is currently offline, but you can leave us a message.
        </span>
    </button>
</div>

<section id="coockiePop" class="lvModal addcoocke showNow" style="{{check_cookie_opt}}">
    <div class="lvModalcont">
        <div class="lvmheader">
            <h4 class="lvmdalTitle">Cookies</h4>
            <a href="javascript:void(0);" class="tocloselvmodal" onclick="lvclosemodalFunction()"></a>
        </div>
        <form method="post" id="cookieInfo" name="cookieInf">
            <div class="lvmdalCont">
                <p>Allow also to define a second cookie consent tekst which needs to appear in a popup and saying "This website uses functional and analytical cookies for improving your user experience. We do not store personal data with these cookies. Below you can define your consent for other cookie types." </p>
                <label class="custom-fluid-checkbox swipe-checkbox">
                    <input type="checkbox" name="functional_coockie">
                    <span>Functional cookies</span>
                </label>
                <label class="custom-fluid-checkbox swipe-checkbox">
                    <input type="checkbox" name="analytical_coockie">
                    <span>Analytical cookies</span>
                </label>
                <label class="custom-fluid-checkbox swipe-checkbox">
                    <input type="checkbox" name="marketing_coockie">
                    <span>Marketing cookies</span>
                </label>
                <br>
                <label class="custom-fluid-checkbox swipe-checkbox">
                    <button class="btnsubmitmsg" type="button" onclick="saveCookieInfo()">Accept</button>
                </label>
            </div>
        </form>       
    </div>
</section>
