@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
    overflow:auto;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
#chatboxmenu{display:block}

.Leadviewpop {
    position:fixed;
    right:10px;
    left:inherit !important;
    bottom:55px;
    font-family: 'Poppins', sans-serif;
    width: 342px;
    max-width:100%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    z-index: 999999999;
    /* overflow:hidden; */


}
.Leadviewpop img {
    max-width:100%;
    width:auto;
    height:auto;
    display:block;
}
.Ledvpophead button {
    margin: 0;
    border: 0 none;
    padding: 15px 15px;

    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    text-align: center;
}
.LeadcontDesk {
    /*    border-left: 1px solid #1ca086;
    border-right: 1px solid #1ca086;*/
    overflow: auto;
    height: auto;
    max-height: 570px;
    background-color: #fff;
    box-shadow: 0px 4px 29px 8px rgba(182, 184, 186, 0.3);
}
.spfrmbtn:hover,
.Ledvpophead button:focus,
.Ledvpophead button:hover {
    cursor:pointer;
    outline:0 none;
}


.Leadviewpop ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
.Leadviewpop ul.chatheadermenu {
    padding: 10px 6px 10px;
}

.clearfixlv::after,
.clearfixlv::before,
.toclearflot::after,
.toclearflot::before,
.Ledviconsec > ul::after,
.Ledviconsec > ul::before {
    clear:both;
    display:table;
    content:"";
}
.chatheadermenu  > li  {
    margin: 0;
    padding: 7px 6px !important;
    /* float: left; */
    list-style-type: none;
}
.chatheadermenu > li > a {
    display: table;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.2);
    vertical-align: middle;
    text-align: center;
    position:relative;
}
.chatheadermenu > li > a::after {
    background: transparent url(../images/popmenuafter.png) no-repeat center center;
    width: 13px;
    height: 10px;
    display: block;
    content: "";
    position: absolute;
    bottom: -8px;
    left: 16px;
    opacity:0;
}
.chatheadermenu > li > a.active::after {
    opacity:1;
}
.chatheadermenu > li > a > span {
    height:100%;
    width:100%;
    vertical-align:middle;
    display:table-cell;
}
.chatheadermenu > li img {
    margin:auto;
}
.chatheadermenu > li > a img {
    max-width:100%;
    height:auto;
    width:auto;
}
ul.chatheadermenu li:first-child{padding-left:2px}
ul.chatheadermenu li:last-child{padding-right:2px}

.leadvprofileWidget {

}
.leadvuserlist h4 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0px !important;
    padding-top: 4px;
    /* border-bottom: 1px solid #f0f2f4 !important; */
}
.leadvuserlist h4 a {
    color:inherit;
}
.leadvuserlist h4 a:hover {
    color:#000;
    text-decoration:none;
}
.leadvuserlist li:last-child h4 {
    border-color:transparent;
}

.leadvuserlist h4 small {
    display: block;
    font-size: 13px;
    line-height: 19px;
}
.leadvuserlist li {
    position: relative;
    padding: 10px 4px 10px 40px;
    min-height: 40px;
    border-bottom: 1px solid #f0f2f4 !important;
}
.leadvuserlist li figure {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    position: absolute;
    left: -5px;
    top: 14px;
}
.leadvuserlist li figure a {
    display:block;
    width:100%;
    height:100%;
}
.Leadvuser,
.Leadvtimeline,
.Leadvmypreference,
.Leadvtimeline
.Leadvuser {
    /* padding:8px */
}

.Leadvtimeline .leadvuserlist h4 {
    color: #9d9da5;
    font-size: 13px;
    line-height: 21px;
    margin: 0 0 6px;
    padding: 0 0 6px !important;
    font-weight: 300;
}
.Leadvtimeline .leadvuserlist h4 strong {
    font-weight:600;
}
.Leadvtimeline .leadvuserlist p {
    color: #9d9da5;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.secTitleLeadview {
    color: #626263;
    font-size: 22px;
    /*line-height: 28px;*/
    margin: 0;
    /*padding: 14px 15px;*/
    font-weight: 300;
    display: block;
    text-align: left;
    border-bottom: 1px solid #f0f2f4;
    /*Added By Apurba*/
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    padding: 0 15px;
}
.tobelater {
    color: #000000;
    font-size: 38px;
    line-height: 60px;
    margin: 0;
    padding: 15px 0;
    font-weight: 800;
    display: block;
    text-align: center;
    margin-top: 90px;
    font-style:  italic;
    color: #CCC;
    text-transform: uppercase;
}
.hideitt {
    position:absolute;
    left:-1000px;
    top:0;
    opacity:0;
}
.Leadvmypreference ul li {
    /* width:33.333%; */
    float:left;
}
.Leadvmypreference ul label {
    display:block;
    margin:0;
    padding: 4px;
    position:relative;
}
.checkitemm {
    display: block;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #dc6565;
    padding: 6px 12px;
    color: #dc6565;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    box-sizing: border-box;
    min-width: 109px;
    text-align: center;
}
.Leadvmypreference ul label:hover {
    cursor:pointer;
}
.hideitt:checked + .checkitemm {
    border-color: #ff3e3e;
    color: #fff;
    background-color: #ff3e3e;
    background-image: none;
}
.Leadvmypreference h4 {
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    padding: 5px 6px 4px;
    color: #9d9da5;
    /* text-transform: uppercase; */
}
.leftform li {
    position:relative;
    padding-right:20px;
}
.ldveditbtn {
    background: transparent url(../images/penicon.png) no-repeat center center / 86%;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    padding: 0;
    z-index: 9;
    margin: 0 0 0 19px;
}
.ldveditbtn:hover {
    cursor:pointer;
    background-image:url(../images/penicon-hover.png);
}
.cspanel .panel-heading {
    position:relative;
    padding-right:30px;
}
.Ledviconsec .collapseHead {
    pointer-events: inherit;
}
.lvModal {
    position:absolute;
    height:87%;
    width:100%;
    left:0;
    top:50px;
    display:none;
    font-family: 'Poppins', sans-serif;
    z-index:100000;
    background:#FFF;
}
.lvmodalOverlay {
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background-color:rgba(0,0,0,0.4);
    z-index:0;
}
.lvModalcont {
    position:relative;
    width:600px;
    background-color:#fff;
    margin:2rem auto;
    min-height:100px;
    z-index:2;
    max-width:100%;
}
.showaddsocialModal .addsocialModal,
.showcompanyeditModal .companyeditModal,
.showcompanyaddModal .companyaddModal,
.showeditemailModal .emaileditModal,
.showeditallemailModal .emailalleditModal,
.showaddemailModal .emailaddModal,
.showlvModal .editabout {
    display:block;
}
.editabout .lvModalcont{margin-top:0;}
.editabout .lvModalcont .lvmheader{    padding: 9px 0;}
.tocloselvmodal {
    background: transparent url(../images/error.svg) no-repeat center center / 86%;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 13px;
    padding: 0;
    top: 7px;
    z-index: 9;
}
.tocloselvmodal:hover {
    cursor:pointer;
    background-image:url(../images/error-hover.svg);
}
.lvmheader {
    padding: 20px 0;
    color: #5a5a5a;
}
.lvmdalTitle {
    text-align: center;
    margin: 0;
    padding: 0;
    color: inherit;
}
.formgrouplv {
    position:relative;
    margin-bottom: 7px;
}
.lvmdlinput {
    border:1px solid #d5d5d5;
    box-shadow: none;
    border-radius: 0;
    height: 40px;
    display: block;
    background-image: none;
    width: 100%;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.lvmdlinput {
    height:auto;
}
.lvmdlinput:focus {
    border-color: #3fad97;
    box-shadow: 0 0 8px rgba(63,173,151,0.41);
    outline: 0 none;
}
.lvmdalCont {
    padding:0 25px 15px;
}
.btndtllv {
    background-color: #3fad97;
    border:1px solid #3fad97;
    height: 38px;
    font-size: 19px;
    line-height: normal;
    font-weight: 300;
    border-radius: 40px;
    color:#fff;
    min-width: 128px;
    margin: 15px 2px 0;
    padding: 0 30px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}
.submitbtnlv {
    background-color: #3fad97;
    border-color:#3fad97;
}
.cancelbtnlv {
    color: #a3a3a3;
    background-color: transparent;
    border-color: #c4c4c4;
}
.text-center {
    text-align:center;
}
.panellv {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-headinglv {
    padding: 10px 30px 10px 15px;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f5f5;
    color: #333;
    position: relative;
}
.panel-titlelv {
    margin: 0;
    font-size: 13px;
    color: #9d9da5;
    font-family: inherit;
    font-weight: 600;
    position: relative;
    padding-right: 72px;
    box-sizing: border-box;
}
.listLv > li {
    /*color: #9d9da5;*/
    font-size: 13px;
    font-weight: 300;
    padding: 6px 0;
    position: relative;
    display: flex;
}
.listLv > li strong {
    font-weight:500;
    margin-right:5px;
}
.listLv > li:first-child {
    border-top: 0 none;
}

.text-orangeLV {
    color: #F3520A !important;
}
.listlvinline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.socilalv {
    display: inline-block;
    padding:10px 0 7px !important;
}


.tagslistlv>span {
    padding: 10px 44px 9px 17px;
    font-size: 15px;
    line-height: normal;
    font-weight: normal;
    color: #282828;
    display: inline-block;
    position: relative;
    background-color: #e3e6ec;
    border-radius: 30px;
    margin: 6px;
}
.tgnumbrlv {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #f45b17;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 0.03em;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.roundlv {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
}
.panel-bodylv {
    padding:10px;
}
.pull-leftlv {
    float: left!important;
}
.avatarassignlv figure {
    width: 52px;
    height: 52px;
    overflow: hidden;
    position: absolute;
    left: 0;
}
.avatarassignlv {
    padding: 0 0 0 60px;
    position: relative;
    min-height: 53px;
}
.avatarassignlv p {
    margin: 12px 0 0;
    color: #626262;
    font-size: 19px;
}
.Leadviewpop figure {
    margin: 0;
}
.Leadviewpop a {
    color:#24b3eb;
    text-decoration:none;
}
.Leadviewpop a:hover {
    text-decoration:none;
}
.itemchecklv {
    font-size: 13px;
    line-height: 21px;
    /*color: #9d9da5;*/
    margin: 15px 4px;
    display: block;
    position: relative;
    padding: 0 0 0 36px;
    font-weight: 300;
}
.itemchecklv:hover {
    cursor:pointer;
}
.radiiconlv {
    position: absolute;
    width: 16px;
    height: 16px;
    overflow: hidden;
    left: 0;
    top: 2px;
    border: 2px solid #ff3e3e;
}


.radiiconlv::after {
    width: 8px;
    height: 8px;
    background-color: #ff3e3e;
    overflow: hidden;

    position: relative;
    left: 4px;
    top: 4px;
    display: none;
    content: "";
}
.hideitt:checked + .radiiconlv::after {
    display:block;
}
.frequencyset {
    width: 230px;
    margin: 0 0 10px 40px;
}
.itemchecklv label,
.frequencyset label {
    margin-bottom: 6px;
    display: block;
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    color: #9d9da5;
    margin: 9px 0 2px;
}
.formgrouplv label {
    color: #5f5f5f;
    font-weight: 500;
    margin: 0 0 5px;
    display: inline-block;
    font-size: 15px;
    line-height: 21px;
}
.frequencyset .lvmdlinput {
    background: #ffffff url(../images/selectbg.png) no-repeat right 21px center;
    appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    -ms-appearance:none;
    -moz-appearance:none;
    height:35px;
    border-radius:7px;
    -o-border-radius:7px;
    -ms-border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-color:#24b3eb;
    background-color: #f1f1f1;
}
.frequencyset .lvmdlinput:focus {
    box-shadow: 0px 0px 9px 5px rgba(255, 31, 31, 0.06);
    border-color: #24b3eb;
}
.shortheight{height:35px !important}
.LeadcontDesk .popupheightchat{height: 446px;overflow-y:auto;overflow-x:hidden;}
.LeadcontDesk .popupheight{height: 490px;overflow-y:auto;overflow-x:hidden;box-sizing: border-box;width: 100%;}
.LeadcontDesk .popupheight.directory {height: 463px;}
.searchusers {
    width: 100%;
    padding: 10px;
    margin:0;
    box-shadow: none;
    border: none;
    height: 46px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 19px;
    border-radius: 7px;
    background-image:url("../images/searchicon.png");
    background-repeat:no-repeat;
    background-position:right 13px center
}
.searchusers:focus,
.searchusers:hover{ box-shadow: #3797a0 0px 0px 2px;
    outline:0 none;
    border: none;}
.userserchwrp {
    position: absolute;
    width: 100%;
    padding: 15px 17px;
    border-bottom: 1px solid #f0f2f4;
    box-sizing: border-box;
    height: 77px;
}

.serchdesk {
    height: 77px;
    position:relative;
}
.LeadcontDesk .padding5{padding: 10px;}
.chatmessage {
    min-height: 90px;
    /*max-height: 220px;*/
    overflow: auto;
}
.attf {
    padding: 0;
    background: transparent url(../images/attachmenticon.png) no-repeat center center / 100% auto;
    width: 22px;
    height: 22px;
    margin: 6px 9px;
    position: relative;
    overflow: hidden;
    display:inline-block;
}
.attf input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.chtinput {
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    color: #2c2c2c;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    display: block;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    box-sizing: border-box;
}
.chatmessage ul {
    padding: 0;
    margin: 0;
}
.chatmessage li {
    padding: 10px;
    position: relative;
}
.chatmessage li.she {
    padding-left: 55px;
}
.chatmessage li.she {
    padding-left: 55px;
}
.avatarchatimg {
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 10px;
}
.avatarchatimg.round, .availibility.round {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
}
li.me .avatarchatimg {
    right: 10px;
}
li.she .avatarchatimg {
    left: 10px;
}
li.me {
    text-align:right;
}
.chattxt {
    font-size: 13px;
    line-height: 20px;
    padding: 8px 14px;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    overflow-wrap: break-word;
}
.btn-blockcs {
    display: block;
    width: 100%;
}
.timechat {
    color: #a9a9a9;
    font-size: 13px;
    line-height: 19px;
    display: inline-block;
    margin-top:7px;
}

.leadvuserlist {
    padding:10px 17px 10px 20px !important;
}
.chtroom {
    position: relative;
    padding: 10px 19px 6px;
    overflow: hidden;
    height: 80px;
}
.chtroom .chtinput {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 6px;
    color: #9d9da5;
    font-size: 13px;
    line-height: 19px;
    padding: 8px 60px 8px 10px;
    font-family: 'Poppins', sans-serif;
    /* padding: 10px; */
}
.chtroom .chtinput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9d9da5;
}
.chtroom .chtinput::-moz-placeholder { /* Firefox 19+ */
    color: #9d9da5;
}
.chtroom .chtinput:-ms-input-placeholder { /* IE 10+ */
    color: #9d9da5;
}
.chtroom .chtinput:-moz-placeholder { /* Firefox 18- */
    color: #9d9da5;
    opacity:1;
}
.chtroom .attf {
    width: 10px;
    height: 23px;
    margin: 17px 19px;
    position: absolute;
    right: 15px;
    top: 3px;
    z-index: 2;
    cursor: pointer;
}
.chtroom .attf:hover {
    cursor:pointer;
}
.addbtnlv {
    background: transparent url(../images/addicon.png) no-repeat left center;
    width: auto;
    min-height: 11px;
    min-width: 11px;
    font-size: 12px;
    line-height: 18px;
    color: #ff0809;
    font-weight: 300;
    padding: 0 0 0 18px;
    position: absolute;
    right: 0;
    top: 0;
}
.addbtnlv:hover {
    background-image:url("../images/addicon-hover.png");
    color:#000000;
}
.showeditallphoneModal .editallphoneModal,
.showeditphoneModal .editphoneModal,
.showaddphoneModal .addphoneModal {display:block;}
.withctnnumber {
    padding-left:100px;
    position:relative;
}
.countryCodelv {
    width:95px;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
}

.lvcommnt label {
    color: #626262;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.withfileup {
    position: relative;
}
.lvcommnt textarea.form-control {
    height: 55px;
    resize: vertical;
    border-radius: 7px;
    color: #9d9da5;
    font-size: 13px;
    line-height: 19px;
    padding: 17px 0 0 49px;
    vertical-align: middle;
}
.lvcommnt textarea.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9d9da5;
}
.lvcommnt textarea.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #9d9da5;
}
.lvcommnt textarea.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #9d9da5;
}
.lvcommnt textarea.form-control:-moz-placeholder { /* Firefox 18- */
    color: #9d9da5;
    opacity:1;
}
.lvcommnt textarea.form-control:focus {
    outline: 0 none;
    box-shadow: 0px 0px 9px 5px rgba(255, 31, 31, 0.06);
    border-color: #dc6565;
}


.lvcommnt .form-control {
    border-color: #d5d5d5;
    box-shadow: none;
    border-radius: 0;
    box-sizing:border-box;
    width:100%;
}
.lvcommnt {
    padding: 3px 0;
}
.lvcommnt .upfiletimel {
    position: absolute;
    top: 13px;
    left: 20px;
    width: 19px;
    height: 28px;
    margin: 0;
    display: block;
    vertical-align: middle;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px solid #f1f1f1;
}
.lvcommnt .upfiletimel span {
    display: block;
    margin-top: 3px;
}
.Leadvtimeline .leadvuserlist .lvcommnt h4 {
    padding:0;
}
.commntList {
    margin: 0;
    padding: 0;
}
.commntList li {
    position: relative;
    padding-left: 41px;
    border-top: 1px solid #e8e8e8 !important;
    padding-top: 11px;
    margin-bottom: 5px;
    min-height: 46px;
    border-bottom:none !important;
}
.commntList li:first-child {
    border-top: 0 none;
}
.lvcommnt figure.round {
    width: 33px;
    height: 33px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 21px;
}
.lvcommnt .commntList li figure.round {
    left: 0;
    top: 14px;
}
.avnamcbx {
    color: #626262;
    font-size: 16px;
    line-height: normal;
    margin: 0 0 4px;
    font-weight: 300;
}
.Leadviewpop .text-orange {
    color: #F3520A !important;
    font-size: 13px;
}
.lvcommnt .hidit {
    opacity:0;
    position:absolute;
    width:100%;
    height:100%;
}
.msgEmogi {
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    margin: 17px 19px;
    position: absolute;
    right: 35px;
    top: 0px;
    z-index: 11;
}
.msgEmogi img {
    display: block;
    width: 22px;
    height: 22px;
}
.lastchat {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 38px;
    padding: 2px 0;
    border-radius: 10px;
    text-transform:capitalize;
}


.chatheadermenu {

}

.chatmessage .chatpast {
    display: block;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
li.chatpast:first-child {
    padding-top: 10px;
}
.timechat {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    background-image: url(../images/timeicon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 23px;
    padding-top: 2px;
}
.datechat {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    background-image: url(../images/calendar.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 23px;
    padding-top: 2px;
    background-size: 15px;
}
.msgbtn {
    background: #dc6565 url(../images/sendicon.png) no-repeat center center;
    box-shadow: 0px 0px 13px 1px rgba(255, 31, 31, 0.17);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    right: 17px;
    bottom: 10px;
    margin: 17px 19px 0 0;
    z-index: 111;
    border: 0 none;
}
.msgbtn:focus {outline:0 none;}
.chtroom .attf:hover,
.msgbtn:hover {
    cursor:pointer;
}


.openmesagecont {
    margin: 0;
    border: 0 none;
    height: 54px;
    padding: 10px 15px 10px 59px;
    background-color: #3b2e4a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    width: 100%;
    text-align: left;
    background-image: url(../images/envelope.png);
    background-repeat: no-repeat;
    background-position: left 22px center;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow:hidden;
}
.senmsgicon {
    margin: 0 0 32px;
    border: 0 none;
    height: 54px;
    padding: 10px 15px 10px 59px;
    background-color: #ffffff;
    color: #b1b1b9;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    width: 100%;
    text-align: left;
    background-image: url(../images/snedmsgicon.png);
    background-repeat: no-repeat;
    background-position: left 22px center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 4px 29px 8px rgba(182, 184, 186, 0.3);
}
.senmsgicon::after {
    background: transparent url(../images/sendmsgdrop.png) no-repeat center top;
    width: 61px;
    height: 49px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -49px;
}
.shwmsgcount {
    position: absolute;
    right: -40px;
    top: -67px;
    background-color: rgba(255,255,255,0.11);
    border-radius: 100%;
    width: 125px;
    height: 125px;
    padding: 0;
    color: #ffffff;
    display: block;
    font-size: 13px;
    line-height: 194px;
    padding-left: 43px;
    box-sizing: border-box;
}
.messagelv {
    position:fixed;
    width:342px;
    bottom:0;
    right:10px;
    font-family: 'Poppins', sans-serif;
}
.senusmesg button:hover {
    cursor:pointer;
}
.senusmesg button:focus {
    outline:0 none;
}
.supportfrm {
    display:none;
    box-shadow: 0px 4px 29px 8px rgba(182, 184, 186, 0.3);
}
.spfrmbtn {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow:hidden;
    height:auto;
    width:100%;
    color:#ffffff;
    font-weight:normal;
    border:0 none;
    font-size:0;
    line-height:0;
    text-align:center;
    box-sizing:border-box;
    padding:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#24b2ea+0,0775c9+100 */
    background: rgb(36,178,234); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(36,178,234,1) 0%, rgba(7,117,201,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(36,178,234,1) 0%,rgba(7,117,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(36,178,234,1) 0%,rgba(7,117,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24b2ea', endColorstr='#0775c9',GradientType=1 ); /* IE6-9 */
}
.btnsubmitmsg {
    height:46px;
    width:100%;
    color:#f1f1f1;
    font-weight:normal;
    border:0 none;
    font-size:0;
    line-height:0;
    text-align:center;
    font-weight:normal;
    font-size:18px;
    line-height:24px;
    border-radius:5px;
    box-sizing:border-box;
    padding:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#24b2ea+0,0775c9+100 */
    background: rgb(36,178,234); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(36,178,234,1) 0%, rgba(7,117,201,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(36,178,234,1) 0%,rgba(7,117,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(36,178,234,1) 0%,rgba(7,117,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24b2ea', endColorstr='#0775c9',GradientType=1 ); /* IE6-9 */
    cursor:pointer;
}
.spfrmbtn > span {
    background:transparent url("../images/minusline.png") no-repeat right 19px center;
    display:block;
    height:58px;
    font-size:20px;
    line-height:21px;
    box-sizing:border-box;
    padding:18px 0;
    width:100%;
}
.formsupportlv {
    background-color:#f1f1f1;
    padding: 17px 18px 8px;
}
.formsupportlv label {
    color:#808080;
    font-size:14px;
    line-height:20px;
    font-weight:normal;
    margin: 0 0 1px;
    width:100%;
}
.inputslv {
    color:#24b3eb;
    font-size:14px;
    line-height:20px;
    font-weight:normal;
    margin:0;
    box-sizing:border-box;
    width:100%;
    border-radius:5px;
    padding:10px;
    background-color:#f1f1f1;
    height: 35px;
    border:1px solid #24b3eb;
    box-shadow: 0px 0px 9px 5px rgba(13, 142, 192, 0.06);
}
.inputslv:focus {
    outline:0 none;
}
textarea.inputslv {
    height:auto;
}
/*theme css below*/
.Ledvpophead button {
    background-color: transparent;
    color: #fff;
}
.Ledvpophead {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6463+0,ff0101+100 */
    background: rgb(255,100,99); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,100,99,1) 0%, rgba(255,1,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,100,99,1) 0%,rgba(255,1,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,100,99,1) 0%,rgba(255,1,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6463', endColorstr='#ff0101',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    left: -72px;
    z-index: 100;
    bottom:100px;
}
.Ledviconsec {
    display:none;
}
.chatmessage {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    overflow: auto;
    background-color: #ffffff;
}
.chatpast a {
    color:#b1b1b9;
}

li.me .chattxt {
    background-color: #dc6565;
    color: #ffffff;
    box-shadow: 0px 0px 19px 2px rgba(255, 31, 31, 0.17);
}
li.she .chattxt {
    background-color: #ffffff;
    color: #1d206a;
    box-shadow: 0px 0px 13px 7px rgba(177, 177, 185, 0.17);
}
.chtinput {
    border-color:#dc6565;
}
.chtinput:focus {
    outline:0 none;
    box-shadow:0px 0px 9px 5px rgba(255, 31, 31, 0.06);
}

.chtroom .chtinput {
    color: #7c7c7d;
}

.msgbtn {
    background-color:#dc6565;
    box-shadow: 0px 0px 13px 1px rgba(255, 31, 31, 0.17);
}

.leadvuserlist h4 {
    color: #626263;
}
.leadvuserlist h4 small {
    color: #9d9da5;
}
.lastchat {
    color: #7abd6c;
}
.lastchat {
    color: #ff3635;
}
.searchusers {
    background-color: #eef0f2;
    color: #9d9da5;
    border-color: #eef0f2;
}
.formgrouplv .lgview_halftext{width:48%}
.formgrouplv .lgview_halftext:last-child{margin-left:2%}
.cmntlist li {
    border:0 none;
}
.Leadviewpop .cmntlist .text-orange {
    color: #dc6565 !important;
}
.panelbox {
    border-top:1px solid #f0f2f4;
    padding:15px 0 18px;
}
.profileseclv {
    position: relative;
    padding: 18px 0 18px 50px;
    border: 0 none;
}
.profileseclv p {
    color:#626263;
    font-size:22px;
    line-height:28px;
    margin:0;
    padding:0;
    font-weight:300;
}
.profileseclv figure {
    overflow:hidden;
    width:35px;
    height:35px;
    position:absolute;
    left:0;
    top:12px;
}
.leadvprofileWidget .padding5 {
    padding:0 17px;
}
.listLv > li.addreslv {
    position:relative;
    padding-left:70px;
}
.addreslv strong {
    position:absolute;
    top:5px;
    left:0;
}
.chatlist{display:none}
.formgrouplv  select{
    background: transparent url(../images/selectbg.png) no-repeat right 10px center;
    appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    -ms-appearance:none;
    -moz-appearance:none;
    height:35px;
    border-radius:7px;
    border:1px solid #24b3eb;
    /*background: transparent;*/
    padding: 0 2%;
    color: #24b3eb;
}
.formgrouplv .lgview_forty{width:40%}
.formgrouplv .lgview_twenty{width:17%}
#notifyMeEmail,
#frequencyset{display:none}
.leadview360_tooltip {
    position: relative;
    display: inline-block;

}
.leadview360_tooltip span.tooltipb{
    background: transparent url(../images/info_icon.svg) no-repeat center center;
    width:25px;
    height:25px;
    display:inline-block;
    background-size:cover;
    position: relative;
    top: 7px;
    cursor:pointer;
}
.chatbutton2{
    font-size: 12px;
    height: 35px;
    width: 90%;

    background: #1ec1b2;
    font-weight: bold;
    line-height: 24px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: #f1f1f1;
    border: 0 none;
    cursor:pointer;
}

.panelbox a.chatbutton2{
    padding: 1px 6px;
    color: #f1f1f1 !important;
}

.leadview360_tooltip .tooltiptext {
    visibility: visible;
    width:300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right:-15px;
    opacity: 0;
    transition: opacity 0.3s;
    background-image:none;
    font-size:11px;
    padding:5px;
    cursor:pointer;
}

.leadview360_tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.leadview360_tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.itemchecksublv {
    font-size: 13px;
    line-height: 21px;
    color: #9d9da5;
    margin: 15px 4px;
    display: block;
    position: relative;
    padding: 0 0 0 36px;
    font-weight: 300;
}
.itemchecksublv:hover {
    cursor:pointer;
}
.radiiconlroundv {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius:100%;
    overflow: hidden;
    left: 0;
    top: 2px;
    border: 2px solid #ff3e3e;
}


.radiiconlroundv::after {
    width: 8px;
    height: 8px;
    background-color: #ff3e3e;
    overflow: hidden;
    border-radius:100%;
    position: relative;
    left: 4px;
    top: 4px;
    display: none;
    content: "";
}
.hideitt:checked + .radiiconlroundv::after {
    display:block;
}
.leadvuserlist h4 i{background: #a0a1a2;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -2px;}
.leadvuserlist h4 i.online{background: #51d655;}
.userlistbuttons{
    margin-left: -40px;
}
.userlistbuttons .userbutton{
    padding-right: 14px;
}
.userlistbuttons .userbutton:last-child{
    padding-right: 0px;
}
.userlistbuttons .userbutton a{
    font-size: 12px;
    color: #ff8f03;
    padding-left: 22px;
    font-weight: 500;
}
.userlistbuttons .userbutton a.schedulemetting{
    background: transparent url(../images/meeting.svg) no-repeat left center;
    background-size: 18px 18px;
    color:#24b3eb;
}
.userlistbuttons .userbutton a.leavemessage{
    background: transparent url(../images/speech-bubble.svg) no-repeat left center;
    background-size: 20px 17px;
}
.userlistbuttons .userbutton a:hover{}

.Leadvtimeline h3 {
    font-size: 14px;
    color: #666;
    font-weight: 500;
    /*margin-bottom: 5px;*/
}
.formsupportlv label span{

    font-size: 12px;
}
.chatform .inputslv{height:35px;}
.chatform .formgrouplv{margin-bottom: 10px;}
/*added by Apurba*/
.chatform textarea.inputslv {height: auto;}
.bg-form {background: #f1f1f1;}
.position {font-size: 12px;margin-left: 5px;}
label.gdpr-msg {font-size: 12px !important;}
label.gdpr-msg span {position: relative;padding-left: 36px;}
label.gdpr-msg input[type=checkbox] {position: absolute;opacity: 0;}
label.gdpr-msg span:before {content: "";width: 16px;height: 16px;border: 2px solid #ff3e3e;display: block;left: 0;top: 2px;position: absolute;}
label.gdpr-msg input[type=checkbox]:checked + span:after {content: "";position: absolute;left: 6px;top: 8px;width: 8px;height: 8px;background: #ff3e3e;}
span.tooltip-container {display: flex;justify-content: center;align-items: center;}
span.tooltip-container:hover > span.tooltip {display: inline-block;}
span.tooltip {position: absolute;bottom: 100%;background: #555;padding: 3px 7px;display: none;font-size: 11px;color: #fff;border-radius: 5px;z-index: 99;font-weight: 600;}
span.tooltip.left {position: absolute;right: calc(100% + 10px);background: #555;padding: 3px 7px;display: none;font-size: 11px;color: #fff;border-radius: 5px;z-index: 99;font-weight: 600;top: 50%;bottom: inherit;/* white-space: nowrap; */-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%);width: 250px;}
span.tooltip:after {position: absolute;top: 100%;content: "";border-top: 7px solid #555;border-right: 5px solid transparent;border-left: 5px solid transparent;left: calc(50% - 3.5px);line-height: 22px;}
span.tooltip.left:after {position: absolute;left: 100%;content: "";border-top: 5px solid transparent;border-right: 0px solid transparent;border-left: 7px solid #555;border-bottom: 5px solid transparent;top: calc(50% - 5px);line-height: 22px;}
.d-flex {display: flex !important;}
.d-flex.justify-center {justify-content: center;}
.d-flex.justify-betwen {justify-content: space-between;}
.btn-close-popup {display: flex;position: fixed;bottom: 0;right: 10px;height: 50px;width: 50px;border-radius: 50%;box-sizing: border-box;line-height: 50px;justify-content: center;border: none;align-items: center;cursor: pointer;outline: none;background: #ea4f4f;}
#closeChat {display: none;}
.chat-msg {position: absolute;bottom: calc(100% + 20px);padding: 15px;right: 0;background: #ffffff;font-size: 14px;color: #333;font-weight: 400;font-family: 'Poppins', sans-serif;width: 300px;text-align: left;line-height: 18px;box-shadow: 0px 0px 35px 0px #e1e1e1;border-radius: 5px;}
.chat-msg:before {background: transparent url(../images/sendmsgdrop.png) no-repeat center top;width: 50px;height: 49px;content: "";display: block;position: absolute;top: 100%;right: 0;}
#navigation {display: none;}
.poweredBy {font-size: 12px;line-height: 18px;text-align: center;display: block;color: #b1b1b9;padding: 0 0 10px 0;}
.mb-10 {margin-bottom: 10px;}


.custom-fluid-checkbox {position: relative;background: #fff;padding: 5px 0;width: 100%;margin: 0px 0;display: block;font-weight: 600;}
label.swipe-checkbox {position: relative;}
label.custom-fluid-checkbox.swipe-checkbox>input[type=checkbox]+span {padding-left: 0px;position: relative;display: block;font-size: 13px;line-height: 26px;}
label.swipe-checkbox input[type=checkbox] {position: absolute;opacity: 0;}
label.swipe-checkbox input[type=checkbox] ~ span:before {content: "No";position: absolute;right: 0;background: #c3c3c3;color: #fff;font-weight: 400;border-radius: 15px;border: 2px solid #eee;left: auto;padding: 2px 10px 2px 30px;display: block;height: 26px;text-align: left;width: 80px;box-sizing: border-box;line-height: 18px;cursor: pointer;}
label.swipe-checkbox input[type=checkbox] ~ span:after {content: "";position: absolute;height: 20px;right: 56px;background: #fff;width: 20px;border-radius: 50%;box-shadow: 0px 0px 5px 0px #ccc;top: 3px;-webkit-transition: .2s ease-out;-moz-transition: .2s ease-out;transition: .2s ease-out;}

label.swipe-checkbox input[type=checkbox]:checked ~ span:before {content: "Yes";position: absolute;right: 0;background: #52b5a1;color: #fff;font-weight: 400;border-radius: 15px;border: 2px solid #eee;left: auto;padding: 2px 30px 2px 10px;display: block;height: 26px;text-align: right;width: 80px;}
label.swipe-checkbox input[type=checkbox]:checked ~ span:after {content: "";position: absolute;height: 20px;right: 3px;background: #fff;width: 20px;border-radius: 50%;box-shadow: 0px 0px 5px 0px #ccc;top: 3px;left: auto;-webkit-transition: .2s ease-out;-moz-transition: .2s ease-out;transition: .2s ease-out;}
.addcoocke {background: rgba(0, 0, 0, 0.6);}
.showcoockModal .addcoocke, .addcoocke.showNow {display: block;}
.showcoockeditModal .editcoocke {display: block;}
.more {display: inline-block;background: #24b3eb;color: #fff !important;line-height: 22px;padding: 0 5px;border-radius: 3px;}
.pl-0 {padding-right: 0 !important;}
.pr-0 {padding-left: 0 !important;}
ul.social-sharing {padding: 15px;margin: 0;display: block;}
ul.social-sharing>li {list-style: none;display: block;}
ul.social-sharing>li>a {display: flex;text-decoration: none;line-height: 40px;padding: 0 10px;font-size: 14px;color: #fff;margin: 5px 0;align-items: center;border-radius: 5px;font-weight: 500;}
ul.social-sharing>li>a>img {margin-right: 15px;display: inline-block;line-height: 36px;}
ul.social-sharing>li>a.facebook {background: #3a559f;}
ul.social-sharing>li>a.twitter {background: #55acee;}
ul.social-sharing>li>a.pinterest {background: #c8232c;}
ul.social-sharing>li>a.linkedin {background: #007ab9;}
.h-auto {height: auto !important}
.bookmark-block {padding: 15px;}
.btn-bookmark {
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    background: rgb(255,100,99);
    background: -moz-linear-gradient(-45deg, rgba(255,100,99,1) 0%, rgba(255,1,1,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,100,99,1) 0%,rgba(255,1,1,1) 100%);
    background: linear-gradient(135deg, rgba(255,100,99,1) 0%,rgba(255,1,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6463', endColorstr='#ff0101',GradientType=1 );
    width: 100%;
    border: none;
    cursor: pointer;
}
ul.timeline-filter {display: inline-block;float: right;padding: 0;margin: 0;}
ul.timeline-filter>li {display: inline-block;list-style: none;position: relative;}
ul.timeline-filter>li>ul.timeline-sub-filter {display: none;position: absolute;top: 100%;left: 0;background: #fff;box-shadow: 0 0 5px 1px #ccc;z-index: 9;width: 130px;}
ul.timeline-filter>li>ul.timeline-sub-filter>li {display: block;}
ul.timeline-filter>li:hover>ul.timeline-sub-filter {display: block;}
ul.timeline-filter>li>a, ul.timeline-filter>li>ul.timeline-sub-filter>li>a {display: block;font-weight: 400;color: #333;text-decoration: none;padding: 0 5px;line-height: 46px;border-bottom: 2px solid transparent;font-size: 13px;}
ul.timeline-filter>li>ul.timeline-sub-filter>li>a {padding-left: 10px;padding-right: 10px;line-height: 30px;}
ul.timeline-filter>li>ul.timeline-sub-filter>li:hover>a {background: #f3f3f3;}
ul.timeline-filter>li:hover>a {border-color: #ea4f4f;}

.Leadviewpop .lgchatemailtype img{    margin-top: -6px;
    margin-right: 5px;
}
.Leadviewpop .lgaboutform{max-height: 400px;
    overflow: auto;}

.Leadviewpop .redbutton{background:#ea4f4f}
.Leadviewpop .datamanagerbox{
    background: #f8f8f8;
    padding: 0px 16px !important;
    margin: 0px -17px;
}
.Leadviewpop .datamanagerbox h5{color: #626263;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding: 5px 0px;
}
.Leadviewpop .datamanagerbox .leadvuserlist li{padding-top:0px}

.Leadviewpop .addsocialModal .formgrouplv select,
.Leadviewpop .emaileditModal .formgrouplv select,
.Leadviewpop .emailaddModal .formgrouplv select,
.Leadviewpop .addphoneModal .formgrouplv select,
.Leadviewpop .editphoneModal .formgrouplv select {
    border: 1px solid #d5d5d5;
    color: #555;
    border-radius: 0;
    padding: 9px;
    height: 40px;}
.Leadviewpop .serchinput{position:relative; width:100%; margin:auto}
.Leadviewpop .serchinput .lvmdlinput{  box-shadow: 0px 0px 10px  0px #eee; border: 0 none;}
.Leadviewpop .srchbtn {
    position: absolute;
    right: 1px;
    top: 2px;
    background: #ffffff url("http://template1.teexponent.com/leadview360/html/assets/images/search-ico.png") no-repeat center center;
    border: 0 none;
    border-left: 1px solid #e5e5e5;
    padding: 0;
    width: 32px;
    height: 91%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;

}
.LeadcontDesk #Leadvtimeline .popupheight{height: 446px;}
.popStyle2 .Leadviewpop .Ledvpophead{    display: block;bottom: -55px; left: inherit;}
.popStyle2 .Leadviewpop .Ledvpophead.movetoleft{      left: -72px; bottom: 100px;}
.popStyle2 .Leadviewpop .Ledvpophead .chatheadermenu > li{ float:left;padding: 7px 5px !important;}
.popStyle2 .Leadviewpop .Ledvpophead.movetoleft .chatheadermenu > li{ float:none;padding: 7px 7px !important;}
.popStyle2 .Leadviewpop .Ledvpophead#navigation{display:block}
.popStyle2 .Leadviewpop .Ledvpophead#navigation{display:block}
.popStyle2 .Leadviewpop ul.chatheadermenu{    padding: 3px 6px 3px;}
.popStyle2 .chat-msg{     bottom: calc(100% + 32px);}
.popStyle1 .Leadviewpop .Ledvpophead#navigation{display:none}
.popStyle1 .Leadviewpop .Ledvpophead.movetoleft#navigation{display:block}
.popStyle3 .Leadviewpop{right:0}
.popStyle3 .Leadviewpop .Ledvpophead#navigation{display:block;    right: 0; left:inherit;    transition: .2s ease-out;}
.popStyle3{position:relative}
.popStyle3  .chat-msg {
    width: 200px;
    right: 80px;
    left: inherit;
    bottom: inherit;
    top: 0;
    height: auto;
}
.Leadviewpop #navigation .chat-msg{display:none}
.popStyle3 .Leadviewpop #navigation .chat-msg{display:block}
.popStyle3 .Leadviewpop #navigation .chat-msg:before {
    background: transparent url(../images/sendmsgdrop.png) no-repeat center top;
    width: 50px;
    height: 49px;
    content: "";
    display: block;
    position: absolute;

	right: -49px;
    left: inherit;
    transform: rotate(-90deg);
    top: 0;
}
.popStyle3 #openChat{display:none !important}
.popStyle3 .Leadviewpop .Ledvpophead.movetoleft#navigation{ right: 343px;}
.popStyle3 .Leadviewpop .Ledvpophead.movetoleft#navigation .chat-msg{display:none}