.chatbox {
    position: fixed;
    bottom: -340px;
    right: 0;
    z-index: 9999;
    width: 275px;
    background-color: #fff;
    border:1px solid #00863f;
}
.chatbox.showchat {
    bottom:0;
    background-color: #fff;
    -webkit-transition: 400ms;
    transition: 400ms;
}
.chatbox.minimizebnow {
    height:27px;
}
.chatmessage {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    min-height: 90px;
    max-height: 220px;
    overflow: auto;
}

.chatmessage ul {
    padding: 0;
    margin: 0;
}
.chattitle {
    background-color: #3b3f51;
    padding:4px 30px 4px 25px;
    color: #ffffff;
    position:relative;
}
.chattitle a {
    text-decoration:none;
    color:inherit;
}
.avatarchat {
    font-size: 13px;
    line-height: 19px;
    display: block;
}
.availibility {
    width: 9px;
    height: 9px;
    overflow: hidden;
    background-color: grey;
    display: block;
    position: absolute;
    left: 8px;
    top: 9px;
    background-color: #CCCCCE;
}
.online {
    background-color:#3fad97;
}
/*.minimizeit {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    line-height: 22px;
    padding: 12px 7px;
}*/
.minimizeit {
    position: absolute;
    right: 4px;
    top: 0;
    /* font-size: 15px; */
    /* line-height: 22px; */
    padding: 0;
    height: 100%;
    width: 16px;
    vertical-align: middle;
    background: transparent url(minmax.png) no-repeat center center / contain;
}
.minimizeit img {
    display:none;
}
.offchat {
    position: absolute;
    right: 1px;
    top: 0px;
    font-size: 25px;
    line-height: 23px;
    font-weight: 300;
    padding: 0 6px;
}
.avatarchatimg {
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    position:absolute;
    top:10px;

}
.avatarchatimg img {
    width:auto;
    max-width:100%;
    min-width:100%;
    min-height:100%;
    height:auto;
}
.chatmessage li {
    padding:10px;
    position:relative;
}
.chatmessage li.me {
    padding-right:55px;
    text-align:right;
}
.chatmessage li.she {
    padding-left:55px;
}
li.me .avatarchatimg {
    right:10px;
}
li.she .avatarchatimg {
    left:10px;
}
.chattxt {
    font-size: 13px;
    line-height: 20px;
    padding:6px 14px;
    border-radius: 50px;
    width: auto;
    display: block;
    overflow-wrap:break-word;
}
.chattxt a {
    display:block;
    overflow-wrap:break-word;
}
li.me .chattxt {
    background-color:#0a99f3;
    color:#f2f2f2;
}
li.she .chattxt  {
    background-color:#EBEBEB;
    color:#2c2c2c;
}
.timechat {
    color:#a9a9a9;
    font-size:13px;
    line-height:19px;
    display:inline-block;
    margin-top:3px;
}

.chatmessage .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ff7d43;
}

.chatmessage .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.chatmessage .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #3DAF98;
}
.chtinput {
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    color: #2c2c2c;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    display: block;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    box-sizing: border-box;
}
.chtinput:focus {
    box-shadow: none;
    border-color: #3DAF98;
    outline: 0 none;
}
.avatarchatimg.round,
.availibility.round {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
}
.attf input {
    position:absolute;
    opacity:0;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.attf {
    padding:5px;
    background:transparent url("../images/attachment-icon.png") no-repeat center center / auto auto;
    width: 22px;
    height: 22px;
    margin: 6px 9px;
    position: relative;
    overflow:hidden;
}
#errDv:empty {
    display:none;
}
#errDv {
     padding: 0 10px;
    color: red;
    font-size: 13px;
    line-height: 19px;
    overflow-wrap: break-word;
}
.warning {
     padding: 0 10px;
    color: red;
    font-size: 13px;
    line-height: 19px;
    overflow-wrap: break-word;
}