<link rel="stylesheet" href="http://www.leadview360.com/assets/remote-work/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="http://www.leadview360.com/assets/remote-work/remote.css">
<!--<script src="http://www.leadview360.com/assets/remote-work/jquery.mCustomScrollbar.concat.min.js"></script>-->

<section class="chatbox showchat">
    <div class="chattitle" onclick="toggleBox();">
        <span class="online availibility round"></span>
        <a href="javascript:void(0);" class="avatarchat">Leadview360 Support -</a>
        <a href="javascript:void(0);" class="minimizeit"><i class="fa fa-minus" aria-hidden="true"></i></a>
    </div>
    <div class="cbx" id="chbx">
        <div class="chatmessage mCustomScrollbar1" id="chatmessage">
            <ul class="list-unstyled chatArea" id="chatArea">

            </ul>
        </div>
        <div id="errDv"></div>
        <input type="text" id="inputArea" placeholder="write your query.." class="chtinput" name="" onkeydown="typeMessage(event,this.value)">
        <label class="attf"><input type="file" id="fileAttach" onchange="selectFile(event)"/></label>
    </div>

</section>

