<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">
  <ng-container *ngIf="current_view=='L'">
    <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
      <div class="panel panel-default cspanel">
        <div class="panel-heading collapseHead">
          <h2 class="panel-title">
            Filter
            <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
          </h2>
        </div>
        <div class="panerl-body collapseBody">
          <ul class="list-unstyled leftform">
            <li class="withicon">
              <input type="text" class="form-control" placeholder="Type keyword..." (change)="kywordFilter($event)"  [(ngModel)]="searchText">
              <i class="fa fa-search" aria-hidden="true"></i>
            </li>

            <li class="">
              <label>Due date</label>
              <p-calendar name="due_date" ngClass="dateflt" [(ngModel)]="dueDate" (onSelect)="ddFilter(dueDate)" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
              <div class="tooltipuc"><span class=" text-orange pull-right"><u><a href="javascript:;" (click)="clearFilter($event)">Clear Date</a></u></span>
                <div class="clearfix"></div>

                <div class="tooltipcontuc" style="display:none;">
                  <div class="conttooltip">
                    Lorem ipsum is asimply dammy text
                  </div>
                </div>
              </div>
            </li>


            <!--<li class="">
              <label>Related Contact</label>
              <input type="text" class="form-control" placeholder="Search by contact" name="">
            </li>-->

            <li class="fulmlty">
              <label>Assigned to</label>
              <p-multiSelect [options]="managerList" [(ngModel)]="selectedMngrs" (onChange)="managerFilter($event)" [defaultLabel]="'Managers'" [styleClass]="'form-control'"></p-multiSelect>
            </li>
            <li class="">
              <label>Status</label>
              <select class="form-control sumoselect" id="showcontacts2" placeholder="Show Status" (change)="statusFilter($event)">
                <option selected="" value="">Any</option>
                <option value="1">Opened</option>
                <option value="0">Closed</option>
              </select>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="white_bg">
        <div class="clearfix">
          <h2 class="tabltitle pull-left text-orange">Tasks</h2>
          <div class="listGrid pull-left">
            <a href="javascript:;" (click)="changeView('L')" class="sl"><i class="fa fa-list-ul"></i> List View</a>
            <a href="javascript:;" (click)="changeView('C')"><i class="fa fa-list-alt"></i> Week View</a>
            <a href="javascript:;" (click)="changeView('C')"><i class="fa fa-table"></i> Calender View</a>
          </div>
          <ul class="list-unstyled pull-right btnnewlist clearfix">
            <li class="pull-left">
              <button class="btn btn-warning addbtn openaddcontact btn-lgcs" (click)="openCreateTask('addtaskmodal',null)">Add Task</button>
            </li>

            <li class="pull-left">
              <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
              <div class="settignmenu shownewdrop actionpop" style="display:none;">
                <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
                <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
                <ul class="list-unstyled acmenu">
                  <li><a href="javascript:void (0);" (click)="delAll()">Delete</a></li>
                </ul>
              </div>
            </li>
            <li class="pull-left settingli">
              <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
              <div class="settignmenu shownewdrop" style="display:none;">
                <h4>Table menu item</h4>
                <ul class="list-unstyled itemlist">
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" name="">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Title
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" name="">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Expected closer date
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" name="">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Budget
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" name="">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Opportunity type
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" name="">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Status
                    </label>
                  </li>
                </ul>

                <div class=" text-center bordertop btnwrp">
                  <input type="button" value="Save" class="btn btn-success csbtn" name="">
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="table_default newtbl">
          <table class="table" id="sortingTable">
            <thead>
            <tr *ngIf="myList != null && myList.length >0">
              <th>
                <label>
                  <!--<input class="hidden" type="checkbox" name="">
                  <div class="checkico">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                  </div>-->
                </label>&nbsp;&nbsp;Created Date</th>
              <th>Title</th>
              <th>Assign to</th>
              <th>Status</th>
              <th>Due Date</th>
              <th class="tbaction">&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let val of myList">
              <td width="160" data-th="Created Date">
                <label>
                  <input class="hidden" value="{{val?.task.id}}" type="checkbox" (change)="selctToList($event)">
                  <div class="checkico">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                  </div>
                </label>&nbsp;&nbsp;{{ val.task.created_at | date:'dd MMM y' }}
              </td>
              <td data-th="Title">{{val.task.title}}</td>
              <td data-th="Assign to">
                <div class="tooltipuc" *ngIf="val?.task?.user_posts.length > 0">
                  {{val?.task?.user_posts[0]?.user?.name}}
                  <span class="txtgreen" *ngIf="val?.task?.user_posts.length > 1">and {{val?.task?.user_posts.length - 1}} Others</span>
                  <div class="tooltipcontuc" style="display:none; padding:0;"  *ngIf="val?.task?.user_posts.length > 1">
                    <div class="conttooltip">
                      <ul class="list-unstyled asslist">
                        <ng-container *ngFor="let pst of val?.task?.user_posts">
                          <li *ngIf="pst?.user != null && pst?.user?.id != authUser.id"><a href="javascript:void(0);" routerLink="/time-line/{{pst?.user?.id}}">{{pst?.user?.name}}</a></li>
                        </ng-container>
                      </ul>
                    </div>
                  </div>

                </div>
              </td>
              <td data-th="Status">{{showStatus(val?.task?.due_date)}}</td>
              <td data-th="Due Date">
                <ng-container *ngIf="val?.task?.due_date">{{ (val?.task?.due_date)*1000 | date:'dd MMM'}}</ng-container>
              </td>
              <td data-th="Action" class="actionbtnlist actwbtn">
                <a href="javascript:void(0);" (click)="openCreateTask('addtaskmodal',val?.task)">
                  <img src="assets/images/pencil.png" class="img-responsive">
                </a>
                <a href="javascript:void(0);" (click)="delTask(val?.task.id)">
                  <img src="assets/images/trash.png" class="img-responsive">
                </a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

      <!-- <nav aria-label="..." class="paginationew text-right">
          <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#" aria-label="Next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
          </ul>
      </nav> -->

    </div>
  </ng-container>
  <ng-container *ngIf="current_view == 'C'">
    <app-tasks-calendar (viewEvent)="receiveView($event)" (openModalEvent)="openCreateTask($event)" [taskData]="myList"></app-tasks-calendar>
  </ng-container>

</div>
<!--

<div class="formwrap addtaskmodal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Add Task
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>


    <div class="panel-body paddt30">
      <div class="col-xs-12 form-group withico">
        <label>Enter your task</label>
        <input type="text" class="form-control">
      </div>



      <div class="col-xs-12 form-group withico">
        <label>Notes</label>
        <textarea class="form-control" rows="5" cols=""></textarea>
      </div>


      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Task Type</label>

        <select class="form-control sumoselect" id="showcontacts" placeholder="Show Contacts">
          <option value="volvo">Meeting</option>
          <option value="saab">Lorem</option>
        </select>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Location</label>
        <span class="icodateex"><img src="assets/images/location.png"></span>
        <input type="text" class="form-control">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Due Date</label>
        <select class="form-control sumoselect" id="showcontacts" placeholder="Show Contacts">
          <option value="volvo">Today</option>
          <option value="saab">Tomorrow</option>
        </select>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
        <button class="addfile gptop32" for="addfile">
          <span class="icof">+</span>Add Time
        </button>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Contact Managers</label>
        <select class="form-control sumoselect" multiple="">
          <option selected="" value="John Doe">John Doe</option>
          <option value="Dilip">Dilip</option>
        </select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Related Contacts</label>
        <input type="text" class="form-control" placeholder="Type contact name" name="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Related companies</label>
        <input type="text" class="form-control" placeholder="Type company name" name="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Related opportunities</label>
        <input type="text" class="form-control" placeholder="Type opportunity name" name="">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Notify</label>
        <select multiple="" class="form-control sumoselect">
          <option selected="" value="John Doe">John Doe</option>
          <option value="Dilip">Dilip</option>
        </select>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Send reminder</label>
        <select multiple="" class="form-control sumoselect">
          <option selected="" value="John Doe">15 minutes </option>
          <option value="Dilip">20 minutes </option>
        </select>
      </div>
      <div class="col-xs-12 form-group">
        <label class="addfile" for="addfile">
          <input class="hidden" type="file" id="addfile" name="">
          <span class="icof">+</span>Add File
        </label>
      </div>



      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Cancel" class="btn btn-default csbtn" name="">
        <input type="button" value="Add Task" class="btn btn-success csbtn" name="">
      </div>
    </div>

  </div>
</div>
-->

<div class="formwrap addtaskmodal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      {{taskModel.type}} Task
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <form (ngSubmit)="f.form.valid && addTask(f)" #f="ngForm" novalidate>
      <div class="panel-body paddt30">
        <div class="col-xs-12 form-group withico">
          <label>Enter your task</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="taskModel.title">
        </div>

        <div class="col-xs-12 form-group withico">
          <label>Notes</label>
          <textarea class="form-control" rows="5" cols="" name="notes" [(ngModel)]="taskModel.notes"></textarea>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Task Type</label>

          <select class="form-control" name="task_type" [(ngModel)]="taskModel.task_type" (change)="changeTaskForm($event)">
            <option *ngFor="let val of taskTypeList" value="{{val.id}}">{{val.name}}</option>
          </select>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico" *ngIf="checkLocation">
          <label>Location</label>
          <span class="icodateex"><img src="assets/images/location.png"></span>
          <!--<input type="text" class="form-control">-->
          <ng4geo-autocomplete [userSettings]="userSettings1"
                               (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico" *ngIf="checkDate">
          <label>Due Date</label>
          <p-calendar name="due_date" [(ngModel)]="closerDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group" *ngIf="checkTime">
          <label>Time</label>
          <p-calendar name="due_time" [(ngModel)]="dateTime" [timeOnly]="true"></p-calendar>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Contact Managers</label>

          <angular2-multiselect [data]="allUsers" [(ngModel)]="taskModel.managers"
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                name="managers">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related Contacts</label>
          <!--<input type="text" class="form-control" placeholder="Type contact name" name="">-->
          <angular2-multiselect [data]="contactList" [(ngModel)]="taskModel.contacts"
                                [settings]="dropdownSettings"
                                name="contacts">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related Companies</label>
          <!--<input type="text" class="form-control" placeholder="Type company name" name="">-->
          <angular2-multiselect [data]="companyList" [(ngModel)]="taskModel.companies"
                                [settings]="dropdownSettings"
                                name="companies">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related opportunities</label>
          <angular2-multiselect [data]="opportunityDd" [(ngModel)]="taskModel.opportunities"
                                [settings]="dropdownSettings"
                                name="opportunities">
          </angular2-multiselect>
        </div>

        <div class="col-xs-12 form-group">
          <label class="addfile" for="addfilet">
            <input class="hidden" type="file" id="addfilet" (change)="onFileChange($event,'t')">
            <span class="icof">+</span>Add File
          </label>
          <ng-container *ngIf="showAttachment !=''">
            <a target="_blank" href="{{appConfig.publicUrl+'uploads/task_attachment/'+showAttachment}}">{{showAttachment}}</a>
          </ng-container>
        </div>

        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose" name="">
          <input type="submit" value="Save Task" class="btn btn-success csbtn"  disabled="{{is_submit?'disabled':''}}">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="ovelay hidden"></div>