<p-growl [(value)]="msgs"></p-growl>
<div class="panel-body white_bg">
    <div class="alert alert-info">
      The number you have entered already exists. Do you want to merge these?
        <ul class="alert-btn list-inline pull-right">
          <li><button class="btn btn-primary apply-btn">Apply</button></li>
          <li class="alert-un-do"><button class="btn btn-warning"><i class="fa fa-undo" aria-hidden="true"></i> Undo</button></li>
          </ul>
          <div class="clearfix"></div>
    </div>
    <ul class="timelinelist list-unstyled">
      <li *ngFor="let val of dataActivityList">
        <span class="timelinebar"><span class="circlet round"></span></span>
        <div class="cmbx bggreytwo">
          <figure class="round pull-left">
            <!-- <img src="assets/images/avatar.png" class="img-responsive"> -->
          
              <ng-container *ngIf="val?.user && val?.user?.profile_picture != null">
                  <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+val?.user?.profile_picture}}"  class="img-responsive">
                
              </ng-container>
              <ng-container *ngIf="val?.user==null && val?.contact?.profile_picture != null">
                  <img src="{{appConfig.publicUrl+'/uploads/profile_picture/'+val?.contact?.profile_picture}}"  class="img-responsive">
              </ng-container>
              <ng-container *ngIf="val?.user==null && val?.user?.profile_picture == null && val?.contact?.profile_picture == null">    
                  <img src="assets/images/twlogo.png" class="img-responsive">
              </ng-container>
           </figure>
          <div class="row">
            <div class="col-sm-6 colwav">
              <h3 class="avnamcbx">                        
                <strong *ngIf="val?.user!=null">{{val?.user?.first_name}} {{val?.user?.last_name}}</strong>
                <strong *ngIf="val?.user==null">{{val?.contact?.name}}</strong>
                has changed these informations.
              </h3>
              <div class="activity-btn-sec">
                  <ul>
                    <li>
                      <button class="undo-btn text-info" *ngIf="val?.status==1" (click)="undoRedoLog('undo',val.id)"><i class="fa fa-undo" aria-hidden="true"></i>Undo</button>
                      <button class="redo-btn text-warning" *ngIf="val?.status==0" (click)="undoRedoLog('redo',val.id)"><i class="fa fa-repeat" aria-hidden="true"></i> Redo</button>
                      <button class="edit-btn text-primary openaddcontact" data-val="emailadd" (click)="openAddEmail('emailadd')"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
                      <button class="delete-btn text-danger" (click)="deleteLog(val.id)"><i class="fa fa-times" aria-hidden="true"></i>Delete</button>
                    </li>
                  </ul>
              </div>
            </div>
            
            <!-- <div class="col-sm-6 colbwtn clearfix">
              
              <div class="dropdown pull-right">
                <a class="txtbtn pull-right opennewdrop">
                  <i class="fa fa-globe text-warning"></i>
                  Visibility &nbsp;<i class="fa fa-angle-down"></i></a>
                <div class="settignmenu shownewdrop whitearrow forlabel" style="display: none;">
                  <div class="offforcreatelabel">
                    <ul class="list-unstyled itemlist">
                      <li>
                        <label class="custom-radio">
                          <input type="radio" name="privet-public" class="hidden">
                          <span>All Users</span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-radio">
                          <input type="radio" name="privet-public" class="hidden">
                          <span>Private</span>
                        </label>
                      </li>
                      <li>
                        <label class="itemlist ">
                          <input type="checkbox" class="hidden" name="">
                          <div class="checkico">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <i class="fa fa-square-o" aria-hidden="true"></i>
                          </div>
                          <strong>Show in Message Box</strong>
                        </label>
                      </li>

                    </ul>

                    <div class="budylistradio archive ">
                      <div class="form-group">
                        <input type="hidden" name="" value="0">
                        <input type="checkbox" id="" class="lcs_check" name="" value="1" checked="">
                        <span class="swipeChk">
                          <span class="on">Archive</span>
                          <span class="off">Unarchive</span>
                        </span>
                      </div>
                    </div>
                    <div class=" text-center bordertop btnwrp">
                      <input type="button" value="Done" class="btn btntxt btn-success" name="">
                    </div>
                  </div>
                  <div class="openlabelbx panel-body" style="display:none;">
                    <div class="form-group">
                      <label>Label name</label>
                      <input type="text" class="form-control" name="">
                    </div>
                    <div class="text-center">
                      <input type="button" value="Save" class="btn rad20 btn-default sucbtn ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown pull-right">
                <a class="txtbtn pull-right opennewdrop"><img src="assets/images/tag.png" class="img-responsive inline_block">
                  Label&nbsp;<i class="fa fa-angle-down"></i></a>
                <div class="settignmenu shownewdrop whitearrow forlabel" style="display: none;">
                  <div class="offforcreatelabel">
                    <ul class="list-unstyled itemlist">
                      <li>
                        <label>
                          <input type="checkbox" class="hidden" name="">
                          <div class="checkico"> <i class="fa fa-check-square" aria-hidden="true"></i>
                            <i class="fa fa-square-o" aria-hidden="true"></i> </div>
                          Travel and Tourism
                        </label>
                      </li>
                    </ul>
                    <div class=" text-center bordertop btnwrp">
                      <input type="button" value="Create New Label" class="openlabelcreat btn btntxt"
                        name="">
                    </div>
                  </div>
                  <div class="openlabelbx panel-body" style="display:none;">
                    <div class="form-group">
                      <label>Label name</label>
                      <input type="text" class="form-control" name="">
                    </div>
                    <div class="text-center">
                      <input type="button" value="Save" class="btn rad20 btn-default sucbtn ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown pull-right">
                <a class="txtbtn pull-right opennewdrop"><img src="assets/images/clock-o.png" class="img-responsive inline_block">Add
                  Reminder&nbsp;<i class="fa fa-angle-down"></i></a>
                <div class="whitdrop setreminder shownewdrop" style="display:none;">
                  <div class="row panel-body">
                    <div class="col-sm-6">
                      <ul class="list-unstyled itemlist">
                        <li>
                          <label>
                            <input type="checkbox" checked="" class="hidden" name="">
                            <div class="checkico">
                              <i class="fa fa-check-square" aria-hidden="true"></i>
                              <i class="fa fa-square-o" aria-hidden="true"></i>
                            </div>
                            You
                          </label>
                        </li>
                        <li>
                          <label>
                            <input type="checkbox" class="hidden" name="">
                            <div class="checkico">
                              <i class="fa fa-check-square" aria-hidden="true"></i>
                              <i class="fa fa-square-o" aria-hidden="true"></i>
                            </div>
                            Title
                          </label>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6 leftbrder">
                      <div class="form-group wdtwoinput">
                        <label>Remind Upto</label>
                        <div class="clearfix">
                          <input type="text" value="5" class="form-control pull-left" name="">
                          <div class="selct pull-left">
                            <div class="SumoSelect" tabindex="0"><select class="form-control sumoselect SumoUnder"
                                tabindex="-1">
                                <option value="Week">Week</option>
                                <option value="Lorem">Lorem</option>
                              </select>
                              <p class="CaptionCont SelectBox" title=" Week"><span> Week</span><label><i></i></label></p>
                              <div class="optWrapper">
                                <ul class="options">
                                  <li class="opt selected"><label>Week</label></li>
                                  <li class="opt"><label>Lorem</label></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group wdtwoinput">
                        <label>Repeat</label>
                        <div class="clearfix">
                          <input type="text" value="10" class="form-control pull-left" name="">
                          <div class="selct pull-left">
                            <div class="SumoSelect" tabindex="0"><select class="form-control sumoselect SumoUnder"
                                tabindex="-1">
                                <option value="Days">Days</option>
                                <option value="Months">Months</option>
                                <option value="Year">Year</option>
                              </select>
                              <p class="CaptionCont SelectBox" title=" Days"><span> Days</span><label><i></i></label></p>
                              <div class="optWrapper">
                                <ul class="options">
                                  <li class="opt selected"><label>Days</label></li>
                                  <li class="opt"><label>Months</label></li>
                                  <li class="opt"><label>Year</label></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <input type="button" value="Set Reminder" class="btn btn-success btn-sm csbtn" name="">
                  </div>
                </div>
              </div>
            </div> -->
            
          </div>
          <div class="panel panel-default withbrderp">
              <div class="panel-body">
                <ul class="mr0 list-unstyled info-changed">
                  <li><span>First Name:</span>{{val?.contact?.name}}</li>
                  <li><span>Company</span> {{val?.contact?.company_name}}</li>
                  <li><span>Role</span>{{val?.contact?.position}}</li>
                </ul>
              </div>
              <div class="panel-heading text-center bottomhead">
                <a class="inline_block addmore" href="javascript:void();" (click)="openContactModal('contactInfoModal',val?.contact)"><u>View More</u></a>
              </div>
           </div>
          
          <div class="activity-log-section" *ngIf="val?.change_logs">
            <ul class="activity-list">
                <li *ngFor="let clog of val?.change_logs">
                  <span class="date-time">{{clog.updated_at}}</span>
                  <b *ngIf="val?.user!=null">{{val?.user?.first_name}} {{val?.user?.last_name}}</b> 
                  <b *ngIf="val?.user==null">{{val?.contact?.name}}</b> 
                  <ng-container *ngIf="checkMultiple(clog.info_type)==true">
                  has added the {{dataActivityInfoArr[clog.info_type]}} {{clog.to_value}}
                  </ng-container>
                  <ng-container *ngIf="checkMultiple(clog.info_type)==false">
                  has changed the {{dataActivityInfoArr[clog.info_type]}} {{clog.from_value}} to {{clog.to_value}}
                  </ng-container>
                </li>
                <!-- <li><span class="date-time">15th Feb 2019 05:48:01</span><b>Jonshon</b> has deleted the information.</li> -->
            </ul>
          </div>
          <!-- <ul class="list-inline cmbxinfo mr0">
            <li><a href="javascript:void(0);">30 mints brfore</a></li>
            <li><a href="javascript:void(0);">From google+</a></li>
          </ul> -->
          <div class="form-group">
            <label>Comment</label>
            <div class="withfileup">
              <textarea class="form-control" rows="2"></textarea>
              <label class="upfiletimel">
                <input type="file" class="hidden" name="">
                <span><img src="assets/images/attach_ico.png" class="img-responsive"></span>
              </label>
            </div>
          </div>
          <!-- <ul class="commntList list-unstyled">
            <li>
              <figure class="round pull-left">
                <img src="assets/images/avatar.png" class="img-responsive">
              </figure>
              <h3 class="avnamcbx"><strong>John Doe</strong> Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. </h3>
            </li>
            <li>
              <figure class="round pull-left">
                <img src="assets/images/avatar.png" class="img-responsive">
              </figure>
              <h3 class="avnamcbx"><strong>John Doe</strong> Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit.</h3>
            </li>
            <li>
              <figure class="round pull-left">
                <img src="assets/images/avatar.png" class="img-responsive">
              </figure>
              <h3 class="avnamcbx"><strong>John Doe</strong> Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h3>
            </li>
          </ul>
          <div class="text-center">
            <a href="javascript:void(0);" class="ldmore text-orange">View more</a>
          </div> -->

        </div>
      </li>
      

    </ul>
  </div>

  <div class="formwrap contactInfoModal no-blur" style="top:-20000px;">
      <div class="conbx center-block">
        <div class="modal-header">
          <button type="button" class="close popClose"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Details</h4>
          <div class="panel panel-default withbrderp">
              <div class="panel-body">
                <ul class="mr0 list-unstyled info-changed">
                  <li>
                      <ng-container *ngIf="contactData?.profile_picture != null">
                          <img src="{{appConfig.publicUrl+'/uploads/profile_picture/'+contactData?.profile_picture}}" width="60"  class="img-responsive">
                      </ng-container>
                  </li>
                  <li><span>Name :</span>{{contactData?.salute}} {{contactData?.name}}</li>
                  <li><span>Company :</span>{{contactData?.company_name}}</li>
                  <li><span>Role :</span>{{contactData?.position}}</li>
                  <li><span>Email :</span>{{contactData?.email}}</li>
                  <li><span>Phone :</span>{{contactData?.phone}}</li>
                  <li><span>Region :</span>{{contactData?.region}}</li>
                  <li><span>City :</span>{{contactData?.city}}</li>
                </ul>
              </div>
           </div>
        </div>
      </div>
    </div>