<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">

  <div class="row mrb20">

    <div class="col-sm-4">
      <div class="dbsitem reddbg clearfix">
        <div class="pull-left">
          <h4>NO. OF PROJECT</h4>
          <h4>10k</h4>
          <h1>5k</h1>
          <p>Paying Project</p>
        </div>
        <div class="pull-right imgico">
          <img src="assets/images/files.png" class="img-responsive">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="dbsitem bluedbg clearfix">
        <div class="pull-left">
          <h4>NO. OF TOTAL USER</h4>
          <h4>10k</h4>
          <h1>5k</h1>
          <p>Paying User</p>
        </div>
        <div class="pull-right imgico">
          <img src="assets/images/users-2.png" class="img-responsive">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="dbsitem white_bg clearfix">
        <div class="pull-left">
          <h4>WEB SPACE</h4>
          <p>65 GB out of 100 GB</p>
        </div>
        <div class="pull-right">
          <!-- <img src="assets/images/progress.png" class="img-responsive"> -->
          <div class="chart" id="graph" data-percent="65"></div>
        </div>
      </div>
    </div>

  </div><!-- row ]]-->

  <div class="row">
    <div class="col-sm-6">
      <div class="dbtitlewrp mr0 clearfix">
        <h2 class="dbtitle pull-left">New Paying Project </h2>
        <div class="pull-right clearfix paddt4">
          <div class="dropdown pull-left">
            <button class="btn btn-default btn-sm btnoffgrey opennewdrop">Today<i class="fa fa-angle-down" aria-hidden="true"></i></button>
          </div>

        </div>
      </div>

      <div class="table_default dbsmtable white_bg">
        <table class="table">
          <thead>
          <tr>
            <th>Project Name</th>
            <th>Email</th>
            <th>Last Billing Cycleing Fee</th>
            <th>Next Billing Cycle</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td data-th="Project Name"><span class="text-orange text-midium">Tennis App</span></td>
            <td data-th="Email">John@gmail.com</td>
            <td data-th="Last Billing Cycleing Fee">$256.00</td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Action"><a href="javascript:void(0);"><img src="assets/images/cog-2.png" class="img-responsive" ></a></td>
          </tr>
          <tr>
            <td data-th="Project Name"><span class="text-orange text-midium">Tennis App</span></td>
            <td data-th="Email">John@gmail.com</td>
            <td data-th="Last Billing Cycleing Fee">$256.00</td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Action"><a href="javascript:void(0);"><img src="assets/images/cog-2.png" class="img-responsive" /></a></td>
          </tr>
          <tr>
            <td data-th="Project Name"><span class="text-orange text-midium">Tennis App</span></td>
            <td data-th="Email">John@gmail.com</td>
            <td data-th="Last Billing Cycleing Fee">$256.00</td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Action"><a href="javascript:void(0);"><img src="assets/images/cog-2.png" class="img-responsive" /></a></td>
          </tr>
          <tr>
            <td data-th="Project Name"><span class="text-orange text-midium">Tennis App</span></td>
            <td data-th="Email">John@gmail.com</td>
            <td data-th="Last Billing Cycleing Fee">$256.00</td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Action"><a href="javascript:void(0);"><img src="assets/images/cog-2.png" class="img-responsive" /></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="dbtitlewrp mr0 clearfix">
        <h2 class="dbtitle pull-left">New Project </h2>
        <div class="pull-right clearfix paddt4">
          <div class="dropdown pull-left">
            <button class="btn btn-default btn-sm btnoffgrey opennewdrop">Today<i class="fa fa-angle-down" aria-hidden="true"></i></button>
          </div>

        </div>
      </div>

      <div class="table_default dbsmtable white_bg">
        <table class="table">
          <thead>
          <tr>
            <th>Project Name</th>
            <th>Email</th>
            <th>No. of User</th>
            <th>Next Billing Cycle</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td data-th="Project Name"><span class="text-orange text-midium">Tennis App</span></td>
            <td data-th="Email">John@gmail.com</td>
            <td data-th="No. of User">10k</td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Action"><a href="javascript:void(0);"><img src="assets/images/cog-2.png" class="img-responsive" /></a></td>
          </tr>
          <tr>
            <td data-th="Project Name"><span class="text-orange text-midium">Tennis App</span></td>
            <td data-th="Email">John@gmail.com</td>
            <td data-th="No. of User">10k</td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Action"><a href="javascript:void(0);"><img src="assets/images/cog-2.png" class="img-responsive" /></a></td>
          </tr>
          <tr>
            <td data-th="Project Name"><span class="text-orange text-midium">Tennis App</span></td>
            <td data-th="Email">John@gmail.com</td>
            <td data-th="No. of User">10k</td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Action"><a href="javascript:void(0);"><img src="assets/images/cog-2.png" class="img-responsive" /></a></td>
          </tr>
          <tr>
            <td data-th="Project Name"><span class="text-orange text-midium">Tennis App</span></td>
            <td data-th="Email">John@gmail.com</td>
            <td data-th="No. of User">10k</td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Action"><a href="javascript:void(0);"><img src="assets/images/cog-2.png" class="img-responsive" /></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-3 listdbinfo">
      <div class="dbinfosmbx">

        <button class="btn btn-default btn-sm btnoffgrey opennewdrop pull-right">7 Days</button>
        <div class="clearfix"></div>
        <h1 class="btxt pull-left">5k</h1>
        <img src="assets/images/paymentcasrd.png" class="img-responsive pull-right">
        <div class="clearfix"></div>
        <h4 class="btxt2">TOTAL PAYMENTS RECEIVED</h4>
      </div>
    </div>

    <div class="col-sm-3 listdbinfo">
      <div class="dbinfosmbx">

        <button class="btn btn-default btn-sm btnoffgrey opennewdrop pull-right">Today<i class="fa fa-angle-down" aria-hidden="true"></i></button>
        <div class="clearfix"></div>
        <h1 class="btxt pull-left">5k</h1>
        <img src="assets/images/projectincome.png" class="img-responsive pull-right">
        <div class="clearfix"></div>
        <h4 class="btxt2">PROJECTED INCOME</h4>
      </div>
    </div>

    <div class="col-sm-3 listdbinfo">
      <div class="dbinfosmbx">

        <div class="clearfix"></div>
        <h1 class="btxt pull-left">5k <span><span class="btn btn-default btnsm addbtn">PAID</span></span></h1>
        <img src="assets/images/afcommision.png" class="img-responsive pull-right">
        <div class="clearfix"></div>
        <h4 class="btxt2">TOTAL AFFILIATE COMMISSIONS </h4>
      </div>
    </div>

    <div class="col-sm-3 listdbinfo">
      <div class="dbinfosmbx">
        <div class="clearfix"></div>
        <h1 class="btxt pull-left">5k <span><span class="btn btn-default btnsm addbtn">UNPAID</span></span></h1>
        <img src="assets/images/afcommision2.png" class="img-responsive pull-right">
        <div class="clearfix"></div>
        <h4 class="btxt2">TOTAL AFFILIATE COMMISSIONS</h4>
      </div>
    </div>

  </div>

</div>


<!-- popup start -->
<div class="formwrap formwrap3" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose mb0">
      Add Note
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>





    <div class="panel-body paddt30">


      <div class="col-xs-12 form-group withico">
        <label>Write Your Note</label>
        <textarea class="form-control" rows="5" cols=""></textarea>
      </div>


      <div class="col-xs-12 text-center paddt20">
        <input type="button" value="Cancel" class="btn btn-default csbtn" name="">
        <input type="button" value="Add Note" class="btn btn-success csbtn" name="">
      </div>
    </div>

  </div>
</div>
<!-- end popup -->

<div class="ovelay hidden"></div>