<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">

  <div class="white_bg1">
    <h2 class="dbtitle">MESSAGING TEMPLATES</h2>
    <div class="dbserform panel-body">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control dbinput" placeholder="Template Name" name="" [(ngModel)]="searchText">
        </div>
        <button class="btn btn-warning addbtn btndb"><i class="sico fa fa-search"></i>Search</button>

        <div class="dropdown pull-right">
          <button class="btn btn-success sucbtn btndb actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
          <div class="settignmenu shownewdrop actionpop" style="display:none;">

            <ul class="list-unstyled acmenu">
              <li><a href="javascript:;" (click)="delAll()">Delete</a></li>
            </ul>
          </div>
        </div>

        <button class="btn btn-default btngrey btndb openaddcontact pull-right" data-val="addtemplate" (click)="openFormModal('addtemplate',null)">Add Template</button>

      </div>
    </div>
    <div class="table_default newtbl grptable visitortbl two_tr_xs_lg scrollipad">
      <table class="table" id="sortingTable">
        <thead>
        <tr>
          <th class="prnametb">
            <label>

            </label>
          </th>
          <th>Template Name</th>
          <th>Description</th>
          <th class="twobtn ">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let etemp of dataList  | filter:{ title: searchText }">
          <th>
            <label>
              <input class="hidden" type="checkbox" value="{{etemp.id}}" type="checkbox" (change)="selctToList($event)">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>
            </label>
          </th>
          <td data-th="Template Name"><strong><u>{{etemp.title}}</u></strong></td>
          <td data-th="Description"><div [innerHtml]="etemp.content | slice:0:170"></div></td>
          <td data-th="Action" class="twobtn">
            <a href="javascript:void(0);" (click)="openFormModal('addtemplate',etemp)" ><img src="assets/images/pencil.png" class="img-responsive"></a>
            <a href="javascript:void(0);" (click)="delSingle(etemp.id)"><img src="assets/images/trash.png" class="img-responsive"></a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- popup start -->
<div class="formwrap addtemplate" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose mb0">
      {{model.type}} Template
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && saveEmailTemplate(f)" #f="ngForm" novalidate>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Title</label>
          <input class="form-control" name="title" type="text" [(ngModel)]="model.title">
        </div>

        <div class="col-xs-12">
          <label>Message Content </label>

          <div class="row">
            <div class="col-sm-8 form-group">
              <div  id="editor"></div>
              <!-- <p-editor [(ngModel)]="model.content" name="content"  [style]="{'height':'320px'}"></p-editor> -->
              <!-- <ckeditor [(ngModel)]="model.content" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig"
								 debounce="500" (change)="onChange($event)">
                </ckeditor> -->
                <ckeditor [(ngModel)]="model.content" [ngModelOptions]="{standalone: true}" [readonly]="false" (change)="onChange($event)" debounce="500">
                </ckeditor>
            </div>
             <div class="col-sm-4 form-group">
              <div class="txtwbrd">
                <p>{{'{ CONTACT_NAME } Sender Name'}}</p>
                <p>{{'{ CONTACT_EMAIL } Contact Email'}}</p>
              </div>
            </div>
          </div>
        </div>
        
        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label class="btn-block">Message - Type</label>
          <select class="form-control" name="message_type" [(ngModel)]="model.message_type">
            <option *ngFor="let vl of messageTypeList" value="{{vl.value}}">{{vl.label}}</option>
          </select>
        </div> -->

        <div class="col-xs-12 text-center paddt20 bordertop">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose" >
          <input type="submit" value="Save Template" class="btn btn-success csbtn">
        </div>
      </form>
    </div>

  </div>
</div>
<!-- end popup -->

<div class="ovelay hidden"></div>
