<p-growl [(value)]="msgs"></p-growl>
<section class="container-fluid bggreyone paddtb30 collesspadd" style="min-height: 0px;">
	<div class="cscontainer midobjet">
		<div class="white_bg1">
			<h2 class="dbtitle">PLATFORM LIST</h2>
			<div class="dbserform panel-body">
				<div class="form-inline">
					<div class="form-group">
						<input type="text" class="form-control dbinput" placeholder="Platform Name" name="" [(ngModel)]="searchText">
					</div>
					<button class="btn btn-warning addbtn btndb"><i class="sico fa fa-search"></i>Search</button>

					<div class="dropdown pull-right">
						<button class="btn btn-default btngrey btndb openaddcontact" data-val="addplatform" (click)="openModal('addplatform')">+
							Add Platform</button>

						<button class="btn btn-success sucbtn btndb actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
						<div class="settignmenu shownewdrop actionpop" style="display:none;">
							<!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
							<button class="btn btn-success  sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
							<ul class="list-unstyled acmenu">
								<li><a href="javascript:;" (click)="delAllPlatforms()">Delete</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="table_default newtbl grptable dbsmtable  two_tr_xs_lg scrollipad">
				<table class="table white_bg">
					<thead>
						<tr>
							<th class="checkth">
								<label>
									<!-- <input class="hidden" type="checkbox" name="">
						            	<div class="checkico">
						            		<i class="fa fa-check-square" aria-hidden="true"></i>
						            		<i class="fa fa-square-o" aria-hidden="true"></i>
						            	</div> -->
								</label>
							</th>
							<th>Platform Name</th>
							<th>Pricing/Feature plans</th>
							<th>Add-on modules</th>
							<th>An affiliate promo page</th>
							<th class="twobtn">Action</th>
						</tr>
					</thead>
					<tbody>

						<tr *ngFor="let platform of platFormList | filter:{ title: searchText }">
							<th class="checkth">
								<label>
									<input class="hidden" value="{{platform.id}}" type="checkbox" name="" (change)="selctToList($event)">
									<div class="checkico">
										<i class="fa fa-check-square" aria-hidden="true"></i>
										<i class="fa fa-square-o" aria-hidden="true"></i>
									</div>
								</label>
							</th>
							<!-- routerLink="/admin/platform-pricing-plan/{{platform?.id}}" -->
							<td data-th="Platform Name"><a class="ptbico" href="javascript:void(0);"><img src="assets/images/tb_ico-1.png"></a>{{platform?.title}}</td>
							<td data-th="Pricing/Feature plans">
								<a href="javascript:;" class="btn rad20 btn-default btngrey btn-sm text-white" (click)="planData(platform)">Add/Edit</a>
								<a class="btn rad20 btn-default sucbtn btn-sm text-white openaddcontact" data-val="copyscript">Copy shortcode</a>
							</td>
							<td data-th="Add-on modules">
								<a href="pricing-feature-plan-addedit.html" class="btn rad20 btn-default btngrey btn-sm text-white">Add/Edit</a>
								<a class="btn rad20 btn-default sucbtn btn-sm text-white openaddcontact" data-val="copyscript">Copy shortcode</a>
							</td>
							<td data-th="An affiliate promo page">
								<a href="pricing-feature-plan-addedit.html" class="btn rad20 btn-default btngrey btn-sm text-white">Add/Edit</a>
								<a class="btn rad20 btn-default sucbtn btn-sm text-white openaddcontact" data-val="copyscript">Copy shortcode</a>
							</td>
							<td data-th="Action" class="twobtn">
								<a href="javascript:void(0);" (click)="delPlatform(platform.id)"><img src="assets/images/trash.png" class="img-responsive"></a>
								<a href="javascript:void(0);" data-val="addplatform" (click)="openEditPlatFormmodal('addplatform',platform)"><img
									 src="assets/images/pencil.png" class="img-responsive"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<!-- popup start -->
	<div class="formwrap copyscript" style="top: -5200px; display: block; min-height: 1px;">
		<div class="formwrapOvrly"></div>
		<div class="conbx center-block">
			<h1 class="adcttitle text-center withClose">
				Copy Script
				<a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
			</h1>
			<div class="panel-body paddt30">
				<div class="col-xs-12 form-group">
					<label><span class="shortcodeIco">&lt;/&gt; </span>Short Code</label>
					<div class="fieldNote">Copy and paste this snippet to your code and put your form on your website. It's that
						simple.</div>
					<div class="copyClipboard">
						<input type="text" value="" class="form-control">
						<a href="" class="btn btn-success sucbtn rad100">&lt;/&gt; Copy Code</a>
					</div>
				</div>
				<div class="col-xs-12 text-center bordertop paddt20">
					<input type="button" value="Close" class="btn btn-default csbtn popupClose" name="">
				</div>
			</div>

		</div>
	</div>

	<div class="formwrap addplatform" style="top: -5200px; opacity: 1; min-height: 1px; display: block;">
		<div class="formwrapOvrly"></div>
		<div class="conbx center-block">
			<h1 class="adcttitle text-center withClose mb0">
				Add Platform
				<a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
			</h1>


			<div class="panel-body paddt30">
				<form (ngSubmit)="f.form.valid && addPlatform(f)" #f="ngForm" novalidate>
					<label class="toupfilephoto">
						<input type="file" accept=".png,.jpg,.jpeg" class="hidden" name="platform-image" (change)="selectFile($event)"
						 [(ngModel)]="model.image">
						<figure>
							<div>
								<img *ngIf="url" [src]="url" class="img-responsive center-block">
								<img *ngIf="!url" src="assets/images/upphoto_ico.png" class="img-responsive center-block">
							</div>
						</figure>
						<p class="text-success" *ngIf="!url">Platform’s Logo</p>
						<p *ngIf="!url">Upload your logo for platform</p>
						<!-- <p *ngIf="!url">by Drag &amp; Drop or <span class="text-success" *ngIf="!url">Browse</span></p> -->
					</label>

					<div class="col-xs-12 form-group">
						<label>Platform Name</label>
						<input class="form-control" placeholder="Ex : Travel and Tourism Management" [(ngModel)]="model.title" name="title">
					</div>
					<div class="col-xs-12 form-group">
						<label>Upload CSS file</label>
						<!-- href="newsletter_01.pdf" -->
						<div class="fileprogrewrap" *ngFor="let image of cssFiles; let i = index">
							<span class="fpico"><img src="assets/images/css_ico.png" class="img-responsive"></span>
							<p class="clearfix"><span class="pull-left"><a href="{{platFormImagePath + image?.attachment_name}}" target="_blank">{{image?.name}}</a></span>
								<a href="javascript:void(0);"
								 class="todeleteupfile pull-left" (click)="deleteImage(image.name,image.attachment_name, i)">
									<img src="assets/images/delete_ico.png" class="img-responsive">
								</a>
							</p>

							<!-- <div class="probarpath">
								<div class="probar" style="width:60%;"></div>
							</div> -->
						</div>
					</div>

					<div class="col-xs-12 form-group">
						<label class="addfile" for="addfile">
							<input class="hidden" type="file" id="addfile" name="add_file" (change)="fileChangeEvent($event)" [(ngModel)]="model.attachment"
							 multiple>
							<span class="icof">+</span>Add File
						</label>
					</div>

					<div class="col-xs-12 text-center bordertop paddt20">
						<input type="button" value="Cancel" (click)="close()" class="btn btn-default csbtn popClose" name="">
						<input type="submit" value="Add Platform" class="btn btn-success csbtn" name="">
					</div>
				</form>
			</div>

		</div>
	</div>
	<!-- end popup -->

	<div class="ovelay hidden"></div>

</section>