<p-growl [(value)]="msgs"></p-growl>
<h3 class="tab_drawer_heading " rel="tab2 ">Security</h3>
<div id="tab2 " class="tab_content " style="display: none;">
  <!-- <h3 class="nocontent ">no content</h3> -->
  <div class="conbx center-block bggreytwo ">
    <h1 class="adcttitle text-center ">Reset Password</h1>
    <div class="panel-body ">
      <form (ngSubmit)="f.form.valid && changeUserPassword(f)" #f="ngForm" novalidate>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>Old Password</label>
          <input type="password" class="form-control " [(ngModel)]="model.current_password" #current_password="ngModel" name="current_password" required>
          <div *ngIf="f.submitted && !current_password.valid" class="frmError">
            <div [hidden]="!current_password.errors.required">
              Old password is required
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs "></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>New Password</label>
          <input type="password" class="form-control " [(ngModel)]="model.new_password" #new_password="ngModel" pattern="^(?=.*[0-9])(?=.*[a-z]).{8,}$" name="new_password" required>
          <!--^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}$-->
          <div class="fieldNote">(Password should be minimum 8 letters alphanumeric)</div>
          <div *ngIf="f.submitted && !new_password.valid" class="frmError">
            <div [hidden]="!new_password.errors.required">
              Password is required
            </div>
            <div [hidden]="!new_password.errors.pattern">
              Put valid password as per instruction
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group ">
          <label>Confirmed New Password</label>
          <input type="password" class="form-control " ngModel #certainPassword="ngModel" [equalTo]="new_password"  name="certainPassword">
          <div class="fieldNote">(Confirm password should match with password)</div>
          <div *ngIf="f.submitted && !certainPassword.valid" class="frmError">
            <div *ngIf="certainPassword.errors?.equalTo">
              Confirm Password is not correct
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20 ">
          <input type="submit" value="Update Password " class="btn btn-success csbtn " >
        </div>
      </form>
    </div>
  </div>
</div>
