<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet portalsettingpage">
  <div class="container">

    <form (ngSubmit)="f.form.valid && saveMapSetting(f)" #f="ngForm" novalidate>
      <div class="settignwrp center-block">
        <div class="timeltitle">
          <p>Map Settings</p>
        </div>
        <h4 class="sttitle">Google Map Filter Permission</h4>
        <div class="questList">
          <div class="questionBx">
            <label class="normalfont withcheckbx mrgr20">
              <input type="checkbox" class="hidden portalsetting" name="show_company" checked="{{checkOnOff(model.show_company)}}" (change)="setOnOffVal($event)">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>
              Show company
            </label>
            <div class="othersetting" style="display:block;">

              <label class="normalfont mrgr20">
                <input type="radio" class="hidden" name="list_company" value="1" checked="{{model.list_company=='1'?'checked':''}}" [(ngModel)]="model.list_company">
                <div class="imgcheck">
                  <img src="assets/images/radionew-notchecked.png" class="on">
                  <img src="assets/images/radionew-checked.png" class="off">
                </div>
                Show all companies
              </label>
              <label class="normalfont mrgr20">
                <input type="radio" class="hidden" name="list_company" value="2" checked="{{model.list_company=='2'?'checked':''}}" [(ngModel)]="model.list_company" >
                <div class="imgcheck">
                  <img src="assets/images/radionew-notchecked.png" class="on">
                  <img src="assets/images/radionew-checked.png" class="off">
                </div>
                Show only related companies
              </label>
            </div>
          </div>
        </div>
        <div class="questList">
          <div class="questionBx">
            <label class="normalfont withcheckbx mrgr20">
              <input type="checkbox" class="hidden portalsetting" name="show_contact" checked="{{checkOnOff(model.show_contact)}}" (change)="setOnOffVal($event)">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>
              Show Contacts
            </label>
            <div class="othersetting" style="display:block;">

              <label class="normalfont mrgr20">
                <input type="radio" class="hidden" name="list_contact" value="1" [checked]="model.list_contact=='1'?'checked':''" [(ngModel)]="model.list_contact">
                <div class="imgcheck">
                  <img src="assets/images/radionew-notchecked.png" class="on">
                  <img src="assets/images/radionew-checked.png" class="off">
                </div>
                Show all Contacts
              </label>
              <label class="normalfont mrgr20">
                <input type="radio" class="hidden" name="list_contact" value="2" [checked]="model.list_contact=='2'?'checked':''" [(ngModel)]="model.list_contact">
                <div class="imgcheck">
                  <img src="assets/images/radionew-notchecked.png" class="on">
                  <img src="assets/images/radionew-checked.png" class="off">
                </div>
                Show only related Contacts
              </label>
            </div>
          </div>
        </div>

      </div>

      <div class="text-center paddtb20">
        <input type="submit" value="Save Changes" class="btn btn-success csbtn" >
      </div>
    </form>
    <div class="paddtb30"></div>
    <div class="paddtb30"></div>
    <div class="paddtb30"></div>
  </div>
</div>


<div class="ovelay hidden"></div>
