.frmError{
    margin: 10px 0;
    color: #f00;
}
.custmLoder{
    position: relative;

}
.custmLoder:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/custom-spinner.gif) no-repeat center bottom;
    background-size: 60px auto;
    background-color: rgba(255,255,255,0.6);
    z-index: 99;

}
.my-pagination /deep/ .ngx-pagination .current {
    background: red;
}

.dimensions {
    height: 400px;
}
agm-map {
    height: 300px;
}
#map {
    height: 300px;
}

ul.commntList li{display:none}
ul.commntList li:first-child, ul.commntList li:nth-child(2){display:block !important;}