@charset "utf-8";
/* CSS Document */
@media (max-width:1560px) {
.srchform {
    width: 52.5%;
}
.timelbtncol {
    width: 47.5%;
}
.serchinput .form-control {
    width: 240px;
}
}
@media (max-width:1360px) {
	.opportunityCont .contList{width:33.333333%;}
	.opportunityCont.winLost .opportunityListing li{width:50%;}
	.opportunityCont.winLost .contList:last-child .opportunityListing li{width:100%;}
.srchform,
.timelbtncol {
    width: 100%;
}
}

@media _(max-width:1278) {
	
}
@media (max-width:1023px) {
	.tabnemenu  .tabmenuwrap {
			display:block !important;
	}
	.slidemeubtn {
		display: block;
		float: left;
		margin: 0 9px 0 0;
		border-radius: 0;
	}
	.showMobilenav .overlay {
		visibility: visible;
		opacity: 1;
		display:block;
	}
	.showMobilenav .mainmenu {
		right: 0;
	}   
	.showMobilenav {
		overflow: hidden;
	}
	.mainmenu {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
		background: #3fad97;
		text-align: center;
		width: 220px;
		height: 100%;
		top: 0;
		z-index: 1000;
		position: fixed;
		right: -300px;
		overflow:auto;
	}
	.mainmenu .navbar-nav>li>a {
		padding: 16px 14px;
	}
	.showMobilenav .mainmenu ul {
		float: none !important;
		width: 100%;
		margin: 0;
	}
	header .navbar-nav>li>a {
		padding: 12px 15px;
		font-size: 12px;
		text-align: left;
		color: #ffffff;
		font-weight: 600;
		border-bottom: 1px solid #dedede;
	}
	header .navbar-nav>li:hover>a {
		color: #ffffff;
		background-color: #777;
		margin: 0;
	}

	header .rightmenu .navbar-nav>li>a {
		border:0 none;
	}

	/*end menu collaps*/  
	.btnnewlist>li .btn {
		font-size: 13px;
	}
	.tabltitle {
		font-size: 16px;
	}
	.btnnewlist>li {
		margin-left: 3px;
	}
	.open_modal header,
	.open_modal footer,
	.cntactadd.open_popup .midobjet{display:none;}
	.open_modal .conbx{margin-bottom:0;}
	.adcttitle.withClose{position:relative; padding-left:24px; padding-right:24px;}
	.popupClose{display:block;position:absolute;top: -10px;right: -9px;font-size: 18px;padding: 6px;width: 28px;text-align: center;color: #e06666;}
	

/*timeline*/

.lsocial img {
    max-height: 50px;
}
.tagslist>span {
    padding: 7px 44px 9px 17px;
    font-size: 13px;
    margin: 5px;
}

.tgnumbr {
    width: 30px;
    height: 30px;
    line-height: 34px;
}
.leftpanel .cspanel .panel-title {
    font-size: 17px;
}
.timelinelist>li {
	padding-left:60px;
}
.txtbtn {
	font-size:12px;
}
.cmbx figure.round {
	left:14px;
	top:10px;
}

.cmbx {
    padding:13px 28px 13px 57px;
}
.avnamcbx {
    font-size: 14px;
    margin: 0 0 3px;
}
.timelinelist .colbwtn,
.timelinelist .colwav {
	width:100%;
} 
.timelinelist .colbwtn {
	margin-bottom:10px;
}
.cmbx .txtbtn {
    margin-left: 0;
    margin-right: 10px;
}
.timelinelist .colbwtn .pull-right {
    float: left !important;
}
.cmbx label {
    font-size: 13px;
    margin: 8px 0 6px;
}
.timdesk {
    font-size: 13px;
    line-height: 21px;
    margin: 4px 0;
}
.tablecs .table tr>td {
	font-size:13px;
}
.tablecs {
    padding: 13px 30px 13px 50px;
}
.timelinebar {
    left: 23px;
}
label.upfiletimel {
	padding-top:4px;
}
	/*end max 1023px*/ 
}
@media (min-width:992px) {
	.collapseBody{display:block !important;}
}
@media (max-width:991px) {
	.collapseHead{position:relative; padding-right:40px; cursor:pointer;}
	.collapseHead .clk{display:block;position:absolute;top:50%;right:10px;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);color: #444;font-size: 17px;}
	.collapseBody{display:none;}
	.regFormCont{padding:24px;}
	.growBusiness h2{font-size:38px; line-height:44px;}
}


@media (max-width:767px) {
	.logo {
		height: 50px;
		float: none !important;
		margin: 0 auto;
	}
	.rightmenu {
		width: 100%;
		float: none !important;
/*		max-width: 400px;*/
		margin: auto;
	}
	.rightmenu ul.nav.navbar-nav {margin: 0 10px 0 0;}

	.rightmenu ul.nav.navbar-nav li.dropdown {
		float: left;
	}
	.rightmenu ul.nav.navbar-nav::after,
	.rightmenu ul.nav.navbar-nav::before {
		display:table;
		clear:both;
		content:"";
	}

	.navbar-nav>li.dropdown.open>.dropdown-menu {
		position:absolute;
	}
	.scrollup {
		width: 25px;
		height: 25px;
		right: 10px;
		background-size: 100% auto;
	}

	.navbar-nav>li.dropdown.open>.dropdown-menu {
		position: absolute;
		width: 300px;
		right: 0;
	}
.tabgroup .nav-tabs>li::after {
	height:2px;
}


	.table_default .table>tbody>tr>th {
		display: block;
		padding: 7px 0 0 10px;
	}   
	/*.table_default td:before {
		content: attr(data-th)": ";
		color: #000000;
		font-weight: bold;
		margin: 0 10px 0 0;
	} */
	.table_default td {
		position:relative;
	}

	.tablecs td:before,
	.table_default td:before {
		content: attr(data-th)": ";
		color: #000000;
		font-weight: bold;
		margin: 0 10px 0 0;
		position: absolute;
		left: 10px;
	}
	.tablecs td:before,
	.table_default.newtbl td:before {
		position:relative;
	}

	.tablecs .table>tbody>tr>td,
	.table_default .table>tbody>tr>td {
		display: block;
		padding-left: 114px !important;
	}  
	.tablecs .table>tbody>tr>td,
	.table_default.newtbl .table>tbody>tr>td {
		padding-left:10px !important;
	}
	.smallavatar {
		float: none;
		display: inline-block;
		margin: 0 10px -10px 0;
	}
	.tablecs tbody tr,
	.table_default tbody tr {
		border: 1px solid #7d7b79;
	}
	.btnnewlist>li {
		padding: 0;
		margin: 0 2px 4px;
	}
	.tablecs .table>tbody>tr>th,
	.table_default .table>tbody>tr>th {
		max-width: inherit;
		background-color: #e6e6e6;
		color: #000;
	}


	.tablecs .table>thead>tr>th,
	.table_default .table>thead>tr>th {
		display: none;
	}
	.table_default .table>thead:first-child>tr:first-child>th:first-child {
		display:block;
		max-width: inherit;
		background-color: #e6e6e6;
		border: 1px solid #7d7b79;
		position: relative;
		top: -6px;
		padding-left:10px;
	}

	.btnnewlist {
		margin-bottom:6px;
	}
	.table_default .table>thead:first-child>tr:first-child>th:first-child:after {
		display: block;
		content: "Check all";
		position: absolute;
		top: 8px;
		left: 30px;
		color: #000;
		font-weight: normal;
	}
	[class*=col] {
		padding-left: 5px;
		padding-right: 5px;
	}
	.row {
		margin-left:-5px;
		margin-right:-5px;
	}
	/* .table_default {
		padding:5px;
	} */
	.tablecs thead,
	.dataTable thead{display:none;}
	.adcttitle{font-size:26px;}

.chatico {
	width:15px;
	height:15px;
	border-width:2px;
	top:1px;
}
.conbx label {
	font-size:14px;
}
.conbx label.txtsmall {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 0;
}
.txtlb {
	font-size:15px;
}
td.actionbtnlist {
    width: auto;
}
.gptop32 {
    margin-top: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top:0 none;
}
.table_default.newtbl .table>tbody>tr>td:first-child {
    border-top: 1px solid #ccc;
}
.srchform {
	max-width:inherit;
}
.calList li{padding-left:0;}
.calList li:before{display:none;}
.calendarView table tr td{width:auto;}
.calendarView table tr th{width:80px;}
.calendarListView table tr td{font-size:13px;}
.calListViewDt{display:block; width:40px;}
/*end all phone 767px*/		

}

@media (max-width:639px) {
.newtbstl .nav-tabs,	
.tabmenuwrap {
		display: none;
	}
	.tab_drawer_heading {
	    background-color: #3b3f51;
    color: #fff;
    border-top: 1px solid #ffffff;
    margin: 0;
    padding: 8px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
}
	.d_active {
		background-color: #3fad97;
		color: #fff;
	}
	.myacavatar {
		margin-top:15px;
	}
	.tabgroup .conbx {
		padding:0;
	}
.adcttitle {
    font-size: 20px;
}
.opportunityCont .contList{width:50%;}
.opportunityCont.winLost .contList,
.opportunityCont.winLost .contList:last-child{width:100%;}
.opportunityCont.winLost .contList:last-child .opportunityListing li{width:50%; border-right:1px solid #e6e6e6;}
.opportunityCont.winLost .contList:last-child .opportunityListing li:nth-child(2n){border-right:none;}
.beforeLoginPG header{padding:16px 0;}
.beforeLogLogo img{width:216px;}
.loginPgcont .regTl{font-size:20px;}
.registerBox{display:block;}
.registerBox tbody,
.registerBox tbody tr,
.registerBox tbody tr td{display:block; width:100%;}
.regTl{font-size:30px; line-height:34px;}
/* max-wdth 639px*/
}

@media (max-width:479px) {

 .logo {
    height: 50px;
    float: none !important;
    margin: 0;
    max-width: 220px;
}
.avatardrop {
    margin: 18px 0 0;
    float: left !important;
}
.rightmenu ul.nav.navbar-nav {
    margin: 6px auto 0;
    float: none !important;
    max-width: 165px;
    position: absolute;
    right: 36px;
}
.slidemeubtn {
	margin:0;
}
header {
	padding-bottom:10px;
}
.paginationew  .pagination > li > a, .paginationew  .pagination > li > span {
    padding:5px 12px;
}
footer {
    text-align:center;
}
footer .fcpy {
    float:none !important;
    text-align:center;
}
.socilaf {
    margin: 0;
    float: none !important;
    display: inline-block;
}
.tabltitle {
    font-size:15px;
}
.leftpanel .cspanel .panel-title {
    font-size:14px;
}
.navbar-nav>li.dropdown.open>.dropdown-menu {
    position: absolute;
    width: 250px;
    right: 0;
}
.navbar-nav>li.dropdown.taskdropdwn.open>.dropdown-menu {
    right: inherit;
    left: -188px;
    top: 56px;
}
.open.taskdropdwn>div.dropdown-menu::before {
    right: 40px;
}
.navbar-nav>li.dropdown.messagedropdn.open>.dropdown-menu {
	right: inherit;
    left: -130px;
    top: 57px;
}
.open.messagedropdn>div.dropdown-menu::before {
    right: inherit;
    left: 131px;
}

.navbar-nav>li.dropdown.notidropdwn.open>.dropdown-menu {
	right: inherit;
    left: -70px;
    top: 57px;
}
.open.notidropdwn>div.dropdown-menu::before {
    right: inherit;
    left: 74px;
}
.btnnewlist{margin-bottom:0; padding-bottom:10px;}
.btnnewlist>li .btn {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    height: 30px;
}
.listGrid{margin-top:18px;}
.listGrid a{font-size:0px;}
.listGrid a .fa{font-size:20px;}
.btnnewlist{text-align:center;}
.btnnewlist li.pull-left{display:inline-block; vertical-align:top; float:none !important;}
.csbtn{min-width:1px; margin:0 4px; font-size:17px; height:40px;}
.dataTables_paginate a, .dataTables_paginate span span{padding-left:12px; padding-right:12px;}

.tabgroup .nav-tabs>li {
	float:none;
}
.tabgroup .nav-tabs {
    margin: 0;
}
.bordertop .csbtn {
	margin-bottom:4px;
}
header .container-fluid {
    padding-left: 11px;
    padding-right: 11px;
}
.btn-lgcs {
    padding-left: 10px;
    padding-right: 10px;
}
.rightmenu .navbar-nav>li>a {
    padding: 16px 4px;
}
.avatardrop figure {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.avatardrop a {
	line-height:31px;
}
.logout {
    margin: 26px 0 0 0;
}
.settignmenu {
    text-align: left;
}
.smbtn {
    padding: 4px 14px;
    font-size: 12px;
    line-height: normal;
    height: auto;
    min-width: inherit;
    margin-bottom: 7px;
    margin-left: 0;
}
.serchinput .form-control {
    width: 301px;
}
.cmbx {
    padding: 10px;
}
.cmbx figure.round {
    position: inherit;
    margin: 0 auto 10px;
    top: inherit;
    left: inherit;
    float: none !important;
    width: 70px;
    height: 70px;
}
.timelinelist>li {
    padding-left: 30px;
}
.timelinebar {
    left: 5px;
    border-left-width: 3px;
}
.circlet {
    width: 15px;
    height: 15px;
    margin: 0 0 0 -9px;
}
.btntimelist .btn {
	margin-bottom:5px;
}
.srchform  .form-group {
    display: inline-block;
    max-width: 100%;
}
.actvlink {
	height:106px;
}
.actvlink img {
    max-height: 40px;
}
span.greynot {
	font-size:12px;
}
.opportunityCont .contList{width:100%; border-right:none !important;}
.opportunityCont.winLost .opportunityListing li,
.opportunityCont.winLost .contList:last-child .opportunityListing li{width:100%; border-right:none !important;}
.calList li{font-size:11px; line-height:12px;}
.calendarView .dt{font-size:13px; line-height:14px;}
.calendarListView table tr th, 
.calendarView table tr th{font-size:11px;}
.calendarView table tr td{height:80px;}
.calendarView .cmplt{margin-bottom:6px;}
.calendarListView table tr td:first-child{text-align:center;}
.loginPgcont .regFormCont{padding:20px 16px;}
.regFormCont{padding:20px 16px;}
.regTl{font-size:22px; line-height:28px;}
.growBusiness h2{font-size:28px; line-height:34px;}
/*small mobile 479px*/
}

@media only screen and (min-width:480px) and (max-width:639px) {
.navbar-nav>li.dropdown.taskdropdwn.open>.dropdown-menu {
    right: inherit;
    left: -100px;
}
.open.taskdropdwn>div.dropdown-menu::before {
    right: inherit;
    left: 120px;
}
.navbar-nav>li.dropdown.messagedropdn.open>.dropdown-menu {
    right: inherit;
    left: 0;
}
.open.messagedropdn>div.dropdown-menu::before {
    right: inherit;
    left: 30px;
}

.navbar-nav>li.dropdown.notidropdwn.open>.dropdown-menu {
    right: inherit;
    left: 0;
}
.open.notidropdwn>div.dropdown-menu::before {
    right: inherit;
    left: 30px;
}
.btnnewlist {
    float: left !important;
}
.tabgroup .nav-tabs>li>a {
    font-size: 13px;
    padding: 8px 17px;
}
.btn-lgcs {
    padding-left: 10px;
    padding-right: 10px;
}
.btnnewlist {
    padding: 15px 12px;
}
.srchform.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.srchform {
    margin-bottom: 13px;
}
.btntimelist .btn {
	float:left;
}
.serchinput .form-control {
    width: 215px;
    max-width: 100%;
}
.setreminder .col-sm-6 {
    width:50%;
    float: left;
}
.setreminder .col-sm-6.leftbrder {
    padding-left: 20px;
}
.settignmenu.forlabel::before {
    right: inherit;
    left: 30px;
}
.settignmenu.forlabel {
    right: inherit;
    left: 0;
    top: 39px;
}
/*480px */
}
@media only screen and (min-width:640px) and (max-width:767px) {
.navbar-nav>li.dropdown.messagedropdn.open>.dropdown-menu {
    right: inherit;
    left: 0;
}
.open.messagedropdn>div.dropdown-menu::before {
    right: inherit;
    left: 30px;
}

.navbar-nav>li.dropdown.notidropdwn.open>.dropdown-menu {
    right: inherit;
    left: 0;
}
.open.notidropdwn>div.dropdown-menu::before {
    right: inherit;
    left: 30px;
}
.table_default .table>tbody>tr>td, .table_default .table>thead>tr>th, .table_default .table>tbody>tr>th, .table_default .table>tbody>tr>td {
    padding: 8px;
}
.btnnewlist {
    float: left !important;
}
.tabgroup .nav-tabs>li>a {
    font-size: 14px;
    padding: 8px 31px;
}
.logo {
    margin: 0;
    width: 150px;
    height: 72px;
}
.avatardrop {
    margin: 16px 0;
}
.rightmenu .navbar-nav>li>a {
    padding: 25px 15px;
}
.slidemeubtn {
    margin: 10px 9px 0 0;
}

.rightmenu {
    width: auto;
    max-width: 405px;
    position: absolute;
    top: 0;
    right: 65px;
}
.srchform.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.srchform {
    margin-bottom: 13px;
}
.btntimelist .btn {
	float:left;
}
.settignmenu.forlabel::before {
    right: inherit;
    left: 30px;
}
.settignmenu.forlabel {
    right: inherit;
    left: 0;
    top: 39px;
}
.setreminder .col-sm-6 {
    width: 50%;
    float: left;
}
.setreminder .col-sm-6.leftbrder {
    padding-left: 20px;
}
.actvlink {
	width:25%;
}
.newtbstl .nav-tabs>li>a {
    padding: 7px 8px;
    font-size: 13px;
}
/*big mobile iphone 6, 7...  640px*/
}
@media only screen and (min-width:768px) and (max-width:1023px) {
.newtbstl .nav-tabs>li>a {
    padding:8px 12px;
}	
.actvlink {
	width:25%;
}	
.rightmenu {
    margin: 0 50px 0 0;
}
.slidemeubtn {
    margin: 12px 9px 0 0;
}   
.mainmenu .navbar-nav>li {
    float: none;
} 
.scrollup {
    width: 35px;
    height: 35px;
    right: 10px;
    background-size: 100% auto;
}
.btnnewlist {
    padding: 15px 10px;
}
.table_default .table>thead>tr>th, .table_default .table>tbody>tr>th {
    max-width: 29px;
}
.tabgroup .nav-tabs>li>a {
    font-size: 16px;
    padding: 9px 40px;
}
/*timeline*/
.timelbtncol,
.srchform {
	max-width:inherit;
	padding:10px;
}
.setreminder {
    right: inherit;
    left: -50px;
    top: 42px;
}
.setreminder::before {
    right: inherit;
    left: 90px;
}
.settignmenu.forlabel::before {
    right: inherit;
    left: 30px;
}
.settignmenu.forlabel {
    right: inherit;
    left: 0;
    top: 39px;
}
/*end ipad portraight 768px*/	
}

@media only screen and (min-width:1024px) and (max-width:1278px) {
.newtbstl .nav-tabs>li>a {
    padding:7px 10px;
}	
.table_default .table>thead>tr>th, .table_default .table>tbody>tr>th {
    max-width: 29px;
}    
.tabltitle {
    font-size:16px;
}    
.btnnewlist>li {
    margin-left:3px;
}
.btnnewlist>li .btn {
    font-size: 13px;
}
.mainmenu .navbar-nav>li>a{
    padding: 29px 0;
    font-size: 13px;
}
.mainmenu .navbar-nav>li {
    padding-left:9px;
    padding-right:9px;
}

.rightmenu .navbar-nav>li>a {
    padding: 26px 11px;
}
.logo {
	width:200px;
}
.timelbtncol,
.srchform {
	max-width:inherit;
	padding:10px;
}
.timelinepage .leftpanel {
	width:30%;
}
.timelinepage .trightpanel {
	width:70%;
}
.timelinepage .panel-body {
    padding: 10px;
}

.lsocial img {
    max-height: 50px;
}
.tagslist>span {
    padding: 7px 44px 9px 17px;
    font-size: 13px;
    margin: 5px;
}

.tgnumbr {
    width: 30px;
    height: 30px;
    line-height: 34px;
}
.leftpanel .cspanel .panel-title {
    font-size: 17px;
}
.timelinelist>li {
	padding-left:60px;
}
.txtbtn {
	font-size:12px;
}
.cmbx figure.round {
	left:14px;
	top:10px;
}

.cmbx {
    padding:13px 28px 13px 57px;
}
.avnamcbx {
    font-size: 14px;
    margin: 0 0 3px;
}
.timelinelist .colwav {
	width:57%;
}
.timelinelist .colbwtn {
	width:43%;
}
.cmbx label {
    font-size: 13px;
    margin: 8px 0 6px;
}
.timdesk {
    font-size: 13px;
    line-height: 21px;
    margin: 4px 0;
}
.tablecs .table tr>td {
	font-size:13px;
}
.tablecs {
    padding: 13px 30px 13px 50px;
}
.timelinebar {
    left: 23px;
}
label.upfiletimel {
	padding-top:4px;
}
/*end ipad landscape 1024px*/	
}

/* ONLY FOR MESSAGE PAGE */
@media (min-width:1241px){
	.msgOvrlay{display:none !important;}
}
@media (max-width:1240px){
	.msgLeftPanel,
	.msgRightPanel{width:1px; height:1px; padding:0;}
	.msgLeftPanel .panel,
	.msgRightPanel > .white_bg {position:fixed; top:0; left:-260px; width:260px; padding:0; z-index:999; height:100%; overflow:auto; background-color:#fff; border-radius:0px; -webkit-transition:400ms; transition:400ms;}
	.panel-heading.withTab{border-radius:0px;}
	.msgOvrlay{display:block; opacity:0; visibility:hidden; -webkit-transition:400ms; transition:400ms;}
	.userlistShow .msgOvrlay,
	.attachedlistShow .msgOvrlay{opacity:1; visibility:visible;}
	.userlistShow .msgLeftPanel .panel,
	.attachedlistShow .msgRightPanel > .white_bg{left:0;}
	.msgMiddlePanel{width:800px; max-width:100%; margin:0 auto; float:none;}
	.msgHeadbtns li.msgUsersLink,
	.msgHeadbtns li.msgAttachedLink{display:block; float:left !important;}
	.leftform.list2>li{padding-left:10px; padding-right:10px;}
	.panel-heading.withTab .nav-tabs>li>a{font-size:15px; padding:8px 10px;}
	.panelSettings{margin:5px 0 0 0;}
}
@media (max-width:640px){
	.messageListCont .messages{padding:16px 10px; height:284px;}
	.messageListCont .messages .msgTxt{padding:10px; border-radius:10px;}
	.messageListCont .messages .nm{padding-right:0;}
	.messageListCont .messages .nm{font-size:14px;line-height:16px;margin: 0 0 5px 0;}
	.messageListCont .messages .nm .date{position:static;float: none;font-size: 12px;}
	.messageListCont .messages p{font-size:13px; line-height:16px;}
	.messageListCont .messages .msgUser{width:36px; height:36px;}
	.messageListCont .messages .list{padding-left:52px;}
	.messageListCont .messages .list.me{padding-right:52px;}
	.messageListCont .messages .msgTxt:before{border-right-width:14px; border-top-width:16px;}
	.messageListCont .messages .msgTxt:after{border-right-width:10px; border-top-width:10px;}
	.messageListCont .messages .list.me .msgTxt:before{border-left-width:14px; border-top-width:16px;}
	.messageListCont .messages .list.me .msgTxt:after{border-left-width: 12px; border-top-width: 13px;}
	.typemsgArea .bx{padding-right:148px;}
	.msgEmogi, .msgAttach{margin-right:0;}
	.messageListCont .messages .list{margin-bottom:14px;}
}