<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">

  <div class="white_bg1">
    <h2 class="dbtitle">MESSAGING TEMPLATES</h2>
    <div class="dbserform panel-body">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control dbinput" placeholder="Template Name" name="" [(ngModel)]="searchText">
        </div>
        <button class="btn btn-warning addbtn btndb"><i class="sico fa fa-search"></i>Search</button>

        <div class="dropdown pull-right">
          <button class="btn btn-success sucbtn btndb actionbtn opennewdrop">Action <i class="fa fa-angle-down"
              aria-hidden="true"></i></button>
          <div class="settignmenu shownewdrop actionpop" style="display:none;">
            <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
            <button class="btn btn-success  sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
            <ul class="list-unstyled acmenu">
              <li><a href="javascript:;" (click)="delAll()">Delete</a></li>
            </ul>
          </div>
        </div>

        <button class="btn btn-default btngrey btndb openaddcontact pull-right" data-val="addtemplate"
          (click)="openFormModal('addtemplate',null)">Add Template</button>

      </div>
    </div>
    <div class="table_default newtbl grptable visitortbl two_tr_xs_lg scrollipad">
      <table class="table" id="sortingTable">
        <thead>
          <tr>
            <th class="prnametb">
              <label>
                <!-- <input class="hidden" type="checkbox" name="">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>-->
              </label>
            </th>
            <th>Template Name</th>
            <th>Description</th>
            <th class="twobtn ">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let etemp of dataList  | filter:{ title: searchText }">
            <th>
              <label>
                <input class="hidden" type="checkbox" value="{{etemp.id}}" type="checkbox"
                  (change)="selctToList($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>
            </th>
            <td data-th="Template Name"><strong><u>{{etemp.title}}</u></strong></td>
            <td data-th="Description">
              <div [innerHtml]="etemp.content | slice:0:170"></div>
            </td>
            <td data-th="Action" class="twobtn">
              <a href="javascript:void(0);" (click)="openFormModal('addtemplate',etemp)"><img
                  src="assets/images/pencil.png" class="img-responsive"></a>
              <a href="javascript:void(0);" (click)="delSingle(etemp.id)"><img src="assets/images/trash.png"
                  class="img-responsive"></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- popup start -->
<div class="formwrap addtemplate" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose mb0">
      {{model.type}} Template
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && saveEmailTemplate(f)" #f="ngForm" novalidate>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Title</label>
          <input class="form-control" name="title" type="text" [(ngModel)]="model.title">
        </div>

        <div class="col-xs-12">
          <label>Message Content </label>

          <div class="row">
            <div class="col-sm-8 form-group">
              <div id="editor"></div>
              <!-- <ckeditor [(ngModel)]="model.content" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig"
              debounce="500" (change)="onChange($event)">
             </ckeditor> -->
              <!-- [(ngModel)]="ckeditorContent"
    [config]="{uiColor: '#99000'}"
    [readonly]="false"
    (change)="onChange($event)"
    (editorChange)="onEditorChange($event)" 
    (ready)="onReady($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (contentDom)="onContentDom($event)"
    (fileUploadRequest)="onFileUploadRequest($event)"
    (fileUploadResponse)="onFileUploadResponse($event)"
    (paste)="onPaste($event)"
    (drop)="onDrop($event)"
    debounce="500">  -->
              <ckeditor [(ngModel)]="model.content" [ngModelOptions]="{standalone: true}" [readonly]="false" (change)="onChange($event)" debounce="500">
              </ckeditor>
              <!--<p>Value: {{edtext||'empty'}}</p>-->
            </div>
            <div class="col-sm-4 form-group">
              <div class="txtwbrd">
                <p>{{'{ SITE_URL } Site URL'}}</p>
                <p>{{'{ SITE_EMAIL } Site Email'}}</p>
                <p>{{'{ REG_LINK } Registration Link'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label class="btn-block">Platform</label>
          <p-multiSelect [options]="platformList" name="platform" [(ngModel)]="model.platform"
            [defaultLabel]="'Select Platform'" [styleClass]="'form-control'"></p-multiSelect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label class="btn-block">Language</label>
          <select class="form-control" name="language" [(ngModel)]="model.language">
            <option *ngFor="let vl of languageList" value="{{vl.value}}">{{vl.label}}</option>
          </select>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label class="btn-block">Trigger</label>
          <select class="form-control" name="trigger" [(ngModel)]="model.trigger">
            <option *ngFor="let vl of triggerList" value="{{vl.value}}">{{vl.label}}</option>
          </select>
        </div>

        <!-- <p-multiSelect [options]="triggerList" name="trigger" [(ngModel)]="model.trigger" [defaultLabel]="'Select '" [styleClass]="'form-control'"></p-multiSelect> -->

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label class="btn-block">Trigger Time</label>
          <select class="form-control" name="trigger_time" [(ngModel)]="model.trigger_time">
            <option *ngFor="let vl of triggerTimeList" value="{{vl.value}}">{{vl.label}}</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label class="btn-block">Message - Type</label>
          <!--<p-multiSelect [options]="messageTypeList" name="message_type" [(ngModel)]="model.message_type" [defaultLabel]="'Select '" [styleClass]="'form-control'"></p-multiSelect>-->
          <select class="form-control" name="message_type" [(ngModel)]="model.message_type">
            <option *ngFor="let vl of messageTypeList" value="{{vl.value}}">{{vl.label}}</option>
          </select>
        </div>

        <div class="col-xs-12 text-center paddt20 bordertop">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose">
          <input type="submit" value="Save Template" class="btn btn-success csbtn">
        </div>
      </form>
    </div>

  </div>
</div>
<!-- end popup -->

<div class="ovelay hidden"></div>