<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="keyword" name="">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>
          <li class="">
            <input type="text" class="form-control date1" placeholder="From" name="">
          </li>


        </ul>

      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left">Emails</h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <a class="btn rad20 btn-warning addbtn actionbtn" href="javascript:void(0);" (click)="mergeTl()"><i class="fa fa-compress"></i> Merge</a>
          </li>
          <li class="pull-left">
            <a class="btn btn-warning btngrey addbtn actionbtn" href="javascript:void(0);" (click)="archiveAll()"><i class="fa fa-archive"></i> Archive</a>
          </li>
          <li class="pull-left msgbtnright ">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:void(0);">Delete selected items</a></li>
                <li><a href="javascript:void(0);">Auto delete emails from the selected senders</a></li>
                <li><a href="javascript:void(0);">Create contact from the selected senders</a></li>
                <li><a href="javascript:void(0);">Includes assigning the emails to their timeline</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
      <div class="bggreytwo panel-body tabnemenu tabgroup">
        <div class="tabmenuwrap">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tabemail1" aria-controls="tabemail1" role="tab" data-toggle="tab" (click)="changeTab(1)">Inbox <span class="badge">{{post_count?.inbox}}</span></a></li>
            <li role="presentation"><a href="#tabemail2" aria-controls="tabemail2" role="tab" data-toggle="tab" (click)="changeTab(2)">Sent <span class="badge">{{post_count?.sent}}</span></a></li>
            <li role="presentation"><a href="#tabemail3" aria-controls="tabemail3" role="tab" data-toggle="tab" (click)="changeTab(3)">Draft <span class="badge">{{post_count?.draft}}</span></a></li>
            <li role="presentation"><a href="#tabemail4" aria-controls="tabemail4" role="tab" data-toggle="tab" (click)="changeTab(4)">Archive <span class="badge">{{post_count?.archive}}</span></a></li>
          </ul>
        </div>
      </div>

      <div class="table_default">
        <div class="tab-content">
          <div role="tabpanel" id="tabemail1" class="tab-pane active">
            <table class="table" id="sortingTable">
              <thead>
              <tr>
                <th>
                  <!--<label>
                    <input class="hidden" type="checkbox" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                  </label>-->
                </th>
                <th></th>
                <th>Name</th>
                <th>Message</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pst of mailList">
                  <td>
                    <label>
                      <input class="hidden" type="checkbox" value="{{pst?.main_mail?.id}}" (click)="selctToList($event)">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>
                    </label>
                  </td>
                  <td class="msgtdav">
                    <a href="javascript:;" class="avsrc rounduc">
                      <!--<img *ngIf="pst?.mail_message?.sender_type ==1" src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+pst?.mail_message?.user?.profile_picture}}" class="img-responsive">
                      <img *ngIf="pst?.mail_message?.sender_type ==2 && pst?.mail_message?.contact?.profile_picture!=null" src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+pst?.mail_message?.contact?.profile_picture}}" class="img-responsive">-->
                      <img [src]="showPp(pst?.mail_message)" class="img-responsive">
                    </a>
                  </td>
                  <td>
                    <a href="javascript:;" class="avname">{{showName(pst)}}</a>
                  </td>
                  <td>
                    <a (click)="openEmailTimeLine(pst?.main_mail_id)" href="javascript:;" class="msgfrm">{{pst?.mail_message?.subject}} From {{pst?.mail_message?.user?.first_name}} </a>
                    <p href="javascript:;" class="srtmsg" [innerHtml]="pst.mail_message.content | slice:0:100"></p>
                  </td>
                  <td>{{pst?.mail_message?.created_at | date:'y MMM dd H:mm'}}</td>
                  <td class="text-right">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#updaterelationModal" (click)="mailSelction(pst?.main_mail_id,pst?.main_mail?.mail_relation)" class="btn rad20 btn-default sucbtn btn-sm btnmsgstatus">Modify relations</a>
                    <a class="archivebtn" data-toggle="tooltip" data-placement="top" title="Archive" href="javascript:void(0);" (click)="makeArchive(pst.main_mail_id)"><i class="fa fa-archive"></i></a>
                    <a href="javascript:void(0);" class="dltthis" (click)="delThread(pst.id)"></a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <div role="tabpanel" id="tabemail2" class="tab-pane">
            <table class="table" id="sortingTable2">
              <thead>
              <tr>
                <th>
                  <!--<label>
                    <input class="hidden" type="checkbox" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                  </label>-->
                </th>
                <th></th>
                <th>Name</th>
                <th>Message</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pst of mailList">
                <td>
                  <label>
                    <input class="hidden" type="checkbox" value="{{pst.id}}" (click)="selctToList($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                  </label>
                </td>
                <td class="msgtdav">
                  <a href="javascript:;" class="avsrc rounduc">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+pst?.mail_message?.user?.profile_picture}}" class="img-responsive">
                  </a>
                </td>
                <td><a href="javascript:;" class="avname">{{pst?.mail_message?.user?.first_name}}</a></td>
                <td>
                  <a (click)="openEmailTimeLine(pst?.main_mail_id)" href="javascript:;"class="msgfrm">{{pst?.mail_message?.subject}} From {{pst?.mail_message?.user?.first_name}} </a>
                  <p href="javascript:;" class="srtmsg" [innerHtml]="pst.mail_message.content | slice:0:100"></p>
                </td>
                <td>{{pst?.mail_message?.created_at | date:'y MMM dd H:mm'}}</td>
                <td class="text-right">
                  <a href="javascript:void(0);" data-toggle="modal" data-target="#updaterelationModal" (click)="mailSelction(pst?.main_mail_id, pst?.main_mail?.mail_relation)" class="btn rad20 btn-default sucbtn btn-sm btnmsgstatus">Modify relations</a>
                  <a class="archivebtn" data-toggle="tooltip" data-placement="top" title="Archive" href="javascript:void(0);" (click)="makeArchive(pst.main_mail_id)"><i class="fa fa-archive"></i></a>
                  <a href="javascript:void(0);" class="dltthis" (click)="delThread(pst.id)"></a>
                </td>
              </tr>
              </tbody>

            </table>
          </div><!-- sent message -->

          <div role="tabpanel" id="tabemail3" class="tab-pane">
            <table class="table" id="sortingTable3">
              <thead>
              <tr>
                <th>
                  <!--<label>
                    <input class="hidden" type="checkbox" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                  </label>-->
                </th>
                <th></th>
                <th>Name</th>
                <th>Message</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pst of mailList">
                <td>
                  <label>
                    <input class="hidden" type="checkbox" value="{{pst.id}}" (click)="selctToList($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                  </label>
                </td>
                <td class="msgtdav">
                  <a href="javascript:;" class="avsrc rounduc">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+pst?.mail_message?.user?.profile_picture}}" class="img-responsive">
                  </a>
                </td>
                <td><a href="javascript:;" class="avname">{{pst?.mail_message?.user?.first_name}}</a></td>
                <td>
                  <a (click)="openEmailTimeLine(pst?.main_mail_id)" href="javascript:;"class="msgfrm">{{pst?.mail_message?.subject}} From {{pst?.mail_message?.user?.first_name}} </a>
                  <p href="javascript:;" class="srtmsg" [innerHtml]="pst.mail_message.content | slice:0:100"></p>
                </td>
                <td>{{pst?.mail_message?.created_at | date:'y MMM dd H:mm'}}</td>
                <td class="text-right">

                  <a href="javascript:void(0);" class="dltthis" (click)="delThread(pst.id)"></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div><!-- sent message -->

          <div role="tabpanel" id="tabemail4" class="tab-pane">
            <table class="table" id="sortingTable4">
              <thead>
              <tr>
                <th>
                  <!--<label>
                    <input class="hidden" type="checkbox" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                  </label>-->
                </th>
                <th></th>
                <th>Name</th>
                <th>Message</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let pst of mailList">
                <td>
                  <label>
                    <input class="hidden" type="checkbox" value="{{pst.id}}" (click)="selctToList($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                  </label>
                </td>
                <td class="msgtdav">
                  <a href="javascript:;" class="avsrc rounduc">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+pst?.mail_message?.user?.profile_picture}}" class="img-responsive">
                  </a>
                </td>
                <td><a href="javascript:;" class="avname">{{pst?.mail_message?.user?.first_name}}</a></td>
                <td>
                  <a (click)="openEmailTimeLine(pst?.main_mail_id)" href="javascript:;"class="msgfrm">{{pst?.mail_message?.subject}} From {{pst?.mail_message?.user?.first_name}} </a>
                  <p href="javascript:;" class="srtmsg" [innerHtml]="pst.mail_message.content | slice:0:100"></p>
                </td>
                <td>{{pst?.mail_message?.updated_at | date:'y MMM dd H:mm'}}</td>
                <td class="text-right">
                  <a class="archivebtn" data-toggle="tooltip" data-placement="top" title="Unarchived" href="javascript:void(0);" (click)="makeArchive(pst.main_mail_id)"><i class="fa fa-archive"></i></a>
                  <a href="javascript:void(0);" class="dltthis" (click)="delThread(pst.id)"></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div><!-- sent message -->

        </div>
      </div>

      <!-- <nav aria-label="..." class="paginationew text-right">
          <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#" aria-label="Next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
          </ul>
      </nav> -->

    </div>
  </div>
</div>



<div class="modal fade modalprofile" id="updaterelationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel1">Modify Relation</h4>
      </div>

      <form (ngSubmit)="f.form.valid && setMailRelation(f)" #f="ngForm" novalidate>
        <div class="modal-body checklList formstyle">

          <div class="listcheckmd">
            <label class="form-group normalfont">
              <input type="radio" class="hidden mrBtn" name="fromappeartime" [checked]="relTab==1?true:false" value="1" (change)="openSubOption($event)">
              <div class="imgcheck">
                <img src="assets/images/radionew-notchecked.png" class="on">
                <img src="assets/images/radionew-checked.png" class="off">
              </div>
              Post a copy to contact timeline for this email
            </label>

            <div class="lmdsub" *ngIf="relTab==1">
              <label class="mrgr20 normalfont form-group btn-block">
                <input type="checkbox" class="hidden" name="fromappeartime" [(ngModel)]="eModel.cm1">
                <div class="checkico inline_block">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
                Contact managers
              </label>
              <div class="slbx" *ngIf="eModel.cm1==true && cmList?.length>0">
                <p-multiSelect [options]="cmList" [(ngModel)]="eModel.type1_managers" name="type1_managers" [defaultLabel]="'Select Managers'" [styleClass]="'form-control'"></p-multiSelect>
              </div>

              <label class="mrgr20 normalfont form-group btn-block">
                <input type="checkbox" class="hidden" name="fromappeartime" [(ngModel)]="eModel.rc1">
                <div class="checkico inline_block">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div> Related companies

              </label>
              <div class="slbx" *ngIf="eModel.rc1==true && companyList?.length>0">
                <p-multiSelect [options]="companyList" [(ngModel)]="eModel.type1_company" name="type1_company" [defaultLabel]="'Select Company'" [styleClass]="'form-control'"></p-multiSelect>
              </div>

              <label class="mrgr20 normalfont form-group btn-block">
                <input type="checkbox" class="hidden" name="fromappeartime" [(ngModel)]="eModel.cn1">
                <div class="checkico inline_block">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div> Related contacts

              </label>
              <div class="slbx" *ngIf="eModel.cn1==true && contactList?.length>0">
                <p-multiSelect [options]="contactList" [(ngModel)]="eModel.type1_contact" name="type1_contact" [defaultLabel]="'Select Contacts'" [styleClass]="'form-control'"></p-multiSelect>
              </div>

              <label class="mrgr20 normalfont form-group btn-block">
                <input type="checkbox" class="hidden" name="fromappeartime" [(ngModel)]="eModel.ro1">
                <div class="checkico inline_block">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div> Related opportunities
              </label>
              <div class="slbx" *ngIf="eModel.ro1==true && opportunityList?.length>0">
                <p-multiSelect [options]="opportunityList" [(ngModel)]="eModel.type1_opportunity" name="type1_opportunity" [defaultLabel]="'Select Opportunity'" [styleClass]="'form-control'"></p-multiSelect>
              </div>
            </div>
          </div>

          <div class="listcheckmd">
            <label class="form-group normalfont">
              <input type="radio" class="hidden mrBtn" name="fromappeartime" [checked]="relTab==2?true:false" value="2" (change)="openSubOption($event)">
              <div class="imgcheck">
                <img src="assets/images/radionew-notchecked.png" class="on">
                <img src="assets/images/radionew-checked.png" class="off">
              </div>
              Post all future email to contact timeline
            </label>
            <div class="lmdsub" *ngIf="relTab==2">
              <label class="mrgr20 normalfont form-group btn-block">
                <input type="checkbox" class="hidden" name="fromappeartime" [(ngModel)]="eModel.cm2">
                <div class="checkico inline_block">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
                Contact managers
              </label>
              <div class="slbx" *ngIf="eModel.cm2==true && cmList?.length>0">
                <p-multiSelect [options]="cmList" [(ngModel)]="eModel.type2_managers" name="type2_managers" [defaultLabel]="'Select Managers'" [styleClass]="'form-control'"></p-multiSelect>
              </div>

              <label class="mrgr20 normalfont form-group btn-block">
                <input type="checkbox" class="hidden" name="fromappeartime" [(ngModel)]="eModel.rc2">
                <div class="checkico inline_block">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div> Related companies
              </label>

              <div class="slbx" *ngIf="eModel.rc2==true && companyList?.length>0">
                <p-multiSelect [options]="companyList" [(ngModel)]="eModel.type2_company" name="type2_company"  [defaultLabel]="'Select Company'" [styleClass]="'form-control'"></p-multiSelect>
              </div>

              <label class="mrgr20 normalfont form-group btn-block">
                <input type="checkbox" class="hidden" name="fromappeartime" [(ngModel)]="eModel.cn2">
                <div class="checkico inline_block">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div> Related contacts
              </label>
              <div class="slbx" *ngIf="eModel.cn2==true && contactList?.length>0">
                <p-multiSelect [options]="contactList" [(ngModel)]="eModel.type2_contact" name="type2_contact"  [defaultLabel]="'Select Contacts'" [styleClass]="'form-control'"></p-multiSelect>
              </div>

              <label class="mrgr20 normalfont form-group btn-block">
                <input type="checkbox" class="hidden" name="fromappeartime" [(ngModel)]="eModel.ro2">
                <div class="checkico inline_block">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div> Related opportunities

              </label>
              <div class="slbx" *ngIf="eModel.ro2==true && opportunityList?.length>0">
                <p-multiSelect [options]="opportunityList" [(ngModel)]="eModel.type2_opportunity" name="type2_opportunity" [defaultLabel]="'Select Opportunity'" [styleClass]="'form-control'"></p-multiSelect>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer text-center">
          <button type="submit" class="btn btn-primary" >Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
