<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">
  <div class="col-sm-12">
    <div class="white_bg">
      <div class="clearfix title-blue-border">
        <h2 class="tabltitle pull-left text-orange">My Projects</h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li>
            <!-- <a href="javascript:void(0);" class="btn btn-success sucbtn btn-lg pull-right openaddcontact" data-val="addProject"> -->
            <a href="javascript:void(0);" class="btn btn-success sucbtn btn-lg pull-right openaddcontact" (click)="addProject('addProject')">
              <img src="assets/images/btn-plus.png" alt="" /> Create a project</a>
          </li>
        </ul>
      </div>
      <div class="projectLists">
        <div class="list" *ngFor="let project of myProjects; let i = index" [attr.data-index]="i">
          <div class="listCont">
            <a href="project-details/{{project.id}}" class="image" *ngIf="project.projimage;">
              <div class="bx">
                <figure>
                  <img src="{{appConfig.publicUrl+'/uploads/project/thumbs/'+project.projimage}}" alt="" />
                </figure>
              </div>
            </a>
            <a href="javascript:void(0);" class="image" *ngIf="project.project_image;">
              <div class="bx">
                <figure>
                  <img src="{{appConfig.publicUrl+'/uploads/project/thumbs/'+project.project_image}}" alt="" />
                </figure>
              </div>
            </a>
            <div class="details">
              <div class="descTxtCont">
                <div class="descTxt">
                  <a href="javascript:void(0);" (click)="setProjectlive(project.id)" class="tl">{{project.title}}</a>
                  <div class="txt">{{project.timezone}}, USD</div>
                </div>
                <div class="descTxt">
                  <div class="txt">No of Users : 100</div>
                  <div class="txt">No of contacts : 1000</div>
                </div>
              </div>
              <div class="clearfix" style="height:1px;"></div>
              <div class="billingDet">
                <p>Next billing Date: 24th Nov 2017</p>
                <span class="prc">$1000</span>
              </div>
              <div class="buttonset">
                <a href="javascript:void(0);" data-val="addbillingaddress" *ngIf="!project.billing_details" class="btn btn-success btngrey openaddcontact"
                  (click)="addBillingAddr('addbillingaddress',project.id)">Subscriptions</a>
                <a href="javascript:void(0);" *ngIf="project.billing_details" routerLink="subscription/{{project.id}}"
                  class="btn btn-warning   addbtn">Subscriptions</a>
                  <a href="javascript:void(0);" data-val="addbillingaddress" *ngIf="!project.billing_details" class="btn btn-success btngrey openaddcontact"
                  (click)="addBillingAddr('addbillingaddress',project.id)">Plans</a>
                <a href="javascript:void(0);" class="btn btn-warning addbtn" *ngIf="project.billing_details" routerLink="plans/{{project.id}}">Plans</a>
                <a href="javascript:void(0);" data-val="copyscript" class="btn btn-success sucbtn openaddcontact"
                  (click)="addBillingAddr('copyscript')">Copy Script</a>
                <a href="javascript:void(0);" data-val="addbillingaddress" class="btn btn-success btngrey openaddcontact"
                  (click)="addBillingAddr('addbillingaddress',project.id,project.billing_details)">Billing details</a>
                  <a href="javascript:void(0);" (click)="billingHistory(project)" class="btn btn-success   btngrey ">Billing
                    history</a>
              </div>
              <div class="actions">
                <a href="javascript:void(0);" class="edt openaddcontact" data-val="addProject" (click)="editProject('addProject',project)">
                  <img src="assets/images/pencil-gray.png" alt="" />
                </a>
                <a href="javascript:void(0);" (click)="delProject(project.id);" class="del">
                  <img src="assets/images/cross-white.png" alt="" />
                </a>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>
    </div>

    <!--<nav class="paginationew text-right">
      <ul class="pagination">
        <li class="disabled">
          <a href="#" aria-label="Previous">Previous</a>
        </li>
        <li class="active">
          <a href="#">1
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#" aria-label="Next">Next</a>
        </li>
      </ul>
    </nav>
-->
  </div>
</div>

<!-- add project -->
<div class="formwrap addProject" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Create Project
      <a href="javascript:void(0);" class="popupClose">
        <i class="fa fa-close"></i>
      </a>
    </h1>
    <figure class="center-block ctavatar logoAvtar">
      <!-- <img src="{{appConfig.publicUrl+'assets/images/logo-default.png'}}" class="img-responsive" *ngIf="model==null">-->
      <samp>
        <img src="{{appConfig.publicUrl+'uploads/project/thumbs/'+model.projimage}}" class="img-responsive" *ngIf="model.projimage != null && browsImage == null">
        <img src="{{browsImage}}" class="img-responsive" *ngIf="browsImage != null">
      </samp>
    </figure>
    <!-- <center> -->
    <form (ngSubmit)="f.form.valid && postProject(f)" #f="ngForm" novalidate>
      <div style="text-align: center;">
        <label for="toupphoto" class="upphotoct btn">
          <input class="hidden" type="file" id="toupphoto" name="project_image" (change)="onFileChange($event)"> Click
          to Browse
        </label>
      </div>
      <!-- </center> -->
      <!-- <center> -->
      <!--<p>Or</p>
      <p>Drag & Drop to upload photo</p>-->
      <!-- </center> -->

      <div class="panel-body paddt30">
        <div class="col-xs-12 form-group">
          <label>Project Name</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="model.title">
        </div>
        <div class="col-xs-12 form-group">
          <label>Project description </label>
          <textarea class="form-control" rows="10" cols="" name="description" [(ngModel)]="model.description"></textarea>
        </div>
        <div class="col-xs-12 form-group withico">
          <label>Project timezone</label>

          <select class="form-control" name="timezone" [(ngModel)]="model.timezone">
            <option *ngFor="let timezone of timezones">{{timezone}}</option>
          </select>
          <span class="icofr">
            <i class="fa fa-angle-down"></i>
          </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Country</label>
          <select class="form-control" name="country" [(ngModel)]="model.country">
            <option value="{{country.id}}" *ngFor="let country of allCountries">{{country.name}}</option>
          </select>
          <span class="icofr">
            <i class="fa fa-angle-down"></i>
          </span>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="submit" value="{{model.formType=='edit'?'Save':'Create New Project'}}" class="btn btn-success csbtn openaddcontact"
            data-val="addSuccess">
        </div>
      </div>
      <input type="hidden" name="project_id" [(ngModel)]="model.project_id" *ngIf="model.project_id != null">
    </form>

  </div>
</div>
<!-- add project -->

<div class="formwrap addbillingaddress" style="top:-10000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <!-- <span  *ngIf="showSubscription">{{messageSubscription}}</span> -->
    <!-- <strong class="strong" *ngIf="showSubscription">{{messageSubscription}}</strong> -->
    <h1 class="adcttitle text-center withClose">
      Billing Details
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && saveBillingDetails(f)" #f="ngForm" novalidate>
        <div class="clearfix">
          <div class="col-xs-6 form-group">
            <label>Company Name</label>
            <input type="text" class="form-control" name="companyname" [(ngModel)]="billingModel.company_name">
          </div>
          <div class="col-xs-6 form-group">
            <label>Tax number</label>
            <input type="text" class="form-control" name="taxnumber" [(ngModel)]="billingModel.tax_number">
          </div>
          <div class="col-xs-12 form-group">
            <label>Street Address</label>
            <input type="text" class="form-control" name="streetaddress" [(ngModel)]="billingModel.street_address">
          </div>

          <div class="col-xs-12 form-group">
            <label>Apt/Suite/Unit</label>
            <input type="text" class="form-control" name="unit" [(ngModel)]="billingModel.unit">
          </div>

          <div class="col-xs-12 col-sm-6 form-group">
            <label>Country</label>
            <select class="form-control sumoselect" name="countryid" [(ngModel)]="billingModel.country_id">
              <option value="">-Select-</option>
              <option value="{{country.id}}" *ngFor="let country of allCountries">{{country.name}}</option>
            </select>
          </div>

          <div class="col-xs-12 col-sm-6 form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="billingModel.city">
          </div>

          <div class="col-xs-12 col-sm-6 form-group">
            <label>Region</label>
            <input type="text" class="form-control" name="region" [(ngModel)]="billingModel.region">
          </div>

          <div class="col-xs-12 col-sm-6 form-group">
            <label>Zip/Postal Code</label>
            <input type="text" class="form-control" name="zipcode" [(ngModel)]="billingModel.zipcode">
          </div>

          <div class="col-xs-12 col-sm-6 form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" name="phone_number" [(ngModel)]="billingModel.phone_number"
              maxlength="10">
          </div>

          <div class="clearfix"></div>
          <label class="stripe" style="display: none;">Stripe Payment Method</label>
          <h3 class="payment-panel-title message">{{meaasge}}</h3>

          <div class="checkout" style="display: none;">
            <div class="form-row">
              <label for="card-info">Card Info</label>
              <div id="card-info" #cardInfo></div>
              <div id="card-errors" role="alert" *ngIf="error" style="color: red">{{ error }}</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group" *ngIf="billing_details?.customers?.length > 0 && showCardNumber">
            <label>Card Number</label>
            <input type="text" class="form-control" name="cardnumber" [(ngModel)]="billingModel.cardNumber" readonly>
          </div>
          <a href="javascript:void(0);" (click)="deletecard()" *ngIf="billing_details?.customers?.length > 0 && showCardNumber"><img src="assets/images/trash.png"
              class="img-responsive cross"></a>

          <!-- <div class="col-xs-12 col-sm-6 form-group" *ngIf="showCardNumber">
            <label>Card Number</label>
            <input type="text" class="form-control" name="cardnumber" [(ngModel)]="billingModel.cardNumber" readonly>
          </div>
          <a href="javascript:void(0);" (click)="deletecard()" *ngIf="showCardNumber"><img src="assets/images/trash.png"
              class="img-responsive cross"></a> -->
        </div>
        <div class="clearfix addbilingsec">
          <div class="col-xs-12 col-sm-8">
            <div class="clearfix"></div>
            <div class="makeduplicate"></div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
          </div>
        </div>

        <div class="clearfix">
          <div class="col-xs-12 text-center bordertop paddt20">
            <input type="button" value="Cancel" (click)="closeModalBox()" class="btn btn-default csbtn " name="">
            <input type="submit" value="{{billingModel.title}}" class="btn btn-success csbtn" name="">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="formwrap copyscript" style="top:-10000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Copy Script
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <div class="panel-body paddt30">
      <div class="col-xs-12 form-group">
        <label><span class="shortcodeIco">&lt;/&gt; </span>Short Code</label>
        <div class="fieldNote">Copy and paste this snippet to your code and put your form on your website. It's that
          simple.</div>
        <div class="copyClipboard">
          <input type="text" value="" class="form-control">
          <a href="" class="btn btn-success sucbtn rad100">&lt;/&gt; Copy Code</a>
        </div>
      </div>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Close" class="btn btn-default csbtn popClose" name="">
      </div>
    </div>

  </div>
</div>

<!-- add success -->
<div class="formwrap addSuccess" style="top:-10000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Successfully added!
      <a href="javascript:void(0);" class="popupClose">
        <i class="fa fa-close"></i>
      </a>
    </h1>
    <div class="panel-body paddt30">
      <div class="col-xs-12 form-group">
        <label>
          <span class="shortcodeIco">&lt;/&gt; </span>Short Code</label>
        <div class="fieldNote">Copy and paste this snippet to your code and put your form on your website. It's that
          simple.</div>
        <div class="copyClipboard">
          <input type="text" value="" class="form-control">
          <a href="" class="btn btn-success sucbtn rad100">&lt;/&gt; Copy Code</a>
        </div>
      </div>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Close" class="btn btn-default csbtn">
      </div>
    </div>

  </div>
</div>
<!-- add success -->
<div class="ovelay hidden"></div>