<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">
    <div class="white_bg1">
        <div class="mrb20">
          <h2 class="dbtitle">DEFAULT PACKAGE
            <button class="pull-right btn rad20 btn-default sucbtn" routerLink="/admin/create-package/default">&nbsp;&nbsp;Modify default packages</button>
            <!-- +&nbsp;&nbsp;Edit default packages -->
          </h2>
    
        </div>
        <div class="table_default newtbl grptable dbsmtable  two_tr_xs_lg scrollipad">
          <table class="table white_bg">
            <thead>
            <tr>
              <th></th>
              <th>Platform Name</th>
              <th>Package Name</th>
              <th class="detaltb" width="50%">Package Details</th>
              <th class="threebtn" width="15%">Action</th>
            </tr>
            </thead>
            <tbody>
    
            <tr *ngFor="let package of packages" >
              <td><a class="ptbico" href="javascript:void(0);"><img src="assets/images/tb_ico-1.png"></a></td>
              <td data-th="Platform Name">{{package.platfrom.title}}</td>
              <td data-th="Package Name">{{package.title}}</td>
              <td class="detaltb" data-th="Package Details">Onboading : {{package.onboard_cost}}$, Monthly fixed pricing : {{package.fixed_monthly_cost}}$, Monthly pricing per user : {{package.user_monthly_cost}}$,
                Monthly pricing per 1000 contacts : {{package.ccontact_monthly_cost}}$</td>
              <td data-th="Action" class="threebtn">
                <a class="btnsmico pull-left" routerLink="/admin/edit-package/normal/{{package.id}}"><img src="assets/images/edit_ico.png" class="img-responsive"></a>
                <a class="btnsmico pull-left" href="javascript:void(0);" (click)="delPackage(package.id)"><img src="assets/images/close_new.jpg" class="img-responsive"></a>
                <a href="javascript:void(0);" data-val="copyscript" class="openaddcontact btn btn-sm addbtn text-white pull-left" (click)="openCopyModal('copyscript',package)">Copy</a>
                <div class="clearfix"></div>
              </td>
            </tr>
    
            </tbody>
          </table>
        </div>
      </div>


  <div class="white_bg1">
    <div class="mrb20">
      <h2 class="dbtitle">ALL PACKAGES
        <button class="pull-right btn rad20 btn-default sucbtn" routerLink="/admin/create-package/normal">+&nbsp;&nbsp;Add New  packages</button>
      </h2>

    </div>
    <div class="table_default newtbl grptable dbsmtable  two_tr_xs_lg scrollipad">
      <table class="table white_bg">
        <thead>
        <tr>
          <th></th>
          <th>Platform Name</th>
          <th>Package Name</th>
          <th class="detaltb" width="50%">Package Details</th>
          <th class="threebtn" width="15%">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let package of packages" >
          <td><a class="ptbico" href="javascript:void(0);"><img src="assets/images/tb_ico-1.png"></a></td>
          <td data-th="Platform Name">{{package.platfrom.title}}</td>
          <td data-th="Package Name">{{package.title}}</td>
          <td class="detaltb" data-th="Package Details">Onboading : {{package.onboard_cost}}$, Monthly fixed pricing : {{package.fixed_monthly_cost}}$, Monthly pricing per user : {{package.user_monthly_cost}}$,
            Monthly pricing per 1000 contacts : {{package.ccontact_monthly_cost}}$</td>
          <td data-th="Action" class="threebtn">
            <a class="btnsmico pull-left" routerLink="/admin/edit-package/normal/{{package.id}}"><img src="assets/images/edit_ico.png" class="img-responsive"></a>
            <a class="btnsmico pull-left" href="javascript:void(0);" (click)="delPackage(package.id)"><img src="assets/images/close_new.jpg" class="img-responsive"></a>
            <a href="javascript:void(0);" data-val="copyscript" class="openaddcontact btn btn-sm addbtn text-white pull-left" (click)="openCopyModal('copyscript',package)">Copy</a>
            <div class="clearfix"></div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="mrb20">
      <h2 class="dbtitle text-orange clearfix withbtn">ADD ON PACKAGES
        <button class="pull-right btn rad20 btn-default sucbtn" routerLink="/admin/create-package/add-on">+&nbsp;&nbsp;Add New Add on packages</button>
      </h2>
    </div>

    <div class="table_default newtbl grptable dbsmtable  two_tr_xs_lg scrollipad">
      <table class="table white_bg">
        <thead>
        <tr>
          <th></th>
          <th>Package Name</th>
          <th>Add on Package Name</th>
          <th class="detaltb">Package Details</th>
          <th class="threebtn">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let addonpackage of addonPackages">
          <td><a class="ptbico" href="javascript:void(0);"><img src="assets/images/tb_ico-1.png"></a></td>
          <td data-th="Package Name">{{addonpackage?.package?.title}}</td>
          <td data-th="Add on Package Name">{{addonpackage?.title}}</td>
          <td class="detaltb" data-th="Package Details">Onboading : {{addonpackage?.free_period}}$, Monthly fixed pricing : {{addonpackage?.fixed_monthly_cost}}$, Monthly pricing per user : {{addonpackage?.user_monthly_cost}}$,
            Monthly pricing per 1000 contacts : {{addonpackage?.ccontact_monthly_cost}}$</td>
          <td data-th="Action" class="threebtn">
            <a class="btnsmico pull-left" routerLink="/admin/edit-package/add-on/{{addonpackage.id}}"><img src="assets/images/edit_ico.png" class="img-responsive"></a>
            <a class="btnsmico pull-left" href="javascript:void(0);" (click)="delAddonPackage(addonpackage.id)"><img src="assets/images/close_new.jpg" class="img-responsive"></a>
            <a href="javascript:void(0);" data-val="copyscript" class="openaddcontact btn btn-sm addbtn text-white pull-left" (click)="openCopyModal('copyscript',addonpackage)">Copy</a>
            <div class="clearfix"></div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="formwrap copyscript" style="top:-10000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Copy Script
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <div class="panel-body paddt30">
      <div class="col-xs-12 form-group">
        <label><span class="shortcodeIco">&lt;/&gt; </span>Short Code</label>
        <div class="fieldNote">Copy and paste this snippet to your code and put your form on your website. It's that simple.</div>
        <div class="copyClipboard">
          <input type="text" value="" class="form-control" value="{{currentPackage.short_code}}" readonly>
          <a href="javascript:;" (click)="copyToClipboard(currentPackage.short_code)" class="btn btn-success sucbtn rad100">&lt;/&gt; Copy Code</a>
        </div>
      </div>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Close" class="btn btn-default csbtn popClose" name="">
      </div>
    </div>

  </div>
</div>

<div class="ovelay hidden"></div>
