<!-- <div class="fakeload" id="loader-gurd"></div> -->
<ng-container >
  <div class="viewVisitor">
    <div class="iframewrp">
      <iframe *ngIf="remote_page !=''" [src]="remote_page" disabled=""></iframe>
    </div>
  </div>
</ng-container>
<!-- logged in user -->
<div class="userLoged" *ngIf="isLoggedinUser; else notloggedin">


  <section class="fullpage">

    <header>
      <div class="container-fluid cscontainer">

        <div class="logo pull-left">
          <div class="vcenter">
            <a routerLink="/">
              <img src="assets/images/logo.png" class="img-responsive">
            </a>
          </div>
        </div>
        <button class="slidemeubtn">
          <i class="fa fa-bars"></i>
        </button>

        <div class="overlay"></div>

        <div class="mainmenu pull-left">
          <ul class="nav navbar-nav">
            <!-- <li><a class="js-scroll-trigger" routerLink="#mission">Dashboard</a></li> -->
            <li>
              <a routerLink="/time-line">Dashboard</a>
            </li>
            <li>
              <a routerLink="/contacts">Contacts</a>
            </li>
            <li>
              <a routerLink="/visitor/list">Visitors</a>
            </li>
            <li>
              <a routerLink="/user/files">Files</a>
            </li>
            <li>
              <a routerLink="/user/tasks">Tasks</a>
            </li>
            <li>
              <a routerLink="/user/opportunities">Opportunities</a>
            </li>
          </ul>
        </div>

        <div class="rightmenu pull-right clearfix">
          <a routerLink="javascript:void();" (click)="isOn = false; logout();" class="logout pull-right">
            <img src="assets/images/signout.png" class="img-responsive">
          </a>
          <div class="dropdown avatardrop pull-right">
            <!--  <a routerLink="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> -->

            <a routerLink="/my-account">
              <figure *ngIf="authUser?.profile_picture != 'null'">
                <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+authUser.profile_picture}}" class="img-responsive">
              </figure>
              <figure class="round pull-left" *ngIf="authUser?.profile_picture == 'null'">
                <img src="assets/images/twlogo.png" class="img-responsive">
              </figure>
              <span class="avtrName">{{authUser.first_name+' '+authUser.last_name}}</span>
              <!-- <span class="caret"></span> -->
            </a>
            <!-- <ul class="dropdown-menu">
                    <li><a routerLink="my_account.html">My Account</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a routerLink="#">Logout</a></li>
                  </ul> -->
          </div>

          <ul class="nav navbar-nav pull-right">
            <li class="dropdown notidropdwn">
              <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/alerm.png">
                <span style="background-color:#0a99f3;" class="badge">7</span>
              </a>

              <div class="dropdown-menu notibx">
                <h4 class="clearfix drtitle">You have 12 notification
                  <a routerLink="#" class="pull-right">view all</a>
                </h4>
                <ul class="list-unstyled">
                  <li>
                    <a routerLink="#">Lorem ipsum</a>
                  </li>
                  <li>
                    <a routerLink="#">Lorem ipsum</a>
                  </li>
                  <li>
                    <a routerLink="#">Lorem ipsum</a>
                  </li>
                  <li>
                    <a routerLink="#">Lorem ipsum</a>
                  </li>
                  <li>
                    <a routerLink="#">Lorem ipsum</a>
                  </li>
                  <li>
                    <a routerLink="#">Lorem ipsum</a>
                  </li>
                  <li>
                    <a routerLink="#">Lorem ipsum</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="dropdown messagedropdn">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/message.png">
                <span style="background-color:#3fad97;" class="badge">7</span>
              </a>

              <div class="dropdown-menu">
                <h4 class="clearfix drtitle">You have 4 New Messages
                  <a routerLink="message.html" class="pull-right">view all</a>
                </h4>
                <ul class="list-unstyled messagedrop">
                  <li>
                    <a class="clearfix" routerLink="#">
                      <figure>
                        <img src="assets/images/avatar.png" class="img-responsive">
                      </figure>
                      <span class="text-warning">John Doe</span>
                      <span class="pull-right">Just Now</span>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting...
                      </p>
                    </a>
                  </li>
                  <li>
                    <a class="clearfix" routerLink="#">
                      <figure>
                        <img src="assets/images/avatar.png" class="img-responsive">
                      </figure>
                      <span class="text-warning">John Doe</span>
                      <span class="pull-right">16 min</span>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting...
                      </p>
                    </a>
                  </li>
                  <li>
                    <a class="clearfix" routerLink="#">
                      <figure>
                        <img src="assets/images/avatar.png" class="img-responsive">
                      </figure>
                      <span class="text-warning">John Doe</span>
                      <span class="pull-right">2 hrs</span>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting...
                      </p>
                    </a>
                  </li>

                </ul>
              </div>

            </li>

            <li class="dropdown messagedropdn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/email_icon.png">
                <span style="background-color:#fdc820;" class="badge">7</span>
              </a>

              <div class="dropdown-menu">
                <h4 class="clearfix drtitle">You have 4 New Emails <a href="javascript:;" routerLink="/user/emails" class="pull-right">view all</a></h4>
                <ul class="list-unstyled messagedrop">
                  <li>
                    <a class="clearfix" href="#">
                      <figure>
                        <img src="assets/images/avatar.png" class="img-responsive">
                      </figure>
                      <span class="text-warning">John Doe</span>
                      <span class="pull-right">Just Now</span>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting...
                      </p>
                    </a>
                  </li>
                  <li>
                    <a class="clearfix" href="#">
                      <figure>
                        <img src="assets/images/avatar.png" class="img-responsive">
                      </figure>
                      <span class="text-warning">John Doe</span>
                      <span class="pull-right">16 min</span>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting...
                      </p>
                    </a>
                  </li>
                  <li>
                    <a class="clearfix" href="#">
                      <figure>
                        <img src="assets/images/avatar.png" class="img-responsive">
                      </figure>
                      <span class="text-warning">John Doe</span>
                      <span class="pull-right">2 hrs</span>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting...
                      </p>
                    </a>
                  </li>

                </ul>
              </div>
            </li>

            <li class="dropdown taskdropdwn">
              <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/calender.png">
                <span style="background-color:#f3520a;" class="badge">4</span>
              </a>
              <div class="dropdown-menu">
                <h4 class="clearfix drtitle">You have 12 pending tasks view all
                  <a routerLink="/" class="pull-right">view all</a>
                </h4>
                <ul class="list-unstyled">
                  <li>
                    <a class="clearfix" routerLink="#">Application deployment
                      <img src="assets/images/check-src.png" class="img-responsive pull-right">
                    </a>
                  </li>
                  <li>
                    <a class="clearfix" routerLink="#">Mobile app release
                      <img src="assets/images/check-src.png" class="img-responsive pull-right">
                    </a>
                  </li>
                  <li>
                    <a routerLink="#">Database migration</a>
                  </li>
                  <li>
                    <a routerLink="#">New ralease v1.2</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="dashboardNav" *ngIf="authUser.type != 3">
      <a routerLink="/my-account" class="navLogo">
        <img src="assets/images/logo.png" alt="" />
      </a>
      <ul class="navList" *ngIf="authUser.type == 1">
        <li>
          <a routerLink="/my-account">
            My Account
            <div class="ico">
              <img src="assets/images/dashboard-icon.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a href="/user/messages">
            Messages
            <div class="ico">
              <img src="assets/images/chat-setup-icon.png" alt="" />
            </div>
          </a>
        </li>

      </ul>

      <ul class="navList" *ngIf="authUser.type == 2">
        <!--<li>
          <a routerLink="/my-account">
            Dashboard
            <div class="ico">
              <img src="assets/images/dashboard-icon.png" alt="" />
            </div>
          </a>
        </li>-->
        <li>
          <a href="javascript:void(0);">
            Projects
            <i class="fa fa-angle-down"></i>
            <div class="ico">
              <img src="assets/images/projects-icon.png" alt="" />
            </div>
          </a>
              <ul style="display: none;">
                <li>
                  <a routerLink="/my-project">My projects</a>
                </li>
                <ng-container *ngFor="let project of myProjects">
                  <li ngClass="{{project.is_live=='1' ?'liveProject':''}}" >
                    <a href="javascript:void(0);" (click)="setProjectlive(project.id)">{{project.title}}</a>
                  </li>
                </ng-container>
              </ul>
        </li>
        <li>
          <a routerLink="/manage/team-users">
           Users
            <div class="ico">
              <img src="assets/images/my-teams-icon.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/manage/my-team">
            My Teams
            <div class="ico">
              <img src="assets/images/my-teams-icon.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a href="/user/messages">
            Messages
            <div class="ico">
              <img src="assets/images/chat-setup-icon.png" alt="" />
            </div>
          </a>
        </li>

        <li>
          <a routerLink="/manage/groups">
            Groups
            <div class="ico">
              <img src="assets/images/my-teams-icon.png" alt="" />
            </div>
          </a>
        </li>

        <li>
          <a routerLink="#">
            Timeline Setup<i class="fa fa-angle-down"></i>
            <div class="ico">
              <img src="assets/images/opportunities-icon.png" alt="">
            </div>
          </a>

          <ul style="display: none;">
            <li>
              <a routerLink="/manage/note-type">Note types</a>
            </li>
            <li>
              <a routerLink="/manage/task-type">Task types</a>
            </li>
            <li>
              <a routerLink="/manage/opportunity-type">Opportunity types</a>
            </li>
            <li>
              <a routerLink="/manage/opportunity-stage">Opportunity stages</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="#">
            Tags
            <i class="fa fa-angle-down"></i>
            <div class="ico">
              <img src="assets/images/manage-tags-icon.png" alt="" />
            </div>
          </a>
          <ul>
            <li>
              <a routerLink="manage/my-tags">Manage Tags</a>
            </li>
            <li>
              <a routerLink="manage/auto-tags">Auto Tag Url List</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);">
            Chat Setup<i class="fa fa-angle-down"></i>
            <div class="ico">
              <img src="assets/images/chat-setup-icon.png" alt="">
            </div>
          </a>
          <ul >
            <li>
              <a routerLink="/manage/chat-setup">Chat Setup</a>
            </li>
            <li>
              <a href="chat-supported-url-list.html">Chat supported URL List</a>
            </li>
            <li>
              <a routerLink="/manage/email-request-template">Email Template</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);">
            Map Setup<i class="fa fa-angle-down"></i>
            <div class="ico">
              <img src="assets/images/chat-setup-icon.png" alt="">
            </div>
          </a>
          <ul>
            <li>
              <a routerLink="/manage/map-setup">Map Setting</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="leadboxes-setup.html">
            Leadboxes Setup
            <div class="ico">
              <img src="assets/images/leadboxes-icon.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a routerLink="#">
            Custom Field Creation
            <div class="ico">
              <img src="assets/images/custom-field-icon.png" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a routerLink="field-mapping.html">
            Field Mapping
            <div class="ico">
              <img src="assets/images/mapping-icon.png" alt="" />
            </div>
          </a>
        </li>
      </ul>

    </div>

    <div class="overlaydbmenu"></div>
    <div class="leftmenudb" *ngIf="authUser.type == 3">
      <button class="btn toclosedbmenu">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="openmenubtn pull-right">
        <i class="mdi mdi-layers"></i>
      </div>
      <div class="clearfix"></div>
      <div class="logo">
        <div class="vcenter">
          <a routerLink="#">
            <img src="assets/images/logo.png" class="img-responsive">
          </a>
        </div>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a routerLink="/admin"><span class="lmtxt">Dashboard</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico1.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/projects"><span class="lmtxt">Projects</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico2.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="transactions_list.html"><span class="lmtxt">Transactions</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico3.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="affiliate_list.html"><span class="lmtxt">Affiliates</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico4.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="training_videos_list.html"><span class="lmtxt">Training Videos</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico5.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/pricing"><span class="lmtxt">Products</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico6.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/tax-type"><span class="lmtxt">Tax Types</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico7.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="admin/platform"><span class="lmtxt">Platforms</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico8.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="admin/message-templates"><span class="lmtxt">Messaging Templates</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico9.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="admin/languages"><span class="lmtxt">Languages</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico8.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="admin/features"><span class="lmtxt">Features</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico8.png" class="img-responsive"></span></span>
          </a>
        </li>
        <li>
          <a routerLink="admin/mail-accounts"><span class="lmtxt">Sendgrid Accounts</span>
            <span class="dbmenuico"><span><img src="assets/images/db_ico5.png" class="img-responsive"></span></span>
          </a>
        </li>
      </ul>
    </div>

    <section class="cntactadd">
      <section class="container-fluid paddtb20 bggreyone collesspadd">

        <router-outlet></router-outlet>

      </section>
    </section>

  </section>
  <div class="modaloverlay"></div>
  <footer>
    <div class="container-fluid">
      <p class="pull-left fcpy">Copyright @ 2017, Leadview360 - All Rights Reserved</p>
      <ul class="list-inline pull-right socilaf">
        <li><a routerLink="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a routerLink="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a routerLink="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </footer>
  <a class="scrollup" style="display:none;">Scroll</a>
</div>
<!-- logged in user -->



<!-- not logged in user -->
<ng-template #notloggedin>
  <div class="beforeLoginPG">
    <div class="pageContainer">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
<!-- not logged in user -->