<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">

  <div class="white_bg1">
    <h2 class="dbtitle">Project list</h2>
    <div class="dbserform panel-body">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control dbinput" placeholder="Project Name" [(ngModel)]="searchText">
        </div>
        <div class="form-group">
          <input type="text" class="form-control dbinput" placeholder="Email" [(ngModel)]="searchEmail">
        </div>
       <!-- <button class="btn btn-warning addbtn btndb"><i class="sico fa fa-search"></i>Search</button>-->

        <div class="dropdown pull-right">
          <button class="btn btn-success sucbtn btndb actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
          <div class="settignmenu shownewdrop actionpop" style="display:none;">
            <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
            <button class="btn btn-success  sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
            <ul class="list-unstyled acmenu">
              <li><a href="javascript:void(0);" (click)="delAll();">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="table_default newtbl grptable visitortbl two_tr_xs_lg scrollipad">
      <table class="table" id=""><!--sortingTable-->
        <thead>
        <tr>
          <th class="prnametb">
            <label>
             <!-- <input class="hidden" type="checkbox" name="">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>-->
            </label>
          </th>
          <th>Project Name</th>
          <th>Email</th>
          <th>No of Users</th>
          <th>No of Contacts</th>
          <th>Webspace Used</th>
          <th>Last Billing Cycle</th>
          <th>Last Billing Cycle Fee</th>
          <th>Next Billing Cycle</th>
          <th>Next Billing Cycle Fee</th>
          <th>Mass Mailing</th>
          <th class="statustb">Status</th>
        </tr>
        </thead>
        <tbody>

          <tr *ngFor="let project of allProjects | filter:{ title: searchText }| filter:{ uemail: searchEmail } ">
            <th>
              <label>
                <input class="hidden" type="checkbox" name="" value="{{project.id}}" (change)="selctToList($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>
            </th>
            <td data-th="Project Name"><strong routerLink="/admin/project-description/{{project?.id}}" class="cursor"><u>{{project.title}}</u></strong></td>
            <td data-th="Email">{{project.uemail}}</td>
            <td data-th="No of Users">10k</td>
            <td data-th="No of Contacts">20k</td>
            <td data-th="Webspace Used">
              <div class="porogressbar"><span class="prcount" style="width:30%;"></span></div>
              <span>30GB</span>
            </td>
            <td data-th="Last Billing Cycle">25 Jan, 2017</td>
            <td data-th="Last Billing Cycle Fee">$256.00 <br> <span class="btn btn-default btnsm sucbtn ">Paid</span></td>
            <td data-th="Next Billing Cycle">20 Feb, 2018</td>
            <td data-th="Next Billing Cycle Fee">$356.00</td>
            <td data-th="Mass Mailing"><input type="checkbox" [checked]="project.mass_mailing==1?true:false" value="{{project.id}}" (change)="changeMassMailing($event)"></td>
            <td data-th="Status"><span class="text-success">Active</span></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>


