
<p-growl [(value)]="msgs"></p-growl>

<header>
  <div class="cscontainer">
    <a href="javascript:void(0);" routerLink="/" class="beforeLogLogo">
      <img src="assets/images/logo-black.png" alt="" />
    </a>
  </div>
</header>
<div class="beforelogBody">
  <div class="cscontainer">
    <h2 class="regTl">GET STARTED WITH
      <strong>LEADVIEW360</strong>
    </h2>
    <h3 class="regsmTl">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
    <table class="registerBox">
      <tr>
        <td>
          <div class="regFormCont conbx">
            <div class="row">
              <!-- <pre>{{model | json}}</pre> -->
              <form name="form" (ngSubmit)="f.form.valid && register(f)" #f="ngForm" novalidate>
                <div class="col-xs-12 form-group">

                  <label>First Name</label>
                  <input type="text" [(ngModel)]="model.first_name" #firstname="ngModel" required class="form-control {{(f.submitted && !firstname.valid) ?'frmerr':''}}" placeholder="" name="firstname">
                  <!--<div *ngIf="f.submitted && !firstname.valid" class="frmError">
                      <div [hidden]="!firstname.errors.required">
                          First name is required
                      </div>
                  </div>-->

                </div>
                <div class="col-xs-12 form-group">

                  <label>Last Name</label>
                  <input type="text" [(ngModel)]="model.last_name" #lastname="ngModel" required class="form-control {{(f.submitted && !lastname.valid) ?'frmerr':''}}" placeholder="" name="lastname">
                  <!--<div *ngIf="f.submitted && !lastname.valid" class="frmError">
                      <div [hidden]="!lastname.errors.required">
                          Last name is required
                      </div>
                  </div>-->

                </div>
                <div class="col-xs-12 form-group">

                  <label>Email</label>
                  <input type="text" [(ngModel)]="model.email" #email="ngModel" email required class="form-control {{(f.submitted && !email.valid) ?'frmerr':''}}" placeholder="" name="email">
                  <!--<div *ngIf="f.submitted && !email.valid" class="frmError">
                      <div *ngIf="email.errors?.email">
                          Valid email is required
                      </div>
                  </div>-->

                </div>
                <div class="col-xs-12 form-group">
                  <!-- <img src="assets/images/captcha-img.png" alt="" /> -->
                  <re-captcha
                    (resolved)="resolved($event)"
                    siteKey="6LckOHEUAAAAACHo_VIBo6tgYmZ8iQbyxX4_mbWY"
                  required></re-captcha>
                  <!--6LfwbD0UAAAAABl6N5y27dO4uUd9IAVYHpeMzlQE-->
                  <!--<div *ngIf="f.submitted && !captcha" class="frmError">
                    <div [hidden]="!captcha.errors.required">
                      Captcha is required
                    </div>
                  </div>-->
                </div>
                <div class="col-xs-12 form-group">
                  <div class="fieldNote">By clicking 'Sign Up', you agree to the
                    <a href="javascript:void(0);">Terms of Service</a> and
                    <a href="javascript:void(0);">Privacy Policy</a>.</div>
                </div>
                <div class="col-xs-12 form-group">
                  <input *ngIf="!is_submit" type="submit" value="SIGN UP" class="btn btn-orange btn-lg csbtn full">
                </div>
              </form>

            </div>
          </div>
        </td>
        <td>
          <div class="growBusiness">
            <h2>Grow Your Business</h2>
            <img src="assets/images/grow-business-image.png" alt="" />
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <p>Copyright @ 2017, Leadview360 - All Rights Reserved</p>
  </div>
</footer>