
<section class="cntactadd timelinepage">
	<section class="container-fluid bggreyone paddtb30 collesspadd" style="min-height: 0px;">
		<p-growl [(value)]="msgs"></p-growl>
		<div class="cscontainer midobjet">
			<div class="white_bg1">
				<div class="dbtitlewrp mr0 clearfix">
					<h2 class="dbtitle pull-left">Tennis App</h2>
					<div class="dbbtnlist pull-right">
						<button class="btn rad20 btn-default btngrey btn-sm  openaddcontact" data-val="formwrap3" (click)="openModal('formwrap3')">Add
							Note</button>

						<button class="btn rad20 btn-default sucbtn btn-sm openaddcontact" data-val="openinvoicemanual" (click)="openInvoiceModal('openinvoicemanual')">Create
							Manual Invoice</button>
						<button class="btn rad20 btn-default addbtn btn-sm">Create Custom Package &amp; Price</button>
					</div>
				</div>
				<div class="white_bg paddtb20 paddlr30 mrb20">
					<div class="row">
						<div class="col-lg-8 col-md-6 col-sm-5">
							<div class="bltxt form-group"><span class="ico round"><i class="fa fa-location-arrow" aria-hidden="true"></i>
								</span>
								<p><strong>Billing Address</strong></p>
							</div>

							<div class="bladdres">
								<p class="text-orange">Madisons K. J</p>
								<p>Plot No. E2-4, Block-GP</p>
								<p>Sector-V, Salt Lake City</p>
								<p>Kolkata-700 091</p>
								<p><strong>Billing method :</strong>&nbsp;<img src="assets/images/paypal.png">&nbsp;<strong>Paypal</strong></p>
								<p><strong>Paypal Email : admin@madisons.com</strong>
								</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-7">
							<div class="dbbdgrey dbdtdd panel-body">
								<dl class="dl-horizontal">
									<dt><span class="text-success">Project admin email</span>:</dt>
									<dd>john@gmail.com</dd>

									<dt><span class="text-success">No of users</span>:</dt>
									<dd>10k</dd>

									<dt><span class="text-success">No of contacts</span>:</dt>
									<dd>20k</dd>

									<dt><span class="text-success">Last billing cycle</span>:</dt>
									<dd>25 January, 2017</dd>

									<dt><span class="text-success">Last billing cycle fee</span>:</dt>
									<dd>$256.00</dd>

									<dt><span class="text-success">Next billing cycle</span>:</dt>
									<dd>20 Feb, 2018</dd>

									<dt><span class="text-success">Next billing cycle fee</span>:</dt>
									<dd>$356.00</dd>


								</dl>
							</div>
						</div>
					</div>
				</div>



				<h2 class="dbtitle text-orange clearfix withbtn">BILLING HISTORY
					<button class="btn btn-warning addbtn pull-right">Show all</button>
				</h2>
				<div class="table_default tablesimple newtbl frst_th_data">
					<table class="table" id="sortingTable1">
						<thead>
							<tr>
								<th>Invoice No</th>
								<th>Project Name</th>
								<th>Billing Cycle Due Date</th>
								<th>Transaction Date</th>
								<th>Invoiced Amount</th>
								<th>Payment Status</th>
								<th class="statustb">Invoice Link</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-th="Invoice No">1600011</td>
								<td data-th="Project Name">Tennis App</td>
								<td data-th="Billing Cycle Due Date">23 Ma rch, 2018</td>
								<td data-th="Transaction Date">18 Sept, 2018</td>
								<td data-th="Invoiced Amount">$2562.00</td>
								<td data-th="Payment Status">Paid</td>
								<td data-th="Invoice Link"><a class="btndownld" href="javascript:void(0);"><img src="assets/images/pdf.png"
										 class="img-responsive inline_block pull-left">&nbsp;&nbsp;<u>Download</u></a>
									<div class="clearfix"></div>
								</td>
							</tr>
							<tr>
								<td data-th="Invoice No">1600011</td>
								<td data-th="Project Name">Tennis App</td>
								<td data-th="Billing Cycle Due Date">23 Ma rch, 2018</td>
								<td data-th="Transaction Date">18 Sept, 2018</td>
								<td data-th="Invoiced Amount">$2562.00</td>
								<td data-th="Payment Status">Paid</td>
								<td data-th="Invoice Link"><a class="btndownld" href="javascript:void(0);"><img src="assets/images/pdf.png"
										 class="img-responsive inline_block pull-left">&nbsp;&nbsp;<u>Download</u></a>
									<div class="clearfix"></div>
								</td>
							</tr>
							<tr>
								<td data-th="Invoice No">1600011</td>
								<td data-th="Project Name">Tennis App</td>
								<td data-th="Billing Cycle Due Date">23 Ma rch, 2018</td>
								<td data-th="Transaction Date">18 Sept, 2018</td>
								<td data-th="Invoiced Amount">$2562.00</td>
								<td data-th="Payment Status">Paid</td>
								<td data-th="Invoice Link"><a class="btndownld" href="javascript:void(0);"><img src="assets/images/pdf.png"
										 class="img-responsive inline_block pull-left">&nbsp;&nbsp;<u>Download</u></a>
									<div class="clearfix"></div>
								</td>
							</tr>
							<tr>
								<td data-th="Invoice No">1600011</td>
								<td data-th="Project Name">Tennis App</td>
								<td data-th="Billing Cycle Due Date">23 Ma rch, 2018</td>
								<td data-th="Transaction Date">18 Sept, 2018</td>
								<td data-th="Invoiced Amount">$2562.00</td>
								<td data-th="Payment Status">Paid</td>
								<td data-th="Invoice Link"><a class="btndownld" href="javascript:void(0);"><img src="assets/images/pdf.png"
										 class="img-responsive inline_block pull-left">&nbsp;&nbsp;<u>Download</u></a>
									<div class="clearfix"></div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>

				<div class="dbtitlewrp mr0 clearfix">
					<h2 class="dbtitle pull-left">YOUR NOTES</h2>
				</div>


				<!-- *ngFor="let item of noteList" -->
				<!-- *ngFor="let project of myProjects" -->
				<ul class="list-unstyled timelinenote" *ngFor="let item of noteList">
					<li>
						<div class="innertn">
							<div class="leftav">
								<figure class="smallavatar">
									<!-- <img src="assets/images/avatar4.png" class="img-responsive"> -->
									<img _ngcontent-c0="" class="img-responsive" src="http://dev.twebexponent.in/LeadView360Web/public//uploads/profile_picture/thumbs/1514462401ULWHrfloRU.admin_v01D_support.png">
								</figure>
							</div>
							<div class="contimenote clearfix">
								<p><span class="tnname pull-left"><strong>{{authUser.first_name+' '+authUser.last_name}}</strong></span>&nbsp;Created a note on {{item?.created_at | date }}</p>
								<p>{{item?.note}}</p>
							</div>
						</div>
					</li>

					<!-- <li>
						<div class="innertn">
							<div class="leftav">
								<figure class="smallavatar">
									<img src="assets/images/avatar.png" class="img-responsive">
								</figure>
							</div>
							<div class="contimenote clearfix">
								<p><span class="tnname pull-left"><strong>John Doe</strong></span>&nbsp;Created a note on 06 Jun 2017</p>
								<p>Call Anoop</p>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
									industry's standard dummy text ever since the 1500s</p>
							</div>
						</div>
					</li> -->

					<!-- <li>
						<div class="innertn">
							<div class="leftav">
								<figure class="smallavatar">
									<img src="assets/images/avatar.png" class="img-responsive">
								</figure>
							</div>
							<div class="contimenote clearfix">
								<p><span class="tnname pull-left"><strong>John Doe</strong></span>&nbsp;Created a note on 06 Jun 2017</p>
								<p>Call Anoop</p>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
									industry's standard dummy text ever since the 1500s</p>
							</div>
						</div>
					</li> -->

				</ul>
			</div>
		</div>


		<!-- popup start -->
		<div class="formwrap openinvoicemanual" style="top: -5200px; display: block; opacity: 1; min-height: 1px;">
			<div class="formwrapOvrly"></div>
			<div class="conbx center-block">
				<h1 class="adcttitle text-center withClose mb0">
					Create Invoice

					<a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
				</h1>
				<h4 class="text-success text-center">PROJECT NAME : INVOICE APP</h4>





				<div class="panel-body paddt30">

					<div class="clearfix">
						<div class="col-lg-7 col-md-6 col-sm-5">
							<div class="bltxt form-group"><span class="ico round"><i class="fa fa-location-arrow" aria-hidden="true"></i>
								</span>
								<p><strong>Billing Address</strong></p>
							</div>

							<div class="bladdres">
								<p class="text-orange">Madisons K. J</p>
								<p>Plot No. E2-4, Block-GP</p>
								<p>Sector-V, Salt Lake City</p>
								<p>Kolkata-700 091</p>
								<p><strong>Billing method :</strong>&nbsp;<img src="assets/images/paypal.png">&nbsp;<strong>Paypal</strong></p>
								<p><strong>Paypal Email : admin@madisons.com</strong>
								</p>
							</div>
						</div>

						<div class="col-lg-5 col-md-6 col-sm-7">
							<div class="dbbdgrey dbdtdd panel-body">

								<div class="form-group">
									<label>Invoice No.</label>
									<input class="form-control" placeholder="LEAD0001" type="text">
								</div>

								<div class="form-group">
									<label>Invoice Date</label>
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
										<input class="form-control" placeholder="dd/mm/yy" type="text">
									</div>
								</div>

								<div class="form-group">
									<label>Due Date</label>
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
										<input class="form-control" placeholder="dd/mm/yy" type="text">
									</div>
								</div>

							</div>
						</div>
					</div>


					<div class="col-xs-12 col-sm-6 form-group">
						<label>Invoice Amount</label>
						<div class="input-group">
							<!-- <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div> -->
							<input class="form-control" placeholder="Rs." type="text">
						</div>
					</div>

					<div class="col-xs-12 form-group">
						<label>Description</label>
						<textarea class="form-control" rows="5" cols=""></textarea>
					</div>

					<div class="col-xs-12 text-center paddt20">
						<h1 class="txtinvamout text-center">$200 <small>Invoice Amount</small></h1>
						<input type="button" value="Cancel" class="btn btn-default csbtn popClose" name="">
						<input type="button" value="Add Note" class="btn btn-success csbtn" name="">
					</div>
				</div>

			</div>
		</div>


		<div class="formwrap formwrap3" style="top: -5200px; opacity: 1; min-height: 1px; display: block;">
			<div class="formwrapOvrly"></div>
			<div class="conbx center-block">
				<h1 class="adcttitle text-center withClose mb0">
					Add Note
					<a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
				</h1>





				<div class="panel-body paddt30">
					<form (ngSubmit)="f.form.valid && addSaveNote(f)" #f="ngForm" novalidate>
						<div class="col-xs-12 form-group withico">
							<label>Write Your Note</label>
							<textarea class="form-control" rows="5" cols="" name="content" [(ngModel)]="model.content"></textarea>
						</div>


						<div class="col-xs-12 text-center paddt20">
							<input type="button" value="Cancel" class="btn btn-default csbtn popClose" name="">
							<!-- <input type="button" value="Add Note" class="btn btn-success csbtn" name=""> -->
							<input type="submit" value="Add Note" class="btn btn-success csbtn">
						</div>
					</form>
				</div>

			</div>
		</div>
		<!-- end popup -->

		<div class="ovelay hidden"></div>

	</section>
</section>