<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">
  <ng-container *ngIf="current_view=='L'">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="Type keyword..." (change)="kywordFilter($event)"  [(ngModel)]="searchText">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>

          <li class="">
            <label>Expected closure date</label>
            <p-calendar name="due_date" ngClass="dateflt" [(ngModel)]="dueDate" (onSelect)="ddFilter(dueDate)" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
            <div class="tooltipuc"><span class=" text-orange pull-right"><u><a href="javascript:;" (click)="clearFilter($event)">Clear Date</a></u></span>
              <div class="clearfix"></div>

              <div class="tooltipcontuc" style="display:none;">
                <div class="conttooltip">
                  Lorem ipsum is asimply dammy text
                </div>
              </div>
            </div>
          </li>


          <!--<li class="">
            <label>Related Contact</label>
            <input type="text" class="form-control" placeholder="Search by contact" name="">
          </li>-->

          <li class="fulmlty">
            <label>Assigned to</label>
            <p-multiSelect [options]="managerList" [(ngModel)]="selectedMngrs" (onChange)="managerFilter($event)" [defaultLabel]="'Managers'" [styleClass]="'form-control'"></p-multiSelect>
          </li>
          <li class="">
            <label>Stage</label>
            <select class="form-control sumoselect" id="showcontacts" (change)="stageFilter($event)" placeholder="Show Contacts">
              <option selected="" value="">All</option>
              <ng-container *ngFor="let stg of oppStageList">
                <option value="{{stg.id}}">{{stg.name}}</option>
              </ng-container>

            </select>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title  text-orange">
          SUMMARY
          <span class="clk">
								<i class="fa fa-bars"></i>
							</span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform list2">

          <li class="">
            # of opportunity: <strong>10</strong>
          </li>
          <li>Total budget: <strong>$ 2000</strong></li>
          <li>Total margin: <strong>$ 2000</strong></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left text-orange">Opportunity</h2>
        <div class="listGrid pull-left">
          <a href="javascript:;" (click)="changeView('L')" class="sl"><i class="fa fa-list-ul"></i> List View</a>
          <a href="javascript:;" (click)="changeView('C')"><i class="fa fa-list-alt"></i> Week View</a>
          <a href="javascript:;" (click)="changeView('C')"><i class="fa fa-table"></i> Calender View</a>
        </div>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <button class="btn btn-warning addbtn openaddcontact btn-lgcs" (click)="openCreateModal('addoportunity',null)">Add Opportunity</button>
          </li>

          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:void (0);" (click)="delAll()">Delete</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
            <div class="settignmenu shownewdrop" style="display:none;">
              <h4>Table menu item</h4>
              <ul class="list-unstyled itemlist">
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Title
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Expected closer date
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Budget
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Opportunity type
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Status
                  </label>
                </li>
              </ul>

              <div class=" text-center bordertop btnwrp">
                <input type="button" value="Save" class="btn btn-success csbtn" name="">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default newtbl">
        <table class="table" id="sortingTable">
          <thead>
          <tr *ngIf="myList != null && myList.length >0">
            <th>Title</th>
            <th>Expected closer date</th>
            <th>Budget</th>
            <th>Opportunity type</th>
            <th>Status</th>
            <th class="tbaction">&nbsp;</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let val of myList">
            <td width="160" data-th="Created Date">
              <label>
                <input class="hidden" value="{{val?.opportunity.id}}" type="checkbox" (change)="selctToList($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>&nbsp;&nbsp;{{val.opportunity.title}}
            </td>
            <td data-th="Title">{{ (val?.opportunity?.expected_closer_date)*1000 | date:'dd MMM y' }}</td>

            <td data-th="Title">{{ val?.opportunity?.budget }}</td>
            <td data-th="Title">{{ val?.opportunity?.type?.name }}</td>

            <td data-th="Status">{{showStatus(val?.opportunity?.expected_closer_date)}}</td>

            <td data-th="Action" class="actionbtnlist actwbtn">
              <a href="javascript:void(0);" (click)="openCreateModal('addoportunity',val?.opportunity)">
                <img src="assets/images/pencil.png" class="img-responsive">
              </a>
              <a href="javascript:void(0);" (click)="delOpportunity(val?.opportunity.id)">
                <img src="assets/images/trash.png" class="img-responsive">
              </a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- <nav aria-label="..." class="paginationew text-right">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        </ul>
    </nav> -->

  </div>
  </ng-container>
  <ng-container *ngIf="current_view == 'C'">
    <app-opportunities-calendar (viewEvent)="receiveView($event)" (openModalEvent)="openCreateModal($event)" [taskData]="myList"></app-opportunities-calendar>
  </ng-container>
</div>

<div class="formwrap addoportunity" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Add Opportunity Type
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && addSaveOpportunity(f)" #f="ngForm" novalidate>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Opportunity Type</label>
          <select class="form-control" name="opp_type" [(ngModel)]="opportunityModel.opp_type">
            <option *ngFor="let val of oppTypeList" value="{{val.id}}">{{val.name}}</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Opportunity Stage</label>

          <select class="form-control" name="opp_stage" [(ngModel)]="opportunityModel.opp_stage" (change)="changeProfitMagin($event)" placeholder="select">
            <option *ngFor="let val of oppStageList" value="{{val.id}}">{{val.name}}</option>
          </select>
        </div>
        <div class="col-xs-12 form-group withico">
          <label>Title</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="opportunityModel.title">
        </div>

        <div class="col-xs-12 form-group withico">
          <label>Description</label>
          <textarea class="form-control" rows="5" cols="" name="description" [(ngModel)]="opportunityModel.description"></textarea>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico frdate">
          <label>Expected Closer Date</label>
          <!-- <span class="icodateex"><img src="assets/images/calender2.png" class="img-responsive"></span>-->
          <!--<input type="text" class="form-control" placeholder="10 Jun 2017" name="closer_date" [(ngModel)]="opportunityModel.closer_date">-->

          <p-calendar name="closer_date" [(ngModel)]="closerDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
          <!--<span style="margin-left:35px">{{closerDate | date:'dd/M/y'}}</span>-->
        </div>
        <div class="col-xs-12"></div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Budget</label>
          <div class="input-group">
            <div class="input-group-addon"><span class="bigsp">$</span></div>
            <input type="text" class="form-control" placeholder="10" (change)="getBudget($event)" name="budget" [(ngModel)]="opportunityModel.budget">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Expected Profit Margin</label>
          <div class="input-group">
            <div class="input-group-addon"><span class="bigsp">$</span></div>
            <input type="text" class="form-control" name="expected_profit" [(ngModel)]="opportunityModel.expected_profit">
            <div class="input-group-addon"><span class="bigsp">{{profitMargin}}%</span></div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Contact Managers</label>
          <angular2-multiselect [data]="allUsers" [(ngModel)]="opportunityModel.managers"
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                name="managers">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related Contacts</label>
          <!--<input type="text" class="form-control" placeholder="Type contact name" name="">-->
          <angular2-multiselect [data]="contactList" [(ngModel)]="opportunityModel.contacts"
                                [settings]="dropdownSettings"
                                name="contacts">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related Companies</label>
          <!--<input type="text" class="form-control" placeholder="Type company name" name="">-->
          <angular2-multiselect [data]="companyList" [(ngModel)]="opportunityModel.compnay"
                                [settings]="dropdownSettings"
                                name="company">
          </angular2-multiselect>
        </div>

        <div class="col-xs-12 form-group">
          <label class="addfile" for="addfilee">
            <input class="hidden" type="file" id="addfilee" (change)="onFileChange($event,'o')">
            <span class="icof">+</span>Add File
          </label>
          <ng-container *ngIf="showAttachment !=''">
            <a target="_blank" href="{{appConfig.publicUrl+'uploads/opportunity_attachment/'+showAttachment}}">{{showAttachment}}</a>
          </ng-container>
        </div>

        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose" />
          <input type="submit" value="Add Opportunity" class="btn btn-success csbtn" disabled="{{is_submit?'disabled':''}}" />
        </div>
      </form>
    </div>

  </div>
</div>

<div class="ovelay hidden"></div>