<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="Search Tag" name="">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left">Auto tags url list</h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">


          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="#">Delete</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
            <div class="settignmenu shownewdrop" style="display:none;">
              <h4>Table menu item</h4>
              <ul class="list-unstyled itemlist">
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>URL
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Tags
                  </label>
                </li>
              </ul>

              <div class=" text-center bordertop btnwrp">
                <input type="button" value="Save" class="btn btn-success csbtn" name="">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default urllisttble ">
        <table class="table" id="sortingTable">
          <thead>
          <tr>
            <th>
              <label>
                <input class="hidden" type="checkbox" name="">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>
            </th>
            <th>URL</th>
            <th>Tags</th>
            <th class="oppoacxtion1">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tagg of allTagUrl">
            <th scope="row">
              <label>
                <input class="hidden" type="checkbox" name="">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>
            </th>
            <td data-th="URL">
              <a href="javascript:;" (click)="openFileTimeLine(tagg.activity.id)">{{tagg.activity.page_url}}</a>
            </td>
            <td data-th="Tags">
              <ng-container *ngIf="tagg?.activity?.tag_scores.length > 0">
                <ng-container *ngFor="let tg of tagg?.activity?.tag_scores; let i=index">
                  <span class="tagscs" *ngIf="i<2">
                  {{tg?.tag?.title}} <span class="badge">{{tg?.score}}</span>
                  </span>
                </ng-container>
              </ng-container>
            </td>
            <td data-th="Action" class="oppoacxtion1">
              <a href="javascript:void(0);" (click)="openTagModal('addeditautotag',tagg)" class="btn rad20 btn-warning addbtn btn-sm openaddcontact" data-val="addeditautotag">Add Tag</a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- <nav aria-label="..." class="paginationew text-right">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        </ul>
    </nav> -->

  </div>
</div>

<div class="formwrap addeditautotag" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      {{model.type}} Tag Score
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && addSaveTagScore(f)" #f="ngForm" novalidate>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group tnamecol">
          <label>Tag Name</label>
          <select class="form-control" [(ngModel)]="model.tag_id" name="tag_id">
            <option *ngFor="let tag of allTags" value="{{tag.id}}">{{tag.title}}</option>
          </select>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 form-group">
          <label>Tag Score</label>
          <input type="number" value="5" class="form-control" name="score" [(ngModel)]="model.score">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 form-group">
          <label>Delay(secs)</label>
          <input type="number" value="0" class="form-control" name="delay" [(ngModel)]="model.delay">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 form-group">
          <label>Scroll(%)</label>
          <input type="number" value="0" class="form-control" name="scroll" [(ngModel)]="model.scroll">
        </div>
        <!-- <div class="tagoptn form-group pull-left">
            <label class="form-group normalfont mrgr20">
                <input type="radio" class="hidden" name="tagoption">
                <div class="imgcheck">
                    <img src="assets/images/radionew-notchecked.png" class="on">
                    <img src="assets/images/radionew-checked.png" class="off">
                </div>
                Yes
            </label>
            <label class="form-group normalfont mrgr20">
                <input type="radio" class="hidden" name="tagoption">
                <div class="imgcheck">
                    <img src="assets/images/radionew-notchecked.png" class="on">
                    <img src="assets/images/radionew-checked.png" class="off">
                </div>
                No
            </label>
        </div> -->
        <div class="budylistradio pull-left enbletag">
          <div class="form-group">
            <!-- <input type="hidden" name="" value="0"> -->
            <input type="checkbox" name="status" [(ngModel)]="model.status" id="" class="lcs_check" value="1" checked="">
            <span class="swipeChk">
              <span class="on">Enable</span>
              <span class="off">Desable</span>
            </span>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 form-group rmvtag">
          <label>
            <input class="hidden" type="checkbox" [(ngModel)]="model.remove_score" name="remove_score" value="0">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Remove Score
          </label>
        </div>
        <div class="col-xs-12 text-center paddtb20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose">
          <input type="submit" value="Add Tag" class="btn btn-success csbtn" >
        </div>
      </form>

      <div class="clearfix paddt30"></div>
      <div class="tableinfotitle swurl"><p>{{selectActivity?.activity?.page_url}}</p></div>

      <div class="tableinfo">
        <table class="table">
          <tbody>
            <tr *ngFor="let tgs of tag_scores">
              <td>
                <span class="tagscs">{{tgs.tag.title}}<span class="badge">{{tgs.score}}</span></span></td>
              <td class="actd twbtn clearfix"><a class="smbtntb" href="javascript:void(0);" (click)="editTag(tgs)"><img src="assets/images/pencil.png" class="img-responsive"></a> <a class="smbtntb dletebtn" href="javascript:void(0);" (click)="delTagScore(tgs.id)"><img src="assets/images/trash.png" class="img-responsive"></a></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
<div class="ovelay hidden"></div>
