<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">
<div class="filtermask"></div>
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel leftpanelpopup">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
                    <i class="fa fa-bars"></i>
                </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="Search by team member" [(ngModel)]="searchText">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>
          <li class=""><!--sumoselect-->
            <select  class="form-control " id="Appointed" placeholder="Select Team" (change)="sortTeam($event)">
              <option  value="0">Select Team</option>
              <option value="{{team.id}}" *ngFor="let team of myTeam">{{team.itemName}}</option>
            </select>
          </li>

        </ul>

      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left">My Users <a href="#" class="leftpanelfilteremenuicon">Filter</a></h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <button  data-val="adduserModal" (click)="openCreateUser('adduserModal')" class="openaddcontact btn btn-success sucbtn btndb actionbtn opennewdrop">+ Add New</button>
          </li>
          <!-- <li class="pull-left">
              <button class="btn btn-default imbtn">Import contacts</button>
          </li>
          <li class="pull-left">
              <button class="btn btn-default expobtn">Export contacts</button>
          </li> -->
          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:void(0);" (click)="delTeamUser($event,0);">Delete</a></li>
                <li><a  data-val="assignteam" (click)="openAssignteam('assignteam')"  class="openaddcontact" href="javascript:void(0);">Assign Team</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
            <div class="settignmenu shownewdrop" style="display:none;">
              <h4>Table menu item</h4>
              <form (ngSubmit)="saveDisplay(f)" #f="ngForm" novalidate>
              <ul class="list-unstyled itemlist">
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showAvatar" name="avatar" [(ngModel)]="displayColFrm.avatar">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Avatar
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showFirstName" name="firstName" [(ngModel)]="displayColFrm.firstName">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>First Name
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showLastName" name="lastName" [(ngModel)]="displayColFrm.lastName">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Last Name
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showEmail" name="email" [(ngModel)]="displayColFrm.email">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Email
                  </label>
                </li>

              </ul>
              <div class=" text-center bordertop btnwrp">
                <input type="submit" value="Save" class="btn btn-success csbtn">
              </div>
              </form>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default newtbl grptable visitortbl userlistble">
        <table class="table" id=""><!--sortingTable-->
          <thead>
          <tr>
            <th width="20">

            </th>
            <th *ngIf="showAvatar">Avatar</th>
            <th  *ngIf="showFirstName">First Name</th>
            <th *ngIf="showLastName">Last Name</th>
            <th width="160" *ngIf="showEmail">Email</th>
            <th width="300">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let usr of allTeamUsers | filter:{ first_name: searchText, last_name: searchText }">
            <th scope="row">
              <label>
                <input class="hidden" type="checkbox" name="" value="{{usr.id}}" (change)="selctUsers($event);">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>
            </th>

            <td data-th="Name" *ngIf="showAvatar">
              <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visit Contact Timeline"><figure class="smallavatar">
                <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+usr.profile_picture}}" class="img-responsive"  *ngIf="usr.profile_picture!='null'">
                <img src="assets/images/twlogo.png" class="img-responsive" *ngIf="usr.profile_picture=='null'">
              </figure>
              </a>
            </td>

            <td data-th="First Name" *ngIf="showFirstName">{{usr.first_name}}</td>
            <td data-th="Last Name" *ngIf="showLastName">{{usr.last_name}}</td>

            <td data-th="Email" *ngIf="showEmail">{{usr.email}}</td>

            <td data-th="Action">
                  <a data-toggle="tooltip" data-placement="top" title="Permissions" href="javascript:void(0);" data-val="Permissionmodal" class="openaddcontact eddit newbtns"><img src="assets/images/setpermission.png" class="img-responsive" (click)="openPermissionmodal('Permissionmodal',usr);"></a>

                  <a data-toggle="tooltip" data-placement="top" title="Linked resources" href="javascript:void(0);" data-val="resourcesmodal" class="openaddcontact eddit newbtns" (click)="openResourcesmodal('resourcesmodal',usr);"><img src="assets/images/assignico.png" class="img-responsive"></a>

                  <a data-toggle="tooltip" data-placement="top" title="Auto assign rules" href="javascript:void(0);" data-val="assignModal" class="openaddcontact  eddit newbtns" (click)="openAssignModal('assignModal',usr);"><img src="assets/images/linkresourece.png" class="img-responsive"></a>

                  <a data-toggle="tooltip" data-placement="top" title="Edit profile" href="javascript:void(0);"   data-val="adduserModal" class="openaddcontact  eddit newbtns" (click)="editUser('adduserModal',usr);">
                    <img src="assets/images/edit_iconew.png" class="img-responsive">
                  </a>

                  <a data-toggle="tooltip" data-placement="top" title="Password reset / Invite user"  href="javascript:void(0);"   data-val="changepasaswordModal" class="openaddcontact eddit newbtns" (click)="changePassword(usr);">
                    <img src="assets/images/loc_icon-big.png" class="img-responsive">
                  </a>

                  <a data-toggle="tooltip" data-placement="top" title="Delete" href="javascript:void(0);" (click)="delTeamUser($event,usr.id);" class="">
                    <img src="assets/images/closenew.png" class="img-responsive">
                  </a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- <nav aria-label="..." class="paginationew text-right">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        </ul>
    </nav> -->

  </div>
</div>

<div class="formwrap adduserModal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      {{model.formType=='edit'?'Edit':'Add '}} User
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <form (ngSubmit)="f.form.valid && createUser(f)" #f="ngForm" novalidate>
      <figure class="round center-block myacavatar">
        <img *ngIf="blob_picture == null" src="{{appConfig.publicUrl+'uploads/profile_picture/thumbs/'+model.userimage}}" class="img-responsive">
        <img src="{{blob_picture}}" *ngIf="blob_picture != null"/>
      </figure>
      <span style="display: block; width: auto; text-align: center;">
        <label for="toupphoto" class="upphotoct btn">
        <input class="hidden" type="file" id="toupphoto" name="profile_picture" (change)="selectFile($event)">
        Click to Browse
        </label>
      </span>


      <div class="panel-body paddt30">
        <div class="col-xs-12 col-sm-6 form-group">
          <label>First Name</label>
          <input type="text" class="form-control" name="first_name" [(ngModel)]="model.first_name">
        </div>
        <div class="col-xs-12 col-sm-6 form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="last_name" [(ngModel)]="model.last_name">
        </div>
        <div class="col-xs-12 col-sm-6 form-group">
          <label>Nick Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name">
        </div>
        <div class="col-xs-12 col-sm-6 form-group">
          <label>Email Address</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="model.email">
        </div>
        <div class="col-xs-12 col-sm-6 form-group" >
          <label>Phone Number</label>
          <input type="text" class="form-control" name="phone_number" [(ngModel)]="model.phone_number">
        </div>
        <div class="col-xs-12 col-sm-6 form-group">
          <label>Position</label>
          <input type="text" class="form-control" name="designation" [(ngModel)]="model.designation">
        </div>
        <div class="col-xs-12 col-sm-6 form-group withico">
          <label>Language</label>
          <select class="form-control " name="language" [(ngModel)]="model.language">
            <option value="{{lang.id}}" *ngFor="let lang of languages">{{lang.name}}</option>
          </select>
        </div>

        <div class="col-xs-12 col-sm-6 form-group withico">
          <label>Choose Team</label>
          <angular2-multiselect [data]="myTeam" [(ngModel)]="model.teams"
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)" name="teams">
          </angular2-multiselect>

          <!--<select multiple class="form-control sumoselect"  name="teams" [(ngModel)]="model.teams">
            <option value="{{team.id}}" *ngFor="let team of myTeam">{{team.title}}</option>
          </select>-->

        </div>

        <div class="col-xs-12 form-group">
          <label>Email Signature</label>
          <textarea class="form-control" rows="6" name="email_signature" [(ngModel)]="model.email_signature"></textarea>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="submit" value="Add User" class="btn btn-success csbtn openaddcontact" data-val="addSuccess" name="">
        </div>
      </div>
      <!--<input type="hidden" name="project_id" [(ngModel)]="model.project_id" *ngIf="model.project_id != null">-->
    </form>
  </div>
</div>

<div class="formwrap assignteam" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Assign Team
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>



    <div class="panel-body paddt30">

      <div class="col-xs-12 col-sm-6 form-group withico center-block nofloat ">
        <!--<select multiple="" class="form-control sumoselect">
          <option>Team 1</option>
          <option>Team 2</option>
        </select>-->
        <angular2-multiselect [data]="myTeam" [(ngModel)]="model.teams"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)" name="teams">
        </angular2-multiselect>
      </div>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Save" (click)="assignUsersToTeam();" class="btn btn-success csbtn openaddcontact" data-val="addSuccess" name="">
      </div>
    </div>
  </div>
</div>

<div class="formwrap changepasaswordModal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Change Password
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && changePassword(f)" #f="ngForm" novalidate>
        <div class="col-xs-12 col-sm-6 form-group">
          <label>New password</label>
          <input type="password" [(ngModel)]="passwordModel.password" #password="ngModel" required pattern="^(?=.*[0-9])(?=.*[a-z]).{8,}$" class="form-control {{(f.submitted && !password.valid) ?'frmerr':''}}" placeholder="" name="password"/>
          <div class="fieldNote">(Password should be minimum 8 letters alphanumeric)</div>
          <!--<div *ngIf="f.submitted && !password.valid" class="frmError">
              <div [hidden]="!password.errors.required">
                  Password is required
              </div>
              <div [hidden]="!password.errors.pattern">
                  Put valid password as per instruction
              </div>
          </div>-->
        </div>
        <div class="col-xs-12 col-sm-6 form-group">
          <label>Confirm new password</label>
          <input type="password" ngModel #certainPassword="ngModel" [equalTo]="password" class="form-control {{(f.submitted && !certainPassword.valid) ?'frmerr':''}}" placeholder="" name="certainPassword"/>
          <div class="fieldNote">(Confirm password should match with password)</div>
          <!--<div *ngIf="f.submitted && !certainPassword.valid" class="frmError">
              <div *ngIf="certainPassword.errors?.equalTo">
                  Password is not correct
              </div>
          </div>-->
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="submit" value="Save" class="btn btn-success csbtn openaddcontact" data-val="addSuccess" name="">
          <input type="hidden" [ngModel]="passwordModel.user_id" name="user_id" />
        </div>
      </form>
    </div>

  </div>
</div>

<div class="formwrap Permissionmodal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Set Permission
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>



    <div class="panel-body paddt30">
      <h2 class="dbmdtitle text-uppercase">Visitors & Contacts</h2>
<!--

      <ul class="list-unstyled setperlist">
        <li>
          <label class="clearfix">
            <input type="checkbox" checked="" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Manage visitors
          </label>
        </li>
        <li>
          <div class="row">
            <label class="col-xs-12 col-sm-6 col-md-5 clearfix">
              <input type="checkbox" class="hidden" name="">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>
              Assign team members to contacts
            </label>
            &lt;!&ndash;<div class="col-xs-12 col-sm-6 col-md-7 eqlline form-group withico">
              <select class="form-control sumoselect">
                <option>All Groups</option>
              </select>

            </div>&ndash;&gt;
          </div>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Create contacts/companies
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Export contacts/companies
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Import contacts/companies
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Delete contacts/companies
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Merge contacts/companies
          </label>
        </li>
      </ul>
-->

      <ul class="list-unstyled setperlist">
        <li *ngFor="let permission of permissions | filter: {type : 1}">
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="" value="{{permission.id}}" (click)="selctPermissions($event)" [checked]="currentUser.permission_arr.includes(permission.id)">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            {{permission.name}}
          </label>
        </li>

      </ul>

      <h2 class="dbmdtitle text-uppercase">Groups</h2>

     <!-- <ul class="list-unstyled setperlist">
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Create/Manage groups
          </label>
        </li>

        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Email groups
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Export groups
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Delete groups
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox"  class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access timelines all team members
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access timelines following team members : (allow to select the team members to which this user gets access to their timeline)

          </label>
        </li>

      </ul>-->

      <ul class="list-unstyled setperlist">
        <li *ngFor="let permission of permissions | filter: {type : 2}">
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="" value="{{permission.id}}" (click)="selctPermissions($event)" [checked]="currentUser.permission_arr.includes(permission.id)">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            {{permission.name}}
          </label>
        </li>

      </ul>

      <h2 class="dbmdtitle text-uppercase">Level</h2>

     <!-- <ul class="list-unstyled setperlist">
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Create public labels
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Create public email templates
          </label>
        </li>
      </ul>-->

      <ul class="list-unstyled setperlist">
        <li *ngFor="let permission of permissions | filter: {type : 3}">
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="" value="{{permission.id}}" (click)="selctPermissions($event)" [checked]="currentUser.permission_arr.includes(permission.id)">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            {{permission.name}}
          </label>
        </li>

      </ul>

      <h2 class="dbmdtitle text-uppercase">General</h2>
<!--
      <ul class="list-unstyled setperlist">
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access/edit User list
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access/edit Team member permissions
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access/edit auto lead assignment rules
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access/edit leadbox settings
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access leadbox metrics
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access/edit autotags settings
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access autotag metrics
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access chat settings
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access/edit opportunity settings
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access/edit custom fields & widgets
          </label>
        </li>
        <li>
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            Access field mapping feature
          </label>
        </li>
      </ul>-->

      <ul class="list-unstyled setperlist">
        <li *ngFor="let permission of permissions | filter: {type : 4}">
          <label class="clearfix">
            <input type="checkbox" class="hidden" name="" value="{{permission.id}}" (click)="selctPermissions($event)" [checked]="currentUser.permission_arr.includes(permission.id)">
            <div class="checkico">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
            {{permission.name}}
          </label>
        </li>
      </ul>

      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Submit" class="btn btn-success csbtn openaddcontact" data-val="addSuccess" (click)="assignUserPermissions()">
      </div>
    </div>

  </div>
</div>

<div class="formwrap resourcesmodal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="white_bg newbxModal conbx center-block">
    <h1 class="adcttitle text-center text-orange withClose">
      Link Resources
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>



    <div class="panel-body paddt30">
      <h2 class="titleresor">Contacts</h2>

      <div class="listtlink clearfix">
        <a href="javascript:void(0);" class="linkbxrs text-info">
          <div class="vcenter">
            <img src="assets/images/gmail.png" class="img-responsive">
            <span>Gmail</span>
          </div>
        </a>
      </div>
      <h2 class="titleresor">Calendar</h2>
      <div class="listtlink clearfix">
        <a href="javascript:void(0);" class="linkbxrs">
          <div class="vcenter">
            <img src="assets/images/microsost-outlook.png" class="img-responsive">
            <span>Microsost Outlook</span>
          </div>
        </a>

        <a href="javascript:void(0);" class="linkbxrs">
          <div class="vcenter">
            <img src="assets/images/googlecalender.png" class="img-responsive">
            <span>Google Calendar</span>
          </div>
        </a>

        <a href="javascript:void(0);" class="linkbxrs text-info">
          <div class="vcenter">
            <img src="assets/images/outlook-calender.png" class="img-responsive">
            <span>Outlook Calendar</span>
          </div>
        </a>

      </div>
      <h2 class="titleresor">Cloud Storage</h2>

      <div class="listtlink clearfix">
        <a href="javascript:void(0);" class="linkbxrs">
          <div class="vcenter">
            <img src="assets/images/gdrive.png" class="img-responsive">
            <span>Google Drive</span>
          </div>
        </a>

        <a href="javascript:void(0);" class="linkbxrs text-info">
          <div class="vcenter">
            <img src="assets/images/msOnedrive.png" class="img-responsive">
            <span>Microsoft Onedrive</span>
          </div>
        </a>

        <a href="javascript:void(0);" class="linkbxrs text-info">
          <div class="vcenter">
            <img src="assets/images/dropbox.png" class="img-responsive">
            <span>Dropbox</span>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>

<div class="formwrap assignModal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="white_bg newbxModal conbx center-block">
    <h1 class="adcttitle text-center text-orange withClose">
      AUTO ASSIGN
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>



    <div class="panel-body paddt30">
      <h2 class="titleresor">Contacts</h2>

      <form (ngSubmit)="f.form.valid && setAutoAssign(f)" #f="ngForm" novalidate>

        <div class="form-group">
          <label>Tag</label>
          <!--<select class="multipleSelect1  form-control" [(ngModel)]="modelAutoAssign.tags" multiple>&lt;!&ndash;sumoselect&ndash;&gt;
            <option value="" *ngFor="let tag of allTags">{{tag.title}}</option>
          </select>-->

          <angular2-multiselect [data]="allTags" [(ngModel)]="modelAutoAssign.tags" [settings]="dropdownSettings2" name="tags">
          </angular2-multiselect>
        </div>
        <div class="form-group">
          <label>IP Country</label>
          <!--<select class="form-control sumoselect1" multiple>
            <option *ngFor="let country of countries">{{country.name}}</option>
          </select>-->
          <angular2-multiselect [data]="countries" [(ngModel)]="modelAutoAssign.countries" [settings]="dropdownSettings2"
                                (onSelect)="onCountrySelect($event)"
                                (onDeSelect)="onCountryDeSelect($event)"name="countries">
          </angular2-multiselect>
        </div>
        <div class="form-group">
          <label>IP Region</label>
          <!--<select class="form-control sumoselect1"></select>-->
          <angular2-multiselect [data]="slStates" [(ngModel)]="modelAutoAssign.states" [settings]="dropdownSettings2" name="states">
          </angular2-multiselect>
        </div>
        <div class="form-group">
          <label>Browser Language</label>
          <!--<select class="form-control sumoselect1"></select>-->
          <angular2-multiselect [data]="bwlanguages" [(ngModel)]="modelAutoAssign.languages" [settings]="dropdownSettings2" name="languages">
          </angular2-multiselect>
        </div>

        <div class="col-xs-12 text-center paddt20 bordertop">
          <input type="button" value="Cancel" class="btn btn-default csbtn" name="">
          <input type="submit" value="Submit" class="btn btn-success csbtn" name="">
        </div>

      </form>

    </div>

  </div>
</div>

<div class="ovelay hidden"></div>
