<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">
<div class="filtermask"></div>
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel leftpanelpopup">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="Search by team name" [(ngModel)]="searchText">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left">My teams <a href="#" class="leftpanelfilteremenuicon">Filter</a></h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <button  data-val="addteamModal" (click)="openCreateTeam('addteamModal')" class="openaddcontact btn btn-success sucbtn btndb actionbtn opennewdrop">+ Create a Team</button>
          </li>
          <!-- <li class="pull-left">
              <button class="btn btn-default imbtn">Import contacts</button>
          </li>
          <li class="pull-left">
              <button class="btn btn-default expobtn">Export contacts</button>
          </li> -->
          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:void(0);" (click)="delAll()">Delete</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
            <div class="settignmenu shownewdrop" style="display:none;">
              <h4>Table menu item</h4>
              <form (ngSubmit)="saveDisplay(f)" #f="ngForm" novalidate>
                <ul class="list-unstyled itemlist">
                  <li>
                    <label>
                      <input type="checkbox" [checked]="showTeamCol" class="hidden" name="teamName" [(ngModel)]="displayColFrm.teamName">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Team Name
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" [checked]="showUserCol" class="hidden" name="noofUser" [(ngModel)]="displayColFrm.noofUser">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>No of Users
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" [checked]="showCreateDateCol" class="hidden" name="createDate" [(ngModel)]="displayColFrm.createDate">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Created Date
                    </label>
                  </li>
                </ul>

                <div class=" text-center bordertop btnwrp">
                  <input type="submit" value="Save" class="btn btn-success csbtn" name="" >
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default newtbl grptable visitortbl">
        <table class="table" id="">
          <thead>
          <tr>
            <th width="20">

            </th>
            <th width="82" *ngIf="showTeamCol">Team Name</th>
            <th width="80" *ngIf="showUserCol">No of Users</th>
            <th width="95" *ngIf="showCreateDateCol">Created Date</th>
            <th width="104">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let team of myTeam | filter:{ title: searchText } : false; let i = index " [attr.data-index]="i">
            <th scope="row">
              <label>
                <input class="hidden" type="checkbox" name="" value="{{team.id}}" (change)="selctToDel($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>

            </th>
            <td data-th="Team Name" *ngIf="showTeamCol">
              <strong>{{team.title}}</strong>
            </td>
            <td data-th="No of Contact" *ngIf="showUserCol">{{team.users.length}}</td>
            <td data-th="Created Date"  *ngIf="showCreateDateCol">
              {{  team.created_at | date:'dd MMM y' }}
            </td>
            <td data-th="Last Activity Date">
              <div class="tmbtn">
                <a data-toggle="tooltip" data-placement="top" title="Delete" href="javascript:void(0);" class="btn pull-right" (click)="delPTeam(team.id)"><img src="assets/images/closenew.png"></a>
                <a  data-toggle="tooltip" data-placement="top" title="Edit team name" href="javascript:void(0);" data-val="addteamModal" class="openaddcontact btn pull-right" (click)="editTeam('addteamModal',team)"><img src="assets/images/edit_iconew.png"></a>
                <a data-toggle="tooltip" data-placement="top" title="Team members" routerLink="/manage/team-users/{{team.id}}" class="btn pull-right"><img src="assets/images/user_new.png"></a>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- <nav aria-label="..." class="paginationew text-right">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        </ul>
    </nav> -->

  </div>
</div>

<div class="formwrap addteamModal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      {{model.formType=='edit'?'Edit':'Add '}} Team
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30 text-center">
      <form (ngSubmit)="f.form.valid && createTeam(f)" #f="ngForm" novalidate>
        <div class="col-xs-12 col-sm-6 form-group inline_block nofloat">
          <label>Team Name</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="model.title">
        </div>
        <div class="col-xs-12 text-center bordertop_nul paddt20_nul">
          <input type="submit" value="{{model.formType=='edit'?'Save':'Add Team'}}" class="btn btn-success csbtn openaddcontact" data-val="addSuccess" name="">

          <input type="hidden" name="id" [(ngModel)]="model.id" *ngIf="model.id != null">
        </div>
      </form>
    </div>

  </div>
</div>

<div class="ovelay hidden"></div>

