<p-growl [(value)]="msgs"></p-growl>
<div class="container">
  <h1 class="subcrTitle">My Current Plans</h1>
  <div [innerHTML]="pricing_plan_content" class="mnthsubs"></div>
  <!-- <div class="subscriptiondb clearfix">
    <div class="leftbxs">
      <div class="tabenrm tblsmall">
      </div>

      <div class="tabenrm withtblbrd tblsmall">
      </div>

    </div>
    <div class="righttbxs">
      <div class="infofeature mCustomScrollbar">
      </div>
    </div>
  </div> -->
</div>