<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title text-uppercase">Created by <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
      </div>
      <div class="panel-body collapseBody">
        <div class="avatarassign clearfix">
          <figure class="round pull-left">
            <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+leadFile?.owner?.profile_picture}}" class="img-responsive" *ngIf="leadFile !=null && leadFile?.owner?.profile_picture !=null ">
            <img src="assets/images/avatar.png" class="img-responsive" *ngIf="leadFile !=null && leadFile?.owner?.profile_picture == null">
          </figure>
          <p class="pull-left"><strong *ngIf="leadFile !=null ">{{leadFile?.owner?.first_name}} {{leadFile?.owner?.last_name}}</strong></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default cspanel" *ngIf="leadFile !=null">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">ABOUT FILE <span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform list2">
          <li>File: <span class="text-orange">{{leadFile.file_title }} </span></li>
          <li>File Size: <span class="text-orange">
            <ng-container *ngIf="leadFile.file_size > 5">
            {{(leadFile.file_size / 1024) | number : '1.2-2'}} KB
            </ng-container>
            <ng-container *ngIf="leadFile.file_size <= 5">{{leadFile.file_size}} B</ng-container>
          </span></li>
          <li>Date Uploaded: <span class="text-orange">{{leadFile.created_at | date:'dd MMM y'}}</span></li>
        </ul>
        <!--  <div class="text-center bordertptime"><a href="javascript:void(0);" class="seemore">MORE</a></div> -->
      </div>
    </div>

    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">FILE LOG<span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform list2">
          <li>Creation date: <span class="text-orange">{{leadFile.created_at | date:'dd MMM y'}}</span></li>
          <li *ngIf="leadFile?.last_changed">Date of last change: <span class="text-orange">{{leadFile?.last_changed.created_at | date:'dd MMM y'}}</span></li>
          <li *ngIf="leadFile?.last_opened">Date of last open: <span class="text-orange">{{leadFile?.last_opened.created_at | date:'dd MMM y'}}</span></li><!--, h:mm:ss a-->
        </ul>
        <!--  <div class="text-center bordertptime"><a href="javascript:void(0);" class="seemore">MORE</a></div> -->
      </div>
    </div>
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">UDATE HISTORY<span class="clk"> <i class="fa fa-angle-down"></i> </span></h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform list2" *ngIf="leadFile?.sub_files">
          <li *ngFor="let subfl of leadFile?.sub_files">Updated on: <span class="text-orange">{{subfl.created_at | date:'dd MMM y, h:mm:ss a'}}</span>

            <a href="javascript:;" (click)="switchFile(subfl.id,'S')" class="text-orange undolink pull-right">Switch to this version</a>
            <div class="clearfix"></div>
          </li>
          <li >Added on: <span class="text-orange">{{leadFile.created_at | date:'dd MMM y, h:mm:ss a'}}</span>

            <a href="javascript:;" (click)="switchFile(leadFile.id,'M')" class="text-orange undolink pull-right">Switch to this version</a>
            <div class="clearfix"></div>
          </li>
        </ul>
        <!--  <div class="text-center bordertptime"><a href="javascript:void(0);" class="seemore">MORE</a></div> -->
      </div>
    </div>

  </div>

  <div class="col-lg-9 col-md-9 col-sm-12 trightpanel">
    <div class="white_bg">
      <div class="timeltitle panel-body">
        <p>FILE TIMELINE</p>
      </div>
      <div class="clearfix bggreytwo timeltitle">
        <div class="form-inline srchform col-lg-7 col-md-12 col-sm-12">
          <form (ngSubmit)="f.form.valid && searchPost(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <!--<input type="text" id="startdate" placeholder="Start Date" class="form-control dtfild" name="">-->
              <p-calendar name="start_date" [(ngModel)]="startDate" [showIcon]="true" placeholder="Start Date" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="form-group">
              <!--<input type="text" id="enddatedate" placeholder="End Date" class="form-control dtfild" name="">-->
              <p-calendar name="end_date" [(ngModel)]="endDate" placeholder="End Date"  [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="form-group serchinput">
              <input type="text" placeholder="Keywords" class="form-control" name="keyword" [(ngModel)]="searchModel.keyword">
              <input type="submit" class="srchbtn" value="">
            </div>
          </form>
          <!-- <a href="javascript:void(0);" class="pull-right adsearch"><u>Advanced search</u></a> -->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 timelbtncol text-right">
          <div class="btntimelist clearfix">
            <button class="btn rad20 btn-default btngrey btn-sm openaddcontact" data-val="addnotee" (click)="openCreateNote('noteModal')">Add Note</button>

            <button class="btn rad20 btn-default addbtn btn-sm openaddcontact" data-val="addtaskmodal" (click)="openCreateTask('addtaskmodal')">Add Task</button>


          </div>
          <div class="clearfix"></div>
        </div>

      </div>

      <div class="bggreytwo panel-body tabnemenu tabgroup">
        <div class="tabmenuwrap clearfix">
          <ul class="nav nav-tabs pull-left" role="tablist">
            <li  role="presentation" class="dropdown">
              <a class="dropdown-toggle" href="javascript:;" aria-controls="tab5" role="tab" data-toggle="tab">Label <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="">
                  <a class="dropdown-toggle" href="#tablabel" aria-controls="tab5" role="tab" data-toggle="tab" (click)="getFilterData('')">All</a>
                </li>
                <li class="dropdown tabdrop" *ngIf="mylabels.length == 0 ">
                  <a class="dropdown-toggle opennewdrop" href="javascript:;" >Create New Label</a>
                  <div class="settignmenu shownewdrop whitearrow forlabel">
                    <div class="openlabelbx1 panel-body adDlpDsgn1" style="display:block;">
                      <form (ngSubmit)="f.form.valid && createLabel(f,0)" #f="ngForm" novalidate>
                        <div class="form-group">
                          <label>Label name</label>
                          <input type="text" class="form-control" name="title" [(ngModel)]="labelModel.title">
                          <input type="hidden" class="" value="0" name="post_type_id" [(ngModel)]="labelModel.post_type_id">
                        </div>
                        <div class="text-center">
                          <input type="submit" value="Save" class="btn rad20 btn-default sucbtn ">
                        </div>
                      </form>
                    </div>
                  </div>
                </li>

                <li class="" *ngFor="let val of mylabels">
                  <a class="dropdown-toggle" href="#tablabel" aria-controls="tab5" role="tab" data-toggle="tab" (click)="getFilterData(val.id)">{{val.title}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-body white_bg">

        <ul class="timelinelist list-unstyled">

          <ng-container *ngFor="let post of allPostList">
          <ng-container *ngIf="post.type == 1">

            <li *ngIf="post.post_data.user_id == authUser.id || (post.post_data.user_id != authUser.id && post.post_data.status == 1) ">

              <ng-container *ngIf="post.post_data !=null && post.post_type=='N'">

                <span class="timelinebar"><span class="circlet round"></span></span>
                <div class="cmbx bggreytwo">
                  <!-- <figure class="round pull-left" *ngIf="post?.contact && post?.contact?.profile_picture==null">
                     <img src="assets/images/twlogo.png" class="img-responsive">
                   </figure>-->
                  <figure class="round pull-left" *ngIf="post?.user && post?.user?.profile_picture==null">
                    <img src="assets/images/twlogo.png" class="img-responsive">
                  </figure>
                  <figure class="round pull-left" *ngIf="post?.user && post?.user?.profile_picture != null">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+post?.user?.profile_picture}}" class="img-responsive">
                  </figure>
                  <!-- <figure class="round pull-left" *ngIf="post?.contact && post?.contact?.profile_picture != null">
                     <img src="{{appConfig.publicUrl+'/uploads/profile_picture/'+post?.contact?.profile_picture}}" class="img-responsive">
                   </figure>-->

                  <div class="row">
                    <div class="col-sm-6 colwav">
                      <h3 class="avnamcbx"><strong>{{post?.user?.name}}{{post?.contact?.name}}</strong> added a note</h3>
                    </div>

                    <div class="col-sm-6 colbwtn clearfix">

                      <div class="budylistradio pull-right" *ngIf="post.post_data.user_id==authUser.id">
                        <div class="form-group">
                          <!-- <input type="hidden" name="" value="0"> -->
                          <input type="checkbox" class="lcs_check" name="" value="1" [checked]="post.post_data.status==2?true:false" (change)="toggleStatus($event,post.post_type_id,post.post_type)">
                          <span class="swipeChk">
                          <span class="on">Private</span>
                          <span class="off">Public</span>
                        </span>
                        </div>
                      </div>


                      <div class="dropdown pull-right">
                        <a class="txtbtn pull-right opennewdrop"><img src="assets/images/tag.png" class="img-responsive inline_block">
                          Label&nbsp;<i class="fa fa-angle-down"></i></a>
                        <div class="settignmenu shownewdrop whitearrow forlabel" style="display: none;">
                          <div class="offforcreatelabel">
                            <ul class="list-unstyled itemlist">
                              <li *ngFor="let lbl of mylabels">
                                <label>
                                  <input type="checkbox" class="hidden" value="{{lbl.id}}" (change)="addToLabel($event,post.id)" [checked]="post?.labels_arr?.includes(lbl.id)">
                                  <div class="checkico"> <i class="fa fa-check-square" aria-hidden="true"></i> <i class="fa fa-square-o" aria-hidden="true"></i> </div>
                                  {{lbl.title}}
                                </label>
                              </li>
                            </ul>
                            <div class=" text-center bordertop btnwrp">
                              <input type="button" value="Create New Label" class="openlabelcreat btn btntxt" name="">
                            </div>
                          </div>
                          <div class="openlabelbx panel-body adDlpDsgn" style="display:none;">
                            <form (ngSubmit)="f.form.valid && createLabel(f,post.id)" #f="ngForm" novalidate>
                              <div class="form-group">
                                <label>Label name</label>
                                <input type="text" class="form-control" name="title" [(ngModel)]="labelModel.title">
                                <input type="hidden" class="" value="{{post.post_id}}" name="post_type_id" [(ngModel)]="labelModel.post_type_id">
                              </div>
                              <div class="text-center">
                                <input type="submit" value="Save" class="btn rad20 btn-default sucbtn ">
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                     <!-- <ng-container *ngIf="post.is_reminder == '0'">
                      </ng-container>-->

                      <div class="dropdown pull-right">
                        <a class="txtbtn pull-right opennewdrop" (click)="openReminder($event,post?.post_data?.id)"><img src="assets/images/clock-o.png" class="img-responsive inline_block">Add Reminder&nbsp;<i class="fa fa-angle-down"></i></a>

                        <div class="whitdrop setreminder shownewdrop" style="display:none;">
                          <form (ngSubmit)="f.form.valid && saveReminder(f)" #f="ngForm" novalidate>
                            <div class="row panel-body">
                              <div class="col-sm-6">
                                <ul class="list-unstyled itemlist">
                                  <li>
                                    <label>
                                      <input type="checkbox" checked="" class="hidden" value="{{authUser?.id}}" (change)="selctNotifyUsr($event)">
                                      <div class="checkico">
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                      </div>You
                                    </label>
                                  </li>

                                  <ng-container *ngFor="let pst of allUsers">
                                    <li *ngIf="pst?.id != authUser.id">
                                      <label>
                                        <input type="checkbox" class="hidden" name="" value="{{pst?.id}}" (change)="selctNotifyUsr($event)">
                                        <div class="checkico">
                                          <i class="fa fa-check-square" aria-hidden="true"></i>
                                          <i class="fa fa-square-o" aria-hidden="true"></i>
                                        </div>{{pst?.itemName}}
                                      </label>
                                    </li>
                                  </ng-container>

                                </ul>
                              </div>


                              <div class="col-sm-6 leftbrder">
                                <div class="form-group wdtwoinput">
                                  <label>Remind Upto</label>
                                  <div class="clearfix">
                                    <input type="text" value="1" class="form-control pull-left" name="upto_val" [(ngModel)]="reminderModel.upto_val">
                                    <div class="selct pull-left">
                                      <select class="form-control sumoselect" name="upto_dur" [(ngModel)]="reminderModel.upto_dur">
                                        <option value="w">Week</option>
                                        <option value="m">Months</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group wdtwoinput">
                                  <label>Repeat</label>
                                  <div class="clearfix">
                                    <input type="text" value="1" class="form-control pull-left" name="repeat_val" [(ngModel)]="reminderModel.repeat_val">
                                    <div class="selct pull-left">
                                      <select class="form-control sumoselect">
                                        <option>Days</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>

                              </div>

                            </div>

                            <div class="text-center">
                              <input type="submit" value="Set Reminder" class="btn btn-success btn-sm csbtn" name="">
                            </div>
                          </form>
                        </div>
                      </div>
                      <!--<ng-container *ngIf="post.is_reminder == '1'">
                        <div [ngStyle]="{'color':'#ff0000'}">Reminder</div>
                      </ng-container>-->
                    </div>
                  </div>

                  <div class="timdesk">
                    {{post.post_data.details}}
                  </div>
                  <div class="filesselted" *ngIf="post?.post_data?.attachment">
                    <a target="_blank" download="" href="{{appConfig.publicUrl+'/uploads/note_attachment/'+post?.post_data?.attachment}}">{{post?.post_data?.attachment}}</a>
                  </div>
                  <ul class="list-inline cmbxinfo mr0">
                    <li><a href="javascript:void(0);">{{  post?.post_data?.created_at | amTimeAgo }}</a></li>
                    <li><a href="javascript:void(0);">From google+</a></li>
                  </ul>

                  <div class="form-group">
                    <label>Comment</label>
                    <div class="withfileup">
                      <form (keydown)="keyDownFunction($event,f,post?.post_type,post?.post_data?.id)" (ngSubmit)="f.form.valid && createComment(f)" #f="ngForm" novalidate>
                        <textarea class="form-control commntarea" rows="2" name="content" (keyup)="setComment($event)" ></textarea>
                        <label class="upfiletimel">
                          <input type="file" class="hidden" (change)="onFileChange($event,'cmnt')">
                          <span><img src="assets/images/attach_ico.png" class="img-responsive"></span>
                        </label>
                        <input type="hidden" name="type" [(ngModel)]="postCommentModel.type" value="{{val?.post_type}}">
                        <input type="hidden" name="post_id" [(ngModel)]="postCommentModel.post_id" value="{{post?.post_data?.id}}">
                        <input type="hidden" name="content" [(ngModel)]="postCommentModel.content" value="">
                      </form>
                    </div>
                  </div>
                  <ul class="commntList list-unstyled">
                    <li *ngFor="let cmnt of post?.post_data?.comments">
                      <figure class="round pull-left">
                        <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+cmnt?.user?.profile_picture}}" class="img-responsive">
                      </figure>
                      <h3 class="avnamcbx"><strong>{{cmnt.user.first_name}} {{cmnt.user.last_name}}</strong> {{cmnt.content}} </h3>

                      <span class="filesselted" *ngIf="cmnt?.attachment">
                            <a download="" target="_blank" href="{{appConfig.publicUrl+'/uploads/comment_attachment/'+cmnt?.attachment}}">{{cmnt?.attachment}}</a>
                      </span>
                    </li>
                  </ul>
                  <div class="text-center" *ngIf="post?.post_data?.comments?.length > 2">
                    <a href="javascript:void(0);" class="ldmore text-orange">View more</a>
                  </div>

                </div>
              </ng-container>

              <ng-container *ngIf="post.post_data !=null && post.post_type=='T'">
                <span class="timelinebar"><span class="circlet round"></span></span>
                <div class="cmbx bggreytwo">
                  <!-- <figure class="round pull-left" *ngIf="post.post_data?.contact && post.post_data?.contact?.profile_picture==null">
                     <img src="assets/images/twlogo.png" class="img-responsive">
                   </figure>-->
                  <figure class="round pull-left" *ngIf="post.user && post?.user?.profile_picture==null">
                    <img src="assets/images/twlogo.png" class="img-responsive">
                  </figure>
                  <figure class="round pull-left" *ngIf="post.user && post?.user?.profile_picture != null">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+post?.user?.profile_picture}}" class="img-responsive">
                  </figure>
                  <!--<figure class="round pull-left" *ngIf="post.post_data?.contact && post.post_data?.contact?.profile_picture != null">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/'+post.post_data?.contact?.profile_picture}}" class="img-responsive">
                  </figure>-->

                  <div class="row">
                    <div class="col-sm-6 colwav">
                      <h3 class="avnamcbx"><strong>{{post?.user?.name}}{{post?.contact?.name}}</strong> added a Task</h3>
                    </div>

                    <div class="col-sm-6 colbwtn clearfix">

                      <div class="budylistradio pull-right" *ngIf="post.post_data.user_id==authUser.id">
                        <div class="form-group">
                          <!-- <input type="hidden" name="" value="0"> -->
                          <input type="checkbox" class="lcs_check" name="" value="1" [checked]="post.post_data.status==2?true:false" (change)="toggleStatus($event,post.post_type_id,post.post_type)">
                          <span class="swipeChk">
                          <span class="on">Private</span>
                          <span class="off">Public</span>
                        </span>
                        </div>
                      </div>

                      <div class="dropdown pull-right">
                        <a class="txtbtn pull-right opennewdrop"><img src="assets/images/tag.png" class="img-responsive inline_block">
                          Label&nbsp;<i class="fa fa-angle-down"></i></a>
                        <div class="settignmenu shownewdrop whitearrow forlabel" style="display: none;">

                          <div class="offforcreatelabel">
                            <ul class="list-unstyled itemlist">
                              <li *ngFor="let lbl of mylabels">
                                <label>
                                  <input type="checkbox" class="hidden" value="{{lbl.id}}" (change)="addToLabel($event,post.id)" [checked]="post?.labels_arr?.includes(lbl.id)">
                                  <div class="checkico"> <i class="fa fa-check-square" aria-hidden="true"></i> <i class="fa fa-square-o" aria-hidden="true"></i> </div>
                                  {{lbl.title}}
                                </label>
                              </li>
                            </ul>
                            <div class=" text-center bordertop btnwrp">
                              <input type="button" value="Create New Label" class="openlabelcreat btn btntxt" name="">
                            </div>
                          </div>
                          <div class="openlabelbx panel-body adDlpDsgn" style="display:none;">
                            <form (ngSubmit)="f.form.valid && createLabel(f,post.id)" #f="ngForm" novalidate>
                              <div class="form-group">
                                <label>Label name</label>
                                <input type="text" class="form-control" name="title" [(ngModel)]="labelModel.title">
                                <input type="hidden" class="" value="{{post.id}}" name="post_type_id" [(ngModel)]="labelModel.post_type_id">
                              </div>
                              <div class="text-center">
                                <input type="submit" value="Save" class="btn rad20 btn-default sucbtn ">
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                      <!--<ng-container *ngIf="post.post_data.is_reminder == '0'">
                      </ng-container>-->
                      <div class="dropdown pull-right">
                        <a class="txtbtn pull-right opennewdrop" (click)="openReminder($event,post?.post_data?.id)"><img src="assets/images/clock-o.png" class="img-responsive inline_block">Add Reminder&nbsp;<i class="fa fa-angle-down"></i></a>

                        <div class="whitdrop setreminder shownewdrop" style="display:none;">
                          <form (ngSubmit)="f.form.valid && saveReminder(f)" #f="ngForm" novalidate>
                            <div class="row panel-body">
                              <div class="col-sm-6">
                                <ul class="list-unstyled itemlist">
                                  <li>
                                    <label>
                                      <input type="checkbox" checked="" class="hidden" value="{{authUser?.id}}" (change)="selctNotifyUsr($event)">
                                      <div class="checkico">
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                      </div>You
                                    </label>
                                  </li>

                                  <ng-container *ngFor="let pst of allUsers">
                                    <li *ngIf="pst?.id != authUser.id">
                                      <label>
                                        <input type="checkbox" class="hidden" name="" value="{{pst?.id}}" (change)="selctNotifyUsr($event)">
                                        <div class="checkico">
                                          <i class="fa fa-check-square" aria-hidden="true"></i>
                                          <i class="fa fa-square-o" aria-hidden="true"></i>
                                        </div>{{pst?.itemName}}
                                      </label>
                                    </li>
                                  </ng-container>

                                </ul>
                              </div>


                              <div class="col-sm-6 leftbrder">
                                <div class="form-group wdtwoinput">
                                  <label>Remind Upto</label>
                                  <div class="clearfix">
                                    <input type="text" value="1" class="form-control pull-left" name="upto_val" [(ngModel)]="reminderModel.upto_val">
                                    <div class="selct pull-left">
                                      <select class="form-control sumoselect" name="upto_dur" [(ngModel)]="reminderModel.upto_dur">
                                        <option value="w">Week</option>
                                        <option value="m">Months</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group wdtwoinput">
                                  <label>Repeat</label>
                                  <div class="clearfix">
                                    <input type="text" value="1" class="form-control pull-left" name="repeat_val" [(ngModel)]="reminderModel.repeat_val">
                                    <div class="selct pull-left">
                                      <select class="form-control sumoselect">
                                        <option>Days</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>

                              </div>

                            </div>

                            <div class="text-center">
                              <input type="submit" value="Set Reminder" class="btn btn-success btn-sm csbtn" name="">
                            </div>
                          </form>
                        </div>
                      </div>
                     <!-- <ng-container *ngIf="post.post_data.is_reminder == '1'">
                        <div [ngStyle]="{'color':'#ff0000'}">Reminder</div>
                      </ng-container>-->
                    </div>
                  </div>

                  <div class="timdesk">
                    {{post?.post_data?.notes}}
                  </div>

                  <div class="filesselted" *ngIf="post?.post_data?.attachment">
                    <a target="_blank" download="" href="{{appConfig.publicUrl+'/uploads/task_attachment/'+post?.post_data?.attachment}}">{{post?.post_data?.attachment}}</a>
                  </div>
                  <ul class="list-inline cmbxinfo mr0">
                    <li><a href="javascript:void(0);">{{  post.post_data?.created_at | amTimeAgo }}</a></li>
                    <li><a href="javascript:void(0);">From google+</a></li>
                  </ul>
                  <div class="form-group">
                    <label>Comment</label>
                    <div class="withfileup">
                      <form (keydown)="keyDownFunction($event,f,post?.post_type,post.post_data?.id)" (ngSubmit)="f.form.valid && createComment(f)" #f="ngForm" novalidate>
                        <textarea class="form-control commntarea" rows="2" name="content" (keyup)="setComment($event)" ></textarea>
                        <label class="upfiletimel">
                          <input type="file" class="hidden" (change)="onFileChange($event,'cmnt')">
                          <span><img src="assets/images/attach_ico.png" class="img-responsive"></span>
                        </label>
                        <input type="hidden" name="type" [(ngModel)]="postCommentModel.type" value="{{val?.post_type}}">
                        <input type="hidden" name="post_id" [(ngModel)]="postCommentModel.post_id" value="{{val?.data?.id}}">
                        <input type="hidden" name="content" [(ngModel)]="postCommentModel.content" value="">
                      </form>
                    </div>
                  </div>
                  <ul class="commntList list-unstyled">
                    <li *ngFor="let cmnt of post?.post_data?.comments">
                      <figure class="round pull-left">
                        <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+cmnt?.user?.profile_picture}}" class="img-responsive">
                      </figure>
                      <h3 class="avnamcbx"><strong>{{cmnt?.user?.first_name}} {{cmnt?.user?.last_name}}</strong> {{cmnt.content}} </h3>

                      <span class="filesselted" *ngIf="cmnt?.attachment">
                        <a download="" target="_blank" href="{{appConfig.publicUrl+'/uploads/comment_attachment/'+cmnt?.attachment}}">{{cmnt?.attachment}}</a>
                      </span>
                    </li>
                  </ul>
                  <div class="text-center" *ngIf="post.post_data?.comments?.length > 2">
                    <a href="javascript:void(0);" class="ldmore text-orange">View more</a>
                  </div>
                </div>
              </ng-container>

            </li>

          </ng-container>

          <ng-container  *ngIf="post.type != 1">
            <li *ngIf="post.user_id == authUser.id || (post.user_id != authUser.id && post.status == 1) ">
            <span class="timelinebar"><span class="circlet round"></span></span>
            <div class="cmbx bggreytwo">
              <figure class="round pull-left" *ngIf="post?.user?.profile_picture == null">
                <img src="assets/images/twlogo.png" class="img-responsive">
              </figure>
              <figure class="round pull-left" *ngIf="post?.user?.profile_picture != null">
                <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+post?.user?.profile_picture}}" class="img-responsive">
              </figure>

              <div class="row">
                <div class="col-sm-6 colwav">
                  <h3 class="avnamcbx"><strong>{{post.user.first_name}} {{post.user.last_name}}</strong>
                    <ng-container *ngIf="post.type==2">update</ng-container>
                    <ng-container *ngIf="post.type==3">opened</ng-container>
                    file
                  </h3>

                </div>

                <div class="col-sm-6 colbwtn clearfix">

                  <div class="budylistradio pull-right" *ngIf="post.user_id==authUser.id">
                    <div class="form-group">
                      <!-- <input type="hidden" name="" value="0"> -->
                      <input type="checkbox" class="lcs_check" name="" value="1" [checked]="post.status==0?true:false" (change)="toggleStatus($event,post.id,'A')">
                      <span class="swipeChk">
                        <span class="on">Private</span>
                        <span class="off">Public</span>
                      </span>
                    </div>
                  </div>

                  <div class="dropdown pull-right">
                    <a class="txtbtn pull-right opennewdrop"><img src="assets/images/tag.png" class="img-responsive inline_block">
                      Label&nbsp;<i class="fa fa-angle-down"></i></a>
                    <div class="settignmenu shownewdrop whitearrow forlabel" style="display: none;">

                      <div class="offforcreatelabel">
                        <ul class="list-unstyled itemlist">
                          <li *ngFor="let lbl of mylabels">
                            <label>
                              <input type="checkbox" class="hidden" value="{{lbl.id}}" (change)="addToLabel($event,post.id)" [checked]="post?.labels_arr?.includes(lbl.id)">
                              <div class="checkico"> <i class="fa fa-check-square" aria-hidden="true"></i> <i class="fa fa-square-o" aria-hidden="true"></i> </div>
                              {{lbl.title}}
                            </label>
                          </li>
                        </ul>
                        <div class=" text-center bordertop btnwrp">
                          <input type="button" value="Create New Label" class="openlabelcreat btn btntxt" name="">
                        </div>
                      </div>
                      <div class="openlabelbx panel-body adDlpDsgn" style="display:none;">
                        <form (ngSubmit)="f.form.valid && createLabel(f,post.id)" #f="ngForm" novalidate>
                          <div class="form-group">
                            <label>Label name</label>
                            <input type="text" class="form-control" name="title" [(ngModel)]="labelModel.title">
                            <input type="hidden" class="" value="{{post.id}}" name="post_type_id" [(ngModel)]="labelModel.post_type_id">
                          </div>
                          <div class="text-center">
                            <input type="submit" value="Save" class="btn rad20 btn-default sucbtn ">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <ul class="list-inline cmbxinfo mr0">
                <li><a href="javascript:void(0);">{{  post?.created_at | amTimeAgo }}</a></li>
                <!--<li><a href="javascript:void(0);">From google+</a></li>-->
              </ul>

              <div class="form-group">
                <label>Comment</label>
                <div class="withfileup">
                  <form (keydown)="keyDownFunction($event,f,post?.post_type,post.id)" (ngSubmit)="f.form.valid && createComment(f)" #f="ngForm" novalidate>
                    <textarea class="form-control commntarea" rows="2" name="content" (keyup)="setComment($event)" ></textarea>
                    <label class="upfiletimel">
                      <input type="file" class="hidden" (change)="onFileChange($event,'cmnt')">
                      <span><img src="assets/images/attach_ico.png" class="img-responsive"></span>
                    </label>
                    <input type="hidden" name="type" [(ngModel)]="postCommentModel.type" value="{{val?.post_type}}">
                    <input type="hidden" name="post_id" [(ngModel)]="postCommentModel.post_id" value="{{val?.data?.id}}">
                    <input type="hidden" name="content" [(ngModel)]="postCommentModel.content" value="">
                  </form>
                </div>
              </div>
              <ul class="commntList list-unstyled">
                <li *ngFor="let cmnt of post?.comments">
                  <figure class="round pull-left">
                    <img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+cmnt?.user?.profile_picture}}" class="img-responsive">
                  </figure>
                  <h3 class="avnamcbx"><strong>{{cmnt?.user.first_name}} {{cmnt?.user.last_name}}</strong> {{cmnt.content}} </h3>

                  <span class="filesselted" *ngIf="cmnt?.attachment">
                    <a download="" target="_blank" href="{{appConfig.publicUrl+'/uploads/comment_attachment/'+cmnt?.attachment}}">{{cmnt?.attachment}}</a>
                  </span>
                </li>
              </ul>
              <div class="text-center" *ngIf="post?.comments?.length > 2">
                <a href="javascript:void(0);" class="ldmore text-orange">View more</a>
              </div>
            </div>
            </li>
          </ng-container>

          </ng-container>

        </ul>

      </div>

    </div>
  </div>
</div>

<div class="ovelay hidden"></div>

<div class="formwrap noteModal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose mb0"> Add Note <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a> </h1>
    <p class="text-center">For {{authUser.first_name}} {{authUser.last_name}} ({{authUser.email}})</p>

    <form (ngSubmit)="f.form.valid && addNote(f)" #f="ngForm" novalidate>
      <div class="panel-body paddt30">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Note Type</label>
          <select class="form-control" name="note_type" [(ngModel)]="noteModel.note_type">
            <option *ngFor="let val of noteTypeList" value="{{val.id}}">{{val.name}}</option>
          </select>
        </div>
        <div class="col-xs-12 form-group withico">
          <label>Your Notes</label>
          <textarea class="form-control" rows="5" cols="" name="details" [(ngModel)]="noteModel.details"></textarea>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Contact Managers</label>

          <angular2-multiselect [data]="allUsers" [(ngModel)]="noteModel.managers"
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                name="managers">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related Contacts</label>
          <ng-container>
            <angular2-multiselect [data]="contactList" [(ngModel)]="noteModel.contacts"
                                  [settings]="dropdownSettings"
                                  name="contacts">
            </angular2-multiselect>
          </ng-container>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related Companies</label>
          <ng-container>
            <angular2-multiselect [data]="companyList" [(ngModel)]="noteModel.companies"
                                  [settings]="dropdownSettings"
                                  name="companies">
            </angular2-multiselect>
          </ng-container>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Related Opportunities</label>
          <angular2-multiselect [data]="opportunityDd" [(ngModel)]="noteModel.opportunities"
                                [settings]="dropdownSettings"
                                name="opportunities">
          </angular2-multiselect>
        </div>

        <div class="col-xs-12 form-group">
          <label class="addfile" for="addfile1">
            <input class="hidden" type="file" id="addfile1" (change)="onFileChange($event,'n')">
            <span class="icof">+</span>Add File
          </label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Files</label>
          <div class="filesselt">
            <p *ngFor="let slcf of selectedFiles"><i class="fa fa-image"></i> {{slcf.file_title}}</p>
          </div>
          <button class="btn rad20 btn-default btngrey btn-md" type="button" data-toggle="modal" data-target="#relatedFilemodal" (click)="setBlank()">Add Related Files</button>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose" name="">
          <input type="submit" value="Add Note" class="btn btn-success csbtn" disabled="{{is_submit?'disabled':''}}">
        </div>
      </div>

    </form>

  </div>
</div>

<div class="formwrap addtaskmodal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Add Task
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <form (ngSubmit)="f.form.valid && addTask(f)" #f="ngForm" novalidate>
      <div class="panel-body paddt30">
        <div class="col-xs-12 form-group withico">
          <label>Enter your task</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="taskModel.title">
        </div>

        <div class="col-xs-12 form-group withico">
          <label>Notes</label>
          <textarea class="form-control" rows="5" cols="" name="notes" [(ngModel)]="taskModel.notes"></textarea>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Task Type</label>

          <select class="form-control" name="task_type" [(ngModel)]="taskModel.task_type" (change)="changeTaskForm($event)">
            <option *ngFor="let val of taskTypeList" value="{{val.id}}">{{val.name}}</option>
          </select>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico" *ngIf="checkLocation">
          <label>Location</label>
          <span class="icodateex"><img src="assets/images/location.png"></span>
          <!--<input type="text" class="form-control">-->
          <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico" *ngIf="checkDate">
          <label>Due Date</label>
          <p-calendar name="due_date" [(ngModel)]="closerDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group" *ngIf="checkTime">
          <label>Time</label>
          <p-calendar name="due_time" [(ngModel)]="dateTime" [timeOnly]="true"></p-calendar>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Contact Managers</label>

          <angular2-multiselect [data]="allUsers" [(ngModel)]="taskModel.managers"
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                name="managers">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related Contacts</label>
          <angular2-multiselect [data]="contactList" [(ngModel)]="taskModel.contacts"
                                [settings]="dropdownSettings"
                                name="contacts">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related Companies</label>
          <angular2-multiselect [data]="companyList" [(ngModel)]="taskModel.companies"
                                [settings]="dropdownSettings"
                                name="companies">
          </angular2-multiselect>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico custauto">
          <label>Related opportunities</label>
          <angular2-multiselect [data]="opportunityDd" [(ngModel)]="taskModel.opportunities"
                                [settings]="dropdownSettings"
                                name="opportunities">
          </angular2-multiselect>
        </div>

        <div class="col-xs-12 form-group">
          <label class="addfile" for="addfilet">
            <input class="hidden" type="file" id="addfilet" (change)="onFileChange($event,'t')">
            <span class="icof">+</span>Add File
          </label>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Files</label>
          <div class="filesselt">
            <p><i class="fa fa-image"></i> profilephoto.jpg</p>
            <p><i class="fa fa-file-word-o"></i> leadview360officemeetingon17/12/2017.doc</p>
          </div>
          <button class="btn rad20 btn-default btngrey btn-md" type="button" data-toggle="modal" data-target="#relatedFilemodal" (click)="setBlank()">Add Related Files</button>
        </div>

        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose" name="">
          <input type="submit" value="Add Task" class="btn btn-success csbtn"  disabled="{{is_submit?'disabled':''}}">
        </div>
      </div>
    </form>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="relatedFilemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Related Files</h4>
      </div>
      <div class="modal-body">
        <h4 class="fileTitle">Current Files</h4>
        <ul class="list-inline itemlist filenamelist">
          <li>
            <p>
             <!-- <i class="fa fa-file-word-o"></i> leadview360officemeetingon17/12/2017.doc-->
            </p>
          </li>
        </ul>
        <h4 class="fileTitle">Related Files</h4>
        <ul class="list-inline filerelated">
          <ng-container *ngIf="leadFile?.related_files">
            <li *ngFor="let relf of leadFile?.related_files" (click)="setUnsetRelFile(relf)">
              <label>
                <input type="checkbox" class="tocheckinput" name="">
                <div class="txtcheck">
                  <i class="fa fa-image"></i>{{relf.file_title}}
                </div>
                <span class="checkedit"><i class="material-icons">check</i></span>
              </label>
            </li>
          </ng-container>


        </ul>

        <div class="text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn" data-dismiss="modal" name="">
          <input type="button" value="Add Files" class="btn btn-success csbtn" data-dismiss="modal" name="">
        </div>

      </div>
    </div>
  </div>
</div>


