<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">
<div class="filtermask"></div>

  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel leftpanelpopup">
    <div class="panel panel-default cspanel">
	
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
	  
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="Search for a contact" (change)="kywordFilter($event)" [(ngModel)]="searchText">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>


          <li class="">
            <!-- <select class="form-control">
                <option selected="">Show Contacts</option>
                <option>Lorem</option>
            </select>
            <i class="fa fa-angle-down" aria-hidden="true"></i> -->
            <select class="form-control sumoselect" id="showcontacts" placeholder="Show All" (change)="typeFilter($event)"  [(ngModel)]="flType">
              <option value="">Contact & Company</option>
              <option value="1">Show Contacts</option>
              <option value="2">Show Companies</option>
            </select>
          </li>


          <li class="multicheckfull">
            <!--<select  class="form-control sumoselect" id="Appointed1" placeholder="Appointed to" (change)="managerFilter($event)">
              <option  value="">Appointed to</option>
              <ng-container *ngIf="allManagers.length > 0">
                <option  value="{{val?.id}}" *ngFor="let val of allManagers">{{val?.itemName}}</option>
              </ng-container>
            </select>-->
            <p-multiSelect [options]="managerList" [(ngModel)]="selectedMngrs" (onChange)="managerFilter($event)" [defaultLabel]="'Managers'" [styleClass]="'form-control'"></p-multiSelect>
          </li>
          <li class="">
            <!-- <select  class="form-control sumoselect" multiple id="Appointed" placeholder="Tags">
                <option  value="0">Tag Name </option>
                <option value="2">Tag Name</option>
            </select> -->
            <div class="innrfild">
              <div class="taglist">
                <!-- <label class="field">
                  <div class="avtarLi">
                    <div class="tagwrp"><span class="tagtxt">Website</span><a href="javascript:void(0);" class="cls">&times;</a></div>
                    <div class="tagwrp"><span class="tagtxt">Promo</span><a href="javascript:void(0);" class="cls">&times;</a></div>
                  </div>
                  <input type="text">
                </label> -->
                    <p-multiSelect [options]="tags" [(ngModel)]="selectedTags" (onChange)="fetchContacts()" [defaultLabel]="'Tags'" [styleClass]="'form-control'"></p-multiSelect>

                <!-- <div class="avdrop" style="display:none;">
                  <ul>
                    <li><span class="tagtxt">Website</span></li>
                    <li><span class="tagtxt">Promo</span></li>
                    <li><span class="tagtxt">Lorem</span></li>
                  </ul>
                </div> -->
              </div>
            </div>
          </li>
          <li class="multicheckfull">
            <!--<select  class="form-control sumoselect1" multiple id="Appointed" placeholder="Group">
              <ng-container *ngIf="myGroups.length > 0">
                <option  value="{{val?.id}}" *ngFor="let val of myGroups">{{val?.itemName}}</option>
              </ng-container>
            </select>-->
            <p-multiSelect [options]="groupList" [(ngModel)]="selectedGroups" (onChange)="changeGrp($event)" [defaultLabel]="'Groups'" [styleClass]="'form-control'"></p-multiSelect>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left">Companies & Contacts <a href="#" class="leftpanelfilteremenuicon">Filter</a></h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <!-- <button class="btn btn-warning addbtn openaddcontact">Add Contact <i class="fa fa-angle-down" aria-hidden="true"></i></button> -->
            <button class="btn btn-warning addbtn actionbtn opennewdrop">Add New <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none; width:156px;">
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:void(0);" class="openaddcontact" data-val="addContact" (click)="openContactbx('addContact')">Add Contact</a></li>
                <li><a href="javascript:void(0);" class="openaddcontact" data-val="addCcompany" (click)="openContactbx('addCcompany')">Add Company</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left">
            <!-- <button class="btn btn-warning addbtn openaddcontact">Add Contact <i class="fa fa-angle-down" aria-hidden="true"></i></button> -->
            <button class="btn btn-default imbtn addbtn actionbtn opennewdrop">Import<i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none; width:156px;">
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:void(0);" class="" data-val="addContact">CSV</a></li>
                <li><a href="javascript:void(0);" class="" data-val="addCcompany">XLX</a></li>
              </ul>
            </div>
          </li>
         
          <!--<li class="pull-left">
            <button class="btn btn-default expobtn">Export contacts</button>
          </li>-->
          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:;" (click)="delAll();">Delete</a></li>
                <li><a  data-val="assignteam" (click)="openAssignGroup('assignteam')"  class="openaddcontact" href="javascript:void(0);">Assign Group</a></li>
                <li><a  data-val="assignManager" (click)="openAssignManager('assignManager')"  class="openaddcontact" href="javascript:void(0);">Assign Managers</a></li>
                <li><a  data-val="assignCompany" (click)="openAssignCompany('assignCompany')"  class="openaddcontact" href="javascript:void(0);">Link to company</a></li>
                <li><a  data-val="fildmap" (click)="openFieldMapBx('fildmap')"  class="openaddcontact" href="javascript:void(0);">Field mapping</a></li>
                <li><a  data-val="filedmerge" (click)="openMergeBx('filedmerge')"  class="openaddcontact" href="javascript:void(0);">Merge</a></li>
				<li><a  data-val="filedmerge" (click)="openMergeBx('filedmerge')"  class="openaddcontact" href="javascript:void(0);">Activate</a></li>
				<li><a  data-val="filedmerge" (click)="openMergeBx('filedmerge')"  class="openaddcontact" href="javascript:void(0);">Export contacts</a></li>
              </ul>
            </div>
          </li>
		   <li class="pull-left">
            <button class="btn btn-warning" *ngIf="liveProject?.mass_mailing==1" data-toggle="modal" data-target="#newmessage3" data-backdrop="static" data-keyboard="false" >Mass Mail</button>
            <button class="btn btn-default" *ngIf="liveProject?.mass_mailing==0"  data-toggle="tooltip" title="Mass email currently desactivated. Please contact support.">Mass Mail</button>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
            <div class="settignmenu shownewdrop ctdrop" style="display:none;">
              <form (ngSubmit)="saveDisplay(f)" #f="ngForm" novalidate>
              <h4 class="clearfix">Table setting
                <!--<div class="itemlist pull-right">
                  <label>
                    <input type="checkbox" class="hidden" name="">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Company view
                  </label>
                </div>-->
              </h4>
              <ul class="list-unstyled itemlist showsix">
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showNamecol" name="uname" [(ngModel)]="displayColFrm.name" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Name
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showemailcol" name="email" [(ngModel)]="displayColFrm.email" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Emails
                  </label>
                </li>
                <li>
                  <label class="pull-left">
                    <input type="checkbox" class="hidden" [checked]="showvisitcol" name="visit" [(ngModel)]="displayColFrm.visit" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div># Sessions
                  </label>

                  <div class="clearfix"></div>
                </li>
                <li>
                  <label class="pull-left">
                    <input type="checkbox" class="hidden" [checked]="showviewcol" name="view" [(ngModel)]="displayColFrm.view" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div># Page views
                  </label>

                  <div class="clearfix"></div>
                </li>

                <li>
                  <label class="pull-left">
                    <input type="checkbox" class="hidden" [checked]="showtagcol" name="tag" [(ngModel)]="displayColFrm.tag" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Tag Score
                  </label>
                  <div class="rightdrpbx pull-right">
                    <div class="taglist">
                      <label class="field">
                        <div class="avtarLi">
                          <div class="tagwrp"><span class="tagtxt">Website</span><a href="javascript:void(0);" class="cls">&times;</a></div>
                          <div class="tagwrp"><span class="tagtxt">Promo</span><a href="javascript:void(0);" class="cls">&times;</a></div>
                        </div>
                        <input type="text">
                      </label>

                      <div class="avdrop" style="display:none;">
                        <ul>
                          <li><span class="tagtxt">Website</span></li>
                          <li><span class="tagtxt">Promo</span></li>
                          <li><span class="tagtxt">Lorem</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showmanagercol" name="manager" [(ngModel)]="displayColFrm.manager" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Contact Managers
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showphonecol" name="phone" [(ngModel)]="displayColFrm.phone" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Phone Number
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showcountrycol" name="country" [(ngModel)]="displayColFrm.country" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Country
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showregioncol" name="region" [(ngModel)]="displayColFrm.region" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Ip Region
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showcitycol" name="city" [(ngModel)]="displayColFrm.city" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Ip City
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showlangcol" name="lang" [(ngModel)]="displayColFrm.lang" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Browser langaue
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showfirstActivity" name="firstActivity" [(ngModel)]="displayColFrm.firstActivity" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>First Web Activity
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showrecentActivity" name="recentActivity" [(ngModel)]="displayColFrm.recentActivity" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Recent Activity
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showfirstPostActivity" name="recentActivity" [(ngModel)]="displayColFrm.firstPostActivity" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>First Activity
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" class="hidden" [checked]="showlastPostActivity" name="recentActivity" [(ngModel)]="displayColFrm.lastPostActivity" (change)="checkColNumber($event)">
                    <div class="checkico">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </div>Last Activity
                  </label>
                </li>

              </ul>


              <div class="form-inline rightdrpbx leftform fullsettingdiv">
                <div><strong>Stats timeframe</strong></div>
                <div class="form-group sminpu">
                  <input type="text" class="form-control" name="">
                </div>
                <div class="form-group">
                  <select class="form-control sumoselect">
                    <option>Week</option>
                    <option>Month</option>
                  </select>
                </div>
                <div class="form-group textfilter">Or can filter</div>
                <div class="form-group">
                  <input type="text" id="startdate" placeholder="Start Date" class="form-control dtfild" name="">
                </div>
                <div class="form-group">
                  <input type="text" id="enddatedate" placeholder="End Date" class="form-control dtfild" name="">
                </div>
              </div>

              <div class="clearfix"></div>

              <div class=" text-center bordertop btnwrp">
                <input type="submit" value="Save" class="btn btn-success csbtn" >
              </div>
            </form>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default">
        <div class="table">
        <p-table [value]="contactLists" [paginator]="true" [rows]="10" sortMode="single" >
          <ng-template pTemplate="header" >
            <tr>
              <th>&nbsp;</th>
              <th *ngIf="showNamecol" [pSortableColumn]="'name'">Name<p-sortIcon [field]="'name'"></p-sortIcon></th>
              <th *ngIf="showemailcol" [pSortableColumn]="'email'">Emails<p-sortIcon [field]="'email'"></p-sortIcon></th>
              <th *ngIf="showvisitcol" [pSortableColumn]="'visit'"># of Visit<p-sortIcon [field]="'visit'"></p-sortIcon></th>
              <th *ngIf="showviewcol" [pSortableColumn]="'view'"># of View<p-sortIcon [field]="'view'"></p-sortIcon></th>
              <th *ngIf="showtagcol" [pSortableColumn]="'tag'">Tag Score<p-sortIcon [field]="'tag'"></p-sortIcon></th>
              <th class="managerth" *ngIf="showmanagercol" [pSortableColumn]="'managers'">Managers<p-sortIcon [field]="'managers'"></p-sortIcon></th>
              <th class="phoneth" *ngIf="showphonecol" [pSortableColumn]="'phone'">Phone Number<p-sortIcon [field]="'phone'"></p-sortIcon></th>
              <th *ngIf="showcountrycol" [pSortableColumn]="'country'">Country<p-sortIcon [field]="'country'"></p-sortIcon></th>
              <th *ngIf="showregioncol" [pSortableColumn]="'region'">Region<p-sortIcon [field]="'region'"></p-sortIcon></th>
              <th *ngIf="showcitycol" [pSortableColumn]="'city'">City<p-sortIcon [field]="'city'"></p-sortIcon></th>
              <th *ngIf="showlangcol" [pSortableColumn]="'lang.name'">Language<p-sortIcon [field]="'lang.name'"></p-sortIcon></th>
              <th *ngIf="showfirstActivity" [pSortableColumn]="'created_at'">First Activity<p-sortIcon [field]="'created_at'"></p-sortIcon></th>
              <th *ngIf="showrecentActivity" [pSortableColumn]="'updated_at'">Recent Activity<p-sortIcon [field]="'updated_at'"></p-sortIcon></th>
              <th *ngIf="showfirstPostActivity" [pSortableColumn]="'first_activity'">First Post Activity<p-sortIcon [field]="'updated_at'"></p-sortIcon></th>
              <th *ngIf="showlastPostActivity" [pSortableColumn]="'last_activity'">Last Post Activity<p-sortIcon [field]="'updated_at'"></p-sortIcon></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-val>

            <tr *ngIf="val?.type == 1">
              <th><label>
                <input class="hidden" type="checkbox"  value="{{val.id}}" type="checkbox" (change)="selctToList($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square" aria-hidden="true"></i>
                </div>
              </label></th>
              <td data-th="Name" *ngIf="showNamecol">

                <a routerLink="time-line/{{val?.id}}" data-toggle="tooltip" data-placement="top" title="Visit Contact Timeline" class="ttlcnt">
                  <figure class="smallavatar">
                    <img src="{{appConfig.publicUrl+'uploads/profile_picture/'+val.profile_picture}}" class="img-responsive" *ngIf="val.profile_picture != null;">
                    <img src="assets/images/twlogo.png" class="img-responsive" *ngIf="val.profile_picture == null;">
                  </figure>
                  <strong>{{val.name?val.name:val.first_name}}</strong>
                </a>
              </td>
              <td data-th="Email" *ngIf="showemailcol" class="dropdown">
                <span class="mksrt"><a href="javascript:;" class="mngr">{{val.emails.length >0 ? val.emails[0].email:val.email}}</a></span>

                <ul class="mngrLst" *ngIf="val?.emails?.length >1">
                  <li *ngFor="let mng of val?.emails">{{mng.email}}</li>
                </ul>
              </td>
              <td data-th="# of Visit" *ngIf="showvisitcol">{{(val?.visitor?.activities?.length)}}</td>
              <td data-th="# of View" *ngIf="showviewcol">{{totalViewCounts(val?.visitor?.activities)}}</td>
              <td data-th="Tag Score" *ngIf="showtagcol">{{totalTagScores(val?.visitor?.tagscores)}}</td>
              <td data-th="Managers" *ngIf="showmanagercol" class="dropdown">
                <a href="javascript:;" class="mngr">{{val?.managers[0]?.name}}</a>
                <ul class="mngrLst" *ngIf="val?.managers?.length >1">
                  <li *ngFor="let mng of val?.managers">{{mng.name}}</li>
                </ul>
              </td>
              <td data-th="Phone Number" *ngIf="showphonecol" class="dropdown">
                <a href="javascript:;" class="mngr">{{val?.phones[0]?.dial_code}} {{val?.phones[0]?.phone_number}}</a>
                <ul class="mngrLst" *ngIf="val?.phones?.length >1">
                  <li *ngFor="let phn of val?.phones">(+{{phn.dial_code}}) {{phn.phone_number}}</li>
                </ul>
              </td>
              <td data-th="country" *ngIf="showcountrycol">{{val.country}}</td>
              <td data-th="region" *ngIf="showregioncol">{{val.region}}</td>
              <td data-th="city" *ngIf="showcitycol">{{val.city}}</td>
              <td data-th="language" *ngIf="showlangcol">{{val.lang.name}}</td>
              <td data-th="fact" *ngIf="showfirstActivity">{{val.created_at | date:'dd MMM y h:mm a'}}</td>
              <td data-th="fact" *ngIf="showrecentActivity">{{val.updated_at | date:'dd MMM y h:mm a'}}</td>
              <td data-th="fact" *ngIf="showfirstPostActivity">{{val?.first_activity?.created_at | date:'dd MMM y h:mm a'}}</td>
              <td data-th="fact" *ngIf="showlastPostActivity">{{val?.last_activity?.created_at | date:'dd MMM y  h:mm a'}}</td>
            </tr>

            <tr class="compny" *ngIf="val?.type == 2">

              <th scope="row">
                <label>
                <input class="hidden" type="checkbox"  value="{{val.id}}" type="checkbox" (change)="selctToList($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square" aria-hidden="true"></i>
                </div>
              </label>
              </th>
              <td data-th="Name" *ngIf="showNamecol">

                <a routerLink="time-line/{{val?.id}}" data-toggle="tooltip" data-placement="top" title="Visit Company Timeline">
                  <figure class="smallavatar">
                    <img src="{{appConfig.publicUrl+'uploads/profile_picture/'+val.profile_picture}}" class="img-responsive" *ngIf="val.profile_picture != null;">
                    <img src="assets/images/twlogo.png" class="img-responsive" *ngIf="val.profile_picture == null;">
                  </figure>
                  <strong>{{val.name?val.name:val.first_name}}</strong>
                </a>
              </td>
              <td data-th="Email" *ngIf="showemailcol"><span class="mksrt">{{val.emails.length >0 ? val.emails[0].email:val.email}}</span></td>
              <td data-th="# of Visit" *ngIf="showvisitcol">{{(val?.visitor?.activities?.length)}}</td>
              <td data-th="# of View" *ngIf="showviewcol">{{totalViewCounts(val?.visitor?.activities)}}</td>
              <td data-th="Tag Score" *ngIf="showtagcol">{{totalTagScores(val?.visitor?.tagscores)}}</td>
              <td data-th="Manages" *ngIf="showmanagercol" class="dropdown">
                <a href="javascript:;" class="mngr">{{val?.managers[0]?.name}}</a>
                <ul class="mngrLst" *ngIf="val?.managers?.length >1">
                  <li *ngFor="let mng of val?.managers">{{mng.name}}</li>
                </ul>
              </td>
              <td data-th="Phone Number" *ngIf="showphonecol" class="dropdown">
                <a href="javascript:;" class="mngr">{{val?.phones[0]?.dial_code}} {{val?.phones[0]?.phone_number}}</a>
                <ul class="mngrLst" *ngIf="val?.phones?.length >1">
                  <li *ngFor="let phn of val?.phones">(+{{phn.dial_code}}) {{phn.phone_number}}</li>
                </ul>
              </td>
              <td data-th="country" *ngIf="showcountrycol">{{val.country}}</td>
              <td data-th="region" *ngIf="showregioncol">{{val.region}}</td>
              <td data-th="city" *ngIf="showcitycol">{{val.city}}</td>
              <td data-th="language" *ngIf="showlangcol">{{val.lang.name}}</td>
              <td data-th="fact" *ngIf="showfirstActivity">{{val.created_at | date:'dd MMM y h:mm a'}}</td>
              <td data-th="fact" *ngIf="showrecentActivity">{{val.updated_at | date:'dd MMM y h:mm a'}}</td>
              <td data-th="fact" *ngIf="showfirstPostActivity">{{val?.first_activity?.created_at | date:'dd MMM y h:mm a'}}</td>
              <td data-th="fact" *ngIf="showlastPostActivity">{{val?.last_activity?.created_at | date:'dd MMM y  h:mm a'}}</td>
            </tr>

          </ng-template>

        </p-table>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="formwrap addContact" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Add Contact
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <figure class="round center-block ctavatar">
      <img src="assets/images/ctavatar_default.png" class="img-responsive" *ngIf="blob_picture == null;">
      <!--<img src="{{appConfig.publicUrl+'/uploads/profile_picture/thumbs/'+model.profile_picture}}" class="img-responsive" *ngIf="model.profile_picture != null && blob_picture == null;">-->
      <img src="{{blob_picture}}" *ngIf="blob_picture != null"/>
    </figure>
    <div class="text-center">
      <label for="toupphoto" class="upphotoct btn">
        <input class="hidFile" type="file" (change)="selectFile($event)">
        Click to Browse
      </label>
    </div>
    <div class="text-center"><p>Or</p>
      <p>Drag & Drop to upload photo</p>
    </div>

    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && saveContact(f)" #f="ngForm" novalidate>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Title</label>
          <select class="form-control" name="gender" [(ngModel)]="contactModel.gender">
            <option value="F">Mrs</option>
            <option value="M">Mr</option>
          </select>
          <span class="icofr"><i class="fa fa-angle-down"></i></span>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Email Address</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="contactModel.email">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>First Name</label>
          <input type="text" class="form-control" name="first_name" [(ngModel)]="contactModel.first_name">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="last_name" [(ngModel)]="contactModel.last_name">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Phone Number</label>
          <input type="number" class="form-control" name="phone" [(ngModel)]="contactModel.phone">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Mobile Phone Number</label>
          <input type="number" class="form-control" name="mobile" [(ngModel)]="contactModel.mobile">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Country</label>
          <select class="form-control" name="country" [(ngModel)]="contactModel.country">
              <option value="{{country.name}}"  *ngFor="let country of allCountries">{{country.name}}</option>
          </select>
          <span class="icofr"><i class="fa fa-angle-down"></i></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>language</label>
          <select name="language" class="form-control slectBox" placeholder="Show languages" [(ngModel)]="contactModel.lang">
            <option value="{{lang.id}}" *ngFor="let lang of languages">{{lang.name}}</option>
          </select>
          <span class="icofr"><i class="fa fa-angle-down"></i></span>
        </div>
        <div class="col-xs-12 form-group">
          <label class="addfile" for="addfile1">
            <input class="hidFile" type="file" id="addfile1" (change)="onFileChange($event,'contct')">
            <span class="icof">+</span>Add File
          </label>
        </div>

        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose">
          <input type="submit" value="Create Contact" class="btn btn-success csbtn" disabled="{{is_submit?'disabled':''}}">
        </div>

      </form>

    </div>

  </div>
</div>

<div class="formwrap addCcompany" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Add New Company
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <figure class="center-block ctavatar logoAvtar">
      <!-- <img src="assets/images/logo-default.png" class="img-responsive"> -->
    </figure>
    <div class="text-center">
      <label for="toupphoto" class="upphotoct btn">
        <input class="hidFile" type="file" id="toupphoto" (change)="selectFile($event)">
      Click to Browse
      </label>
    </div>
    <div class="text-center"><p>Or</p>
      <p>Drag & Drop to upload photo</p>
    </div>

    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && saveCompany(f)" #f="ngForm" novalidate>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Company Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="contactModel.name">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Email Address</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="contactModel.email">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Phone Number</label>
          <input type="text" class="form-control" name="phone" [(ngModel)]="contactModel.phone">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Mobile Phone Number</label>
          <input type="text" class="form-control" name="mobile" [(ngModel)]="contactModel.mobile">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>Country</label>
          <select class="form-control" name="country" [(ngModel)]="contactModel.country">
            <option value="{{country.name}}"  *ngFor="let country of allCountries">{{country.name}}</option>
          </select>
          <span class="icofr"><i class="fa fa-angle-down"></i></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
          <label>language</label>
          <select name="language" class="form-control slectBox" placeholder="Show languages" [(ngModel)]="contactModel.lang">
            <option value="{{lang.id}}" *ngFor="let lang of languages">{{lang.name}}</option>
          </select>
          <span class="icofr"><i class="fa fa-angle-down"></i></span>
        </div>
        <div class="col-xs-12 form-group">
          <label class="addfile" for="addfile2">
            <input class="hidFile" type="file" id="addfile2" (change)="onFileChange($event,'contct')">
            <span class="icof">+</span>Add File
          </label>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose" name="">
          <input type="submit" value="Add Company" class="btn btn-success csbtn" disabled="{{is_submit?'disabled':''}}">
        </div>
      </form>
    </div>

  </div>
</div>

<div class="formwrap assignteam" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Assign Group
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">

      <form (ngSubmit)="f.form.valid && assignGrp(f)" #f="ngForm" novalidate>
        <div class="col-xs-12 col-sm-6 form-group withico center-block nofloat ">
          <!--(onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)"-->
          <angular2-multiselect [data]="myGroups" [(ngModel)]="assignModel.groups"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                [settings]="dropdownSettings"
                                name="groups">
          </angular2-multiselect>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="submit" value="Save" class="btn btn-success csbtn openaddcontact" data-val="addSuccess" name="">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="formwrap assignManager" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Assign Manager
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">

      <form (ngSubmit)="f.form.valid && assignManagersToContacts(f)" #f="ngForm" novalidate>
        <div class="col-xs-12 col-sm-6 form-group withico center-block nofloat ">
          <angular2-multiselect [data]="allManagers" [(ngModel)]="assignManagerModel.managers"
                                (onSelect)="onManagerSelect($event)"
                                (onDeSelect)="OnManagerDeSelect($event)"
                                [settings]="dropdownSettings2"
                                name="managers">
          </angular2-multiselect>
        </div>
        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="submit" value="Save" class="btn btn-success csbtn openaddcontact" data-val="addSuccess" name="">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="formwrap assignCompany" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose mb0"> Assign Company <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a> </h1>
    <!--<p class="text-center">For Avoy Debnath (avoy.php@gmail.com)</p>-->
    <div class="panel-body paddt30">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Company Name</label>
        <!--<input type="text" class="form-control" placeholder="Type contact name" name="">-->
        <p-autoComplete [class]="'form-control'" [placeholder]="'Type company name'"  [(ngModel)]="comText" [suggestions]="comresults" (completeMethod)="companySearch($event)" (onSelect)="comSelect($event)"></p-autoComplete>
      </div>
      <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Position</label>
        <input type="text" class="form-control" placeholder="Type contact name" name="">
      </div>-->
      <div class="col-xs-12 text-center paddtb20">
        <input type="button" value="Cancel" class="btn btn-default csbtn popClose" name="">
        <input type="button" value="Add Compnay" class="btn btn-success csbtn" (click)="assignCompanyToContact()">
      </div>
      <div class="col-xs-12">
        <div class="tableinfotitle">List of Contacts of the Company</div>
        <div class="tableinfo">
          <table class="table">
            <tbody>
            <ng-container *ngIf="selctComContacts.length > 0">
              <tr *ngFor="let comcnt of selctComContacts">
                <td><p><strong>{{comcnt.name}}</strong></p>
                  <ul class="list-inline tsinlist">
                    <!--<li>From google+</li>-->
                    <li>{{comText}}</li>
                    <li>add on {{comcnt.updated_at | date:'dd MMM y'}} <!--10 Jun 2017--></li>
                    <!--<li>By Avoy Debnath  (avoy.php@gmail.com)</li>-->
                  </ul></td>
                <td class="actd twbtn clearfix">
                  <!--<a class="smbtntb" href="javascript:void(0);"><img src="assets/images/pencil.png" class="img-responsive"></a> -->
                  <a class="smbtntb dletebtn" href="javascript:void(0);" (click)="unassignCompany(comcnt.id)"><img src="assets/images/trash.png" class="img-responsive"></a>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </div>
        <div class="text-center">
          <!--<button class="btn rad20 btn-default btn-sm onlyborder">Show More</button>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="formwrap fildmap" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Field mapping
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <div class="panel-body paddt30">
      <div class="clearfix">
        <a class="btn btn-success sucbtn actionbtn pull-right addfiledmapnew" (click)="extMapNo($event)">Add new</a>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="maptitle">From field</div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="maptitle">To field</div>
        </div>

      </div>
      <form (ngSubmit)="f.form.valid && fieldMapSubmit(f)" #f="ngForm" novalidate>
        <ul class="list-unstyled filedList form-group thenewclonesec">
          <li *ngFor="let mapset of map_arr; let i=index;">
            <div class="clearfix">

              <div class="form-group col-sm-6 col-xs-12 withdirarrow">
                <select class="form-control" name="ff" (change)="changeFormField($event,i)">
                  <option value="first_name">First Name</option>
                  <option value="last_name">Last Name</option>
                  <option value="phone">Phone Number</option>
                  <option value="mobile">Mobile Number</option>
                  <option value="email">Email Address</option>
                  <!--<option value="website">Website</option>
                  <option value="fb_url">Facebook url</option>-->
                </select>
                <i class="fa fa-angle-double-right"></i>
              </div>

              <div class="form-group col-sm-6 col-xs-12">
                <select class="form-control" name="tf" (change)="changeToField($event,i)" >
                  <option value="first_name">First Name</option>
                  <option value="last_name">Last Name</option>
                  <option value="phone">Phone Number</option>
                  <option value="mobile">Mobile Number</option>
                  <option value="email">Email Address</option>
                  <!--<option value="website">Website</option>
                  <option value="fb_url">Facebook url</option>-->
                </select>
              </div>

              <div class="col-xs-12 listimgchel">
                <label class="form-group normalfont">
                  <input type="radio" class="hidden" name="fromappeartime{{i}}" value="update" (change)="changeActionOnField($event,i)">
                  <div class="imgcheck">
                    <img src="assets/images/radionew-notchecked.png" class="on">
                    <img src="assets/images/radionew-checked.png" class="off">
                  </div>
                  Overwrite existing data ?
                </label>

                <label class="form-group normalfont">
                  <input type="radio" class="hidden" name="fromappeartime{{i}}" value="add" (change)="changeActionOnField($event,i)">
                  <div class="imgcheck">
                    <img src="assets/images/radionew-notchecked.png" class="on">
                    <img src="assets/images/radionew-checked.png" class="off">
                  </div>
                  Create additional version ?
                </label>

                <label class="form-group normalfont">
                  <input type="radio" class="hidden" name="fromappeartime{{i}}" value="ignore" (change)="changeActionOnField($event,i)">
                  <div class="imgcheck">
                    <img src="assets/images/radionew-notchecked.png" class="on">
                    <img src="assets/images/radionew-checked.png" class="off">
                  </div>
                  Ignore
                </label>
              </div>

            </div>
          </li>
        </ul>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Cancel" class="btn btn-default csbtn popClose" >
        <input type="submit" value="Map fields" class="btn btn-success csbtn" >
      </div>
      </form>
    </div>

  </div>
</div>

<div class="formwrap filedmerge" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Merge
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <div class="panel-body paddt301">
      <form (ngSubmit)="f.form.valid && mergeContacts(f)" #f="ngForm" novalidate>
        <div class="form-group col-sm-6 center-block">
          <!--<input type="text" class="form-control" placeholder="Type filed name to merge" id="tags" name="">-->
          <p-autoComplete [class]="'form-control pauto'" [placeholder]="'Type filed name to merge'" [(ngModel)]="selctdField" [suggestions]="filteredFields" (completeMethod)="filterFields($event)" (onSelect)="selectField($event)" [dropdown]="true" name="fld"></p-autoComplete>
        </div>
        <div class="text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default popClose" name="">
          <input type="submit" value="Merge" class="btn btn-success csbtn" name="">
        </div>
      </form>
    </div>

  </div>
</div>

<ng-container>
  <div class="modal fade modalprofile" id="newmessage3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title replyhead" id="myModalLabel1">
            Send Mass Mail
          </h4>
        </div>
        <form (ngSubmit)="f.form.valid && mailSend(f)" #f="ngForm" novalidate>
          <div class="modal-body formstyle">

            <div class="form-group">
              <label>Select a Template</label>
              <select class="form-control sumoselect" name="template" [(ngModel)]="postEmailModel.template" (change)="setTemplate($event)">
                <option selected value="">Choose Template</option>
                <option *ngFor="let etemp of templateList" value="{{etemp.id}}">{{etemp.title}}</option>
              </select>
            </div>

            <div class="form-group subjett">
              <label>Subject</label>
              <input type="text" class="form-control" name="subject" [(ngModel)]="postEmailModel.subject">
            </div>

            <div class="form-group">
              <label>Message</label>
              <p-editor [(ngModel)]="postEmailModel.content" name="content"  [style]="{'height':'220px'}"></p-editor>
            </div>

            <div class="row">
              <div class="col-xs-12 form-group">
                <label class="addfile" for="addfilem">
                  <input class="hidden" type="file" id="addfilem" (change)="onFileChange($event,'m')">
                  <span class="icof">+</span>Add File
                </label>
                <span class="fnm">{{postEmailModel?.attachment?.name}}</span>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>

<div class="ovelay hidden"></div>