<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">

  <div class="white_bg1">
    <h2 class="dbtitle">LANGUAGES</h2>
    <div class="dbserform panel-body">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control dbinput" placeholder="Search Language" [(ngModel)]="searchText">
        </div>
        <!--<button class="btn btn-warning addbtn btndb"><i class="sico fa fa-search"></i>Search</button>-->

        <div class="dropdown pull-right">
          <button class="btn btn-default addbtn btndb openaddcontact" data-val="addModal" (click)="openAddmodal('addModal')">+ Add Language</button>

          <button class="btn btn-success sucbtn btndb actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
          <div class="settignmenu shownewdrop actionpop" style="display:none;">
            <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
            <button class="btn btn-success  sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
            <ul class="list-unstyled acmenu">
              <li><a href="javascript:;" (click)="delAll()">Delete</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="table_default newtbl grptable dbsmtable  two_tr_xs_lg scrollipad">
      <table class="table white_bg">
        <thead>
        <tr>
          <th class="prnametb">
            <label>
              <!--<input class="hidden" type="checkbox" name="">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>-->
            </label>
          </th>
          <th>Language</th>
          <th>Locale</th>
          <th class="twobtn">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let val of dataList | filter:{ name: searchText }">
          <th>
            <label>
              <input class="hidden" value="{{val.id}}" type="checkbox" (change)="selctToList($event)">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>
            </label>
          </th>
          <td data-th="Tax Name">{{val.name}}</td>
          <td data-th="Tax Description">{{val.locale}}</td>
          <td data-th="Action" class="twobtn">
            <a href="javascript:void(0);" data-val="addModal" (click)="openEditmodal('addModal',val)"><img src="assets/images/pencil.png" class="img-responsive"></a>
            <a href="javascript:void(0);" (click)="delaRecord(val.id)"><img src="assets/images/trash.png" class="img-responsive"></a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="formwrap addModal" style="top:-20000px;">
  <div class="formwrapOvrly"></div>

  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose mb0">
      {{model.type}} Language
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>


    <div class="panel-body paddt30">
      <form (ngSubmit)="f.form.valid && addSaveLanguage(f)" #f="ngForm" novalidate>
        <div class="col-xs-6 form-group">
          <label>Language</label>
          <input class="form-control" placeholder="" name="name" [(ngModel)]="model.name">
        </div>

        <div class="col-xs-6 form-group withico">
          <label>Locale</label>
          <input class="form-control" placeholder="" name="locale" [(ngModel)]="model.locale">
        </div>

        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose">
          <input type="submit" value="{{model.type}} Language" class="btn btn-success csbtn" name="">
        </div>
      </form>
    </div>

  </div>

</div>

<div class="ovelay hidden"></div>