<p-growl [(value)]="msgs"></p-growl>

<header>
  <div class="cscontainer">
    <a href="javascript:void(0);" routerLink="/login" class="beforeLogLogo">
      <img src="assets/images/logo-black.png" alt="" />
    </a>
  </div>
</header>
<div class="beforelogBody">
  <div class="cscontainer loginPgcont">
    <h2 class="regTl">Please fill up following details to complete your profile.</h2>
    <div class="regFormCont conbx">
      <div class="row">
       <!-- <pre>{{model | json}}</pre>-->

        <form name="form" (ngSubmit)="f.form.valid && makeprofile(f)" #f="ngForm" novalidate>
          <div class="col-xs-12 form-group">

            <label>First Name</label>
            <input type="text" [(ngModel)]="model.first_name" #firstname="ngModel" required class="form-control {{(f.submitted && !firstname.valid) ?'frmerr':''}}" placeholder="John" name="firstname">
            <!--<div *ngIf="f.submitted && !firstname.valid" class="frmError">
                <div [hidden]="!firstname.errors.required">
                    First name is required
                </div>
            </div>-->

          </div>
          <div class="col-xs-12 form-group">

            <label>Last Name</label>
            <input type="text" [(ngModel)]="model.last_name" #lastname="ngModel" required  class="form-control {{(f.submitted && !lastname.valid) ?'frmerr':''}}" placeholder="Doe" name="lastname">
            <!--<div *ngIf="f.submitted && !lastname.valid" class="frmError">
                <div [hidden]="!lastname.errors.required">
                    Last name is required
                </div>
            </div>-->

          </div>
          <div class="col-xs-12 form-group">

            <label>Password</label>
            <input type="password" [(ngModel)]="model.password" #password="ngModel" required pattern="^(?=.*[0-9])(?=.*[a-z]).{8,}$" class="form-control {{(f.submitted && !password.valid) ?'frmerr':''}}" placeholder="" name="password"/>
              <!--^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}$-->
            <div class="fieldNote">(Password should be minimum 8 letters alphanumeric)</div>
            <!--<div *ngIf="f.submitted && !password.valid" class="frmError">
                <div [hidden]="!password.errors.required">
                    Password is required
                </div>
                <div [hidden]="!password.errors.pattern">
                    Put valid password as per instruction
                </div>
            </div>-->
            
          </div>
          <div class="col-xs-12 form-group">

            <label>Confirm Password</label>
            <input type="password" ngModel #certainPassword="ngModel" [equalTo]="password" class="form-control {{(f.submitted && !certainPassword.valid) ?'frmerr':''}}" placeholder="" name="certainPassword">
            <div class="fieldNote">(Confirm password should match with password)</div>
            <!--<div *ngIf="f.submitted && !certainPassword.valid" class="frmError">
                <div *ngIf="certainPassword.errors?.equalTo">
                    Password is not correct
                </div>
            </div>-->

          </div>
          <div class="col-xs-12 form-group">
            <div class="fieldNote">By clicking 'Sign Up', you agree to the
              <a href="javascript:void(0);">Terms of Service</a> and
              <a href="javascript:void(0);">Privacy Policy</a>.</div>
          </div>
          <div class="col-xs-12 form-group">
            <input type="submit" value="Create Profile" class="btn btn-orange btn-lg csbtn full" name="">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <p>Copyright @ 2017, Leadview360 - All Rights Reserved</p>
  </div>
</footer>