<div class="cscontainer midobjet">
  <div class="billing_history">
    <div class="white_bg">
      <div class="clearfix title-blue-border">
        <h2 class="tabltitle pull-left">{{model?.title}}</h2>
        <!-- <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <a href="javascript:void(0);" data-val="addProject"
              class="openaddcontact btn btn-default btngrey">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
          </li>
          <li class="pull-left">
            <a href="javascript:void(0);" class="btn btn-success sucbtn">&nbsp;&nbsp;Delete&nbsp;&nbsp;</a>
          </li>
          <li class="pull-left">
            <a href="javascript:void(0);" class="btn btn-warning addbtn "> Pay Subscription</a>
          </li>
        </ul> -->
      </div>
      <div class="bilingDetails">
        <div class="row">
          <div class="col-md-8 col-sm-7">
            <h2 class="bilTl">
              <span class="ico">
                <i class="fa fa-location-arrow"></i>
              </span>
              <span>Billing Address</span>
            </h2>
            <p><span>{{billingHistory?.cus_bill?.company_name}}</span><br>
              {{billingHistory?.cus_bill?.street_address}},<br>
              city: {{billingHistory?.cus_bill?.city}},<br>
              region: {{billingHistory?.cus_bill?.region}} - {{billingHistory?.cus_bill?.zipcode}},<br>
              {{billingHistory?.cus_bill?.country?.name}}<br>
              <!-- Sector-V, Salt Lake City<br>
              Kolkata-700 091 -->
            </p>
            <div class="billMethod">
              <!-- <div class="txt">Billing method : <img src="assets/images/paypal-ico.png" alt=""> Stripe</div> -->
              <div class="txt">Billing method :  Stripe</div>
              <div class="txt">Stripe Card Number :  XXXX XXXX XXXX {{billingHistory?.cus_bill?.customers[0]?.card_number}}</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-5">
            <div class="bilUDetails">
              <table>
                <tbody>
                  <tr>
                    <td>Project admin email :</td>
                    <td>{{billingHistory?.package?.user?.email}}</td>
                  </tr>
                  <tr>
                    <td>No of users :</td>
                    <td>{{billingHistory?.package?.package?.nof_users}}</td>
                  </tr>
                  <tr>
                    <td>No of contacts :</td>
                    <td>{{billingHistory?.package?.package?.free_contacts}}</td>
                  </tr>
                  <tr>
                    <td>Last billing cycle :</td>
                    <!-- <td>25 January, 2017</td> -->
                    <td>{{billingHistory?.package?.last_billing_cycle | date:'mediumDate'}}</td>
                  </tr>
                  <tr>
                    <td>Last billing cycle fee :</td>
                    <td>{{billingHistory?.package?.transactions?.amount}}</td>
                  </tr>
                  <tr>
                    <td>Next billing cycle :</td>
                    <td>{{billingHistory?.package?.next_billing_cycle | date:'mediumDate'}}</td>
                  </tr>
                  <tr>
                    <td>Next billing cycle fee :</td>
                    <td>{{billingHistory?.package?.transactions?.amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="white_bg" style="margin-top:16px;">
      <div class="timeltitle panel-body title-blue-border">
        <p class="text-orange">BILLING HISTORY</p>
      </div>

      <div class="table_default newtbl">
        <div id="sortingTable_wrapper" class="dataTables_wrapper no-footer">
          <div class="dataTables_length" id="sortingTable_length"><label>Show <select name="sortingTable_length"
                aria-controls="sortingTable" class="">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> entries</label></div>
          <div id="sortingTable_filter" class="dataTables_filter"><label>Search:<input type="search" class=""
                placeholder="" aria-controls="sortingTable"></label></div>
          <table class="table dataTable no-footer" id="sortingTable" role="grid" aria-describedby="sortingTable_info">
            <thead>
              <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="sortingTable" rowspan="1" colspan="1"
                  aria-label="Invoice No: activate to sort column ascending" style="width: 115px;">Invoice No</th>
                <th class="sorting" tabindex="0" aria-controls="sortingTable" rowspan="1" colspan="1"
                  aria-label="Project Name: activate to sort column ascending" style="width: 128px;">Project Name</th>
                <th class="sorting" tabindex="0" aria-controls="sortingTable" rowspan="1" colspan="1"
                  aria-label="Billing Cycle Due Date: activate to sort column ascending" style="width: 210px;">Billing
                  Cycle Due Date</th>
                <th class="sorting" tabindex="0" aria-controls="sortingTable" rowspan="1" colspan="1"
                  aria-label="Transaction Date: activate to sort column ascending" style="width: 168px;">Transaction
                  Date</th>
                <th class="sorting" tabindex="0" aria-controls="sortingTable" rowspan="1" colspan="1"
                  aria-label="Invoiced Amount: activate to sort column ascending" style="width: 167px;">Invoiced Amount
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="sortingTable" rowspan="1" colspan="1"
                  aria-label="Payment Status: activate to sort column descending" style="width: 158px;"
                  aria-sort="ascending">Payment Status</th>
                <th class="sorting" tabindex="0" aria-controls="sortingTable" rowspan="1" colspan="1"
                  aria-label="Invoice Link: activate to sort column ascending" style="width: 155px;">Invoice Link</th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let billing of billingDetailsList">
                <td data-th="Invoice No" class="">{{billing?.api_invoice_id ? billing?.api_invoice_id : 'NA'}}</td>
                <td data-th="Project Name" class="">{{billing?.project?.title}}</td>
                <td data-th="Billing Cycle Due Date" class="">{{billing?.cycle_due_date | date:'mediumDate'}}</td>
                <td data-th="Transaction Date" class="">{{billing?.transactions?.created_at | date:'mediumDate'}}</td>
                <td data-th="Invoiced Amount" class="">${{billing?.transactions?.amount}}</td>
                <td data-th="Payment Status" class="sorting_1">
                  {{billing?.transactions?.payment_status == '1' ? 'paid' : 'UnPaid'}}</td>
                <td data-th="Invoice Link" class="">
                  <a href="javascript:void(0);" class="downPdf" (click)="downloadPdf(billing?.id)" >
                    <img src="assets/images/pdf-ico.png" alt=""> Download
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="dataTables_info" id="sortingTable_info" role="status" aria-live="polite">Showing 1 to 10 of 16
            entries</div>
          <!-- <div class="dataTables_paginate paging_simple_numbers" id="sortingTable_paginate"><a
              class="paginate_button previous disabled" aria-controls="sortingTable" data-dt-idx="0" tabindex="0"
              id="sortingTable_previous">Previous</a><span><a class="paginate_button current"
                aria-controls="sortingTable" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button "
                aria-controls="sortingTable" data-dt-idx="2" tabindex="0">2</a></span><a class="paginate_button next"
              aria-controls="sortingTable" data-dt-idx="3" tabindex="0" id="sortingTable_next">Next</a></div> -->
        </div>
      </div>
    </div>

    <!-- <nav class="paginationew text-right">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous">Previous</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next">Next</a></li>
        </ul>
    </nav> -->

  </div>
</div>