<p-growl [(value)]="msgs"></p-growl>
<section class="container-fluid bggreyone paddtb30 collesspadd" style="min-height: 522px;">
	<div class="cscontainer midobjet">

		<div class="white_bg1">
			<h2 class="dbtitle">Pricing/Feature plans</h2>
			<div class="dbserform panel-body">
				<form (ngSubmit)="f.form.valid && addPricingPlan(f)" #f="ngForm" novalidate>
					<div class="conbx center-block1">
						<div class="form-group">
							<label>Title</label>
							<input class="form-control" type="text" [(ngModel)]="model.title" name="title">
						</div>
						<div class="form-group">
							<label>Content</label>
							<div class="inputcontent">
								<!-- <p-editor  [(ngModel)]="model.content" name="content" (onTextChange)="checkDraft($event)"  [style]="{'height':'220px'}"></p-editor> -->

								<!-- <ckeditor [(ngModel)]="model.content" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig"
								 debounce="500" (change)="onChange($event)">
								</ckeditor> -->
								<ckeditor [(ngModel)]="model.content" [ngModelOptions]="{standalone: true}" [readonly]="false" (change)="onChange($event)" debounce="500">
								</ckeditor>
							</div>
						</div>
						<div class="style_add_div">
							<div class="form-group">
								<label>Stylesheet</label>
								<textarea rows="5" class="form-control" type="text" [(ngModel)]="model.stylesheet" name="stylesheet"></textarea>
							</div>
						</div>
						<div class="text-center">

							<input type="submit" value="Submit" class="btn btn-success csbtn" name="">
							<input type="button" value="Cancel" (click)="close()" class="btn btn-success csbtn" name="">
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</section>