<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">

  <!--<h2 class="dbtitle">CHAT WIDGETS</h2>
  <div class="panel-body white_bg chatwidgetbx">
    <h4 class="titleblack"><strong>SELECT ONE OF THE CHAT BOX</strong></h4>

    <form (ngSubmit)="f.form.valid && saveChatBox(f)" #f="ngForm" novalidate>
      &lt;!&ndash;<ul class="list-inline checklist big clearfix">

        <li class="text-center">
          <span class="stpp round">
              <span class="wrpbrd round"></span>
              <span class="txtsp">1</span>
          </span>

          <label class="btn-block">
            <input type="radio" class="hidden" name="stepchoose" (change)="setLayout()" [(ngModel)]="model.layout" value="1">
            <div class="checkstep">
              <figure>
                <img src="assets/images/chatwidget.png" class="img-responsive">
              </figure>
              <p><span class="on">Chat Widgets</span><i class="material-icons off">check</i></p>
            </div>
          </label>
        </li>

        <li class="text-center">
          <span class="stpp round">
              <span class="wrpbrd round"></span>
              <span class="txtsp">2</span>
          </span>

          <label class="btn-block">
            <input type="radio" class="hidden" name="stepchoose" (change)="setLayout()" [(ngModel)]="model.layout" value="2">
            <div class="checkstep">
              <figure>
                <img src="assets/images/chatwidget2.png" class="img-responsive">
              </figure>
              <p><span class="on">Chat Widgets</span><i class="material-icons off">check</i></p>
            </div>
          </label>
        </li>

        <li class="text-center">
          <span class="stpp round">
              <span class="wrpbrd round"></span>
              <span class="txtsp">3</span>
          </span>

          <label class="btn-block">
            <input checked="" type="radio" class="hidden" name="stepchoose" (change)="setLayout()" [(ngModel)]="model.layout" value="3">
            <div class="checkstep">
              <figure>
                <img src="assets/images/chatwidget3.png" class="img-responsive">
              </figure>
              <p><span class="on">Chat Widgets</span><i class="material-icons off">check</i></p>
            </div>
          </label>
        </li>
      </ul>
&ndash;&gt;
      <h4 class="titleblack"><strong>CUSTOMIZE THE COLOR</strong></h4>

      <div class="panel-body cscolorbx form-group">
        <div class="row">

          <div class="col-sm-4">
            <h4 class="titleblack"><strong>HEADER COLOR</strong></h4>
            <input type="text" id="hue-demo" class="form-control demo" data-control="hue" placeholder="#00863F" name="header_color" [(ngModel)]="model.header_color">
          </div>


          <div class="col-sm-4">
            <h4 class="titleblack"><strong>BACKGROUND COLOR</strong></h4>
            <input type="text" class="form-control demo" data-control="hue" placeholder="#F5F5F5" name="bg_color" [(ngModel)]="model.bg_color">
          </div>


          <div class="col-sm-4">
            <h4 class="titleblack"><strong>TEXT COLOR</strong></h4>
            <input type="text" class="form-control demo" data-control="hue" placeholder="#000000" name="text_color" [(ngModel)]="model.text_color">
          </div>

        </div>
      </div>

      <div class="panel-body text-center">
        <h4 class="titleblack"><strong>CHECK THE PREVIEW</strong></h4>
      </div>

      <div class="text-center clearfix">
        <div class="devicevew desktop_device">
          &lt;!&ndash;
          <img src="assets/images/chat-srcsm.png" class="img-responsive pull-left"> &ndash;&gt;
          <div class="budylistradio clearfix">
            <label class="pull-left">Visible for Desktop</label>
            <div class="form-group pull-left">
              &lt;!&ndash; <input type="hidden" name="" value="0"> &ndash;&gt;
              <input type="checkbox" class="lcs_check" name="visible_desktop" value="1" [checked]="checkOnOff(model.visible_desktop)" (change)="setOnOffVal($event)">
              <span class="swipeChk">
                  <span class="on">Yes</span>
                  <span class="off">No</span>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
          <img src="assets/images/desktop_device.png" class="img-responsive">
        </div>
        <div class="devicevew ipad_device">
          <div class="budylistradio clearfix">
            <label class="pull-left">Visible for iPad</label>
            <div class="form-group pull-left">
              &lt;!&ndash; <input type="hidden" name="" value="0"> &ndash;&gt;
              <input type="checkbox" class="lcs_check" name="visible_ipad" value="1" [checked]="checkOnOff(model.visible_ipad)" (change)="setOnOffVal($event)">
              <span class="swipeChk">
                  <span class="on">Yes</span>
                  <span class="off">No</span>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>

          <img src="assets/images/ipad_device.png" class="img-responsive">
        </div>
        <div class="devicevew mobile_device">
          &lt;!&ndash;
          <img src="assets/images/chat-srcsm.png" class="img-responsive pull-left"> &ndash;&gt;
          <div class="budylistradio clearfix">
            <label class="pull-left">Visible for Mobile</label>
            <div class="form-group pull-left">
              &lt;!&ndash; <input type="hidden" name="" value="0"> &ndash;&gt;
              <input type="checkbox" class="lcs_check" name="visible_mobile" value="1" [checked]="checkOnOff(model.visible_mobile)" (change)="setOnOffVal($event)">
              <span class="swipeChk">
                  <span class="on">Yes</span>
                  <span class="off">No</span>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
          <img src="assets/images/mobile_device.png" class="img-responsive">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-lg-2 col-sm-2 col-sm-3 clearfix">
          <h4 class="titleblack pull-left"><strong>Code</strong></h4>
        </div>
        <div class="col-sm-6">
          <div class="copyttxt clearfix">
            <p class="copyme newcp pull-left">{{short_code}}</p>
            <a href="javascript:void(0);" (click)="copyToClipboard(short_code)" class="pull-right btn rad20 btn-default sucbtn btn-sm"><i class="fa fa-code" aria-hidden="true"></i> Copy Code</a>
          </div>
          <p class="parasm">Copy and paste this snipet to your code and put your form on your website. It's that Simple.</p>
        </div>
      </div>

      <div class="row pnchatlist">
        <div class="col-lg-2 col-sm-2 col-sm-3 clearfix">
          <h4 class="titleblack pull-left"><strong>Enable</strong></h4>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="txtsmall">
              <input type="radio" name="chatposinagetive" class="hidden" [(ngModel)]="model.default_on" value="1" [checked]="checkOnOff(model.default_on)">
              <span class="chatico round"></span> Default ON
            </label>
            <p class="parasm"><strong>Note:</strong> If you inserted code then only chatbox will open.</p>
          </div>

          <div class="form-group">
            <label class="txtsmall">
              <input type="radio" name="chatposinagetive" class="hidden" [(ngModel)]="model.default_on" value="0" [checked]="checkOnOff(model.default_on)">
              <span class="chatico round"></span> Default OFF
            </label>
            <p class="parasm"><strong>Note:</strong> If you inserted code then chatbox will not open.</p>
          </div>

        </div>
      </div>

      <div class="row form-group">
        <div class="col-lg-2 col-sm-2 col-sm-3 clearfix">
          <h4 class="titleblack pull-left"><strong>Status</strong></h4>
        </div>
        <div class="col-sm-6">
          <div class="budylistradio gpcheck">
            <div class="form-group">
              &lt;!&ndash; <input type="hidden" name="" value="0"> &ndash;&gt;
              <input type="checkbox" class="lcs_check" name="status" checked="{{checkOnOff(model.status)}}" (change)="setOnOffVal($event)">
              <span class="swipeChk">
                  <span class="on">Active</span>
                  <span class="off">Inactive</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center paddtb20">
        <input type="submit" value="Save" class="btn btn-success csbtn" >
      </div>

    </form>

  </div>-->
  <div class="white_bg chatwidgetbx">
    <h2 class="dbtitle">Messaging Box setup</h2>
      <!--<div [innerHTML]="ws_code"></div>-->
      <div id="wsdv"></div>
    <div class="chatsetupcontainer">
      <form (ngSubmit)="f.form.valid && saveChatBox(f)" #f="ngForm" novalidate>
        <!-- Show   Chat up -->
        <div class="panel panel-white" >
          <div class="panel-heading">
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_chat" name="show_chat">
              <span>Show <strong>Chat</strong> TAB</span>
            </label>
          </div>

          <div class="panel-body {{model.show_chat==0?'displaynone':''}}">
            <label class="custom-fluid-checkbox">
              <h3 class="panel-title">Identify form setup</h3>
              <!-- <input type="checkbox"> -->
              <span>Set intro text</span>
              <span class="option-text-input collapse in">
                  <input type="text" class="form-control" placeholder="Please introduce yourself" name="intro_text" [(ngModel)]="model.intro_text">
              </span>
            </label>
            <label class="custom-fluid-checkbox">
              <!-- <input type="checkbox" checked=""> -->
              <span>Fields to ask</span>
              <span class="option-text-input collapse in">
                  <label class="custom-fluid-checkbox">
                      <!--<input type="radio" name="first-name-last-name" checked>-->
                      <span>First Name & Last name</span>
                      <span class="option-text-input " style="display:block">
                          <!--<input type="text" class="form-control mb-10" placeholder="Title Label" name="intro_text" [(ngModel)]="model.intro_text">-->
                          <input type="text" class="form-control mb-10" placeholder="First Name Label" name="first_name_text" [(ngModel)]="model.first_name_text">
                          <input type="text" class="form-control mb-10" placeholder="Last Name Label" name="last_name_text" [(ngModel)]="model.last_name_text">
                      </span>
                  </label>
                  <!--<label class="custom-fluid-checkbox">
                  <input type="radio" name="first-name-last-name">
                  <span>First Name & Last name</span>
                  <span class="option-text-input collapse">
                  <input type="text" class="form-control mb-10" value="First Name" placeholder="First Name Label">
                  <input type="text" class="form-control mb-10" value="Last Name" placeholder="Last Name Label">
                  </span>
                  </label>-->
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" name="is_company" [(ngModel)]="model.is_company">
                      <span>Company</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control mb-10" name="company_text" [(ngModel)]="model.company_text" placeholder="Company Label">
                      </span>
                  </label>
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" name="is_role" [(ngModel)]="model.is_role">
                      <span>Role</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control mb-10" name="role_text" [(ngModel)]="model.role_text" placeholder="Role Label">
                      </span>
                  </label>
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" name="is_phone" [(ngModel)]="model.is_phone">
                      <span>Phone number</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control mb-10" name="phone_text" [(ngModel)]="model.phone_text" placeholder="Phone Number Label">
                      </span>
                  </label>
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" checked="checked" disabled="">
                      <span>Email address (is always required)</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control mb-10" name="email_text" [(ngModel)]="model.email_text" placeholder="Email Address Label">
                      </span>
                  </label>
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" name="is_language" [(ngModel)]="model.is_language">
                      <span>Preferred language</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control" name="language_text" [(ngModel)]="model.language_text" placeholder="Preferred language Label">
                      </span>
                  </label>
                  <label class="custom-fluid-checkbox">
                      <span>GDPR-message</span>
                      <span class="option-text-input collapse in">
                      <textarea name="" id="" cols="30" rows="5" class="form-control" name="gdpr_text" [(ngModel)]="model.gdpr_text">I agree to have my personal data processed by LeadView360 for chat support & for customizing your web experience on this website. Full policy is available under https://leadview.com/privacy-policy/.</textarea>
                      </span>
                  </label>
                  <label class="custom-fluid-checkbox">
                      <span>Start chatting</span>
                      <span class="option-text-input collapse in">
                      <input type="text" class="form-control" placeholder="Start chatting text" name="start_chat_text" [(ngModel)]="model.start_chat_text">
                      </span>
                  </label>
              </span>
            </label>
          </div>
        </div>
        <!-- Directory  set up -->
        <div class="panel panel-white">
          <div class="panel-heading">
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_directory" name="show_directory" >
              <span>Show <strong>Directory</strong> TAB</span>
            </label>

          </div>

          <div class="panel-body {{model.show_directory==0?'displaynone':''}}">
            <div class="custom-fluid-checkbox"><h3 class="panel-title">Leave a message form</h3></div>
            <label class="custom-fluid-checkbox">
              <!-- <input type="checkbox"> -->
              <span>Set intro text</span>
              <span class="option-text-input collapse in">
                  <input type="text" class="form-control" placeholder="Leave a message form" name="intro_dir" [(ngModel)]="model.intro_dir">
              </span>
            </label>
            <label class="custom-fluid-checkbox">
              <!-- <input type="checkbox" checked=""> -->
              <span>Fields to ask</span>
              <span class="option-text-input collapse in">
                <label class="custom-fluid-checkbox">
                  <!--<input type="radio" name="first-name-last-name" checked>-->
                  <span>First Name & Last name</span>
                  <span class="option-text-input " style="display:block">
                      <!--<input type="text" class="form-control mb-10" value="Title" placeholder="Title Label">-->
                      <input type="text" class="form-control mb-10" placeholder="First Name Label" name="first_name_dir" [(ngModel)]="model.first_name_dir">
                      <input type="text" class="form-control mb-10" placeholder="Last Name Label" name="last_name_dir" [(ngModel)]="model.last_name_dir">
                  </span>
                </label>
                <label class="custom-fluid-checkbox">
                  <input type="checkbox" name="is_company_dir" [(ngModel)]="model.is_company_dir">
                  <span>Company</span>
                  <span class="option-text-input collapse">
                      <input type="text" class="form-control mb-10" placeholder="Company Label" name="company_dir" [(ngModel)]="model.company_dir">
                  </span>
                </label>
                <label class="custom-fluid-checkbox">
                      <input type="checkbox" name="is_role_dir" [(ngModel)]="model.is_role_dir">
                      <span>Role</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control mb-10" placeholder="Role Label" name="role_dir" [(ngModel)]="model.role_dir">
                      </span>
                </label>
                <label class="custom-fluid-checkbox">
                  <input type="checkbox" checked="checked" disabled="">
                  <span>Email address (is always required)</span>
                  <span class="option-text-input collapse">
                      <input type="text" class="form-control" placeholder="Email Address Label" name="email_dir" [(ngModel)]="model.email_dir">
                  </span>
                </label>
                <label class="custom-fluid-checkbox">
                    <input type="checkbox" name="is_phone_dir" [(ngModel)]="model.is_phone_dir">
                    <span>Phone number</span>
                    <span class="option-text-input collapse">
                      <input type="text" class="form-control" placeholder="Phone Number Label" name="phone_dir" [(ngModel)]="model.phone_dir">
                    </span>
                </label>

                <label class="custom-fluid-checkbox">
                      <input type="checkbox" name="is_message_dir" [(ngModel)]="model.is_message_dir">
                      <span>Message</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control" placeholder="Message Label" name="message_dir" [(ngModel)]="model.message_dir">
                        <!-- <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea> -->
                      </span>
                  </label>
                    <!-- <label class="custom-fluid-checkbox">
                    <span>GDPR-message</span>
                    <span class="option-text-input collapse in">
                    <textarea name="" id="" cols="30" rows="5" class="form-control">I agree to have my personal data processed by LeadView360 for chat support & for customizing your web experience on this website. Full policy is available under https://leadview.com/privacy-policy/.</textarea>
                    </span>
                    </label> -->
                <label class="custom-fluid-checkbox">
                      <span>Send Message</span>
                      <span class="option-text-input collapse in">
                      <input type="text" class="form-control" placeholder="Send Message text" name="start_chat_dir" [(ngModel)]="model.start_chat_dir">
                      </span>
                  </label>
              </span>
            </label>
          </div>
        </div>
        <!-- Timline   set up -->
        <div class="panel panel-white" >
          <div class="panel-heading">
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_timeline" name="show_timeline">
              <span>Show <strong>Notifications Timeline</strong> TAB</span>
            </label>

          </div>
        </div>
        <!-- Social   set up -->
        <div class="panel panel-white" id="social-setup">
          <div class="panel-heading">
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_social" name="show_social">
              <span>Social Sharing setup</span>
            </label>

          </div>
          <div class="panel-body {{model.show_social==0?'displaynone':''}}">
              <span class="custom-fluid-checkbox">
                  <span>Sharing Option</span>
                  <span class="option-text-input collapse in">
                      <label class="custom-fluid-checkbox">
                          <input type="checkbox" name="is_facebook" [(ngModel)]="model.is_facebook">
                          <span>Facebook</span>
                      </label>
                      <label class="custom-fluid-checkbox">
                          <input type="checkbox" name="is_twitter" [(ngModel)]="model.is_twitter">
                          <span>Twitter</span>
                      </label>
                      <label class="custom-fluid-checkbox">
                          <input type="checkbox" name="is_pinterest" [(ngModel)]="model.is_pinterest">
                          <span>Pinterest</span>
                      </label>
                      <label class="custom-fluid-checkbox">
                          <input type="checkbox" name="is_linkedin" [(ngModel)]="model.is_linkedin">
                          <span>Linkedin</span>
                      </label>
                  </span>
              </span>
            <span class="custom-fluid-checkbox">
                <span class="option-text-input collapse in">
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" name="is_bookmark" [(ngModel)]="model.is_bookmark">
                      <span>Bookmark Option</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control" name="bookmark_text" [(ngModel)]="model.bookmark_text" placeholder="Bookmark Button Text">
                      </span>
                  </label>
                </span>
            </span>
          </div>
        </div>
        <!-- Preference   set up -->
        <div class="panel panel-white" id="preferance-setup">
          <div class="panel-heading">
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_preferences" name="show_preferences" >
              <span>Preferences setup</span>
            </label>

          </div>
          <div class="panel-body {{model.show_preferences==0?'displaynone':''}}">
            <label class="custom-fluid-checkbox swipe-checkbox">
                <input type="checkbox" [(ngModel)]="model.show_tags" name="show_tags">
              <span>Show interest tags</span>
            </label>
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_email_me" name="show_email_me">
              <span>Show <strong>Email me if i have unread messages</strong></span>
              <span class="option-text-input collapse">
                  <input type="text" placeholder="Enter Message Label" class="form-control mb-10" [(ngModel)]="model.email_me_text" name="email_me_text">
              </span>
            </label>
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_marketing" name="show_marketing">
              <span>Show <strong>Yes, i like to receive marketing messages</strong></span>
              <span class="option-text-input collapse">
                  <input type="text" placeholder="Enter Message Label" class="form-control" [(ngModel)]="model.marketing_text" name="marketing_text">
              </span>
            </label>
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_gdpr" name="show_gdpr">
              <span>Show <strong>GDPR-message</strong></span>
              <span class="option-text-input collapse">
                  <textarea cols="30" rows="3" placeholder="Enter GDPR Nessage here" [(ngModel)]="model.gdpr_pref" name="gdpr_pref"></textarea>
                  <label class="full-width">
                  <h5>Intro GDPR-message</h5>
                  <textarea cols="30" rows="3" placeholder="Enter GDPR Nessage here" [(ngModel)]="model.gdpr_intro_msg" name="gdpr_intro_msg"></textarea>
                  </label>
              </span>
            </label>
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_more" name="show_more">
              <span>Show <strong>More Link</strong> to accept coockies</span>
              <span class="option-text-input collapse">
                  <label class="custom-fluid-checkbox">
                      <span>Set cookie link text</span>
                      <input type="text" class="form-control" placeholder="Enter Button text here" [(ngModel)]="model.more_text" name="more_text">
                  </label>
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" [(ngModel)]="model.is_functional_cookie" name="is_functional_cookie">
                      <span>Functional cookies</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control mb-10" placeholder="Please Enter cookie consent message" [(ngModel)]="model.functional_cookie_text" name="functional_cookie_text">
                          <textarea cols="30" rows="3" placeholder="Enter Functional cookies policy here" [(ngModel)]="model.functional_cookie_msg" name="functional_cookie_msg"></textarea>
                      </span>
                  </label>
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" [(ngModel)]="model.is_analytical_cookie" name="is_analytical_cookie">
                      <span>Analytical cookies</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control mb-10" placeholder="Please Enter cookie consent message" [(ngModel)]="model.analytical_cookie_text" name="analytical_cookie_text" >
                          <textarea cols="30" rows="3" placeholder="Enter Analytical cookies policy here" [(ngModel)]="model.analytical_cookie_msg" name="analytical_cookie_msg"></textarea>
                      </span>
                  </label>
                  <label class="custom-fluid-checkbox">
                      <input type="checkbox" [(ngModel)]="model.is_marketing_cookie" name="is_marketing_cookie">
                      <span>Marketing cookies</span>
                      <span class="option-text-input collapse">
                          <input type="text" class="form-control mb-10" placeholder="Please Enter cookie consent message" [(ngModel)]="model.marketing_cookie_text" name="marketing_cookie_text" >
                          <textarea cols="30" rows="3" placeholder="Enter Marketing cookies policy here" [(ngModel)]="model.marketing_cookie_msg" name="marketing_cookie_msg"></textarea>
                      </span>
                  </label>
              </span>
            </label>
          </div>
        </div>
        <!-- Profile Box set up -->
        <div class="panel panel-white" id="profile-setup">
          <div class="panel-heading">
            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_profile" name="show_profile">
              <span>Profile setup</span>

            </label>
          </div>
          <div class="panel-body {{model.show_profile==0?'displaynone':''}}">
            <label class="custom-fluid-checkbox no-checkbox">
              <span class="pl-0">Avatar</span>
              <span class="multi-radio">
                    <label class="radio-inline radio-item">
                    <input type="radio" id="avatarRadio1" checked="{{model.avatar_show_type==1}}" (change)="setSavatar($event)" name="avatar_show_type" value="1"> <span>Show only</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" id="avatarRadio2" checked="{{model.avatar_show_type==2}}" (change)="setSavatar($event)" name="avatar_show_type" value="2"> <span>Show - Add - Edit</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" id="avatarRadio3" checked="{{model.avatar_show_type==0}}" (change)="setSavatar($event)" name="avatar_show_type" value="0"> <span>Hide</span>
                    </label>
              </span>
            </label>
            <label class="custom-fluid-checkbox no-checkbox">
              <span class="pl-0">About section</span>
              <span class="multi-radio">
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.about_show_type==1}}" (change)="setSabout($event)" name="about_show_type" id="aboutRadio1" value="1"> <span>Show only</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.about_show_type==2}}" (change)="setSabout($event)" name="about_show_type" id="aboutRadio2" value="2"> <span>Show - Add - Edit</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.about_show_type==0}}" (change)="setSabout($event)" name="about_show_type" id="aboutRadio3" value="0"> <span>Hide</span>
                    </label>
              </span>
            </label>
            <label class="custom-fluid-checkbox no-checkbox">
              <span class="pl-0">Phone numbers</span>
              <span class="multi-radio">
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.phone_show_type==1}}" (change)="setSphone($event)" name="phone_show_type" id="phoneRadio1" value="1" > <span>Show only</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.phone_show_type==2}}" (change)="setSphone($event)" name="phone_show_type" id="phoneRadio2" value="2"> <span>Show - Add - Edit</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.phone_show_type==0}}" (change)="setSphone($event)" name="phone_show_type" id="phoneRadio3" value="0"> <span>Hide</span>
                    </label>
              </span>
            </label>
            <label class="custom-fluid-checkbox no-checkbox">
              <span class="pl-0">Email addresses</span>
              <span class="multi-radio">
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.email_show_type==1}}" (change)="setSmail($event)" name="email_show_type" id="emailRadio1" value="1"> <span>Show only</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.email_show_type==2}}" (change)="setSmail($event)" name="email_show_type" id="emailRadio2" value="2"> <span>Show - Add - Edit</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.email_show_type==0}}" (change)="setSmail($event)" name="email_show_type" id="emailRadio3" value="0"> <span>Hide</span>
                    </label>
              </span>
            </label>
            <label class="custom-fluid-checkbox no-checkbox">
              <span class="pl-0">Social accounts</span>
              <span class="multi-radio">
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.social_show_type==1}}" name="social_show_type" (change)="setSac($event)" id="socialRadio1" value="1"> <span>Show only</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.social_show_type==2}}" name="social_show_type" (change)="setSac($event)" id="socialRadio2" value="2"> <span>Show - Add - Edit</span>
                    </label>
                    <label class="radio-inline radio-item">
                    <input type="radio" checked="{{model.social_show_type==0}}" name="social_show_type" (change)="setSac($event)" id="socialRadio3" value="0"> <span>Hide</span>
                    </label>
              </span>
            </label>

            <label class="custom-fluid-checkbox no-checkbox">
              <span class="pl-0">IP-data</span>
              <span class="multi-radio">
                  <label class="radio-inline radio-item">
                      <input type="radio" checked="{{model.show_IP_data==1}}" name="show_IP_data" id="ipRadio1" (change)="setShowIp($event)" value="1">
                      <span>Show</span>
                  </label>
                  <label class="radio-inline radio-item">
                      <input type="radio" checked="{{model.show_IP_data==0}}" name="show_IP_data" (change)="setShowIp($event)" id="ipRadio2" value="0">
                      <span>Hide</span>
                  </label>
              </span>
            </label>

            <label class="custom-fluid-checkbox">
              <input type="checkbox" [(ngModel)]="model.show_personal_data_request" name="show_personal_data_request">
              <span>Show GDPR personal data request button.</span>
              <span class="option-text-input collapse">
                    <label class="custom-fluid-checkbox">
                    <span>Set Button CTA-text</span>
                    <span class="form-group">
                    <input type="text" class="form-control" placeholder="Set Button CTA-text" name="cta_btn_text" [(ngModel)]="model.cta_btn_text">
                    </span>
                    </label>
                    <label class="custom-fluid-checkbox">
                    <span>Set Button Mouseover Tooltip text</span>
                    <span class="form-group">
                    <input type="text" class="form-control" placeholder="Set Button CTA-text" name="cta_btn_tooltip" [(ngModel)]="model.cta_btn_tooltip">
                    </span>
                    </label>

                     <!--<label class="custom-fluid-checkbox">
                    <span>Choose Email Template<small> to be send in case of personal data download request.</small></span>
                    <span class="form-group clearfix d-block">
                    <select name="cta_template" [(ngModel)]="model.cta_template" id="chatbox_select2" class="form-control" onchange="view(this.value);">
                        <option value="1" selected="">Email Template 1</option>
                        <option value="2">Email Template 2</option>
                        <option value="3">Email Template 3</option>
                    </select>
                    </span>

                    </label>-->
              </span>
            </label>

            <label class="custom-fluid-checkbox">
              <input type="checkbox" name="show_personal_data_removal" [(ngModel)]="model.show_personal_data_removal">
              <span>Show GDPR personal data removal request button</span>
              <span class="option-text-input collapse">
                    <label class="custom-fluid-checkbox">
                    <span>Set Button CTA-text</span>
                    <span class="form-group">
                    <input type="text" class="form-control" placeholder="Set Button CTA-text" name="personal_removal_text" [(ngModel)]="model.personal_removal_text">
                    </span>
                    </label>
                    <label class="custom-fluid-checkbox">
                    <span>Set Button Mouseover Tooltip text</span>
                    <span class="form-group">
                    <input type="text" class="form-control" placeholder="Set Button CTA-text" name="personal_removal_tooltip" [(ngModel)]="model.personal_removal_tooltip">
                    </span>
                    </label>
                    <label class="custom-fluid-checkbox">
                        <span>Choose Email Template <small> to be send in case the deletion action is completed.</small></span>
                        <span class="form-group clearfix d-block">
                            <select name="personal_removal_template" [(ngModel)]="model.personal_removal_template" id="chatbox_select3" class="form-control" onchange="view(this.value);">
                                <option value="">Please Select</option>
                                <option *ngFor="let template of emailTemplateArray" value="{{template.id}}">{{template.title}}</option>
                                    <!-- <option value="1" selected="">Email Template 1</option>
                                    <option value="2">Email Template 2</option>
                                    <option value="3">Email Template 3</option> -->
                            </select>
                        </span>
                    </label>
              </span>
            </label>
            <label class="custom-fluid-checkbox">
              <input type="checkbox" name="show_gdpr_data_manager" [(ngModel)]="model.show_gdpr_data_manager">
              <span>Set GDPR Data Manager</span>
              <span class="option-text-input collapse">
                <label class="custom-fluid-checkbox">
                <span>Choose User</span>
                <select name="gdpr_data_manager_id" [(ngModel)]="model.gdpr_data_manager_id" id="chatbox_select" class="form-control" >
                        <option value="">Please Select</option>
                        <option *ngFor="let teamUser of teamUsers" value="{{teamUser.id}}" >{{teamUser.first_name}} {{teamUser.last_name}}</option>
                </select>

                </label>
              </span>
            </label>
          </div>
        </div>
        <!-- CHOOSE THE VISIBELITY   set up -->
        <div class="panel panel-white">
          <div class="panel-heading">
            <label class="custom-fluid-checkbox"><span>VISIBILITY SETTINGS</span></label>
          </div>
          <div class="panel-body">
            <div class="custom-fluid-checkbox">
              <label><strong>Select Style</strong></label>
              <select class="form-control" name="stepchoose" (change)="setLayout()" [(ngModel)]="model.layout">
                <option value="1">Style 1</option>
                <option value="2">Style 2</option>
                <option value="3">Style 3</option>
              </select>
            </div>

            <div class="row m0 p0 visisiblitydiv">
              <div class="col-lg-3 color-bx">
                <label><strong>HEADER COLOR</strong></label>
                <input type="text" class="form-control color_header" data-control="hue" placeholder="#00863F" name="header_color" [(ngModel)]="model.header_color">
                <input id="colorpicker" type="color" class="colorpicker" (change)="pickColor($event,'header_color');" />
              </div>

              <div class="col-lg-3 color-bx">
                <label><strong>HEADER TEXT COLOR</strong></label>
                <input type="text" class="form-control color_header_text" data-control="hue" placeholder="#00863F" name="header_text_color" [(ngModel)]="model.header_text_color">
                <input id="colorpickerHeader_text" type="color" class="colorpicker" (change)="pickColor($event,'header_text_color');"  />
              </div>
              <div class="col-lg-3 color-bx">
                <label><strong>BACKGROUND COLOR</strong></label>
                <input type="text" id="hue-demo" class="form-control color_body" data-control="hue" placeholder="#F5F5F5" name="bg_color" [(ngModel)]="model.bg_color">
                <input id="colorpicker_body" type="color" class="colorpicker" (change)="pickColor($event,'bg_color');" />
              </div>
              <div class="col-lg-3 color-bx">
                <label><strong>TEXT COLOR</strong></label>
                <input type="text" class="form-control color_body_text" data-control="hue" placeholder="#000000" name="text_color" [(ngModel)]="model.text_color">
                <input id="colorpicker_body_text" type="color" class="colorpicker" (change)="pickColor($event,'text_color');" />
              </div>
            </div>
            <div class="custom-fluid-checkbox alignright">
              <label for=""></label> <br>
              <button class="btn csbtn btn-success btn-block aligncenter" style="max-width:200px;" type="button">Preview</button>
            </div>
            <div class="row m0 p0 pt20 visisiblitydiv2">
              <div class="devicevew desktop_device">
                <!--
                    <img src="assets/images/chat-srcsm.png" class="img-responsive pull-left"> -->
                <div class="budylistradio clearfix">
                  <label class="pull-left">Visible for Desktop</label>
                  <div class="form-group pull-left">
                    <!-- <input type="hidden" name="" value="0"> -->
                    <input type="checkbox" class="lcs_check" name="" value="1" checked="">
                    <span class="swipeChk">
                      <span class="on">Yes</span>
                      <span class="off">No</span>
                    </span>
                  </div>
                </div>
                <!-- <div class="clearfix"></div>
                    <img src="assets/images/desktop_device.png" class="img-responsive"> -->
              </div>
              <div class="devicevew ipad_device">
                <!--
                    <img src="assets/images/chat-srcsm.png" class="img-responsive pull-left"> -->
                <div class="budylistradio clearfix">
                  <label class="pull-left">Visible for iPad</label>
                  <div class="form-group pull-left">
                    <!-- <input type="hidden" name="" value="0"> -->
                    <input type="checkbox" class="lcs_check" name="" value="1" checked="">
                    <span class="swipeChk">
                      <span class="on">Yes</span>
                      <span class="off">No</span>
                    </span>
                  </div>
                </div>
                <!-- <div class="clearfix"></div>
                    <img src="assets/images/ipad_device.png" class="img-responsive"> -->
              </div>
              <div class="devicevew mobile_device">
                <!--
                    <img src="assets/images/chat-srcsm.png" class="img-responsive pull-left"> -->
                <div class="budylistradio clearfix">
                  <label class="pull-left">Visible for Mobile</label>
                  <div class="form-group pull-left">
                    <!-- <input type="hidden" name="" value="0"> -->
                    <input type="checkbox" class="lcs_check" name="" value="1" checked="">
                    <span class="swipeChk">
                      <span class="on">Yes</span>
                      <span class="off">No</span>
                    </span>
                  </div>
                </div>
                <!-- <div class="clearfix"></div>
                    <img src="assets/images/mobile_device.png" class="img-responsive"> -->
              </div>

            </div>


          </div>
        </div>
        <!-- Setting   set up -->
        <div class="panel panel-white" >
          <div class="panel-heading">
            <label class="custom-fluid-checkbox"><span>SETTINGS</span></label>
          </div>
          <div class="panel-body">
            <div class="custom-fluid-checkbox">
              <label><strong>Code</strong></label>
              <div class="copyttxt clearfix">
                <p class="copyme newcp pull-left">{{short_code}}</p>
                <a href="javascript:void(0);" (click)="copyToClipboard(short_code)" class="pull-right btn rad20 btn-default sucbtn btn-sm"><i class="fa fa-code" aria-hidden="true"></i> Copy Code</a>
              </div>
              <p class="parasm">Copy and paste this snipet to your code and put your form on your website. It's that Simple.</p>
            </div>


            <div class="custom-fluid-checkbox pnchatlist">
              <label><strong>MessagingBox appearance</strong></label>
              <div class="form-group">
                <label class="txtsmall">
                  <input type="radio" name="chatposinagetive" class="hidden">
                  <span class="chatico round"></span> Positive chat list
                </label>
                <p class="parasm"><strong>Note:</strong> If you inserted code then only chatbox will open.</p>
              </div>
              <div class="form-group">
                <label class="txtsmall">
                  <input type="radio" name="chatposinagetive" class="hidden">
                  <span class="chatico round"></span> Negative chat list
                </label>
                <p class="parasm"><strong>Note:</strong> If you inserted code then chatbox will note open.</p>
              </div>
            </div>

            <div class="custom-fluid-checkbox pnchatlist">
              <label><strong>Status</strong></label>
              <div class="budylistradio gpcheck">
                <div class="form-group">
                  <!-- <input type="hidden" name="" value="0"> -->
                  <input type="checkbox" class="lcs_check"  name="status" [(ngModel)]="model.status">
                  <span class="swipeChk">
                    <span class="on">Active</span>
                    <span class="off">Inactive</span>
                  </span>
                </div>
              </div>
            </div>


          </div>


        </div>

        <div class="text-center paddtb20">
          <input type="submit" value="Save" class="btn btn-success csbtn" name="">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="formwrap addProject" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Create Project
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <figure class="center-block ctavatar logoAvtar">
      <!-- <img src="assets/images/logo-default.png" class="img-responsive"> -->
    </figure>
    <div><label for="toupphoto" class="upphotoct btn">
      <input class="hidden" type="file" id="toupphoto" name="">
      Click to Browse
    </label>
    </div>
    <div><p>Or</p>
      <p>Drag & Drop to upload photo</p>
    </div>

    <div class="panel-body paddt30">
      <div class="col-xs-12 form-group">
        <label>Project Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-xs-12 form-group">
        <label>Project description </label>
        <textarea class="form-control" rows="10" cols=""></textarea>
      </div>
      <div class="col-xs-12 form-group withico">
        <label>Project timezone</label>
        <select class="form-control">
          <option>GMT +5:30 Kolkata, Delhi India</option>
        </select>
        <span class="icofr"><i class="fa fa-angle-down"></i></span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group withico">
        <label>Country</label>
        <select class="form-control">
          <option>India</option>
          <option>USA</option>
        </select>
        <span class="icofr"><i class="fa fa-angle-down"></i></span>
      </div>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Create New Project" class="btn btn-success csbtn openaddcontact" data-val="addSuccess" name="">
      </div>
    </div>

  </div>
</div>

<div class="formwrap addSuccess" style="top:-10000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      Successfully added!
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>
    <div class="panel-body paddt30">
      <div class="col-xs-12 form-group">
        <label><span class="shortcodeIco">&lt;/&gt; </span>Short Code</label>
        <div class="fieldNote">Copy and paste this snippet to your code and put your form on your website. It's that simple.</div>
        <div class="copyClipboard">
          <input type="text" value="" class="form-control">
          <a href="" class="btn btn-success sucbtn rad100">&lt;/&gt; Copy Code</a>
        </div>
      </div>
      <div class="col-xs-12 text-center bordertop paddt20">
        <input type="button" value="Close" class="btn btn-default csbtn" />
      </div>
    </div>

  </div>
</div>

<div class="ovelay hidden"></div>