<p-growl [(value)]="msgs"></p-growl>
<h3 class="tab_drawer_heading " rel="tab4 ">Chat settings</h3>
<div id="tab4 " class="tab_content " style="display: none;">
  <!-- <h3 class="nocontent ">no content</h3> -->
  <div class="white_bg panel-body ">
    <form (ngSubmit)="f.form.valid && saveChatSetting(f)" #f="ngForm" novalidate>
      <div class="conbx center-block ">
        <ng-container *ngIf="is_default == 1">
          <div class="form-group mediumsel lblnsumo" *ngFor="let vl of project_operator_request">
            <label>Set {{vl.first_name}} {{vl.last_name}} default operator</label>
            <label class="txtsmall">
              <input type="radio" [(ngModel)]="model.default_operator" class="" name="defo" value="{{vl.id}}">Yes
            </label>
          </div>
        </ng-container>


        <div class="form-group mediumsel lblnsumo ">
          <label>I'm default operator</label>
          <select class="form-control slectBox" [(ngModel)]="model.is_default_operator"  name="is_default_operator" required >
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
        <div class="form-group mediumsel lblnsumo ">
          <label>I am</label>
          <select class="form-control slectBox" (change)="onStatusChange($event)" [(ngModel)]="model.available_status" name="available_status" required >
            <option value="1" selected>Available</option>
            <option value="0">Not available</option>
          </select>
        </div>
        <div class="radiogrp" *ngIf="!isAvailable">
          <div class="form-group">
            <label class="txtsmall">
              <input type="radio" class="hidden" [(ngModel)]="model.offline_type" name="offline_type" value="1">
              <span class="chatico round "></span> Send message that I am not available and will reply as soon as possible </label>
          </div>
          <div class="form-group pusspl30 ">
            <textarea class="form-control" rows="4" placeholder="Type your message" [(ngModel)]="model.offline_message" #offline_message="ngModel" name="offline_message"></textarea>
          </div>
          <div class="form-group">
            <label class="txtsmall">
              <input type="radio" [(ngModel)]="model.offline_type" name="offline_type" class="hidden" value="2">
              <span class="chatico round "></span> Let default chat operator handle my chat requests.
            </label>
          </div>
          <div class="form-group sumonradio ">
            <label class="txtsmall">
              <input type="radio" [(ngModel)]="model.offline_type" name="offline_type" class="hidden" value="3">
              <span class="chatico round "></span> <span class="txtlb ">Let</span>
            </label>
            <select class="form-control slectBox" [(ngModel)]="model.choosen_operator" #choosen_operator="ngModel" name="choosen_operator">
              <option value="">Select operator</option>
              <ng-container *ngIf="project.users">
                <ng-container *ngFor="let oprtr of project?.users">
                  <option value="{{oprtr.id}}">{{oprtr.name}}</option>
                </ng-container>
              </ng-container>
            </select>
            <span class="txtlb ">handle my chat requests.</span>
          </div>
        </div>

        <div class="form-group mediumsel lblnsumo ">
          <label>Show my profile in the chat directory</label>
          <select class="form-control slectBox" [(ngModel)]="model.chat_directory_status" name="chat_directory_status" required >
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 text-center bordertop paddtb20">
        <input type="submit" value="Update " class="btn btn-success csbtn" />
      </div>
    </form>
  </div>
</div>