<p-growl [(value)]="msgs"></p-growl>

<header>
  <div class="cscontainer">
    <a href="javascript:void(0);" routerLink="/login" class="beforeLogLogo">
      <img src="assets/images/logo-black.png" alt="" />
    </a>
  </div>
</header>
<div class="beforelogBody">
  <div class="cscontainer loginPgcont">
    <!-- <h2 class="regTl">Please fill up following details to complete your profile.</h2>-->
    <div class="regFormCont conbx">
      <div class="row">
        <!-- <pre>{{model | json}}</pre>-->

        <form name="form" (ngSubmit)="f.form.valid && sendResetPasswordLink(f)" #f="ngForm" novalidate>

          <div class="col-xs-12 form-group">

            <h1>Reset Password</h1>
            <label>E-mail Address*</label>
            <input type="email" [(ngModel)]="model.email" #email="ngModel" email required class="form-control {{(f.submitted && !email.valid) ?'frmerr':''}}" placeholder="Please enter your registered email" name="email">
           <!-- <div *ngIf="f.submitted && !email.valid" class="frmError">
              <div *ngIf="email.errors?.email">
                Valid email is required
              </div>
            </div>-->

          </div>
          <div class="col-xs-12 form-group">
            <input type="submit" value="Send Password Reset Link" class="btn btn-orange btn-lg csbtn full">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <p>Copyright @ 2017, Leadview360 - All Rights Reserved</p>
  </div>
</footer>