<div class="col-sm-12">
  <div class="white_bg">
   <div class="listGridDetails" id="calendarView">

      <div class="calendarView cscalender">
        <!--<p>Display event : {{displayEvent | json}}</p>-->
        <div *ngIf="calendarOptions">
          <ng-fullcalendar #ucCalendar  [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
        </div>
      </div>
    </div>
  </div>
</div>
