

<div class="cscontainer midobjet">
    <div class="white_bg">
      
        <div class="clearfix myactitle">
          <!--<h2 class="tabltitle pull-left">MY ACCOUNT</h2>
          <ul class="list-unstyled pull-right btnnewlist clearfix">
            <li class="pull-left">
              <button  data-val="phoneadd" class="btn btn-default addbtn openaddcontact">Add phone</button>
            </li>
            <li class="pull-left">
              <button  data-val="formwrap1" class="btn btn-default sucbtn openaddcontact">Add address</button>
            </li>
            <li class="pull-left">
              <button  data-val="addgrouppop" class="btn btn-default btngrey openaddcontact">Add group</button>
            </li>
            <li class="pull-left">
              <button  data-val="formwra2" class="btn btn-default addbtn openaddcontact">Add company</button>
            </li>
            <li class="pull-left">
              <button data-val="socialadd"  class="btn btn-default sucbtn openaddcontact">Add social</button>
            </li>
          </ul>-->
        </div>

        <div class="tabgroup">
            <div class="tabmenuwrap text-center">

                <ul class="tabs nav nav-tabs inline_block">
                    <li class="active" rel="tab1"><a>Profile</a></li>
                    <li rel="tab2"><a>Security</a></li>
                    <li rel="tab3-inherit"><a>Email settings</a></li>
                    <li rel="tab4"><a>Chat settings</a></li>
                </ul>
            </div>
            <div class="tab_container">
                <!-- #tab1 -->
                <app-profile ></app-profile>
                <!-- #tab2 -->
                <app-security></app-security>
                <!-- #tab3 -->
                <app-email-setting></app-email-setting>
                <!-- #tab4 -->
                <app-chat-setting></app-chat-setting>
            </div>
            <!-- .tab_container -->
        </div>

    </div>
  </div>