<p-growl [(value)]="msgs"></p-growl>

<div class="cscontainer midobjet">

  <div class="white_bg1">
    <h2 class="dbtitle">SENDGRID ACCOUNTS</h2>
    <div class="dbserform panel-body">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control dbinput" placeholder="Account" name="" [(ngModel)]="searchText">
        </div>
        <button class="btn btn-warning addbtn btndb"><i class="sico fa fa-search"></i>Search</button>

        <div class="dropdown pull-right">
          <button class="btn btn-success sucbtn btndb actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
          <div class="settignmenu shownewdrop actionpop" style="display:none;">
            <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
            <button class="btn btn-success  sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
            <ul class="list-unstyled acmenu">
              <li><a href="javascript:;" (click)="delAll()">Delete</a></li>
            </ul>
          </div>
        </div>

        <button class="btn btn-default btngrey btndb openaddcontact pull-right" data-val="addtemplate" (click)="openFormModal('addtemplate',null)">Add Account</button>

      </div>
    </div>
    <div class="table_default newtbl grptable visitortbl two_tr_xs_lg scrollipad">
      <table class="table" id="sortingTable">
        <thead>
        <tr>
          <th class="prnametb">
            <label>
              <!-- <input class="hidden" type="checkbox" name="">
               <div class="checkico">
                 <i class="fa fa-check-square" aria-hidden="true"></i>
                 <i class="fa fa-square-o" aria-hidden="true"></i>
               </div>-->
            </label>
          </th>
          <th>Project Name</th>
          <th>Account User Name</th>
          <th>Password</th>
          <th>Account Email</th>
          <th>Account Name</th>
          <th class="twobtn ">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let accnt of dataList  | filter:{ email_address: searchText }">
          <th>
            <label>
              <input class="hidden" type="checkbox" value="{{accnt.id}}" type="checkbox" (change)="selctToList($event)">
              <div class="checkico">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <i class="fa fa-square-o" aria-hidden="true"></i>
              </div>
            </label>
          </th>
          <td data-th="Template Name">{{accnt?.project?.title}}</td>
          <td data-th="user_name">{{accnt?.user_name}}</td>
          <td data-th="password">{{accnt?.password}}</td>
          <td data-th="email">{{accnt?.email_address}}</td>
          <td data-th="account_name">{{accnt?.from_name}}</td>
          <td data-th="Action" class="twobtn">
            <a href="javascript:void(0);" (click)="openFormModal('addtemplate',accnt)" ><img src="assets/images/pencil.png" class="img-responsive"></a>
            <a href="javascript:void(0);" (click)="delSingle(accnt.id)"><img src="assets/images/trash.png" class="img-responsive"></a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- popup start -->
<div class="formwrap addtemplate" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose mb0">
      {{model.type}} Sendgird Details
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <div class="panel-body paddt30">

      <form (ngSubmit)="f.form.valid && saveEmailAccount(f)" #f="ngForm" novalidate>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Project</label>
          <select class="form-control" name="project" type="text" [(ngModel)]="model.projectId">
            <option value="">Select Project</option>
            <option *ngFor="let vl of projectList" value="{{vl.id}}">{{vl.title}}</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>User Name </label>
          <input class="form-control" name="user_name" type="text" [(ngModel)]="model.user_name">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Password</label>
          <input class="form-control" name="password" type="text" [(ngModel)]="model.password">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>From Account Email</label>
          <input class="form-control" name="email" type="text" [(ngModel)]="model.email_address">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>From Account Name</label>
          <input class="form-control" name="from_name" type="text" [(ngModel)]="model.from_name">
        </div>

        <div class="col-xs-12 text-center paddt20 bordertop">
          <input type="button" value="Cancel" class="btn btn-default csbtn popClose" >
          <input type="submit" value="Save Account" class="btn btn-success csbtn">
        </div>
      </form>
    </div>

  </div>
</div>
<!-- end popup -->

<div class="ovelay hidden"></div>
