<p-growl [(value)]="msgs"></p-growl>
<div class="cscontainer midobjet">
  <div class="col-lg-3 col-md-3 col-sm-12 leftpanel">
    <div class="panel panel-default cspanel">
      <div class="panel-heading collapseHead">
        <h2 class="panel-title">
          Filter
          <span class="clk">
              <i class="fa fa-bars"></i>
          </span>
        </h2>
      </div>
      <div class="panerl-body collapseBody">
        <ul class="list-unstyled leftform">
          <li class="withicon">
            <input type="text" class="form-control" placeholder="Search tag" [(ngModel)]="searchText">
            <!--Search for a contact-->
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>

        </ul>

      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="white_bg">
      <div class="clearfix">
        <h2 class="tabltitle pull-left">Tags</h2>
        <ul class="list-unstyled pull-right btnnewlist clearfix">
          <li class="pull-left">
            <button class="btn btn-warning addbtn openaddcontact" data-val="addedittag" (click)="openTagModal('addedittag')">Add Tag </button>
          </li>

          <li class="pull-left">
            <button class="btn btn-success sucbtn actionbtn opennewdrop">Action <i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <div class="settignmenu shownewdrop actionpop" style="display:none;">
              <!-- <button class="btn btn-warning addbtn">Drop <i class="fa fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-success sucbtn actionbtn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button> -->
              <ul class="list-unstyled acmenu">
                <li><a href="javascript:void(0);" (click)="delAll()">Delete</a></li>
              </ul>
            </div>
          </li>
          <li class="pull-left settingli">
            <button class="btn btn-default cogbtn opennewdrop"><img src="assets/images/cog.png" class="img-responsive"></button>
            <div class="settignmenu shownewdrop" style="display:none;">
              <h4>Table menu item</h4>
              <form (ngSubmit)="saveDisplay(f)" #f="ngForm" novalidate>
                <ul class="list-unstyled itemlist">
                  <li>
                    <label>
                      <input type="checkbox" [checked]="showTagName" class="hidden" name="tagName" [(ngModel)]="displayColFrm.tagName">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Tag Name
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showCreateDateCol" class="hidden" name="createDate" [(ngModel)]="displayColFrm.createDate">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Creation Date
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showVisit" class="hidden" name="noofVisit" [(ngModel)]="displayColFrm.noofVisit">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div># of Visit
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showContents" class="hidden" name="noofContents" [(ngModel)]="displayColFrm.noofContents">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div># of Contents
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showShortCode" class="hidden" name="shortCode" [(ngModel)]="displayColFrm.shortCode">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Sortcode
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="hidden" [checked]="showUniqQuery" class="hidden" name="uniqQuery" [(ngModel)]="displayColFrm.uniqQuery">
                      <div class="checkico">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                      </div>Uniq query
                    </label>
                  </li>
                </ul>

                <div class=" text-center bordertop btnwrp">
                  <input type="submit" value="Save" class="btn btn-success csbtn" name="">
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>

      <div class="table_default">
        <table class="table" id="sortingTable1">
          <thead>
          <tr>
            <th>
              <label>
                <!--<input class="hidden" type="checkbox" name="">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>-->
              </label>
            </th>
            <th *ngIf="showTagName">Tag Name</th>
            <th *ngIf="showCreateDateCol">Creation Date</th>
            <th *ngIf="showVisit"># of Visit</th>
            <th *ngIf="showContents"># of Contents</th>
           <!-- <th *ngIf="showShortCode">Shortcode</th>-->
            <th *ngIf="showUniqQuery">Uniq query</th>
            <th class="oppoacxtion ">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let tag of allTags | filter:{ title: searchText } : false;">
            <th scope="row">
              <label>
                <input class="hidden" type="checkbox"  value="{{tag.id}}" (change)="selctToDel($event)">
                <div class="checkico">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                </div>
              </label>
            </th>
            <td data-th="Tag Name" *ngIf="showTagName">

              <strong>{{tag.title}}</strong>
            </td>
            <td data-th="Creation Date" *ngIf="showCreateDateCol">{{  tag.created_at | date:'dd MMM y' }}</td>
            <td data-th="# of Visit" *ngIf="showVisit">10k</td>
            <td data-th="# of Contents" *ngIf="showContents">40k</td>
            <!--<td data-th="Shortcode" *ngIf="showShortCode">
              <a href="javascript:void(0);" class="copybtn btn rad20 btn-default sucbtn btn-sm" (click)="copyToClipboard(tag.short_code)"> < / > Copy Code</a></td>-->
            <td data-th="Uniq query" *ngIf="showUniqQuery">
              <a href="javascript:void(0);" class="copybtn btn rad20 btn-default sucbtn btn-sm" (click)="copyToClipboard('#'+tag.title)"> < / > Copy Code</a></td>
            <td data-th="Action" class="oppoacxtion">
              <a href="javascript:void(0);" class="openaddcontact" data-val="addedittag" (click)="openEditTagModal('addedittag',tag)">
                <img src="assets/images/pencil.png" class="img-responsive">
              </a>
              <a href="javascript:void(0);" (click)="delaTag(tag.id)">
                <img src="assets/images/trash.png" class="img-responsive">
              </a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>



  </div>
</div>

<div class="formwrap addedittag" style="top:-20000px;">
  <div class="formwrapOvrly"></div>
  <div class="conbx center-block">
    <h1 class="adcttitle text-center withClose">
      {{model.type}} Tag
      <a href="javascript:void(0);" class="popupClose"><i class="fa fa-close"></i></a>
    </h1>

    <form (ngSubmit)="f.form.valid && addSaveTag(f)" #f="ngForm" novalidate>
      <div class="panel-body paddt30">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
          <label>Tag Name</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="model.title">
        </div>

        <div class="col-xs-12 form-group">
          <label>Tag Description</label>
          <textarea class="form-control" rows="5" cols="" name="description" [(ngModel)]="model.description"></textarea>
        </div>

        <!--<div class="col-xs-12 form-group">-->
          <!--<label>Script</label>-->
          <!--<textarea class="form-control" rows="5" cols="" name="script" [(ngModel)]="model.script"></textarea>-->
        <!--</div>-->

        <div class="col-xs-12 text-center bordertop paddt20">
          <input type="submit" value="Submit" class="btn btn-success csbtn">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="ovelay hidden"></div>
